﻿@*
    Empresa: valentys
    Fecha : 08-07-2015
    Descripción: lista con la simulación.
*@

<div style="margin-left:10px;margin-right:10px; margin-top:10px">
    <h3 style="font-weight:bold">Confirmar Reajuste</h3><br />
    <div style="width:100%">
        <center>
            <span>@ViewBag.Mensaje</span>
        </center>
    </div>
</div>
<button type="button" class="btn btn-success" style="position: absolute; top: 80%; left: 85%;" data-action="process">Procesar</button>
