﻿@*
    Empresa: valentys
    Fecha : 08-07-2015
    Descripción: contenedor principal del reajuste.
*@
@model List<SGS.Models.SP_SEL_VerificarReajeste_Result>
@{
    string token = Guid.NewGuid().ToString();
}
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script type="text/javascript">
        $(function () {
            var vista = $("#@token");

            var paginar = (function () {
                vista.find('.datatable').dataTable({
                    "sDom": "<'row'<'col-lg-6'l><'col-lg-6'f>r>t<'row'<'col-lg-12'i><'col-lg-12 center'p>>",
                    "sPaginationType": "bootstrap",
                    "oLanguage": {
                        "sLengthMenu": "_MENU_ Registros por pagina"
                    }
                });
            });

            vista.find('button[data-action="simulate"]:first').click(function () {
                var option = vista.find('select[data-name="period"] option:selected');
                $page.ajax({
                    url: "@Url.Action("simulate", "Reajuste")" + "?mes=" + option.data("mes") + "&anio=" + option.data("anio"),
                    datatype: 'html',
                    success: function (data) {
                        vista.find('div.box-content').html(data);
                        paginar();
                        var formatter = new Intl.DateTimeFormat("es-CL", { month: "long" });
                        month = formatter.format(new Date("2015-" + option.data("mes") + "-01"))
                        spanmonth = vista.find('span[data-name="month"]:first');
                        spanmonth.html(month)
                        spanmonth.data("month", option.data("mes"));
                        spanmonth.data("year", option.data("anio"));
                        if (vista.find('div.box-content').find("tbody > tr").size() > 0) {
                            vista.find('button[data-action="reajustar"]:first').show();
                        } else {
                            vista.find('button[data-action="reajustar"]:first').hide();
                        }
                    }
                });
            });

            paginar();

            //evento click en el historial
            vista.find('div.box-content').on('click', 'a[data-action="historial"]', function () {
                var tr = $(this).closest('tr');
                var codigo = tr.data("codigo");
                $page.ajax({
                    url: "@Url.Action("historial", "Reajuste")" + "?codigo=" + codigo,
                    datatype: 'html',
                    success: function (data) {
                        Shadowbox.open({
                            content: data,
                            player: "html",
                            title: "insertar",
                            height: 500,
                            width: 550,
                        });
                    }
                });
            });

            //reajustar
            vista.find('button[data-action="reajustar"]:first').click(function () {
                spanmonth = vista.find('span[data-name="month"]:first');
                var formatter = new Intl.DateTimeFormat("es-CL", { month: "long" });
                month = formatter.format(new Date("2015-" + spanmonth.data("month") + "-01"));
                var mensaje = "Se reajustan los modelos de cobros a mes de " + month + " del " + spanmonth.data("year") + ", ¿Esta seguro que desea continua?";
                $page.ajax({
                    url: "@Url.Action("confirm", "Reajuste")" + "?mensaje=" + mensaje,
                    datatype: 'html',
                    success: function (data) {
                        Shadowbox.open({
                            content: data,
                            player: "html",
                            title: "insertar",
                            height: 200,
                            width: 550,
                        });
                    }
                });
            });

            //boton procesar del modal de confirmación.
            var body = vista.closest('body');
            body.off('click', 'button[data-action="process"]:first');
            body.on('click', 'button[data-action="process"]:first', function () {
                spanmonth = vista.find('span[data-name="month"]:first');
                $page.loading_all.show("Procesando...");
                $page.ajax({
                    url: "@Url.Action("process", "Reajuste")" + "?mes=" + spanmonth.data("month") + "&anio=" + spanmonth.data("year"),
                    data: $(this).closest('form').serialize(),
                    datatype: "json",
                    success: function (result) {
                        if (result == -1) {
                            window.location.href = "@Url.Action("index", "CobroClientes")";
                        }
                        $page.loading_all.hide();
                    }
                });

            });

            if (vista.find('div.box-content').find("tbody > tr").size() > 0) {
                vista.find('button[data-action="reajustar"]:first').show();
            } else {
                vista.find('button[data-action="reajustar"]:first').hide();
            }

        });
    </script>

}

<div id="content" class="col-lg-12 col-sm-11  ">
    <div id="@token">
        @if (User.IsInRole("conCon"))
        {
            <div class="row">
                <div class="col-lg-12 col-md-9">
                    @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Reajuste",Url.RouteUrl(new {Controller="Reajuste",Action="index"})}
                            })
                    <div style="width:100%">
                        <h2><strong>Clientes con reajuste pendientes en el mes seleccionado</strong></h2>
                    </div>
                    <div style="margin-bottom: 13px;">
                        <label>Seleccione mes a Reajustar: </label>
                        <select data-name="period">
                            <option data-mes="@DateTime.Today.Month" data-anio="@DateTime.Today.Year" selected>
                                @System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(DateTime.Today.Month) - @DateTime.Today.Year
                            </option>
                            <option style="text-transform: capitalize" data-mes="@DateTime.Today.AddMonths(-1).Month" data-anio="@DateTime.Today.AddMonths(-1).Year">
                                @System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(DateTime.Today.AddMonths(-1).Month) - @DateTime.Today.Year
                            </option>
                        </select>
                        <button type="button" class="btn btn-success btn-lg" data-action="simulate">Simular</button>

                    </div>

                    <div class="box">
                        <div class="box-header" data-original-title>
                            <h2><i class="icon-folder-close"></i><span class="break"></span>Reajuste</h2>
                            @*@if (User.IsInRole("conConExportar"))
                                { <a class="btn btn-lg pull-right btn-success" href="@Url.RouteUrl(new { Controller = "Reajuste", action = "Excel" })">Excel</a>}*@
                            @if (User.IsInRole("conConAgregar"))
                            {
                                <button type="button" class="btn btn-danger pull-right btn-lg" data-action="reajustar">
                                    Reajustar <span data-name="month" data-month="@DateTime.Today.Month" data-year="@DateTime.Today.Year" style="text-transform: capitalize">@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(DateTime.Today.Month)</span>
                                </button>
                            }
                        </div>

                        <div class="box-content">
                            @Html.Partial("../Reajuste/simulation", Model)
                        </div>
                    </div>
                </div><!--/col-->

            </div><!--/row-->
        }
    </div>
</div>
