﻿@model SGS.Models.ruta_modelo
@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

<div id="content" class="col-lg-10 col-sm-11 ">

    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"RutasModelo",Url.RouteUrl(new {Controller="RutasModelo",Action="Index"})},
                            {"Agregar Ruta Modelo",Url.RouteUrl(new {Controller="RutasModelo",Action="Create"})}
                            })
            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="icon-plus-sign"></i><span class="break"></span>Agregar Nueva Ruta Modelo</h2>
                    <a href="@Url.RouteUrl(new { Controller = "RutasModelo", action = "Index" })" class="btn btn-primary pull-right btn-lg">Volver al listado</a>
                </div>

                <div class="box-content">
                    @using (Html.BeginForm("Create","RutasModelo")){
                        <fieldset class="col-sm-12">
                             <div class="form-group">
                                 @if (Model != null && Model.id_ruta != 0)
                                 {
                                     @Html.HiddenFor(m => m.id_ruta)
                                 }
                                <label class="control-label pull-left label-see">Nombre de Ruta</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.nombre_ruta, new { @class = "form-control pull-right" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.nombre_ruta)</label>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Fecha</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.fecha_ruta, new { @class = "form-control pull-right" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.fecha_ruta)</label>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
                            </div>
                        </fieldset>
                    }

                </div>
            </div>
        </div>

    </div>


</div>
