﻿
<div class="box col-lg-10" style="width: 700px; height: 250px"  >
    <div class="box-header" data-original-title="">
        <h2><i class="icon-camera"></i><span class="break"></span>Puntos de la ruta</h2>
    </div>
    <div class="box-content" style="height:200px">
        @if (ViewBag.delete) { 
        <a class="btn btn-lg btn-danger eliminar-ruta" id="@ViewBag.id_ruta" >Eliminar Ruta</a>
        
        }
        <table class="table table-bordered table-hover table-striped">
            <tr style="color:#67c2ef !important;">
                <td>ID Punto</td>
                <td>Nombre Punto Servicio</td>
                <td>Eliminar</td>
            </tr>
            @foreach (var m in Model)
            {

                <tr>
                    <td>@m.id_punto_servicio</td>
                    <td>@m.nombre_punto</td>
                    <td ><a class="btn btn-danger eliminar" id="@m.id_ruta_punto"><span>Eliminar</span></a></td>
                </tr>

            }
        </table>
    </div>
</div>
