﻿@{
    Layout = null;
    Response.AddHeader("Content-type", "application/vnd.ms-excel");
    Response.AddHeader("Content-Disposition", "attachment; filename=rutasmodelo.xls");
}

<table border="1">
    <tr>
        <th style="width:auto" class="sorting_asc" role="columnheader">ID</th>
        <th style="width:auto" class="sorting">Nombre Ruta Modelo</th>
        <th style="width:auto" class="sorting">Fecha Creacion</th>
        <th style="width:auto" class="sorting">Puntos Asignados</th>
    </tr>
    <tbody>
        @foreach (var m in Model)
{
    <tr>
        <td>@m.id_ruta</td>
        <td>@m.nombre_ruta</td>
        <td>@m.fecha_ruta</td>
        <td></td>
    </tr>

}
    </tbody>
</table>