﻿@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fx/pages/camiones.js")"></script>

}

<div id="content" class="col-lg-12 col-sm-11  ">
    
@if(User.IsInRole("planMod")){
    <div class="row">
        <div class="col-lg-12 col-md-9">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Rutas Modelo",Url.RouteUrl(new {Controller="RutasModelo",Action="Index"})}
                            })
            <div class="box">
                <div class="box-header" data-original-title>
                    <h2><i class="icon-truck"></i><span class="break"></span>Modulo Rutas de Modelo</h2>
                    <a href="@Url.RouteUrl(new { Controller = "RutasModelo", action = "Excel" })" class="btn btn-lg pull-right btn-success">Excel</a>
                    <a href="@Url.RouteUrl(new {  Controller="RutasModelo",Action="Create"})" class="btn btn-primary pull-right btn-lg">Agregar Ruta Modelo</a>
                </div>

                <div class="box-content">
                    <table class="table table-striped table-bordered bootstrap-datatable datatable">
                        <thead role="row" class="tab-header">
                            <tr>
                                <th style="width:auto" class="sorting_asc" role="columnheader">ID</th>
                                <th style="width:auto" class="sorting">Nombre Ruta Modelo</th>
                                <th style="width:auto" class="sorting">Fecha Creacion</th>
                                <th style="width:auto" class="sorting">Puntos Asignados</th>
                                <th style="width:auto" class="sorting">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var m in Model)
                            {
                                <tr>
                                    <td>@m.id_ruta</td>
                                    <td>@m.nombre_ruta</td>
                                    <td>@m.fecha_ruta</td>
                                    <td></td>
                                    <td>
                                        @if(User.IsInRole("planModEditar")){<a class="btn btn-info" href="@Url.RouteUrl(new { Controller = "RutasModelo", Action = "Edit", Id = m.id_ruta })" title="Editar"><i class="icon-edit"></i></a>}
                                        @if(User.IsInRole("planModEliminar")){<a class="btn btn-danger" onclick="return confirm('Estas seguro(a) que deseas eliminar @m.nombre_ruta ?');" href="@Url.RouteUrl(new { Controller = "RutasModelo", Action = "Delete", Id = m.id_ruta })" title="Eliminar"><i class="icon-trash "></i></a>}
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--/col-->

    </div><!--/row-->
        }
</div>
