﻿




    <ul class="todo-list ui-sortable list">
        @foreach (var m in Model)
        {

            <li id="@m.id_punto_servicio" >
                <span class="todo-actions">
                    <a id="@m.id_punto_servicio" class="drag " ><i class="icon-ok"></i></a>
                </span>
                <span class="nombre_ps">@m.nombre_punto</span>

                @if (m.ruta_punto.Count > 0)
                {
                    <span class="label label-success">asignado</span>
                }
                else
                {
                    <span class="label label-danger ">Pendiente</span>
                }
            </li>

        }
    </ul>

