﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

<div id="content" class="col-lg-12 col-sm-11  ">
    <div class="row">
        <div class="col-lg-12 col-md-9">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                new Dictionary<string, string>() {
                    {"Reportes",Url.RouteUrl(new {Controller="ReportHojaRuta",Action="ReportHojaRuta"})}
                })
            <div class="box">
                <div class="box-header" data-original-title>
                    <h2><i class="icon-folder-close"></i><span class="break"></span>Modulo Reportes</h2>
                </div>
                <div id="exceltable" class="box-content">
                    <iframe src="@Url.Content("~/ReportForms/ReporteHojaRuta.aspx")" height="700px" width="100%" ></iframe>
                </div>
            </div>
        </div>
    </div>
</div>