﻿@model SGS.Models.restriccion_conductor_cliente
@{
    ViewBag.Title = "restrict";
    Layout = "~/Views/Shared/_main_layout.cshtml";
    
}


<div id="content" class="col-lg-10 col-sm-11 ">

    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Camiones",Url.RouteUrl(new {Controller="Camiones",Action="Index"})}
                            })
            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="icon-minus-sign"></i><span class="break"></span>Agregar Restricción @ViewBag.restricciones.nombre_conductor</h2>
                    <a href="@Url.RouteUrl(new {Controller="Conductores",action="Index" })" class="btn btn-primary pull-right btn-lg">Volver al listado</a>
                </div>

                <div class="box-content">

                    @using (Html.BeginForm("restrict", "Conductores"))
                    {
                        <fieldset class="col-sm-12">

                                @Html.Hidden("id",ViewBag.id_conductor as object)
                            
                            <div class="form-group">
                                <label class="control-label">Cliente Restringido</label>
                                <div class="controls row">
                                    <div class="input-group col-sm-5">
                                        @Html.DropDownListFor(m => m.id_cliente, ViewBag.clientes2 as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Motivo</label>
                                <div class="controls">
                                    @Html.TextAreaFor(m => m.motivo, new { @cols="80",@rows="5", @maxlength=200 })
                                   @* <textarea rows="6" cols="80" id="motivo" maxlength="200" name="motivo"></textarea>*@
                                </div>
                            </div>


                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
                            </div>

                            <div id="restricciones-actuales">

                            </div>

                        </fieldset>
                    }

                    <br />

                    <h3 class="header-see">Restricciones del Camión</h3>

                    @if (ViewBag.restricciones.restricciones.Count > 0)
                    {

                        <table class="table table-bordered table-hover table-striped">
                            <tr style="background: #1B82C1;font-weight: bold;">
                                <td>Cliente</td>
                                <td>Motivo</td>
                                <td>Acciones</td>
                            </tr>
                            @foreach (var r in ViewBag.restricciones.restricciones)
                            {
                                <tr>
                                    <td>@r.cliente</td>
                                    <td>@r.motivo</td>
                                    <td><a class="btn btn-danger" href="@Url.RouteUrl(new { Controller = "Conductores", Action = "DeleteRestriction", Id = r.id_restriccion })"  title=" borrar restriccion"><span class="label label-important">Eliminar </span></a></td>
                                </tr>
                            }
                        </table>

                    }
                    else
                    {
                        <span>Este camion no tiene Restricciones</span>
                    }
                </div>
            </div>
        </div>
    </div>

</div>