﻿@{
    ViewBag.Title = "view";
    Layout = "~/Views/Shared/_main_ViewLayout.cshtml";
}

<div class="box">
    <div class="box-header" data-original-title="">
        <h2><i class="icon-camera"></i><span class="break"></span>Conductor @Model.nombre_conductor</h2>
    </div>

    <div class="box-content">
        <h3 class="header-see">Datos del Conductor</h3>
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <td>Nombre</td>
                <td>@Model.nombre_conductor</td>
            </tr>
            <tr>
                <td>Rut</td>
                <td>@Model.rut_conductor</td>
            </tr>
            <tr>
                <td>Fecha Ingreso</td>
                <td>@Model.fecha_ingreso</td>
            </tr>
            <tr>
                <td>Licencia Conducir</td>
                <td>@Model.licencia</td>
            </tr>
            <tr>
                <td>Estado</td>
                <td>@Model.estado</td>
            </tr>
            <tr>
                <td>Observación</td>
                <td>@Model.observacion</td>
            </tr>

        </table>

        <br />


        <h3 class="header-see">Restricciones del Conductor</h3>

        @if (Model.restricciones.Count > 0) { 
        <table class="table table-bordered table-hover table-striped">
            <tr style="background: #1B82C1;font-weight: bold;">
                <td>Cliente</td>
                <td>Motivo</td>
            </tr>
            @foreach (var r in Model.restricciones) { 
            <tr>
                <td>@r.cliente</td>
                <td>@r.motivo</td>
            </tr>
            }
        </table>

        }
        else
        {
            <span>Este conductor no figura con restricciones</span>
        } 
    </div>
</div>
