﻿@model SGS.Models.detalle_perfil
 

@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

<style type="text/css">
    .chk 
    {
             
    }

</style>

<script src="/Scripts/jquery.2.1.js"></script>
    <script src="/Scripts/jquery-ui.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
           
       
        $(".chk").on("click", function () {
            menux = $(this).attr("Id").split("/")[0];
            accionx = $(this).attr("Id").split("/")[1];
            alert(menux);
            alert(accionx);

	    $.ajax({
	        url: '@Url.Action("create")',
       data: { menu: menux, accion: accionx },
       type: 'POST',
       success: function (data)
       {

       }
   });
	});
        });

        $(document).ready(function () {


            $(".chk").on("click", function () {

                if ($(this).is(':checked'))
                {
                     
                } 

                menux = $(this).attr("Id").split("/")[0];
                accionx = $(this).attr("Id").split("/")[1];
                alert(menux);
                alert(accionx);

                $.ajax({
                    url: '@Url.Action("create")',
                    data: { menu: menux, accion: accionx },
                    type: 'POST',
                    success: function (data) {

                    }
                });
            });
        });

</script>

    

        
 




<div id="content" class="col-lg-10 col-sm-11 ">
     <div class="row">
        <div class="col-lg-12">
             @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Conductores",Url.RouteUrl(new {Controller="Perfiles",Action="Index"})},
                            {"Agregar Perfil",Url.RouteUrl(new {Controller="Perfiles",Action="Create"})}
                            })
             <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="icon-plus-sign"></i><span class="break"></span>Agregar Nuevo Perfil</h2>
                    <a href="@Url.RouteUrl(new { Controller="Perfiles",Action="Index"})" class="btn btn-primary pull-right btn-lg">Volver al listado</a>
                </div>
                           <div class="box-content">
                    @using (Html.BeginForm("Create", "Perfiles"))
                    {
                        <fieldset class="col-sm-12">

                            <p><strong>Nota: Las restricciones que el Perfil pudiese tener se agregarán a parte de este formulario.</strong></p>

              <div class="box-content">
                    <table class="table table-striped table-bordered bootstrap-datatable datatable">
                        <thead role="row" class="tab-header">
                            <tr>
                                <th class="tg-031e">Modulo de contratos</th>
                                <th class="tg-031e"></th>
                                <th class="tg-031e"></th>
                                <th class="tg-031e"></th>
                                <th class="tg-031e"></th>
                          </tr>
                            
                            <tr>
                                    <td class="tg-031e">Contratos</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Contrato/1" class="chk"/> Agregar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Contrato/2" class="chk"/> Editar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Contrato/3" class="chk"/>Eliminar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Contrato/4" class="chk"/>Imprimir</td>
                              </tr>
                                  <tr>
                                    <td class="tg-031e">Rutas Modelo</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Rutas/1" class="chk"/> Agregar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Rutas/2" class="chk"/> Editar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Rutas/3" class="chk"/>Eliminar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Rutas/4" class="chk"/>Imprimir</td>
                                  </tr>
                                  <tr>
                                
                                    <td class="tg-031e">Conductores</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Conductores/1" class="chk"/> Agregar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Conductores/2" class="chk"/> Editar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Conductores/3" class="chk"/>Eliminar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Conductores/4" class="chk"/>Imprimir</td>
                                  </tr>
                                  <tr>
                                  
                                    <td class="tg-031e">Camiones</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Camiones/1" class="chk"/> Agregar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Camiones/2" class="chk"/> Editar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Camiones/3" class="chk"/>Eliminar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Camiones/4" class="chk"/>Imprimir</td>
                                  </tr>
                                  <tr>
                                    
                                    <td class="tg-031e">Clientes</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Clientes/1" class="chk"/> Agregar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Clientes/2" class="chk"/> Editar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Clientes/3" class="chk"/>Eliminar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Clientes/4" class="chk"/>Imprimir</td>
                                  </tr>
                                  <tr>
                                    <td class="tg-031e">Sucursales</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Sucursales/1" class="chk"/> Agregar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Sucursales/2" class="chk"/> Editar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Sucursales/3" class="chk"/>Eliminar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Sucursales/4" class="chk"/>Imprimir</td>
                                  </tr>
                                  <tr>
                                 
                                    <td class="tg-031e">Unidad de Negocio</td>
                                    <td class="tg-031e"><input type="checkbox" id = "UNegocio/1" class="chk"/> Agregar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "UNegocio/2" class="chk"/> Editar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "UNegocio/3" class="chk"/>Eliminar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "UNegocio/4" class="chk"/>Imprimir</td>
                                  </tr>
                           
                            <tr>
                                <th class="tg-031e">Modulo de Micro Empresarios</th>
                                <th class="tg-031e"></th>
                                <th class="tg-031e"></th>
                                <th class="tg-031e"></th>
                                <th class="tg-031e"></th>
                          </tr>

                            <tr>
                                    <td class="tg-031e">Micro Empresarios</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Franquiciados/1" class="chk"/> Agregar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Franquiciados/2" class="chk"/> Editar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Franquiciados/3" class="chk"/>Eliminar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Franquiciados/4" class="chk"/>Imprimir</td>
                              </tr>
                                  <tr>
                                 
                                    <td class="tg-031e">Leasing</td>
                                    <td class="tg-031e"><input type="checkbox" id =  "Leasing/1" class="chk"/> Agregar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Leasing/2" class="chk"/> Editar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Leasing/3" class="chk"/>Eliminar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Leasing/4" class="chk"/>Imprimir</td>
                                  </tr>
                                  <tr>
                                
                                    <td class="tg-031e">Contratos y Tarifas</td>
                                    <td class="tg-031e"><input type="checkbox" id =  "ContratosTarifas/1" class="chk"/> Agregar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "ContratosTarifas/2" class="chk"/> Editar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "ContratosTarifas/3" class="chk"/>Eliminar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "ContratosTarifas/4" class="chk"/>Imprimir</td>
                                  </tr>
                                  <tr>
                                  
                                    <td class="tg-031e">Facturas</td>
                                    <td class="tg-031e"><input type="checkbox" id =  "Facturas/1" class="chk"/> Agregar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Facturas/2" class="chk"/> Editar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Facturas/3" class="chk"/>Eliminar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Facturas/4" class="chk"/>Imprimir</td>
                                  </tr>
                                  <tr>
                                    
                                    <td class="tg-031e">Seguros</td>
                                    <td class="tg-031e"><input type="checkbox" id =  "Seguros/1" class="chk"/> Agregar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Seguros/2" class="chk"/> Editar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Seguros/3" class="chk"/>Eliminar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Seguros/4" class="chk"/>Imprimir</td>
                                  </tr>
                                  <tr>
                                 
                                    <td class="tg-031e">Procesos</td>
                                    <td class="tg-031e"><input type="checkbox" id =  "Procesos/1" class="chk"/> Agregar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Procesos/2" class="chk"/> Editar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Procesos/3" class="chk"/>Eliminar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Procesos/4" class="chk"/>Imprimir</td>
                                  </tr>
                                    
                            <tr>
                                 
                                    <td class="tg-031e">Control Combustible</td>
                                    <td class="tg-031e"><input type="checkbox" id =  "ControlCombustible/1" class="chk"/> Agregar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "ControlCombustible/2" class="chk"/> Editar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "ControlCombustible/3" class="chk"/>Eliminar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "ControlCombustible/4" class="chk"/>Imprimir</td>
                            </tr>
                                    
                                  


                           <tr>
                                <th class="tg-031e">Modulo de Planificación</th>
                                <th class="tg-031e"></th>
                                <th class="tg-031e"></th>
                                <th class="tg-031e"></th>
                                <th class="tg-031e"></th>
                          </tr>

                            <tr>
                                    <td class="tg-031e">Mantenedor HDR</td>
                                    <td class="tg-031e"><input type="checkbox" id = "HDR/1" class="chk"/> Agregar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "HDR/2" class="chk"/> Editar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "HDR/3" class="chk"/>Eliminar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "HDR/4" class="chk"/>Imprimir</td>
                              </tr>
                                  <tr>
                                 
                                    <td class="tg-031e">Generar HDR</td>
                                    <td class="tg-031e"><input type="checkbox" id = "HDR1/1" class="chk"/> Agregar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "HDR1/2" class="chk"/> Editar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "HDR1/3" class="chk"/>Eliminar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "HDR1/4" class="chk"/>Imprimir</td>
                                  </tr>
                                  <tr>
                                
                                    <td class="tg-031e">Calendario HDR</td>
                                    <td class="tg-031e"><input type="checkbox" id = "HDR2/1" class="chk"/> Agregar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "HDR2/2" class="chk"/> Editar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "HDR2/3" class="chk"/>Eliminar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "HDR2/4" class="chk"/>Imprimir</td>
                                  </tr>

                             <tr>
                                <th class="tg-031e">Modulo de Usuarios</th>
                                <th class="tg-031e"></th>
                                <th class="tg-031e"></th>
                                <th class="tg-031e"></th>
                                <th class="tg-031e"></th>
                          </tr>

                            <tr>
                                    <td class="tg-031e">Usuarios</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Usuarios/1" class="chk"/> Agregar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Usuarios/2" class="chk"/> Editar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Usuarios/3" class="chk"/>Eliminar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Usuarios/4" class="chk"/>Imprimir</td>
                              </tr>
                                  <tr>
                                 
                                    <td class="tg-031e">Perfiles</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Perfiles/1" class="chk"/> Agregar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Perfiles/2" class="chk"/> Editar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Perfiles/3" class="chk"/>Eliminar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Perfiles/4" class="chk"/>Imprimir</td>
                                  </tr>

                             <tr>
                                <th class="tg-031e">Modulo de Mantenedores</th>
                                <th class="tg-031e"></th>
                                <th class="tg-031e"></th>
                                <th class="tg-031e"></th>
                                <th class="tg-031e"></th>
                          </tr>

                            <tr>
                                    <td class="tg-031e">Equipos</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Equipos/1" class="chk"/> Agregar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Equipos/2" class="chk"/> Editar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Equipos/3" class="chk"/>Eliminar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Equipos/4" class="chk"/>Imprimir</td>
                           </tr>
                                  <tr>
                                   <td class="tg-031e">Tarifas Fijas</td>
                                    <td class="tg-031e"><input type="checkbox" id = "TarFijas/1" class="chk"/> Agregar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "TarFijas/2" class="chk"/> Editar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "TarFijas/3" class="chk"/>Eliminar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "TarFijas/4" class="chk"/>Imprimir</td>
                                  </tr>
                           <tr>
                                 
                                    <td class="tg-031e">Herramientas</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Herramientas/1" class="chk"/> Agregar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Herramientas/2" class="chk"/> Editar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Herramientas/3" class="chk"/>Eliminar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Herramientas/4" class="chk"/>Imprimir</td>
                                  </tr>
                            <tr>
                                 
                                    <td class="tg-031e">Modelo de Cobros</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Modelo/1" class="chk"/> Agregar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Modelo/2" class="chk"/> Editar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Modelo/3" class="chk"/>Eliminar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Modelo/4" class="chk"/>Imprimir</td>
                                  </tr>
                            <tr>
                                 
                                    <td class="tg-031e">Tipos Tarifas</td>
                                    <td class="tg-031e"><input type="checkbox" id = "TipTarifas/1" class="chk"/> Agregar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "TipTarifas/2" class="chk"/> Editar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "TipTarifas/3" class="chk"/>Eliminar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "TipTarifas/4" class="chk"/>Imprimir</td>
                                  </tr>
                            <tr>
                                 
                                    <td class="tg-031e">Comunas</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Comunas/1" class="chk"/> Agregar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Comunas/2" class="chk"/> Editar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Comunas/3" class="chk"/>Eliminar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Comunas/4" class="chk"/>Imprimir</td>
                                  </tr>
                            <tr>
                                 
                                    <td class="tg-031e">Dispositores</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Rellenos/1" class="chk"/> Agregar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Rellenos/2" class="chk"/> Editar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Rellenos/3" class="chk"/>Eliminar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Rellenos/4" class="chk"/>Imprimir</td>
                                  </tr>
                            <tr>
                                 
                                    <td class="tg-031e">Rubros</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Rubros/1" class="chk"/> Agregar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Rubros/2" class="chk"/> Editar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Rubros/3" class="chk"/>Eliminar</td>
                                    <td class="tg-031e"><input type="checkbox" id = "Rubros/4" class="chk"/>Imprimir</td>
                                  </tr>
                          
                          
                                 
                                    

                                
                        </thead>
                    </table>
                </div>
                        <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
                            </div>
                        </fieldset>
                    }

                </div>
             </div>
        </div>
     </div>


</div>

