﻿@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}
@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fx/pages/camiones.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $(".accordion-toggle:first").trigger("click");

            $(":checkbox[name='check']").change(function () {

                var _type = $(this).parent().attr("id");
                var _id = $(this).attr("id");
                var _perfil = $(":hidden#id").val();

                var _url="/Perfiles/addRol"
                var sel=$(this).prop("checked");
                if (sel == false) {
                    _url = "/Perfiles/RemoveRol"
                }
                

                $.ajax({
                    url: _url,
                    dataType: "html",
                    data: { rol:_id,perfil:_perfil, type:_type },
                    success: function (data) {
                    }
                })

            });
        })

    </script>
}
<div id="content" class="col-lg-12 col-sm-11  ">
    <div class="row">
        <div class="col-lg-12 col-md-9">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Roles",Url.RouteUrl(new {Controller="Roles",Action="Index"})}
                            })
            <div class="box">
                <div class="box-header">
                    <h2><i class="icon-th"></i><span class="break"></span>Asignar Roles a Perfiles</h2>
                    <a href="@Url.RouteUrl(new { Controller="Perfiles",Action="Index"})" class="btn btn-primary pull-right btn-lg">Volver al listado</a> 
                </div>
                <div class="box-content">
                     @Html.Hidden("id",ViewBag.id as object)
                    <div class="panel-group" id="accordion">
                        
                        @foreach (var m in Model) {
                            if(m.webpages_Roles.Count>0){
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="btn accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="@Url.Action("Roles","Perfiles")#@m.id">
                                        @m.nombre
                                    </a>
                                </h4>
                            </div>
                            
                            <div id="@m.id" class="panel-collapse collapse" style="height: auto;">
                                <div class="panel-body">
                                        <table class="table table-bordered table-striped table-condensed">
                                            <thead>
                                                <tr>
                                                   
                                                    <th>Nombre</th>
                                                    <th>Lectura</th>
                                                    <th>Escritura</th>
                                                    <th>Modificar</th>
                                                    <th>Eliminar</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var w in m.webpages_Roles)
                                                {
                                                    <tr>
                                                     
                                                        <td>@w.RoleName</td>
                                                        <td>
                                                            <div class="col-md-1 col-sm-2 col-xs-3">
                                                                @{bool check_r = false; }
                                                                @if (ViewBag.Read.Contains(w.RoleId)) { check_r = true; }
                                                                <label class="switch switch-success" id="read">
                                                                    @Html.CheckBox("check",check_r, new { id = @w.RoleId, @class = "switch-input" })
                                                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                                                    <span class="switch-handle"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="col-md-1 col-sm-2 col-xs-3">
                                                                @{bool check_c = false; }
                                                                @if (ViewBag.Create.Contains(w.RoleId)) { check_c = true; }
                                                                <label class="switch switch-warning" id="create">
                                                                    @Html.CheckBox("check",check_c, new { id = @w.RoleId, @class = "switch-input" })
                                                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                                                    <span class="switch-handle"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="col-md-1 col-sm-2 col-xs-3">
                                                                @{bool check_u = false; }
                                                                @if (ViewBag.Update.Contains(w.RoleId)) { check_u = true; }
                                                                <label class="switch switch-info" id="update">
                                                                    
                                                                    @Html.CheckBox("check",check_u,new { id = @w.RoleId, @class = "switch-input" })
                                                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                                                    <span class="switch-handle"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="col-md-1 col-sm-2 col-xs-3">
                                                                @{bool check_d = false; }
                                                                @if (ViewBag.Delete.Contains(w.RoleId)) { check_d = true; }
                                                                <label class="switch switch-danger" id="delete">
                                                                    @Html.CheckBox("check",check_d, new { id = @w.RoleId, @class = "switch-input"})
                                                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                                                    <span class="switch-handle"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    
                                    
                                </div>
                            </div>
                            
                        </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
