﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}



<div id="content" class="col-lg-12 col-sm-11  ">
    <div class="row">
        <div class="col-lg-12 col-sm11">
            

            <div class="row">

                <div class="col-lg-12">
                    <div class="box">
                        <div class="box-header">
                            <h2><i class="icon-tasks"></i>Progress Bars Slim</h2>
                        </div>
                        <div class="box-content">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Basic</td>
                                        <td>
                                            <div class="progress slim simpleProgress progressGreen ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="89">80<div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 89%;"></div></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Progress</td>
                                        <td>
                                            <div class="progress slim progressAnimate progressLightOrange ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="1"><div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 100%;"></div></div>
                                            <div class="field_notice">Value: <span class="must progressAnimateValue">100%</span></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Upload</td>
                                        <td>
                                            <div class="progress slim progressUploadAnimate progressBlue ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="1"><div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 99.9752%; overflow: hidden;"></div></div>
                                            <div class="field_notice"><span class="must">Upload Finished</span></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Upload</td>
                                        <td>
                                            <div class="progress slim progressUploadAnimate progressRed ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="1"><div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 99.9752%; overflow: hidden;"></div></div>
                                            <div class="field_notice"><span class="must">Upload Finished</span></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Upload</td>
                                        <td>
                                            <div class="progress slim progressUploadAnimate progressYellow ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="1"><div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 99.9752%; overflow: hidden;"></div></div>
                                            <div class="field_notice"><span class="must">Upload Finished</span></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Upload</td>
                                        <td>
                                            <div class="progress slim progressUploadAnimate progressPink ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="1"><div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 100%;"></div></div>
                                            <div class="field_notice"><span class="must">Upload Finished</span></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!--/col-->

            </div>


            <div class="row">

                <div class="col-lg-8">

                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="box">
                                <div class="box-header">
                                    <h2><i class="icon-list"></i>Weekly Stat</h2>
                                    <div class="box-icon">
                                        <a class="btn-minimize" href="widgets.html#"><i class="icon-chevron-up"></i></a>
                                        <a class="btn-close" href="widgets.html#"><i class="icon-remove"></i></a>
                                    </div>
                                </div>
                                <div class="box-content">
                                    <ul class="dashboard-list">
                                        <li>
                                            <a href="widgets.html#">
                                                <i class="icon-arrow-up green"></i>
                                                <span class="green">92</span>
                                                New Comments
                                            </a>
                                        </li>
                                        <li>
                                            <a href="widgets.html#">
                                                <i class="icon-arrow-down red"></i>
                                                <span class="red">15</span>
                                                New Registrations
                                            </a>
                                        </li>
                                        <li>
                                            <a href="widgets.html#">
                                                <i class="icon-minus blue"></i>
                                                <span class="blue">36</span>
                                                New Articles
                                            </a>
                                        </li>
                                        <li>
                                            <a href="widgets.html#">
                                                <i class="icon-comment yellow"></i>
                                                <span class="yellow">45</span>
                                                User reviews
                                            </a>
                                        </li>
                                        <li>
                                            <a href="widgets.html#">
                                                <i class="icon-arrow-up green"></i>
                                                <span class="green">112</span>
                                                New Comments
                                            </a>
                                        </li>
                                        <li>
                                            <a href="widgets.html#">
                                                <i class="icon-arrow-down red"></i>
                                                <span class="red">31</span>
                                                New Registrations
                                            </a>
                                        </li>
                                        <li>
                                            <a href="widgets.html#">
                                                <i class="icon-minus blue"></i>
                                                <span class="blue">93</span>
                                                New Articles
                                            </a>
                                        </li>
                                        <li>
                                            <a href="widgets.html#">
                                                <i class="icon-comment yellow"></i>
                                                <span class="yellow">254</span>
                                                User reviews
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div><!--/col-->

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div ondesktop="span4" ontablet="span6" class="box span4">
                                <div class="box-header">
                                    <h2><i class="icon-user"></i>Last Users</h2>
                                    <div class="box-icon">
                                        <a class="btn-minimize" href="widgets.html#"><i class="icon-chevron-up"></i></a>
                                        <a class="btn-close" href="widgets.html#"><i class="icon-remove"></i></a>
                                    </div>
                                </div>
                                <div class="box-content no-padding">
                                    <ul class="users-list">
                                        <li>
                                            <a href="widgets.html#">
                                                <img src="assets/img/avatar.jpg" alt="Lucas" class="avatar">
                                            </a>
                                            <div class="name">
                                                Łukasz Holeczek
                                                <div class="dropdown pull-right">
                                                    <a href="widgets.html#" data-toggle="dropdown" class="icon-cogs"></a>
                                                    <ul aria-labelledby="dLabel" role="menu" class="dropdown-menu">
                                                        <li><a href="widgets.html#"><i class="icon-ok"></i> Accept</a></li>
                                                        <li><a href="widgets.html#"><i class="icon-remove"></i>Reject</a></li>
                                                        <li><a href="widgets.html#"><i class="icon-minus-sign-alt"></i>Block</a></li>
                                                        <li><a href="widgets.html#"><i class="icon-trash"></i>Delete</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <span class="place"><i class="icon-map-marker"></i>Mikolow, POLAND</span>
                                            <span class="job"><i class="icon-briefcase"></i>Founder, BootstrapMaster.com</span>
                                        </li>
                                        <li>
                                            <a href="widgets.html#">
                                                <img src="assets/img/avatar9.jpg" alt="Bill" class="avatar">
                                            </a>
                                            <div class="name">
                                                Bill Cole
                                                <div class="dropdown pull-right">
                                                    <a href="widgets.html#" data-toggle="dropdown" class="icon-cogs"></a>
                                                    <ul aria-labelledby="dLabel" role="menu" class="dropdown-menu">
                                                        <li><a href="widgets.html#"><i class="icon-ok"></i> Accept</a></li>
                                                        <li><a href="widgets.html#"><i class="icon-remove"></i>Reject</a></li>
                                                        <li><a href="widgets.html#"><i class="icon-minus-sign-alt"></i>Block</a></li>
                                                        <li><a href="widgets.html#"><i class="icon-trash"></i>Delete</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <span class="place"><i class="icon-map-marker"></i>London, ENGLAND</span>
                                            <span class="job"><i class="icon-briefcase"></i>CEO, Rainbow INC</span>
                                        </li>
                                        <li>
                                            <a href="widgets.html#">
                                                <img src="assets/img/avatar5.jpg" alt="Jane" class="avatar">
                                            </a>
                                            <div class="name">
                                                Jane Sanchez
                                                <div class="dropdown pull-right">
                                                    <a href="widgets.html#" data-toggle="dropdown" class="icon-cogs"></a>
                                                    <ul aria-labelledby="dLabel" role="menu" class="dropdown-menu">
                                                        <li><a href="widgets.html#"><i class="icon-ok"></i> Accept</a></li>
                                                        <li><a href="widgets.html#"><i class="icon-remove"></i>Reject</a></li>
                                                        <li><a href="widgets.html#"><i class="icon-minus-sign-alt"></i>Block</a></li>
                                                        <li><a href="widgets.html#"><i class="icon-trash"></i>Delete</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <span class="place"><i class="icon-map-marker"></i>Berlin, GERMANY</span>
                                            <span class="job"><i class="icon-briefcase"></i>Head of Stars Group</span>
                                        </li>
                                        <li>
                                            <a href="widgets.html#">
                                                <img src="assets/img/avatar6.jpg" alt="Kate" class="avatar">
                                            </a>
                                            <div class="name">
                                                Kate Presley
                                                <div class="dropdown pull-right">
                                                    <a href="widgets.html#" data-toggle="dropdown" class="icon-cogs"></a>
                                                    <ul aria-labelledby="dLabel" role="menu" class="dropdown-menu">
                                                        <li><a href="widgets.html#"><i class="icon-ok"></i> Accept</a></li>
                                                        <li><a href="widgets.html#"><i class="icon-remove"></i>Reject</a></li>
                                                        <li><a href="widgets.html#"><i class="icon-minus-sign-alt"></i>Block</a></li>
                                                        <li><a href="widgets.html#"><i class="icon-trash"></i>Delete</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <span class="place"><i class="icon-map-marker"></i>Madrid, SPAIN</span>
                                            <span class="job"><i class="icon-briefcase"></i>Creative Director, IdeaLab LTD</span>
                                        </li>
                                        <li>
                                            <a href="widgets.html#">
                                                <img src="assets/img/avatar7.jpg" alt="Lucas" class="avatar">
                                            </a>
                                            <div class="name">
                                                Anna Holmes
                                                <div class="dropdown pull-right">
                                                    <a href="widgets.html#" data-toggle="dropdown" class="icon-cogs"></a>
                                                    <ul aria-labelledby="dLabel" role="menu" class="dropdown-menu">
                                                        <li><a href="widgets.html#"><i class="icon-ok"></i> Accept</a></li>
                                                        <li><a href="widgets.html#"><i class="icon-remove"></i>Reject</a></li>
                                                        <li><a href="widgets.html#"><i class="icon-minus-sign-alt"></i>Block</a></li>
                                                        <li><a href="widgets.html#"><i class="icon-trash"></i>Delete</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <span class="place"><i class="icon-map-marker"></i>Paris, FRANCE</span>
                                            <span class="job"><i class="icon-briefcase"></i>Co-Founder, ArtStudio</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div><!--/col-->

                    </div><!--/row-->

                </div><!--/col-->

                <div class="col-lg-4">

                    <div class="row">

                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="box">
                                <div class="box-header">
                                    <h2><i class="icon-check"></i>To Do List</h2>
                                    <div class="box-icon">
                                        <a class="btn-setting" href="widgets.html#"><i class="icon-wrench"></i></a>
                                        <a class="btn-minimize" href="widgets.html#"><i class="icon-chevron-up"></i></a>
                                        <a class="btn-close" href="widgets.html#"><i class="icon-remove"></i></a>
                                    </div>
                                </div>
                                <div class="box-content">
                                    <div class="todo">
                                        <ul class="todo-list ui-sortable">
                                            <li>
                                                <span class="todo-actions">
                                                    <a href="widgets.html#"><i class="icon-ok"></i></a>
                                                </span>
                                                <span class="desc">Windows Phone 8 App</span>
                                                <span class="label label-important">today</span>
                                                <a href="widgets.html#" class="remove"><i class="icon-remove"></i></a>
                                            </li>
                                            <li>
                                                <span class="todo-actions">
                                                    <a href="widgets.html#"><i class="icon-ok"></i></a>
                                                </span>
                                                <span class="desc">New frontend layout</span>
                                                <span class="label label-important">today</span>
                                                <a href="widgets.html#" class="remove"><i class="icon-remove"></i></a>
                                            </li>
                                            <li>
                                                <span class="todo-actions">
                                                    <a href="widgets.html#"><i class="icon-ok"></i></a>
                                                </span>
                                                <span class="desc">Hire developers</span>
                                                <span class="label label-warning">tommorow</span>
                                                <a href="widgets.html#" class="remove"><i class="icon-remove"></i></a>
                                            </li>
                                            <li>
                                                <span class="todo-actions">
                                                    <a href="widgets.html#"><i class="icon-ok"></i></a>
                                                </span>
                                                <span class="desc">Windows Phone 8 App</span>
                                                <span class="label label-warning">tommorow</span>
                                                <a href="widgets.html#" class="remove"><i class="icon-remove"></i></a>
                                            </li>
                                            <li>
                                                <span class="todo-actions">
                                                    <a href="widgets.html#"><i class="icon-ok"></i></a>
                                                </span>
                                                <span class="desc">New frontend layout</span>
                                                <span class="label label-success">this week</span>
                                                <a href="widgets.html#" class="remove"><i class="icon-remove"></i></a>
                                            </li>
                                            <li>
                                                <span class="todo-actions">
                                                    <a href="widgets.html#"><i class="icon-ok"></i></a>
                                                </span>
                                                <span class="desc">Hire developers</span>
                                                <span class="label label-success">this week</span>
                                                <a href="widgets.html#" class="remove"><i class="icon-remove"></i></a>
                                            </li>
                                            <li>
                                                <span class="todo-actions">
                                                    <a href="widgets.html#"><i class="icon-ok"></i></a>
                                                </span>
                                                <span class="desc">New frontend layout</span>
                                                <span class="label label-info">this month</span>
                                                <a href="widgets.html#" class="remove"><i class="icon-remove"></i></a>
                                            </li>
                                            <li>
                                                <span class="todo-actions">
                                                    <a href="widgets.html#"><i class="icon-ok"></i></a>
                                                </span>
                                                <span class="desc">Hire developers</span>
                                                <span class="label label-info">this month</span>
                                                <a href="widgets.html#" class="remove"><i class="icon-remove"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div><!--/col-->
                    </div>

                </div><!--/col-->

            </div>

        </div>
    </div>
</div>