﻿
<ol class="breadcrumb">
    <li><a href="@Url.RouteUrl(new { Controller="Admin",Action="Index"})">Principal</a></li>
    @foreach (var bc in ViewData.Model) { 
    <li><a href="@bc.Value">@bc.Key</a></li>
    }
    <div class="form-group choose-date hidden-xs">
        <div class="controls">
            <div class="input-group">
                <span class="input-group-addon"><i class="icon-calendar"></i></span>
                <input type="text" value="@DateTime.Now" id="daterange" class="form-control">
                <span class="input-group-addon"><i class="icon-chevron-down"></i></span>
            </div>
        </div>
    </div>
</ol>