﻿<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Genius Dashboard - Bootstrap Admin Template." />
    <meta name="author" content="Åukasz Holeczek" />
    <meta name="keyword" content="Genius, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Resiter S.A</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/retina.min.css" rel="stylesheet" />
    <link href="~/Content/print.css" rel="stylesheet" type="text/css" media="print" />
    <link href="~/Content/jquery-ui-1.10.3.custom.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/custom.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/alertify.core.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/alertify.default.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/shadowbox.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" type="text/css" media="screen" />



    @RenderSection("css", false)

</head>
<body style="background: url(/images/fondologin.png);">
    
    <div class="container">
        <div class="row">
           

            @RenderBody()



        </div>
    </div>
    <script src="~/Scripts/jquery.2.1.js"></script>
    <script src="~/Scripts/fx/List.js"></script>

    <script src="~/Scripts/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/custom.min.js"></script>
    <script src="~/Scripts/core.min.js"></script>
    <script src="~/Scripts/alertify.js"></script>
    <script src="~/Scripts/jquery.gritter.min.js"></script>
    <script src="~/Scripts/jquery.noty.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/shadowbox.js"></script>
    @RenderSection("scripts", false)
    <script type="text/javascript">
        Shadowbox.init();

        $(".datepicker").datepicker();





    </script>


</body>
</html>
