﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta lang="es" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>....</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/retina.min.css" rel="stylesheet" />



</head>
<body>

    <div id="content" class="col-lg-10 col-sm-11 ">

        @if (ViewBag.print!=null) { 
        
        @Html.Partial("~/Views/Shared/_print.cshtml")
        }
        <div class="row">
            <div class="col-lg-12">
                @RenderBody()
            </div>
        </div>

    </div>

    <script src="~/Scripts/jquery.2.1.js"></script>
    <script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="~/Scripts/custom.min.js"></script>
    <script src="~/Scripts/core.min.js"></script>



</body>
</html>
