﻿@{
    var lista = Session["credenciales"] as List<string>;
    var modulos = Session["modulos"] as List<string>;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta charset="utf-8" />
    <meta name="description" content="Genius Dashboard - Bootstrap Admin Template." />
    <meta name="author" content="Åukasz Holeczek" />
    <meta name="keyword" content="Genius, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Resiter S.A</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/retina.min.css" rel="stylesheet" />
    <link href="~/Content/print.css" rel="stylesheet" type="text/css" media="print" />
    <link href="~/Content/jquery-ui-1.10.3.custom.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/custom.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/alertify.core.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/alertify.default.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/shadowbox.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/jquery.alerts.css" rel="stylesheet" type="text/css" />

    @RenderSection("css", false)

    <script src="~/Scripts/jquery.2.1.js"></script>
    <script src="~/Scripts/fx/List.js"></script>

    <script src="~/Scripts/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
    <script src="/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @Scripts.Render("~/Javacripts/Valentys.Framework")
    @Styles.Render("~/Javacripts/Valentys.Framework.css")
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/custom.min.js"></script>
    <script src="~/Scripts/core.min.js"></script>
    <script src="~/Scripts/alertify.js"></script>
    <script src="~/Scripts/jquery.gritter.min.js"></script>
    <script src="~/Scripts/jquery.noty.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/shadowbox.js"></script>
    @RenderSection("scripts", false)
    <script type="text/javascript">
        Shadowbox.init();
        $(".datepicker").datepicker();
    </script>

</head>
<body>
    <header class="navbar">
        <div class="container">
            <button class=" navbar-toggle" type="button" data-toggle="collapse" data-target=".sidebar-nav.nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="main-menu-toggle" class="hidden-xs open"><i class="icon-reorder"></i></a>
            <a class="navbar-brand col-md-2 col-sm-1 col-xs-2 " ><span>SGS Multi-Unidad</span></a>

            <div class="nav-no-collapse header-nav">
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown">
                        <a  data-toggle="dropdown" class="btn account dropdown-toggle">
                            <div class="avatar">
                                <img alt="Avatar" src="~/images/avatar_resiter.png">
                            </div>
                            <div class="user">
                                <span class="hello">Bienvenido</span>
                                <span class="name">@User.Identity.Name</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <div class=" ">
                @if (SGS.Models.repository.UsuariosRepository.getUnidadSeleccionada() != -1)
                {
                    using (Html.BeginForm("changeUnidad", "Usuarios"))
                    {
                        <div class="col-sm-5 col-xs-8 col-lg-4  pull-right " style="margin-top: 2px; display: inline-flex">
                            <div style="color: white; font-size: 16px; margin-top: 5px; margin-right: 18px">
                                <i style="font-size: 13px" class="label label-default">
                                    Unidad
                                </i>
                            </div>
                            @Html.DropDownList("unidades", Session["unidades"] as IEnumerable<SelectListItem>, new { @class = "form-control", style = "position:relative;width:300px" })
                            <input type="submit" class="btn btn-info " style="margin-left: 5px; width: 100px" value="Cambiar" />
                        </div>
                    }
                }
            </div>
        </div>
    </header>
    <div class="container">
        <div data-name="loading">
            <img class="hidden" src="~/images/Spinner.GIF" />
            <span>
            </span>
        </div>
        <div class="row">
            <div id="sidebar-left" class="col-lg-2 col-sm-1 ">
                <div class="sidebar-nav nav-collapse collapse navbar-collapse">
                    <ul class="nav main-menu">
                        @*<li>
                            <a href='@Url.RouteUrl(new { Controller = "Inicio", Action = "Index" })'><i class="icon-home"></i><span class="hidden-sm text">Inicio</span></a>
                        </li>*@


                        @if (modulos != null && modulos.Contains("Contratos"))
                        {
                            <li>
                                <a href='#' class="dropmenu">
                                    <i class="icon-folder-close">
                                    </i>
                                    <span class="hidden-sm text">Contratos</span>
                                    <span class="chevron closed"></span>
                                </a>
                                <ul>

                                    @if (lista.Contains("Clientes"))
                                    {
                                        <li>
                                            <a class="submenu" href='@Url.RouteUrl(new {Controller = "Clientes", Action = "index"})'>
                                                <i class="icon-coffee"></i>
                                                <span class="hidden-sm text">Clientes</span>
                                            </a>
                                        </li>
                                    }
                                    @if (lista.Contains("Sucursales"))
                                    {
                                        <li>
                                            <a class="submenu" href='@Url.RouteUrl(new {Controller = "Sucursales", Action = "index"})'>
                                                <i class="icon-hospital"></i>
                                                <span class="hidden-sm text">Sucursales</span>
                                            </a>
                                        </li>
                                    }
                                    @if (lista.Contains("Contratos"))
                                    {
                                        <li>
                                            <a class="submenu" href='@Url.RouteUrl(new {Controller = "Contratos", Action = "index"})'>
                                                <i class="icon-folder-close"></i>
                                                <span class="hidden-sm text">Contratos</span>
                                            </a>
                                        </li>
                                    }
                                    @if (lista.Contains("ModeloCobro"))
                                    {
                                        <li>
                                            <a class="submenu" href='@Url.RouteUrl(new {Controller = "ModeloCobros", Action = "index"})'>
                                                <i class="icon-money"></i>
                                                <span class="hidden-sm text">Modelo de Cobros</span>
                                            </a>
                                        </li>
                                    }
                                    @if (lista.Contains("PuntosServicio"))
                                    {
                                        <li>
                                            <a class="submenu" href='@Url.RouteUrl(new {Controller = "PuntosServicios", Action = "index"})'>
                                                <i class="icon-pushpin"></i>
                                                <span class="hidden-sm text">Puntos de Servicios</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }

                        @if (modulos != null && modulos.Contains("Franquiciados"))
                        {
                            <li>
                                <a class="dropmenu" href="#">
                                    <i class="icon-truck"></i>
                                    <span class="hidden-sm text">Micro Empresarios</span>
                                    <span class="chevron closed"></span>
                                </a>
                                <ul>
                                    @if (lista.Contains("Franquiciados"))
                                    {
                                        <li>
                                            <a class="submenu" href='@Url.RouteUrl(new {Controller = "Franquiciados", Action = "index"})'>
                                                <i class="icon-truck"></i><span class="hidden-sm text">Micro Empresarios</span>
                                            </a>
                                        </li>
                                    }
                                    @if (lista.Contains("Leasing"))
                                    {
                                        <li>
                                            <a class="submenu" href='@Url.RouteUrl(new {Controller = "Franquiciados", Action = "leasing"})'>
                                                <i class="icon-credit-card"></i><span class="hidden-sm text">Leasing</span>
                                            </a>
                                        </li>
                                    }
                                    @if (lista.Contains("HistorialPagos"))
                                    {
                                        <li>
                                            <a class="submenu" href='@Url.RouteUrl(new {Controller = "Franquiciados", Action = "franquiciadospagados"})'>
                                                <i class="icon-spinner"></i><span class="hidden-sm text">Historial Pagos</span>
                                            </a>
                                        </li>
                                    }
                                    @if (lista.Contains("Descuentos"))
                                    {
                                        <li>
                                            <a class="submenu" href='@Url.RouteUrl(new {Controller = "Franquiciados", Action = "descuentos"})'>
                                                <i class="icon-tint"></i><span class="hidden-sm text">Descuentos</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }

                        @if (modulos != null && modulos.Contains("Mantenedores"))
                        {
                            <li>
                                <a class="dropmenu" href="#"><i class="icon-book"></i><span class="hidden-sm text">Mantenedores</span> <span class="chevron closed"></span></a>
                                <ul>
                                    @if (lista.Contains("Camiones"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller="Camiones",Action="index"})'><i class="icon-truck"></i><span class="hidden-sm text">Camiones</span></a></li>
                                    }
                                    @if (lista.Contains("CentroResponsabilidad"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller="CentroResponsabilidad",Action="index"})'><i class="icon-truck"></i><span class="hidden-sm text">Centro Responsabilidad</span></a></li>
                                    }
                                    @if (lista.Contains("Conductores"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller="Conductores",Action="index"})'><i class="icon-road"></i><span class="hidden-sm text">Conductores</span></a></li>
                                    }
                                    @if (lista.Contains("UnidadNegocio"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller="UnidadesNegocio",Action="index"})'><i class="icon-hospital"></i><span class="hidden-sm text">Unidades de Negocio</span></a></li>
                                    }

                                    @if (lista.Contains("Comunas"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller="Comunas",Action="index"})'><i class="icon-truck"></i><span class="hidden-sm text">Comunas</span></a></li>
                                    }
                                    @if (lista.Contains("Equipos"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller="Equipos",Action="index"})'><i class="icon-asterisk"></i><span class="hidden-sm text">Equipos</span></a></li>
                                    }
                                    @if (lista.Contains("Herramientas"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller="Herramientas",Action="index"})'><i class="icon-wrench"></i><span class="hidden-sm text">Herramientas</span></a></li>
                                    }
                                    @*@if (lista.Contains("ModeloCobro"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller="ModeloCobros",Action="index"})'><i class="icon-money"></i><span class="hidden-sm text">Modelo de Cobros</span></a></li>
                                    }*@
                                    @if (lista.Contains("Rellenos"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller="Rellenos",Action="index"})'><i class="icon-remove"></i><span class="hidden-sm text">Dispositor</span></a></li>
                                    }
                                    @if (lista.Contains("Residuos"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller="Residuos",Action="index"})'><i class="icon-remove"></i><span class="hidden-sm text">Residuos</span></a></li>
                                    }
                                    @if (lista.Contains("Rubros"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller="Rubros",Action="index"})'><i class="icon-truck"></i><span class="hidden-sm text">Rubros</span></a></li>
                                    }
                                    @if (lista.Contains("UF"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "Mantenedoruf", Action = "index" })'><i class="icon-money"></i><span class="hidden-sm text">UF</span></a></li>
                                    }
                                    @if (lista.Contains("ConceptosDescuentos"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "MantenedorConceptosDescuentos", Action = "index" })'><i class="fa fa-archive"></i><span class="hidden-sm text">Conceptos descuentos</span></a></li>
                                    }
                                    @if (lista.Contains("Tarifas"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "TiposTarifas", Action = "index" })'><i class="icon-money"></i><span class="hidden-sm text">Tarifas</span></a></li>
                                    }
                                    @if (lista.Contains("ValorPetroleo"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "MantenedorPetroleo", Action = "index" })'><i class="fa fa-archive"></i><span class="hidden-sm text">Valor petroleo</span></a></li>
                                    }
                                    @if (lista.Contains("manIndicadores"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "MantenedorIndicadores", Action = "index" })'><i class="icon-money"></i><span class="hidden-sm text">Indicadores</span></a></li>
                                    }
                                    @if (lista != null || lista.Contains("Zonas"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller="Zona",Action="index"})'><i class="icon-road"></i><span class="hidden-sm text">Zonas</span></a></li>
                                    }
                                    @if (lista != null || lista.Contains("Servicios Reporte"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "ServiciosReporte", Action = "index" })'><i class="icon-bar-chart"></i><span class="hidden-sm text">Servicios Reporte</span></a></li>
                                    }

                                    <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "Categoria", Action = "index" })'><i class="icon-bar-chart"></i><span class="hidden-sm text">Mantenedor categoria</span></a></li>
                                </ul>
                            </li>
                        }
                        @if (modulos != null && modulos.Contains("Procesos"))
                        {
                            <li>
                                <a class="dropmenu" href="#"><i class="icon-keyboard"></i><span class="hidden-sm text">Procesos</span> <span class="chevron closed"></span></a>
                                <ul>
                                    @if (lista.Contains("ProcesoPagos"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller="Franquiciados",Action="procesos"})'><i class="icon-spinner"></i><span class="hidden-sm text">Procesos de Pagos</span></a></li>
                                    }
                                    @if (lista.Contains("ProcesoCobros"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "CobroClientes", Action = "index" })'><i class="icon-file"></i><span class="hidden-sm text">Proceso de Cobros</span></a></li>
                                    }
                                    @if (lista.Contains("Reajuste"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "Reajuste", Action = "index" })'><i class="icon-refresh"></i><span class="hidden-sm text">Reajuste</span></a></li>
                                    }
                                    <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "OrdenCompra", Action = "index" })'><i class="fa fa-archive"></i><span class="hidden-sm text">Orden de Compra</span></a></li>
                                    @*<li><a class="submenu" href='OrdenCompra/index'><i class="fa fa-archive"></i><span class="hidden-sm text">Orden de Compra</span></a></li>*@

                                </ul>
                            </li>
                        }

                        @if (modulos != null && modulos.Contains("Planificación"))
                        {
                            <li>
                                <a class="dropmenu" href="#"><i class="icon-bar-chart"></i><span class="hidden-sm text">Planificacion</span> <span class="chevron closed"></span></a>
                                <ul>
                                    @if (lista.Contains("RutasModelo"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "RutasModelo", Action = "Create" })'><i class="icon-road"></i><span class="hidden-sm text">Rutas Modelo</span></a></li>
                                    }
                                    @if (lista.Contains("IngresarHDR"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "IngresarHDR", Action = "create", id = 0 })'><i class="icon-table"></i><span class="hidden-sm text">Ingresar HDR</span></a></li>
                                    }
                                    @if (lista.Contains("IngresarHDRBano"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "IngresarHDR", Action = "create", id = 1 })'><i class="icon-table"></i><span class="hidden-sm text">Ingresar HDR baño</span></a></li>
                                        // <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "IngresarHDR", Action = "create", id = 0 })'><i class="icon-table"></i><span class="hidden-sm text">Ingresar HDR</span></a></li>
                                    }

                                    //
                                   @* <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "IngresarHDR", Action = "create", id = 1 })'><i class="icon-table"></i><span class="hidden-sm text">Ingresar HDR baño</span></a></li>*@
                                    @if (lista.Contains("HojasRuta"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "MantenedorHDR", Action = "create", id = 0 })'><i class="icon-table"></i><span class="hidden-sm text">Hojas de Ruta</span></a></li>
                                    }

                                    @* <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "MantenedorHDR", Action = "create", id = 1 })'><i class="icon-table"></i><span class="hidden-sm text">Hojas de Ruta baño</span></a></li>*@

                                    @if (lista.Contains("GuiaDespacho"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "GuiaDespacho", Action = "index" })'><i class="icon-bookmark"></i><span class="hidden-sm text">Guia de despacho</span></a></li>
                                    }
                                </ul>
                            </li>

                        }

                        @if (modulos != null && modulos.Contains("Reportes"))
                        {
                            <li>
                                <a class="dropmenu" href="#"><i class="icon-bar-chart"></i><span class="hidden-sm text">Reportes</span> <span class="chevron closed"></span></a>
                                <ul>
                                    @if (lista.Contains("InformesPuntos"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "ReportesCostosFranc", Action = "index" })'><i class="icon-calendar-empty"></i><span class="hidden-sm text">Informes Costos</span></a></li>
                                    }
                                    @if (lista.Contains("CostosPuntos"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "ReportesCostosFranc2", Action = "Index" })'><i class="icon-calendar-empty"></i><span class="hidden-sm text">Costos por Punto</span></a></li>
                                    }
                                    @if (lista.Contains("ServiciosPuntos"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "ReportesHojaRutaDetalle", Action = "Index" })'><i class="icon-calendar-empty"></i><span class="hidden-sm text">Servicios por Punto</span></a></li>
                                    }
                                    @if (lista.Contains("PagoFranquiciados"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "Franquiciados", Action = "franquiciadosPagados" })'><i class="icon-calendar-empty"></i><span class="hidden-sm text">Pago Franquiciados </span></a></li>
                                    }
                                    @if (lista.Contains("PagoFranquiciados"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "CobroClientesHistorico", Action = "index" })'><i class="icon-file"></i><span class="hidden-sm text">Histórico de Cobros</span></a></li>
                                    }
                                    @if (lista.Contains("ResporteReajusteHistorico"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "ReporteHistoricoReajuste", Action = "index" })'><i class="icon-bookmark"></i><span class="hidden-sm text">Histórico de Reajuste</span></a></li>
                                    }
                                    @if (lista.Contains("ReporteListaServicios"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "ReporteListaServicios", Action = "Index" })'><i class="icon-bookmark"></i><span class="hidden-sm text">Lista de Servicios</span></a></li>
                                    }

                                    @if (lista.Contains("InformeVertederos"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "InformeVertederos", Action = "index" })'><i class="icon-bookmark"></i><span class="hidden-sm text">Informe Vertederos</span></a></li>
                                    }

                                    @if (lista.Contains("InformeVentasDetalle"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "InformeVentasDetalle", Action = "index" })'><i class="icon-bookmark"></i><span class="hidden-sm text">Ventas Detallado</span></a></li>
                                    }


                                    @if (lista.Contains("Certificados"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "Certificados", Action = "index" })'><i class="icon-bookmark"></i><span class="hidden-sm text">Certificados</span></a></li>
                                    }

                                    @if (lista != null || lista.Contains("Reporte Unificado"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "ReporteUnificado", Action = "index" })'><i class="icon-bookmark"></i><span class="hidden-sm text">Reporte Unificado</span></a></li>
                                    }

                                    @if (lista.Contains("ReportHojaRuta"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "ReportHojaRuta", Action = "index" })'><i class="icon-file"></i><span class="hidden-sm text">Reporte de hojas de rutas</span></a></li>
                                    }

                                    <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "ReporteAlertaTerminoContrato", Action = "index" })'><i class="icon-file"></i><span class="hidden-sm text"> Alerta Termino de Contrato</span></a></li>
                                </ul>
                            </li>
                        }

                        @if (modulos != null && modulos.Contains("Administracion"))
                        {
                            <li>
                                <a class="dropmenu" href="#"><i class="icon-tasks"></i><span class="hidden-sm text">Administracion</span> <span class="chevron closed"></span></a>
                                <ul>
                                    @if (lista.Contains("Usuarios"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "Usuarios", Action = "index" })'><i class="icon-user"></i><span class="hidden-sm text">Usuarios</span></a></li>
                                    }
                                    @if (lista.Contains("Perfiles"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "Perfiles", Action = "index" })'><i class="icon-share-alt"></i><span class="hidden-sm text">Perfiles</span></a></li>
                                    }
                                    @if (lista.Contains("Modulos"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller="Modulos",Action="index"})'><i class="icon-share-alt"></i><span class="hidden-sm text">Modulos</span></a></li>
                                    }
                                    @if (lista.Contains("SubModulos"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller="Credenciales",Action="index"})'><i class="icon-share-alt"></i><span class="hidden-sm text">SubModulos</span></a></li>
                                    }
                                    @if (lista.Contains("SubModulos"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller="CargaUnidades",Action="Create"})'><i class="icon-share-alt"></i><span class="hidden-sm text">Carga Unidad</span></a></li>
                                    }
                                </ul>
                            </li>
                        }
                        <li>
                            <a href='@Url.RouteUrl(new { Controller = "Usuarios", Action = "logout" })'><i class="icon-home"></i><span class="hidden-sm text">Salir</span></a>
                        </li>
                    </ul>
                </div>
                <a href="#" id="main-menu-min" class="full visible-md visible-lg"><i class="icon-double-angle-left"></i></a>
            </div>
            @RenderBody()

            <div class="clearfix"></div>
        </div>
    </div>
</body>
</html>
