﻿@*
    Empresa: valentys
    Fecha : 03-07-2015
    Descripción: contine los eventos del detalle del indicador.
*@
@model SGS.Models.TB_SGS_INDICADOR
@{
    string token = Guid.NewGuid().ToString();
}
<script type="text/javascript">
    $(function () {
        var vista = $('#@token');
        //levanta el modal
        var loadModalInsert = (function (data) {
            Shadowbox.open({
                content: data,
                player: "html",
                title: "insertar",
                height: 200,
                width: 550,
                options: {
                    modal: true,
                    onClose: function () {
                        var id = $('input[name="codigo"]:first').val();
                        var month = $('input[name="mes"]:first').val();
                        var year = $('input[name="anio"]:first').val();
                        var value = $('input[name="valor"]:first').val();
                        vista.find('td[data-content="valor"][data-id="' + id + '"][data-month ="' + month + '"][data-year ="' + year + '"]').html(value);

                    }
                }
            });
        });

        //levanta el modal para modificar o crear.
        vista.find('div.box-content').on('click', 'td[data-content="valor"]', function () {
            var currentValue = $(this).html();
            var id = $(this).data("id");
            var month = $(this).data("month");
            var year = $(this).data("year");
            $page.ajax({
                url: "@Url.Action("createValor", "MantenedorIndicadores")" + "?id=" + id + "&month=" + month + "&year=" + year + "&currentValue=" + currentValue,
                datatype: 'html',
                success: function (data) {
                    loadModalInsert(data);
                }
            });
        });

        //Guardar valor del periodo
        var body = vista.closest('body');
        body.off('click', 'button[data-action="guardar"]:first');
        body.on('click', 'button[data-action="guardar"]:first', function () {
            if ($("#valor").val() != "") {
                console.log($.isNumeric($('input[name="valor"]:first').val().replace(',', '.')))
                if ($.isNumeric($('input[name="valor"]:first').val().replace(',', '.'))) {
                    $page.ajax({
                        url: "@Url.Action("saveValueIndicator", "MantenedorIndicadores")",
                        data: $(this).closest('form').serialize(),
                        datatype: "json",
                        success: function (result) {
                            debugger;
                            if (result != null) {
                                vista.find('td[data-content="valor"][data-id="' + result.INDV_INDI_CODIGO + '"][data-month ="' + result.INDV_MES + '"][data-year ="' + result.INDV_ANIO + '"]').html(result.INDV_VALOR.toString().replace('.', ','));
                                Shadowbox.close();
                            }
                        }
                    });
                }
            }
        });

    });
</script>

<div class="row" id="@token">
    <div class="col-lg-12">
        @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml", new Dictionary<string, string>()
                    {
                        {
                        "Indicadores",Url.RouteUrl(new {Controller="MantenedorIndicadores", Action="Index"})
                        }
                    }
                )
        <div class="box">
            <div class="box-header" data-original-title="">
                <h2><a href="@Url.Action("index", "MantenedorIndicadores")"><i class="icon-arrow-left"></i></a><span class="break"></span>Detalle Indicador @Model.INDI_NOMBRE</h2>
                <div style="width:auto" class="sorting" class="controls row " style="margin-top:2px; ">
                </div>
            </div>
            <div class="box-content">
                @Html.Partial("tableIndicator", Model)
            </div>

        </div>

    </div>
</div>
