﻿@*
    Empresa: valentys
    Fecha : 03-07-2015
    Descripción: formulario para ingresar o modificar un indicador.
*@
@model SGS.Models.TB_SGS_INDICADOR
<form>
    <fieldset class="col-sm-12">
        <input name="codigo" type="hidden" value="@(Model.INDI_CODIGO > 0 ? Model.INDI_CODIGO.ToString(): "")">
        <div class="form-group" style="margin-top: 20px;">
            <label class="control-label pull-left label-see">Nombre</label>
            <div class="input-group col-sm-5">
                <input class="form-control pull-right" maxlength="100" style="width:250px" data-val="true" data-val-required="Requerido" id="nombre" name="nombre" type="text" value="@Model.INDI_NOMBRE">
            </div>
            <label class="control-label red"><span class="field-validation-valid" data-valmsg-for="nombre" data-valmsg-replace="true"></span></label>
        </div>
        <div class="clearfix"></div>
        <div class="form-group" style="margin-top: 10px;">
            <label class="control-label pull-left label-see">Descripción</label>
            <div class="input-group col-sm-5">
                <input class="form-control pull-right" maxlength="500" style="width: 250px" data-val="true" id="descripcion" name="descripcion" type="text" value="@Model.INDI_DESCRIPCION">
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group" style="margin-top: 10px;">
            <button type="button" class="btn btn-primary btn-lg" data-action="guardar">Guardar</button>
        </div>
    </fieldset>
</form>

