﻿@*
    Empresa: valentys
    Fecha : 03-07-2015
    Descripción: formulario para ingresar o modificar el valor de un indicador.
*@
@model SGS.Models.TB_SGS_INDICADOR_VALOR


<form data-content="frmInsertValue">
    <fieldset class="col-sm-12">
        <h3 style="font-weight: bold;">Ingrese valores para @System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(Model.INDV_MES) @Model.INDV_ANIO</h3>
        <input name="codigo" type="hidden" value="@(Model.INDV_INDI_CODIGO > 0 ? Model.INDV_INDI_CODIGO.ToString() : "")">
        <input name="mes" type="hidden" value="@(Model.INDV_MES > 0 ? Model.INDV_MES.ToString() : "")">
        <input name="anio" type="hidden" value="@(Model.INDV_ANIO > 0 ? Model.INDV_ANIO.ToString() : "")">
        <div class="form-group" style="margin-top: 20px;">
            <label class="control-label pull-left label-see">Valor</label>
            <div class="input-group col-sm-5">
                <input class="form-control pull-right" maxlength="100" style="width:250px" data-val="true" data-val-required="Requerido" id="valor" name="valor" type="text" value="@Model.INDV_VALOR">
            </div>
            <label class="control-label red"><span class="field-validation-valid" data-valmsg-for="valor" data-valmsg-replace="true"></span></label>
        </div>
        <div class="clearfix"></div>
        <div class="form-group" style="margin-top: 10px;">
            <button type="button" class="btn btn-primary btn-lg" data-action="guardar">Guardar</button>
        </div>
    </fieldset>
</form>

