﻿@*
    Empresa: valentys
    Fecha : 03-07-2015
    Descripción: Tabla con los indicadores.
*@

@model List<SGS.Models.TB_SGS_INDICADOR>

@if (Model.Count > 0)
{
    <table class="table table-striped table-bordered bootstrap-datatable datatable">
        <thead role="row" class="tab-header">
            <tr>
                <th style="width:auto" class="sorting">ID</th>
                <th style="width:auto" class="sorting">Nombre Indicador</th>
                <th style="width:auto" class="sorting">Descripción</th>
                <th style="width:auto" class="sorting">Editar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td data-name="codigo">@m.INDI_CODIGO</td>
                    <td data-name="nombre">@m.INDI_NOMBRE</td>
                    <td data-name="descripcion">@m.INDI_DESCRIPCION</td>
                    <td>
                        <a class="btn btn-info" title="Editar" data-action="editar"><i class="icon-edit"></i></a>
                        <a class="btn btn-success" title="Ver Detalle" data-action="detalle"><i class="icon-star"></i></a>
                    </td>

                </tr>

            }
        </tbody>
    </table>
}
else
{
    <span>Agregue un Indicador</span>
}
