﻿@model SGS.Models.equipos
@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}
<script type="text/javascript">
    $(function () {
        $('#capacidad_equipo').blur(function () {
            $(this).val($(this).val().replace('.', ','));
        });
    });

</script>

<div id="content" class="col-lg-10 col-sm-11 ">

    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Equipos",Url.RouteUrl(new {Controller="Equipos",Action="Index"})},
                            {"Agregar Equipo",Url.RouteUrl(new {Controller="Equipos",Action="Create"})}
                            })
            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="icon-plus-sign"></i><span class="break"></span>Agregar Equipo</h2>
                    <a href="@Url.RouteUrl(new { Controller = "Equipos", Action = "Index" })" class="btn btn-primary pull-right btn-lg">Volver al listado</a>
                </div>

                <div class="box-content">
                  
                    @using (Html.BeginForm("Create","Equipos")){
                        <fieldset class="col-sm-12">
                            <div class="form-group">
                                @if (Model != null && Model.id_equipo != 0)
                                {
                                    @Html.HiddenFor(m => m.id_equipo)
                                }
                                <label class="control-label pull-left label-see">Tipo Equipo</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.tipo_equipo, new { @class = "form-control pull-right" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.tipo_equipo)</label>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Capacidad</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.capacidad_equipo, new { @class = "form-control pull-right" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.capacidad_equipo)</label>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
                            </div>
                        </fieldset>
                    }

                </div>
            </div>
        </div>

    </div>


</div>

