﻿@{
    Layout = null;
    Response.AddHeader("Content-type", "application/vnd.ms-excel");
    Response.AddHeader("Content-Disposition", "attachment; filename=equipos.xls");
}

<table border="1">
    <tr>
        <th style="width:auto" class="sorting_asc" role="columnheader">ID</th>
        <th style="width:auto" class="sorting">Equipo</th>
        <th style="width:auto" class="sorting">Capacidad</th>
    </tr>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.id_equipo</td>
                <td>@m.tipo_equipo</td>
                <td>@m.capacidad_equipo Mª</td>
            </tr>

        }
    </tbody>
</table>