﻿@model SGS.Models.ruta_modelo
@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}
@section css{
    <link href="~/Content/fx/pages/mantenedor_hdr.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Scripts/fx/pages/common/funcionesHDR.js"></script>
    <script src="~/Scripts/fx/pages/mantenedor_hdr/controller.js"></script>
    <script type="text/javascript">
        $(function () {
            setTimeout(function () {
                $('.datepicker').datepicker();
            }, 100);
        });
    </script>
}
<div id="content" class="col-lg-10 col-sm-11 " style="padding-left:10px;  padding-right:10px;">


    <div id="pop-up">
    </div>
    <div id="Basepopup">
        <h3>Información de Punto de Servicio</h3>
        <p>Hora Inicio: /*100*/</p>
        <p>Hora Termino: /*200*/</p>
        <p>Punto: /*300*/</p>
        <p>Estado: /*400*/</p>
    </div>
    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"RutasModelo",Url.RouteUrl(new {Controller="RutasModelo",Action="Index"})},
                            {"Agregar Ruta Modelo",Url.RouteUrl(new {Controller="RutasModelo",Action="Create"})}
                            })

            <div class="col-lg-9" style="padding-left:2px; padding-right:2px;">
                <div class="box ">
                    <div data-original-title="" class="box-header">
                        <!--<h2><i class="icon-user"></i><span class="break"></span>HDR</h2>-->
                        <div class="input-group date col-sm-12" style="margin-top:2px;margin-bottom:2px">

                            <span class="input-group-addon"><i class="icon-calendar"></i></span>
                            <input id="fecha" type="text" data-date-format="dd/mm/yyyy" class="form-control datepicker" style="width:140px;" placeholder=" Fecha">

                            <select class="form-control" id="selectError3" style="width:135px;margin-left:10px;">
                                <option value=0>Tipo Servicio</option>
                                <option value=1>Front Loader</option>
                                <option value=2>Hook</option>
                                <option value=3>Recolector</option>
                            </select>
                            <input id="buscarID" type="text" class="form-control idRuta" readonly style="margin:0px 10px 0px 10px; width:60px;" placeholder="ID">
                            <input type="text" id="txt_camion" class="form-control getCamion" style="width:80px;margin-left:0px" placeholder="camion">
                            <input type="text" id="txt_conductor" class="form-control getConductor" style="width:100px;margin-left:10px" placeholder="conductor">
                            <div id="Rutas" class="btn btn-lg btn-primary GrabarFila" style="height:36px;margin-left:10px">Grabar</div>
                            <div class="btn btn-lg " id="print" style="height:36px;margin-left:0px;display:none;width:80px;font-size:15px">Imprimir</div>
                            <!-- <div id="resetAll" class="btn btn-lg btn-danger " style="height:36px;margin-left:0px;width:30px;padding:0px;padding-top:7px"><i class="icon-remove"></i></div>-->

                        </div>

                    </div>

                    <div class="box-content" style="height:550px;overflow:scroll;">
                        <table id="Rutas" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="width:5%">Hora</th>
                                    <th>Seleccion</th>
                                </tr>
                            </thead>

                            <tbody></tbody>
                        </table>
                    </div>
                </div>



                <div class="col-lg-12" hidden>
                    <div class="box">
                        <div class="box-header">
                            <h2><i class="icon-th"></i><span class="break"></span>Conductores y Camiones</h2>
                            <input id="txtBuscar" type="text" class="form-control" placeholder="Buscar" style="width:120px;margin-left:80px;display:inline-block;height:38px;" />
                            <ul id="myTab" class="nav tab-menu nav-tabs">
                                <li id="pestanacamiones" class="active"><a class="pestana" href="ui-elements.html#info">Camiones</a></li>
                                <li class=""><a class="pestana" href="ui-elements.html#custom">Conductores</a></li>
                            </ul>
                        </div>
                        <div class="box-content">

                            <div class="tab-content" id="myTabContent">
                                <div id="info" class="tab-pane active">
                                    <p>
                                        <table id="tblCamiones" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th># Interno</th>
                                                    <th>Patente</th>
                                                    <th>Camion</th>
                                                    <th>Estado</th>
                                                    <th>Agregar</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                @{
                                                    int count = 0;
                                                }
                                                @foreach (var camiones in ViewData["camiones"] as List<SGS.Models.camiones>)
                                                {
                                                    count += 1;
                                                <tr class="filaCamion">
                                                    <td>@camiones.num_interno</td>
                                                    <td id="Patente_@count">@camiones.patente</td>
                                                    <td>@camiones.camion</td>
                                                    <td>@camiones.estado<input id="Camion_@count" type="hidden" value="@camiones.id_camion" /></td>
                                                    <td><img id="@count" class="camiondrag" src="~/ico/camion.png" /></td>
                                                </tr>
                                                }
                                            </tbody>


                                        </table>
                                    </p>
                                </div>
                                <div id="custom" class="tab-pane">
                                    <p>
                                        <table id="tblConductores" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Rut</th>
                                                    <th>Nombre</th>
                                                    <th>Agregar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    count = 0;
                                                }
                                                @foreach (var conductores in ViewData["conductores"] as List<SGS.Models.conductores>)
                                                {
                                                    count += 1;
                                                <tr class="filaConductor">
                                                    <td id="Rut_@count">@conductores.rut_conductor<input id="idconductor_@count" type="hidden" value="@conductores.id_conductor" /></td>
                                                    <td id="Conductor_@count">@conductores.nombre_conductor</td>
                                                    <td><img id="imgconductor_@count" class="conductordrag" src="~/ico/conductor.png" /></td>
                                                </tr>

                                                }
                                            </tbody>
                                        </table>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>

            <div class="col-lg-3">
                <div class="box">
                    <div class="box-header">
                        <h2><i class="icon-list"></i>Camiones</h2>
                        <div class="box-icon">
                            <a class="btn-minimize" href="widgets.html#"><i class="icon-chevron-up"></i></a>
                            <a class="btn-close" href="widgets.html#"><i class="icon-remove"></i></a>
                        </div>
                    </div>
                    <div class="box-content" style="display:none;">
                        <div style="height:50px;"><input id="filtrocamiones" class="form-control" type="text" /></div>
                        <div class="todo">
                            <ul id="RutasModelo" class="todo-list ui-sortable">
                                @{
                                    int count2 = 0;
                                }
                                @foreach (var camiones in ViewData["camiones"] as List<SGS.Models.camiones>)
                                {
                                    count2 += 1;
                                    <li class="licamiones" id="@camiones.id_camion" style="padding:10px 10px 10px 10px;">
                                        @if (@camiones.estado == "Operativo")
                                        {
                                            <div class="ruta" id="@count2" style="float:left;margin-top:-3px;"><img src="~/ico/camion.png" style="width:25px;height:25px;" /></div>
                                        }
                                        else
                                        {
                                            <div class="ruta" id="@count2" style="float:left;margin-top:-3px;"><img src="~/ico/red.jpg" style="width:25px;height:25px;" /></div>
                                        }
                                        <span class="desc nomruta" style="margin-left:20px;">@camiones.patente @camiones.camion</span>

                                    </li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <div class="box-header">
                        <h2><i class="icon-list"></i>Conductores</h2>
                        <div class="box-icon">
                            <a class="btn-minimize" href="widgets.html#"><i class="icon-chevron-up"></i></a>
                            <a class="btn-close" href="widgets.html#"><i class="icon-remove"></i></a>
                        </div>
                    </div>
                    <div class="box-content" style="display:none;">
                        <div style="height:50px;"><input id="filtroconductores" class="form-control" type="text" /></div>
                        <div class="todo">
                            <ul id="RutasModelo" class="todo-list ui-sortable">
                                @{
                                    count = 0;
                                }
                                @foreach (var conductores in ViewData["conductores"] as List<SGS.Models.conductores>)
                                {
                                    count += 1;
                                    <li class="liconductores" id="idconductor_@count" style="padding:10px 10px 10px 10px;">
                                        @if (@conductores.estado == "Activo")
                                        {
                                            <div class="ruta" id="idconductor_@count" style="float:left;margin-top:-3px;"><img src="~/ico/conductor.png" style="width:25px;height:25px;" /></div>
                                        }
                                        else
                                        {
                                            <div class="ruta" id="idconductor_@count" style="float:left;margin-top:-3px;"><img src="~/ico/Red.jpg" style="width:25px;height:25px;" /></div>
                                        }
                                        <span class="desc nomruta" style="margin-left:20px;">@conductores.rut_conductor @conductores.nombre_conductor</span>

                                    </li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <div class="box-header">
                        <h2><i class="icon-list"></i>Ruta Modelo</h2>
                        <div class="box-icon">
                            <a class="btn-minimize" href="widgets.html#"><i class="icon-chevron-up"></i></a>
                            <a class="btn-close" href="widgets.html#"><i class="icon-remove"></i></a>
                        </div>
                    </div>
                    <div class="box-content" style="display:none">
                        <div style="height:50px;"><input id="filtrorutasmodelo" class="form-control" type="text" /></div>
                        <div class="todo">
                            <ul id="filaCamion" class="todo-list ui-sortable">
                                @foreach (var rutas in ViewData["rutasmodelo"] as List<SGS.Models.ruta_modelo>)
                                {
                                    <li class="lirutas dia_@rutas.dia_ruta tiposerv_@rutas.id_tipo_servicio" id="rutamodelo_@rutas.id_ruta" style="padding:10px 10px 10px 10px;">
                                        @if (@rutas.estado == "1")
                                        {
                                            <div class="ruta" id="ruta_@rutas.id_ruta" style="float:left;margin-top:-3px;"><img src="~/ico/rutagreen.jpg" /></div>
                                        }
                                        else
                                        {
                                            <div class="ruta" id="ruta_@rutas.id_ruta" style="float:left;margin-top:-3px;"><img src="~/ico/rutared.jpg" /></div>
                                        }
                                        <span class="desc nomruta" style="margin-left:20px;">@rutas.nombre_ruta</span>
                                    </li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>



                <div class="box">
                    <div class="box-header">
                        <h2><i class="icon-list"></i>Servicios</h2>
                        <div class="box-icon">
                            <a class="btn-minimize" href="widgets.html#"><i class="icon-chevron-up"></i></a>
                            <i class="icon-remove"></i>
                        </div>
                    </div>
                    <div class="box-content">
                        <div style="height:50px;"><input id="filtroserviciotodos" class="form-control" type="text" /></div>
                        <div class="todo">
                            <ul id="ServiciosTodos" class="todo-list"></ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>




<div id="wrapper-ajax-details" class="col-lg-11" style="display:none;width:400px;">

</div>

<div id="wrapper-tabla-horas" class="col-lg-11" style="display:none">
    <table id="tabla-horas">
        <tr>
            <td><a class="btn btn-info" style="padding-right:10px;padding-left:10px">6</a></td>
            <td id="c_1" class="ui-droppable getPuntos"></td>
        </tr>
        <tr>
            <td><a class="btn btn-info" style="padding-right:10px;padding-left:10px">7</a></td>
            <td id="c_2" class="ui-droppable getPuntos"></td>
        </tr>
        <tr>
            <td><a class="btn btn-info" style="padding-right:10px;padding-left:10px">8</a></td>
            <td id="c_3" class="ui-droppable getPuntos"></td>
        </tr>
        <tr>
            <td><a class="btn btn-info" style="padding-right:10px;padding-left:10px">9</a></td>
            <td id="c_4" class="ui-droppable getPuntos"></td>
        </tr>
        <tr>
            <td><a class="btn btn-info" style="padding-right:10px;padding-left:10px">10</a></td>
            <td id="c_5" class="ui-droppable getPuntos"></td>
        </tr>
        <tr>
            <td><a class="btn btn-info" style="padding-right:10px;padding-left:10px">11</a></td>
            <td id="c_6" class="ui-droppable getPuntos"></td>
        </tr>
        <tr>
            <td><a class="btn btn-info" style="padding-right:10px;padding-left:10px">12</a></td>
            <td id="c_7" class="ui-droppable getPuntos"></td>
        </tr>
        <tr>
            <td><a class="btn btn-info" style="padding-right:10px;padding-left:10px">13</a></td>
            <td id="c_8" class="ui-droppable getPuntos"></td>
        </tr>
        <tr>
            <td><a class="btn btn-info" style="padding-right:10px;padding-left:10px">14</a></td>
            <td id="c_9" class="ui-droppable getPuntos"></td>
        </tr>
        <tr>
            <td><a class="btn btn-info" style="padding-right:10px;padding-left:10px">15</a></td>
            <td id="c_10" class="ui-droppable getPuntos"></td>
        </tr>
        <tr>
            <td><a class="btn btn-info" style="padding-right:10px;padding-left:10px">16</a></td>
            <td id="c_11" class="ui-droppable getPuntos"></td>
        </tr>
        <tr>
            <td><a class="btn btn-info" style="padding-right:10px;padding-left:10px">17</a></td>
            <td id="c_12" class="ui-droppable getPuntos"></td>
        </tr>
    </table>

    <div id="wwwrapper" class="box col-lg-10" style="display:none;">
        <div class=" box col-lg-10" style="width:700px;" id="wrapper-ajax-puntos">
            <div class="box-header" data-original-title="">
                <h2><i class="icon-camera"></i><span class="break"></span>Puntos de la ruta</h2>
            </div>
            <div class="box-content" style="height:200px">
                <table class="table table-bordered table-hover table-striped">
                    <tbody>
                        <tr style="color:#67c2ef !important;">
                            <td>ID Punto</td>
                            <td>Nombre Punto Servicio</td>
                            <td>Eliminar</td>
                        </tr>
                        <!-- <tr>
                            <td>68</td>
                            <td>La Invernada CFL 4.6 M3</td>
                            <td><a class="btn btn-danger eliminar" id="45"><span>Eliminar</span></a></td>
                        </tr>-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<input id="conductorx" type="hidden" />
<input id="camionx" type="hidden" />


