﻿.required {
    color: #ff0000;
}

/* JQUERY VALIDATION OVERRIDES */
.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.input-validation-error {
    background-color: #ffeaea !important;
    border: 1px solid #ff9b9b !important;
}

.validation-bubbleInfo {
    margin-top: 0px;
    margin-left: 5px;
    position: absolute;
    min-width: 100px;
    max-width: 220px;
    border: solid 1px white;
    background-color: red;
    color: White;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#ca0000) );
    padding: 6px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: 4px 4px 4px #888;
    -webkit-box-shadow: 4px 4px 4px #888;
    box-shadow: 4px 4px 4px #888;
    line-height: normal;	
    z-index: 999999;
}