﻿.ico24
{
    padding-left:24px;
    background-position:3px 2px;
    background-repeat:no-repeat;
    background-color:transparent;
    padding-bottom: 24px;    
}

.ico20
{
    padding-left:20px;
    background-position:0px 0px;
    background-repeat:no-repeat;
    background-color:transparent;
    padding-bottom: 20px;    
}

.ico16
{
    padding-left:16px !important;
    background-position:0px 0px;
    background-repeat:no-repeat;
    background-color:transparent;
    min-height:16px;
    
}

/* 16 x 16 */
.ico-16x-info { background-image: url(img/icons16x16/information.png); }
.ico-16x-find { background-image: url(img/icons16x16/find.png); }
.ico-16x-pdf { background-image: url(img/icons16x16/pdf.png); }

/* 20 x 20 */
.ico-20x-modify { background-image: url(img/icons20x20/Modify.png); }
.ico-20x-modify-disable { background-image: url(img/icons20x20/Modify-disable.png); }
.ico-20x-ok-circle { background-image: url(img/icons20x20/OK.png); }
.ico-20x-forward { background-image: url(img/icons20x20/Forward.png); }
.ico-20x-save { background-image: url(img/icons20x20/save.png); }
.ico-20x-delete { background-image: url(img/icons20x20/delete.png); }
.ico-20x-loading { background-image: url(img/ajax-loader.gif); background-position:0px 5px; }
.ico-20x-find { background-image: url(img/icons20x20/find.png); }
.ico-20x-chart { background-image: url(img/icons20x20/chart.png); }

/* 24 x 24 */
.ico-24x-about { background-image: url(img/icons24x24/About.png); }
.ico-24x-find { background-image: url(img/icons24x24/Find.png); }

