﻿@*
    Empresa: valentys
    Fecha : 08-07-2015
    Descripción: lista con el historial de reajustes.
*@
@model List<SGS.Models.SP_SEL_ListaServicio_Result>

@if (Model.Count > 0)
{
    <div style="margin-left:10px;margin-right:10px;">
        <h3 style="font-weight: bold;">Historial de Reajustes.</h3>

        <table class="table table-striped table-bordered bootstrap-datatable datatable">
            <thead role="row" class="tab-header">
                <tr>
                    <th style="width:auto" class="sorting_asc" role="columnheader">Fecha</th>
                    <th style="width:auto" class="sorting">Folio</th>
                    <th style="width:auto" class="sorting">Servicio</th>
                    <th style="width:auto" class="sorting">Conductor</th>
                    <th style="width:auto" class="sorting">Patente</th>
                    <th style="width:auto" class="sorting">Tipo contenedor</th>
                    <th style="width:auto" class="sorting">Nivel Llenado</th>
                    <th style="width:auto" class="sorting">Volumen</th>
                    <th style="width:auto" class="sorting">Residuo</th>
                    <th style="width:auto" class="sorting">Origen</th>
                    <th style="width:auto" class="sorting">Destino</th>
                    <th style="width:auto" class="sorting">Tipo Pesaje</th>
                    <th style="width:auto" class="sorting">Peso</th>
                    <th style="width:auto" class="sorting">Densidad</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model)
                {
                    <tr>
                        <td>@Convert.ToDateTime(m.fecha).ToString("dd-MM-yyyy")</td>
                        <td>@m.folio</td>
                        <td>@m.servicio</td>
                        <td>@m.conductor</td>
                        <td>@m.patente</td>
                        <td>@m.tipoContenedor</td>
                        <td>@m.nivelLlenado</td>
                        <td>@m.volumen</td>
                        <td>@m.residuo</td>
                        <td>@m.origen</td>
                        <td>@m.destino</td>
                        <td>@m.tipoPesaje</td>
                        <td>@m.pesajeDirecto</td>
                        <td>@m.densidad</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <text>No se encontraron resultados</text>
}