﻿@*
    Descripción: contenedor principal de Exportación de Certificados
*@

@{
    string token = Guid.NewGuid().ToString();
}
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script type="text/javascript">
        $(function() {
            var vista = $("#@token");

            $('.datepicker').datepicker();

            var paginar = (function() {
                vista.find('.datatable')
                    .dataTable({
                        "sDom": "<'row'<'col-lg-6'l><'col-lg-6'f>r>t<'row'<'col-lg-12'i><'col-lg-12 center'p>>",
                        "sPaginationType": "bootstrap",
                        "oLanguage": {
                            "sLengthMenu": "_MENU_ Registros por pagina"
                        }
                    });
            });

            paginar();

            vista.find('a[data-action="exportar"]:first')
                .click(function() {

                    var fecha = vista.find('#fecha');
                    var fechaFin = vista.find('#fechaFin');
                    var sucursal = vista.find('#id_sucursal');
                    var vertedero = vista.find('#id_vertedero');
                    var puntoServicio = vista.find('#id_punto_servicio');
                    if (Fwk.Validation.Validate('Ingreso')) {
                        window.location.href = "@Url.Action("Generar", "Certificados")" +
                            "?&fecha=" +
                            fecha.val() +
                            "&fechaFin=" +
                            fechaFin.val() +
                            "&sucursal=" +
                            sucursal.val() +
                            "&vertedero=" +
                            vertedero.val() +
                            "&puntoServicio=" +
                            puntoServicio.val();
                    }
                });

            $("#id_sucursal")
                .change(function() {
                    var idSucursal = $("#id_sucursal").val();
                    console.log("Id sucursal cambiada" + idSucursal);

                    getPuntoServicioBySucursal(idSucursal);
                });

            function getPuntoServicioBySucursal(idSucursal) {
                $.ajax({
                    url: "/Certificados/GetPuntoServicioPorSucursal",
                    data: {
                        idSucursal: idSucursal
                    },
                    type: "POST",
                    cache: false,
                    success: function(retorno) {
                        console.log(retorno);
                        $("#id_punto_servicio").html("<option value=''>Todos</option>");
                        $.each(retorno,
                            function(index, value) {
                                $("#id_punto_servicio")
                                    .append("<option value='" +
                                        value.id_punto_servicio +
                                        "'>" +
                                        value.nombre_punto +
                                        "</option>");
                            });
                    }
                });
            }

            var idSucursal = vista.find('#id_sucursal');
            getPuntoServicioBySucursal(idSucursal);
        });
    </script>
}

<div id="content" class="col-lg-12 col-sm-11  ">
    <div id="@token">
        <div class="row">
            <div class="col-lg-12 col-md-9">
                @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Certificados de Disposición",Url.RouteUrl(new {Controller="Certificados",Action="index"})}
                            })

                <div class="box">
                    <div class="row" style="margin-bottom: 13px;">
                        <div>
                            <label class="control-label pull-left label-see">Fecha Inicial</label>
                            <div class="input-group date col-sm-3" style="width: 200px;">
                                <span class="input-group-addon"><i class="icon-calendar"></i></span>
                                <input id="fecha" type="text" data-date-format="dd/mm/yyyy" class="form-control datepicker" style="width: 210px;" placeholder="Fecha Inicio"
                                       data-val-rules="required" data-val-for="self" data-val-group="Ingreso">
                            </div>
                        </div>

                        <div>
                            <label class="control-label pull-left label-see">Fecha Final</label>
                            <div class="input-group date col-sm-3" style="width:200px;">
                                <span class="input-group-addon"><i class="icon-calendar"></i></span>
                                <input id="fechaFin" type="text" data-date-format="dd/mm/yyyy" class="form-control datepicker" style="width:210px;" placeholder="Fecha Término"
                                       data-val-rules="required" data-val-for="self" data-val-group="Ingreso">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div>
                            <label class="control-label pull-left label-see">Sucursal</label>
                            <div class="input-group col-sm-3">
                                @Html.DropDownList("sucursales", ViewBag.sucursales as IEnumerable<SelectListItem>, "---Seleccione sucursal---",new { @class = "form-control", Id = "id_sucursal" , data_val_rules="required",  data_val_for="self",  data_val_group="Ingreso" })
                            </div>
                        </div>

                        <div>
                            <label class="control-label pull-left label-see">Puntos de servicio</label>
                            <div class="input-group col-sm-3">
                                <div>
                                    @Html.DropDownList("puntosServicio", ViewBag.puntosServicio as IEnumerable<SelectListItem>, "Todos", new { @class = "form-control", @Id = "id_punto_servicio" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div>
                            <label class="control-label pull-left label-see">Vertederos</label>
                            <div class="input-group col-sm-3">
                                @Html.DropDownList("vertederos", ViewBag.vertederos as IEnumerable<SelectListItem>, "---Seleccione vertedero---", new { @class = "form-control", @Id = "id_vertedero" , data_val_rules="required",  data_val_for="self",  data_val_group="Ingreso" })
                            </div>
                        </div>
                    </div>

                    @if (ViewBag.disabled == false)
                    {
                        <a type="button" class="btn btn-lg pull-right btn-success" data-action="exportar" href="#" target="_blank">Generar Certificado</a>
                    }
                    @if (ViewBag.disabled == true)
                    {
                        <button type="button" disabled class="btn btn-success btn-lg" data-action="exportar">Generar Certificado</button>
                    }

                    <div class="box">
                        <div class="box-header" data-original-title>
                            <h2><i class="icon-folder-close"></i><span class="break"></span>Certificado</h2>
                            <a class="btn btn-lg pull-right btn-success hidden" data-action="exportar" href="@Url.RouteUrl(new { Controller = "InformeVentasDetalle", action = "Excel" })">Excel</a>
                        </div>
                        <div class="box-content">
                            @if (ViewBag.Message != null)
                            {
                                <span>@ViewBag.Message</span>
                            }
                        </div>
                    </div>
                    <!--/col-->
                </div>
            </div><!--/row-->
        </div>
    </div>
</div>