﻿
/* WIDTH*/
.w1{ width:1%; }
.w2{ width:2%; }
.w3{ width:3%; }
.w4{ width:4%; }
.w5{ width:5%; }
.w6{ width:6%; }
.w7{ width:7%; }
.w8{ width:8%; }
.w9{ width:9%; }
.w10{ width:10%; }
.w11{ width:11%; }
.w12{ width:12%; }
.w13{ width:13%; }
.w14{ width:14%; }
.w15{ width:15%; }
.w16{ width:16%; }
.w17{ width:17%; }
.w18{ width:18%; }
.w19{ width:19%; }
.w20{ width:20%; }
.w21{ width:21%; }
.w22{ width:22%; }
.w23{ width:23%; }
.w24{ width:24%; }
.w25{ width:25%; }
.w26{ width:26%; }
.w27{ width:27%; }
.w28{ width:28%; }
.w29{ width:29%; }
.w30{ width:30%; }
.w31{ width:31%; }
.w32{ width:32%; }
.w33{ width:33%; }
.w34{ width:34%; }
.w35{ width:35%; }
.w36{ width:36%; }
.w37{ width:37%; }
.w38{ width:38%; }
.w39{ width:39%; }
.w40{ width:40%; }
.w41{ width:41%; }
.w42{ width:42%; }
.w43{ width:43%; }
.w44{ width:44%; }
.w45{ width:45%; }
.w46{ width:46%; }
.w47{ width:47%; }
.w48{ width:48%; }
.w49{ width:49%; }
.w50{ width:50%; }
.w51{ width:51%; }
.w52{ width:52%; }
.w53{ width:53%; }
.w54{ width:54%; }
.w55{ width:55%; }
.w56{ width:56%; }
.w57{ width:57%; }
.w58{ width:58%; }
.w59{ width:59%; }
.w60{ width:60%; }
.w61{ width:61%; }
.w62{ width:62%; }
.w63{ width:63%; }
.w64{ width:64%; }
.w65{ width:65%; }
.w66{ width:66%; }
.w67{ width:67%; }
.w68{ width:68%; }
.w69{ width:69%; }
.w70{ width:70%; }
.w71{ width:71%; }
.w72{ width:72%; }
.w73{ width:73%; }
.w74{ width:74%; }
.w75{ width:75%; }
.w76{ width:76%; }
.w77{ width:77%; }
.w78{ width:78%; }
.w79{ width:79%; }
.w80{ width:80%; }
.w81{ width:81%; }
.w82{ width:82%; }
.w83{ width:83%; }
.w84{ width:84%; }
.w85{ width:85%; }
.w86{ width:86%; }
.w87{ width:87%; }
.w88{ width:88%; }
.w89{ width:89%; }
.w90{ width:90%; }
.w91{ width:91%; }
.w92{ width:92%; }
.w93{ width:93%; }
.w94{ width:94%; }
.w95{ width:95%; }
.w96{ width:96%; }
.w97{ width:97%; }
.w98{ width:98%; }
.w99{ width:99%; }
.w100{ width:100%; }

.w1px{ width:1px; }
.w2px{ width:2px; }
.w3px{ width:3px; }
.w4px{ width:4px; }
.w5px{ width:5px; }
.w6px{ width:6px; }
.w7px{ width:7px; }
.w8px{ width:8px; }
.w9px{ width:9px; }
.w10px{ width:10px; }
.w11px{ width:11px; }
.w12px{ width:12px; }
.w13px{ width:13px; }
.w14px{ width:14px; }
.w15px{ width:15px; }
.w16px{ width:16px; }
.w17px{ width:17px; }
.w18px{ width:18px; }
.w19px{ width:19px; }
.w20px{ width:20px; }
.w21px{ width:21px; }
.w22px{ width:22px; }
.w23px{ width:23px; }
.w24px{ width:24px; }
.w25px{ width:25px; }
.w26px{ width:26px; }
.w27px{ width:27px; }
.w28px{ width:28px; }
.w29px{ width:29px; }
.w30px{ width:30px; }
.w31px{ width:31px; }
.w32px{ width:32px; }
.w33px{ width:33px; }
.w34px{ width:34px; }
.w35px{ width:35px; }
.w36px{ width:36px; }
.w37px{ width:37px; }
.w38px{ width:38px; }
.w39px{ width:39px; }
.w40px{ width:40px; }
.w41px{ width:41px; }
.w42px{ width:42px; }
.w43px{ width:43px; }
.w44px{ width:44px; }
.w45px{ width:45px; }
.w46px{ width:46px; }
.w47px{ width:47px; }
.w48px{ width:48px; }
.w49px{ width:49px; }
.w50px{ width:50px; }
.w51px{ width:51px; }
.w52px{ width:52px; }
.w53px{ width:53px; }
.w54px{ width:54px; }
.w55px{ width:55px; }
.w56px{ width:56px; }
.w57px{ width:57px; }
.w58px{ width:58px; }
.w59px{ width:59px; }
.w60px{ width:60px; }
.w61px{ width:61px; }
.w62px{ width:62px; }
.w63px{ width:63px; }
.w64px{ width:64px; }
.w65px{ width:65px; }
.w66px{ width:66px; }
.w67px{ width:67px; }
.w68px{ width:68px; }
.w69px{ width:69px; }
.w70px{ width:70px; }
.w71px{ width:71px; }
.w72px{ width:72px; }
.w73px{ width:73px; }
.w74px{ width:74px; }
.w75px{ width:75px; }
.w76px{ width:76px; }
.w77px{ width:77px; }
.w78px{ width:78px; }
.w79px{ width:79px; }
.w80px{ width:80px; }
.w81px{ width:81px; }
.w82px{ width:82px; }
.w83px{ width:83px; }
.w84px{ width:84px; }
.w85px{ width:85px; }
.w86px{ width:86px; }
.w87px{ width:87px; }
.w88px{ width:88px; }
.w89px{ width:89px; }
.w90px{ width:90px; }
.w91px{ width:91px; }
.w92px{ width:92px; }
.w93px{ width:93px; }
.w94px{ width:94px; }
.w95px{ width:95px; }
.w96px{ width:96px; }
.w97px{ width:97px; }
.w98px{ width:98px; }
.w99px{ width:99px; }
.w100px{ width:100px; }

.w107{ width: 107px;}
.w110{ width: 110px;}
.w118{ width: 118px;}
.w115{ width: 115px;}
.w120{ width: 120px;}
.w127{ width: 127px;}
.w130{ width: 130px;}
.w140{ width: 140px;}
.w144{ width: 144px;}
.w150{ width: 150px;}
.w154{ width: 154px;}
.w156{ width: 156px;}
.w160{ width: 160px;}
.w170{ width: 170px;}
.w180{ width: 180px;}
.w200{ width:200px;}
.w215{ width:215px;}
.w220{ width:220px;}
.w221{ width:221px;}
.w240{ width:240px;}
.w250{ width:250px;}
.w260{ width:260px;}
.w270{ width:270px;}
.w280{ width:280px;}
.w290{ width:290px;}
.w300{ width:300px;}
.w330{ width:330px;}
.w370{ width:370px;}
.w400{ width:400px;}
.w410{ width:410px;}
.w490{ width:490px;}
.w530{ width:530px;}
.w570{ width:570px;}
.w620{ width:620px;}
.w670{ width:670px;}
.w700{ width:700px;}
.w720{ width:720px;}
.w730{ width:730px;}

/* HEIGHT*/
.h70{  height:70%;}
.h80{  height:80%;}
.h90{  height:90%;}
.h100{  height:100%;}
.h10px{  height:10px;}
.h15px{  height:15px;}
.h20px{  height:20px;}
.h30px{  height:30px;}
.h40px{  height:40px;}
.h45px{  height:45px;}
.h50px{  height:50px;}
.h70px{  height:70px;}
.h80px{  height:80px;}
.h120px{  height:120px;}
.h150px{  height:150px;}

/* MARGIN TOP'S */
.m0{ margin:0px !important;}
.m5{ margin:5px !important;}
.m10{ margin:10px !important;}
.m15{ margin:15px !important;}
.m0auto{ margin:0 auto;}
.mTop5{margin-top:5px;}
.mTop10{margin-top:10px;}
.mTop15{margin-top:15px;}
.mTop30{margin-top:30px;}
.mBot13{margin-bottom:13px;}
.mBot0{margin-bottom:0px !important;}
.mBot8{margin-bottom:8px !important;}
.mLft2{margin-left:2px;}
.mLft18{margin-left:18px;}
.mLft25{margin-left:25px;}
.mLft15{margin-left:15px;}
.mLft95{margin-left:95px;}
.mRig10{ margin-right:10px;}
.mRig20{ margin-right:20px;}
.mRig30{ margin-right:30px;}

.mRig10p{ margin-right:10%;}
.mLft10p{ margin-left:10%;}

/* FLOAT's */
.fRight{float:right;}
.fLeft{float:left;}


/* BACKGROUND's COLOR */
.bgCe2e2e2{background-color: #e2e2e2;}
.bgfffca5 {background-color: #fffca5 !important;}
.bgebebeb {background-color: #ebebeb !important;}
.bgred {background-color: #f00 !important;}

.nowrap { white-space:nowrap}

/* COLOR */
.cfff{color:#fff;}
.c000{color:#000;}
.c333{color:#333;}
.cSkyBlue{ color:#3282EF;}
.cGreen{ color:#31A78D;}
.cGreenLg{ color:#509B14;}
.cRed{ color:#f00;}
.c5a5a5a{ color:#5a5a5a;}

/* PADDING's */
.p0{padding: 0px !important;}
.p1{padding: 1px !important;}
.p2{padding: 2px !important;}
.p3{padding: 3px !important;}
.p4{padding: 4px !important;}
.p5{padding: 5px;}
.p10{padding: 10px;}
.p12{padding: 12px;}
.p15{padding: 15px;}
.pTop2{padding-top: 2px;}
.pTop3{padding-top: 3px;}
.pTop4{padding-top: 4px;}
.pTop5{padding-top: 5px;}
.pTop6{padding-top: 6px;}
.pTop7{padding-top: 7px;}
.pTop8{padding-top: 8px;}
.pTop9{padding-top: 9px;}
.pTop10{padding-top: 10px;}
.pTop15{padding-top: 15px;}
.pTop20{padding-top: 20px;}
.pTop30{padding-top: 30px;}
.pTop40{padding-top: 40px;}
.pTop60{padding-top: 60px;}
.pTop70{padding-top: 70px;}
.pTop80{padding-top: 80px;}
.pTop100{padding-top: 100px;}
.pTop120{padding-top: 120px;}
.pTop140{padding-top: 140px;}
.pTop160{padding-top: 160px;}
.pTop180{padding-top: 180px;}
.pTop200{padding-top: 200px;}
.pLft3{padding-left: 3px;}
.pLft4{padding-left: 4px;}
.pLft5{padding-left: 5px;}
.pLft10{padding-left: 10px;}
.pLft20{padding-left: 20px;}
.pLft30{padding-left: 30px;}
.pLft40{padding-left: 40px;}
.pLft60{padding-left: 60px;}
.pLft80{padding-left: 80px;}
.pRig5{padding-right: 5px;}
.pRig10{padding-right: 10px;}
.pRig15{padding-right: 15px;}
.pRig20{padding-right: 20px;}
.pRig30{padding-right: 30px;}
.pRig40{padding-right: 40px;}
.pRig50{padding-right: 50px;}
.pRig60{padding-right: 60px;}
.pRig80{padding-right: 80px;}
.pRig100{padding-right: 100px;}
.pBottom5{padding-bottom: 5px;}
.pBottom10{padding-bottom: 10px;}
.pBottom20{padding-bottom: 20px;}
.pBottom30{padding-bottom: 30px;}

/* FONT STYLE */
.fntCursive{ font-style: italic;}
.fntBold{font-weight: bold;}
.fntNormal{font-weight:normal;}

/* FONT SIZE */
.fntsize18{font-size: 18px;}
.fntsize16{font-size: 16px;}
.fntsize15{font-size: 15px;}
.fntsize14{font-size: 14px;}
.fntsize12{font-size: 12px !important;}
.fntsize10{font-size: 10px;}

/* FONT NAME */
.fontArial{font-family:Arial;}

/* TEXT ALIGNS */
.algRight{text-align: right !important;}
.algLeft,.algleft{text-align: left !important;}
.algCenter{text-align: center !important;}
.algMiddle{vertical-align: middle !important;}
.algTop{vertical-align: top !important;}
.algBottom{vertical-align: bottom !important;}

/* DISPLAY */
.inline{ display:inline;}
.block{ display:block;}
.hidden{ display:none;}
.clear{clear:both;}

/* POSITION */
pAbsolute { position:absolute;}
pRelative { position:relative;}
pFixed { position:fixed;}
pStatic { position:static;}


/* CURSOR'S */
.curHand{cursor: pointer;}
.curWait{cursor: progress;}
.curDefault{cursor: default;}


/* BORDER RADIUS */
.border4{ -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
.border8{ -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;}
.border15{ -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px;}

.borderRight5{  -webkit-border-top-right-radius: 5px; -moz-border-radius-topright: 5px; border-top-right-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; border-bottom-right-radius: 5px;}
.borderLeft5{  -webkit-border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; border-top-left-radius: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; border-bottom-left-radius: 5px;}
.borderTop5{  border-top-left-radius: 5px;border-top-right-radius: 5px;-moz-border-radius-topleft: 5px;-moz-border-radius-topright: 5px;}

.borderTop15{  border-top-left-radius: 15px;border-top-right-radius: 15px;-moz-border-radius-topleft: 15px;-moz-border-radius-topright: 15px;}
.borderBottom15{  border-bottom-left-radius: 15px;border-bottom-right-radius: 15px;-moz-border-radius-bottomleft: 15px;-moz-border-radius-bottomright: 15px;}

@-webkit-keyframes rotate {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}
.girar{
	-webkit-animation-name: rotate; 
	 -webkit-animation-duration: 1.5s; 
	 -webkit-animation-iteration-count: infinite;
	 -webkit-animation-timing-function: linear;
}

