﻿@model SGS.Models.Zona
@{
    ViewBag.Title = "Ingresar";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

<div id="content" class="col-lg-10 col-sm-11 ">

    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Zona",Url.RouteUrl(new {Controller="Zona",Action="Index"})},
                            {"Agregar Zona",Url.RouteUrl(new {Controller="Zona",Action="Create"})}
                            })
            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="icon-plus-sign"></i><span class="break"></span>Agregar Zona</h2>
                    <a href="@Url.RouteUrl(new { Controller = "Zona", Action = "Index" })" class="btn btn-primary pull-right btn-lg">Volver al listado</a>
                </div>

                <div class="box-content">

                    @using (Html.BeginForm("Create", "Zona"))
                    {
                        <fieldset class="col-sm-12">
                            <div class="form-group">
                                @if (Model != null && Model.id_zona != 0)
                                {
                                    @Html.HiddenFor(m => m.id_zona)
                                }
                                <label class="control-label pull-left label-see">Nombre Zona</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.nombre_zona, new { @class = "form-control pull-right" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.nombre_zona)</label>
                            </div>
                            <div class="clearfix"></div>

                           
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
                            </div>
                        </fieldset>
                    }

                </div>
            </div>
        </div>

    </div>


</div>
