﻿@{

    var lista = Session["credenciales"] as List<string>;
    var modulos = Session["modulos"] as List<string>;
    var repo = 6;

}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Genius Dashboard - Bootstrap Admin Template." />
    <meta name="author" content="Åukasz Holeczek" />
    <meta name="keyword" content="Genius, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Resiter S.A</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/retina.min.css" rel="stylesheet" />
    <link href="~/Content/print.css" rel="stylesheet" type="text/css" media="print" />
    <link href="~/Content/jquery-ui-1.10.3.custom.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/custom.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/alertify.core.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/alertify.default.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/shadowbox.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/jquery.alerts.css" rel="stylesheet" type="text/css" />



    @RenderSection("css", false)

    <script src="~/Scripts/jquery.2.1.js"></script>
    <script src="~/Scripts/fx/List.js"></script>

    <script src="~/Scripts/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
    <script src="/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @Scripts.Render("~/Javacripts/Valentys.Framework")
    @Styles.Render("~/Javacripts/Valentys.Framework.css")
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/custom.min.js"></script>
    <script src="~/Scripts/core.min.js"></script>
    <script src="~/Scripts/alertify.js"></script>
    <script src="~/Scripts/jquery.gritter.min.js"></script>
    <script src="~/Scripts/jquery.noty.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/shadowbox.js"></script>
    @RenderSection("scripts", false)
    <script type="text/javascript">
        Shadowbox.init();
        $(".datepicker").datepicker();
    </script>

</head>
<body>
    <header class="navbar">

        <div class="container">
            <button class=" navbar-toggle" type="button" data-toggle="collapse" data-target=".sidebar-nav.nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="main-menu-toggle" class="hidden-xs open"><i class="icon-reorder"></i></a>
            <a class="navbar-brand col-md-2 col-sm-1 col-xs-2 " href="index-2.html"><span>SGS II <span style="color:red">TEST</span></span></a>


            <div class="nav-no-collapse header-nav">
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown">
                        <a href="index-2.html#" data-toggle="dropdown" class="btn account dropdown-toggle">
                            <div class="avatar"><img alt="Avatar" src="~/images/avatar_resiter.png"></div>
                            <div class="user">
                                <span class="hello">Bienvenido</span>
                                <span class="name">@User.Identity.Name</span>
                            </div>
                        </a>

                    </li>
                </ul>
            </div>

            <div class=" ">
                @if (SGS.Models.repository.UsuariosRepository.getUnidadSeleccionada() != -1)
                {
                    using (Html.BeginForm("changeUnidad", "Usuarios"))
                    {
                        <div class="col-sm-5 col-xs-8 col-lg-4  pull-right " style="margin-top:2px;display:inline-flex">

                            <div style="color:white;font-size:16px;margin-top:5px;margin-right:18px"><i style="font-size:13px" class="label label-default">Unidad</i></div>
                            @Html.DropDownList("unidades", Session["unidades"] as IEnumerable<SelectListItem>, new { @class = "form-control", @style = "position:relative;width:300px" })
                            <input type="submit" class="btn btn-info " style="margin-left:5px;width:100px" value="Cambiar" />


                        </div>
                    }
                }


            </div>

        </div>

    </header>
    <div class="container">
        <div data-name="loading">
            <img class="hidden" src="~/images/Spinner.GIF" />
            <span></span>
        </div>
        <div class="row">
            <div id="sidebar-left" class="col-lg-2 col-sm-1 ">

                <div class="sidebar-nav nav-collapse collapse navbar-collapse">
                    <ul class="nav main-menu">
                        @if (modulos.Contains("Contratos"))
                        {
                            <li>
                                <a href='#' class="dropmenu"><i class="icon-folder-close"></i><span class="hidden-sm text">Contratos</span> <span class="chevron closed"></span></a>
                                <ul>

                                    @if (lista.Contains("Clientes"))
                                    {
                                    <li><a class="submenu" href='@Url.RouteUrl(new { Controller="Clientes",Action="index"})'><i class="icon-coffee"></i><span class="hidden-sm text">Clientes</span></a></li>}
                                    @if (lista.Contains("Sucursales"))
                                    {
                                    <li><a class="submenu" href='@Url.RouteUrl(new { Controller="Sucursales",Action="index"})'><i class="icon-hospital"></i><span class="hidden-sm text">Sucursales</span></a></li>}
                                    @if (lista.Contains("Contratos"))
                                    {
                                    <li><a class="submenu" href='@Url.RouteUrl(new { Controller="Contratos",Action="index"})'><i class="icon-folder-close"></i><span class="hidden-sm text">Contratos</span></a></li>}
                                    @if (lista.Contains("ModeloCobro"))
                                    {
                                    <li><a class="submenu" href='@Url.RouteUrl(new { Controller="ModeloCobros",Action="index"})'><i class="icon-money"></i><span class="hidden-sm text">Modelo de Cobros</span></a></li>}
                                    @if (lista.Contains("PuntosServicio"))
                                    {
                                    <li><a class="submenu" href='@Url.RouteUrl(new { Controller="PuntosServicios",Action="index"})'><i class="icon-pushpin"></i><span class="hidden-sm text">Puntos de Servicios</span></a></li>}
                                </ul>

                            </li>
                        }

                        @if (modulos.Contains("Franquiciados"))
                        {
                            <li>
                                <a class="dropmenu" href="#"><i class="icon-truck"></i><span class="hidden-sm text">Franquiciados</span> <span class="chevron closed"></span></a>
                                <ul>
                                    <!-- <li><a class="submenu" href='@Url.RouteUrl(new { Controller="ContratosTarifas",Action="index"})'><i class="icon-money"></i><span class="hidden-sm text">Contratos y Tarifas</span></a></li>
                                     <li><a class="submenu" href='@Url.RouteUrl(new { Controller="ControlCombustible",Action="index"})'><i class="icon-tint"></i><span class="hidden-sm text">Control  Combustible</span></a></li>
                                     <li><a class="submenu" href='@Url.RouteUrl(new { Controller="Facturas",Action="index"})'><i class="icon-barcode"></i><span class="hidden-sm text">Facturas</span></a></li>-->
                                    @if(lista.Contains("Franquiciados")){
                                    <li><a class="submenu" href='@Url.RouteUrl(new { Controller="Franquiciados",Action="index"})'><i class="icon-truck"></i><span class="hidden-sm text">Franquiciados</span></a></li>}
@if (lista.Contains("Leasing"))
{
    <li><a class="submenu" href='@Url.RouteUrl(new { Controller="Franquiciados",Action="leasing"})'><i class="icon-credit-card"></i><span class="hidden-sm text">Leasing</span></a></li>}

@if (lista.Contains("HistorialPagos"))
{
    <li><a class="submenu" href='@Url.RouteUrl(new { Controller="Franquiciados",Action="franquiciadospagados"})'><i class="icon-spinner"></i><span class="hidden-sm text">Historial Pagos</span></a></li>}
@if (lista.Contains("Descuentos"))
{
    <li><a class="submenu" href='@Url.RouteUrl(new { Controller="Franquiciados",Action="descuentos"})'><i class="icon-tint"></i><span class="hidden-sm text">Descuentos</span></a></li>}
<!--<li><a class="submenu" href='@Url.RouteUrl(new { Controller="Seguros",Action="index"})'><i class="icon-legal"></i><span class="hidden-sm text">Seguros</span></a></li>-->
</ul>
</li>
                        }

                        @if (modulos.Contains("Mantenedores"))
                        {
                            <li>
                                <a class="dropmenu" href="#"><i class="icon-book"></i><span class="hidden-sm text">Mantenedores</span> <span class="chevron closed"></span></a>
                                <ul>
                                    @if (lista.Contains("Camiones"))
                                    {
                                    <li><a class="submenu" href='@Url.RouteUrl(new { Controller="Camiones",Action="index"})'><i class="icon-truck"></i><span class="hidden-sm text">Camiones</span></a></li>}
                                    @if (lista.Contains("CentroResponsabilidad"))
                                    {
                                    <li><a class="submenu" href='@Url.RouteUrl(new { Controller="CentroResponsabilidad",Action="index"})'><i class="icon-truck"></i><span class="hidden-sm text">Centro Responsabilidad</span></a></li> }
                                    @if (lista.Contains("Conductores"))
                                    {
                                    <li><a class="submenu" href='@Url.RouteUrl(new { Controller="Conductores",Action="index"})'><i class="icon-road"></i><span class="hidden-sm text">Conductores</span></a></li>}
                                    @if (lista.Contains("UnidadNegocio"))
                                    {
                                    <li><a class="submenu" href='@Url.RouteUrl(new { Controller="UnidadesNegocio",Action="index"})'><i class="icon-hospital"></i><span class="hidden-sm text">Unidades de Negocio</span></a></li>}

                                    @if (lista.Contains("Comunas"))
                                    {
                                    <li><a class="submenu" href='@Url.RouteUrl(new { Controller="Comunas",Action="index"})'><i class="icon-truck"></i><span class="hidden-sm text">Comunas</span></a></li>}
                                    @if (lista.Contains("Equipos"))
                                    {
                                    <li><a class="submenu" href='@Url.RouteUrl(new { Controller="Equipos",Action="index"})'><i class="icon-asterisk"></i><span class="hidden-sm text">Equipos</span></a></li>}
                                    @if (lista.Contains("Herramientas"))
                                    {
                                    <li><a class="submenu" href='@Url.RouteUrl(new { Controller="Herramientas",Action="index"})'><i class="icon-wrench"></i><span class="hidden-sm text">Herramientas</span></a></li>}
                                    @if (lista.Contains("ModeloCobro"))
                                    {
                                    <li><a class="submenu" href='@Url.RouteUrl(new { Controller="ModeloCobros",Action="index"})'><i class="icon-money"></i><span class="hidden-sm text">Modelo de Cobros</span></a></li>}
                                    @if (lista.Contains("Rellenos"))
                                    {
                                    <li><a class="submenu" href='@Url.RouteUrl(new { Controller="Rellenos",Action="index"})'><i class="icon-remove"></i><span class="hidden-sm text">Rellenos</span></a></li>}
                                    @if (lista.Contains("Residuos"))
                                    {
                                    <li><a class="submenu" href='@Url.RouteUrl(new { Controller="Residuos",Action="index"})'><i class="icon-remove"></i><span class="hidden-sm text">Residuos</span></a></li>}
                                    @if (lista.Contains("Rubros"))
                                    {
                                    <li><a class="submenu" href='@Url.RouteUrl(new { Controller="Rubros",Action="index"})'><i class="icon-truck"></i><span class="hidden-sm text">Rubros</span></a></li>}
                                    @if (lista.Contains("UF"))
                                    {
                                    <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "Mantenedoruf", Action = "index" })'><i class="icon-money"></i><span class="hidden-sm text">UF</span></a></li>}
                                    @if (lista.Contains("ConceptosDescuentos"))
                                    {
                                    <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "MantenedorConceptosDescuentos", Action = "index" })'><i class="fa fa-archive"></i><span class="hidden-sm text">Conceptos descuentos</span></a></li>}
                                    @if (lista.Contains("Tarifas"))
                                    {
                                    <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "TiposTarifas", Action = "index" })'><i class="icon-money"></i><span class="hidden-sm text">Tarifas</span></a></li>}
                                    @if (lista.Contains("ValorPetroleo"))
                                    {
                                    <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "MantenedorPetroleo", Action = "index" })'><i class="fa fa-archive"></i><span class="hidden-sm text">Valor petroleo</span></a></li>}
                                    @if (User.IsInRole("manIndicadores"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "MantenedorIndicadores", Action = "index" })'><i class="icon-money"></i><span class="hidden-sm text">Indicadores</span></a></li>
                                    }


                                    <!--<li><a class="submenu" href='@Url.RouteUrl(new { Controller = "TiposTarifas", Action = "index" })'><i class="icon-truck"></i><span class="hidden-sm text">Tramo Tarifas</span></a></li>-->
                                </ul>
                            </li>
                            }
                            @if (modulos.Contains("Procesos")) {
                            <li>
                                <a class="dropmenu" href="#"><i class="icon-keyboard"></i><span class="hidden-sm text">Procesos</span> <span class="chevron closed"></span></a>
                                <ul>
                                    @if (lista.Contains("ProcesoPagos"))
                                    {
                                    <li><a class="submenu" href='@Url.RouteUrl(new { Controller="Franquiciados",Action="procesos"})'><i class="icon-spinner"></i><span class="hidden-sm text">Procesos de Pagos</span></a></li>}
                                    @if (lista.Contains("ProcesoCobros"))
                                    {
                                    <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "CobroClientes", Action = "index" })'><i class="icon-file"></i><span class="hidden-sm text">Proceso de Cobros</span></a></li>}
                                    @if (User.IsInRole("ProcesoReajuste"))
                                    {
                                        <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "Reajuste", Action = "index" })'><i class="icon-refresh"></i><span class="hidden-sm text">Reajuste</span></a></li>}

                                </ul>
                            </li>
                       }

@if (modulos.Contains("Planificación"))
{
    <li>
        <a class="dropmenu" href="#"><i class="icon-bar-chart"></i><span class="hidden-sm text">Planificacion</span> <span class="chevron closed"></span></a>
        <ul>
            @if (lista.Contains("RutasModelo"))
            {
            <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "RutasModelo", Action = "Create" })'><i class="icon-road"></i><span class="hidden-sm text">Rutas Modelo</span></a></li>}
            @if (lista.Contains("IngresarHDR"))
            {
            <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "IngresarHDR", Action = "create" })'><i class="icon-table"></i><span class="hidden-sm text">Ingresar HDR</span></a></li>}
            @if (lista.Contains("HojasRuta"))
            {
            <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "MantenedorHDR", Action = "create" })'><i class="icon-table"></i><span class="hidden-sm text">Hojas de Ruta</span></a></li>}
            @if (User.IsInRole("GuiaDespacho"))
            {
                <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "GuiaDespacho", Action = "index" })'><i class="icon-bookmark"></i><span class="hidden-sm text">Guia de despacho</span></a></li>}
        </ul>
    </li>

}

@if (modulos.Contains("Reportes"))
{
    <li>
        <a class="dropmenu" href="#"><i class="icon-bar-chart"></i><span class="hidden-sm text">Reportes</span> <span class="chevron closed"></span></a>
        <ul>
            @if (lista.Contains("InformesPuntos"))
            {
            <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "ReportesCostosFranc", Action = "index" })'><i class="icon-calendar-empty"></i><span class="hidden-sm text">Informes Costos</span></a></li>}
            @if (lista.Contains("CostosPuntos"))
            {
            <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "ReportesCostosFranc2", Action = "Index" })'><i class="icon-calendar-empty"></i><span class="hidden-sm text">Costos por Punto</span></a></li>}
            @if (lista.Contains("ServiciosPuntos"))
            {
            <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "ReportesHojaRutaDetalle", Action = "Index" })'><i class="icon-calendar-empty"></i><span class="hidden-sm text">Servicios por Punto</span></a></li>}
            @if (lista.Contains("PagoFranquiciados"))
            {
            <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "Franquiciados", Action = "franquiciadosPagados" })'><i class="icon-calendar-empty"></i><span class="hidden-sm text">Pago Franquiciados </span></a></li>}
            @if (User.IsInRole("PagoFranquiciados")) 
            {
                <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "CobroClientesHistorico/index", Action = "index" })'><i class="icon-file"></i><span class="hidden-sm text">Histórico de Cobros</span></a></li>}
            @if (User.IsInRole("ResporteReajusteHistorico"))
            {
                <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "ReporteHistoricoReajuste", Action = "index" })'><i class="icon-bookmark"></i><span class="hidden-sm text">Histórico de Reajuste</span></a></li>}
            @if (User.IsInRole("ReporteListaServicios"))
            {
                <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "ReporteListaServicios", Action = "index" })'><i class="icon-bookmark"></i><span class="hidden-sm text">Lista de Servicios</span></a></li>}
        </ul>
    </li>
}

@if (modulos.Contains("Administracion"))
{
    <li>
        <a class="dropmenu" href="#"><i class="icon-tasks"></i><span class="hidden-sm text">Administracion</span> <span class="chevron closed"></span></a>
        <ul>
            @if (lista.Contains("Usuarios"))
            {
            <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "Usuarios", Action = "index" })'><i class="icon-user"></i><span class="hidden-sm text">Usuarios</span></a></li>}
            @if (lista.Contains("Perfiles"))
            {
            <li><a class="submenu" href='@Url.RouteUrl(new { Controller = "Perfiles", Action = "index" })'><i class="icon-share-alt"></i><span class="hidden-sm text">Perfiles</span></a></li>}
            @if (lista.Contains("Modulos"))
            {
            <li><a class="submenu" href='@Url.RouteUrl(new { Controller="Modulos",Action="index"})'><i class="icon-share-alt"></i><span class="hidden-sm text">Modulos</span></a></li>}
            @if (lista.Contains("SubModulos"))
            {
            <li><a class="submenu" href='@Url.RouteUrl(new { Controller="Credenciales",Action="index"})'><i class="icon-share-alt"></i><span class="hidden-sm text">SubModulos</span></a></li>}
            @if (lista.Contains("SubModulos"))
            {
            <li><a class="submenu" href='@Url.RouteUrl(new { Controller="CargaUnidades",Action="Create"})'><i class="icon-share-alt"></i><span class="hidden-sm text">Carga Unidad</span></a></li>}
        </ul>
    </li>
}
<li>
    <a href='@Url.RouteUrl(new { Controller = "Usuarios", Action = "logout" })'><i class="icon-home"></i><span class="hidden-sm text">Salir</span></a>
</li>
</ul>
</div>
<a href="#" id="main-menu-min" class="full visible-md visible-lg"><i class="icon-double-angle-left"></i></a>
</div>
@RenderBody()

<div class="clearfix"></div>



</div>
</div>

</body>
</html>
