﻿<div class="row no-print">
    <div class="col-lg-12">
        <a class="btn btn-primary" onclick="window.print()">Imprimir <i class="icon-print"></i></a>
    </div>
</div><br class="no-print" />

<div class="row" style="text-align: center;">
    <div class="col-lg-12">
        <img src="~/images/logo.png" />
    </div>
</div><br />