﻿body { 
    color: #000; 
    font: 100%/150% Georgia, "Times New Roman", Times, serif; 
}

.noimprimir {
    display: none !important;
}

a {
    display: none !important;
}
table {
    border-collapse: collapse;
    border-style: hidden;
}
table td,table th{
    border:1px solid black;
}