
h1,h4 {
    color: #1D5B75 !important;
}


#login-form { 
    background: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: 3px 4px 30px 0px gray;
    -moz-box-shadow:    3px 4px 30px 0px gray;
    box-shadow:         3px 4px 30px 0px gray;    
	margin-top: 7em;    
    text-align: center;    
    padding: 2em 0;
    opacity: 0.95;
 }

#login-form span {
    font-weight: bold;
}

#login-form input {	
	border: 1px solid #dadada;
    display: block;
	margin: 0 auto;
	width: auto;
}

#login-form input:hover {
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}


.logo-index {   
    width: 50%;
}

.forbidden-pass {
    color: #9ecaed;
    margin-top: 10px;
    text-decoration: none;
}



.forbidden-pass:hover {
    color: #46A8F2;
}

.welcome-user {
    color: #1D5B75 !important;
    font-size: 16px;
    margin: 15px 5px 5px 5px;
}

.logo {
    text-align: center;
}


.header-see {
    background: #1B82C1;
    color: #fff;
    padding: 4px 0 4px 4px;
}

.label-see {
    background: #1B82C1;
    color: #fff;
    padding: 6px 0px 7px 12px;
    width: 200px;
}

i {
    cursor: pointer;
}

i span {
display: none;
}

i:hover span {
display: block;
position: absolute; 
font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif; 
width:auto; 
padding:10px;
background-color: #FAEB76;
color: #000; 
z-index: 20;
border: 2px solid #000;
border-radius: 4px;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}
