﻿li.active>a {
background-color:#5796DE !important;
color:white !important
}
div.loading_all {
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   width: auto;
   background: rgba(0, 0, 0, 1) no-repeat center center;
   -moz-background-size: 64px 64px;
   -o-background-size: 64px 64px;
   -webkit-background-size: 64px 64px;
   background-size: 64px 64px;
   opacity: 0.7;
   height: 100% !important;
   z-index: 1050;
}

div.loading_all > img {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 64px;
   height: 64px;
   margin-left: -32px;
   margin-top: -32px;
}

div.loading_all > span {
position: absolute;
   top: 55%;
   height: 64px;
   width:100%;
   text-align: center;
color:white;
}