﻿@*
    Empresa: valentys
    Fecha : 17-08-2015
    Descripción: Imprime la guia.
*@
@{
    Layout = null;
    Response.AddHeader("Content-type", "application/vnd.ms-excel");
    Response.AddHeader("Content-Disposition", "attachment; filename=Guia_Despacho.xls");
}
@model List<SGS.Models.SP_SEL_DetalleGuia_Result>
@{
    string token = Guid.NewGuid().ToString();
    SGS.Models.TB_GIA_Guia guia = (ViewData["guia"] as SGS.Models.TB_GIA_Guia);
}

<table>
    <tr>
        <td colspan="6"></td>
    </tr>
    <tr>
        <td colspan="6">
            <h2>Guia de Despacho</h2>
        </td>
    </tr>
    <tr>
        <td colspan="6"></td>
    </tr>
</table>
<table border="1">
    <tr>
        <td style="background-color: #cccccc">
            Estado:
        </td>
        <td colspan="5">
            @guia.TB_GIA_ESTADOGUIA.EGIA_NOMBRE
        </td>
    </tr>
    <tr>
        <td style="background-color: #cccccc">
            Identificador:
        </td>
        <td>
            @guia.GUIA_IDENTIFICADOR
        </td>
        <td style="background-color: #cccccc">
            Nombre:
        </td>
        <td>
            @guia.GUIA_NOMBRE
        </td>
        <td style="background-color: #cccccc">
            Fecha:
        </td>
        <td>
            @guia.GUIA_FECHA
        </td>
    </tr>
    <tr>
        <td style="background-color: #cccccc">
            Patente:
        </td>
        <td>
            @guia.GUIA_PATENTE
        </td>
        <td style="background-color: #cccccc">
            Fecha Llegada:
        </td>
        <td>
            @guia.GUIA_FECHALLEGADA
        </td>
        <td style="background-color: #cccccc">
            Vertedero:
        </td>
        <td>
            @guia.vertederos.vertedero
        </td>
    </tr>
</table>
<table>
    <tr>
        <td colspan="6"></td>
    </tr>
    <tr>
        <td colspan="6"></td>
    </tr>
</table>
@if (Model.Count > 0)
{
    <table border="1" class="table table-striped table-bordered bootstrap-datatable datatable" data-name="createDetalle">
        <thead role="row" class="tab-header">
            <tr>
                <th style="background-color: #cccccc" colspan="2">Nombre Punto</th>
                <th style="background-color: #cccccc" colspan="2">Residuo</th>
                <th style="background-color: #cccccc" colspan="2">Vertedero</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td colspan="2">@m.nombre_punto</td>
                    <td colspan="2">@m.residuo</td>
                    <td colspan="2">@m.vertedero</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <text>No se tiene Detalle</text>
}

