﻿@*
    Empresa: valentys
    Fecha : 17-08-2015
    Descripción: lista con las guias.
*@
@model List<SGS.Models.SP_SEL_GuiaDespacho_Result>
@{
    string token = Guid.NewGuid().ToString();
}
@if (Model.Count > 0)
{
    <div id="@token" style="margin-left:10px;margin-right:10px;">
        <table class="table table-striped table-bordered bootstrap-datatable datatable">
            <thead role="row" class="tab-header">
                <tr>
                    <th style="width:auto" class="sorting_asc" role="columnheader">Identificador</th>
                    <th style="width:auto" class="sorting">Nombre</th>
                    <th style="width:auto" class="sorting">Fecha</th>
                    <th style="width:auto" class="sorting">Patente</th>
                    <th style="width:auto" class="sorting">Fecha Llegada</th>
                    <th style="width:auto" class="sorting">Vertedero</th>
                    <th style="width:auto" class="sorting">Estado</th>
                    <th style="width:auto">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model)
                {
                    <tr data-token="@m.GUIA_TOKEN">
                        <td>@m.GUIA_IDENTIFICADOR</td>
                        <td>@m.GUIA_NOMBRE</td>
                        <td>@Convert.ToDateTime(m.GUIA_FECHA).ToString("dd-MM-yyyy")</td>
                        <td>@m.GUIA_PATENTE</td>
                        <td>@if (m.GUIA_FECHALLEGADA != null)
                        {@Convert.ToDateTime(m.GUIA_FECHALLEGADA).ToString("dd-MM-yyyy")}</td>
                        <td>@m.vertedero</td>
                        <td>@m.EGIA_NOMBRE</td>
                        <td>
                            <a class="btn btn-info" title="Editar" data-action="editar"><i class="icon-edit"></i></a>
                            <a class="btn btn-info" title="Agregar Detalle" data-action="agregarDetalle"><i class="icon-plus"></i></a>
                            @*<a class="btn btn-success" title="Ver Guia" data-action="verGuia"><i class="icon-zoom-in"></i></a>*@
                            <a class="btn btn-success" title="Ver Detalle" data-action="verDetalle"><i class="icon-star"></i></a>
                            <a class="btn btn-info" title="Imprimir" data-action="imprimir" href="GuiaDespacho/imprimirGuia?token=@m.GUIA_TOKEN"><i class="icon-download-alt"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <text>No se encontraron resultados</text>
}