﻿@*
    Empresa: valentys
    Fecha : 17-08-2015
    Descripción: lista con las guias.
*@
@model List<SGS.Models.SP_SEL_DetalleGuia_Result>
@{
    string token = Guid.NewGuid().ToString();
}


@if (Model.Count > 0)
{
    <div id="@token" style="margin-left:10px;margin-right:10px;">
        <table class="table table-striped table-bordered bootstrap-datatable datatable">
            <thead role="row" class="tab-header">
                <tr>
                    <th style="width:auto" class="sorting_asc" role="columnheader">Nombre Punto</th>
                    <th style="width:auto" class="sorting">Residuo</th>
                    <th style="width:auto" class="sorting">Vertedero</th>
                    <th style="width:auto">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model)
                {
                    <tr data-codigohoja="@m.DGIA_CODIGO">
                        <td>@m.nombre_punto</td>
                        <td>@m.residuo</td>
                        <td>@m.vertedero</td>
                        <td>
                            <a class="btn btn-danger" title="Eliminar" data-action="eliminar"><i class="icon-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <text>No se encontraron resultados</text>
}

