﻿@{
    ViewBag.Title = "view";
    Layout = "~/Views/Shared/_main_ViewLayout.cshtml";
}

<div class="box">
    <div class="box-header" data-original-title="">
        <h2><i class="icon-camera"></i><span class="break"></span>Sucursal @Model.sucursal</h2>
    </div>

    <div class="box-content">
        <h3 class="header-see">Datos de la Sucursal</h3>
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <td>Cliente</td>
                <td>@Model.cliente</td>
            </tr>
            <tr>
                <td>Sucursal</td>
                <td>@Model.sucursal</td>
            </tr>
            <tr>
                <td>Descripción</td>
                <td>@Model.descripcion</td>
            </tr>
            <tr>
                <td>País</td>
                <td>@Model.pais</td>
            </tr>
            <tr>
                <td>Región</td>
                <td>@Model.region</td>
            </tr>
            <tr>
                <td>Ciudad</td>
                <td>@Model.ciudad</td>
            </tr>
            <tr>
                <td>Comuna</td>
                <td>@Model.comuna</td>
            </tr>
            <tr>
                <td>Dirección</td>
                <td>@Model.direccion</td>
            </tr>
            <tr>
                <td>Contacto</td>
                <td>@Model.contacto_sucursal</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>@Model.email_sucursal</td>
            </tr>
            <tr>
                <td>Fono</td>
                <td>@Model.fono_sucursal</td>
            </tr>
            <tr>
                <td>zona</td>
                <td>@Model.zona</td>
            </tr>
            <tr>
                <td>Periodo de Cobro</td>
                <td>Desde  @Model.periodo_desde Hasta  @Model.periodo_hasta</td>
            </tr>
            <tr>
                <td>Estado</td>
                <td>@Model.estado_sucursal</td>
            </tr>
            <tr>
                <td>Rubro</td>
                <td>@Model.rubro</td>
            </tr>
        </table>

    </div>
</div>
