﻿@model SGS.Models.unidades_negocio
@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}


<div id="content" class="col-lg-10 col-sm-11 ">

    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Unidades",Url.RouteUrl(new {Controller="UnidadesNegocio",Action="Index"})},
                            {"Agregar Unidad",Url.RouteUrl(new {Controller="UnidadesNegocio",Action="Create"})}
                            })
            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="icon-plus-sign"></i><span class="break"></span>Agregar Nueva Unidad</h2>
                    <a href="@Url.RouteUrl(new { Controller="UnidadesNegocio",Action="Index"})" class="btn btn-primary pull-right btn-lg">Volver al listado</a>
                </div>

                <div class="box-content">
                    @using (Html.BeginForm("Create", "UnidadesNegocio"))
                    {
                        <fieldset class="col-sm-12">
                            <div class="form-group">
                                @if (Model != null && Model.id_unidad != 0)
                                {
                                    @Html.HiddenFor(m => m.id_unidad)
                                }
                                <label class="control-label pull-left label-see">Unidad</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.unidad, new { @class = "form-control pull-right" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.unidad)</label>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Codigo</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.codigo_unidad, new { @class = "form-control pull-right" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.codigo_unidad)</label>
                            </div>
                            <div class="clearfix"></div>


                            <div class="form-group">
                                <label class="control-label pull-left label-see">Estado</label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownListFor(m => m.estado, ViewBag.estado as IEnumerable<SelectListItem>, new { @class = "form-control pull-left" })
                                </div>
                            </div>
                            <div class="clearfix"></div>


                            <div class="form-group">
                                <label class="control-label pull-left label-see">Empresa</label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownListFor(m => m.id_empresa, ViewBag.empresas as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
                            </div>
                        </fieldset>
                    }

                </div>
            </div>
        </div>

    </div>


</div>
