﻿@model SGS.Models.detalle_centro_responsabilidad
@{
    ViewBag.Title = "restrict";
    Layout = "~/Views/Shared/_main_layout.cshtml";

}


<div id="content" class="col-lg-10 col-sm-11 ">

    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Unidades de Negocio",Url.RouteUrl(new {Controller="UnidadesNegocio",Action="Index"})}
                            })
            <div class="box">
                <div class="box-header" data-original-title="">
                    @if (@ViewBag.existe != null)
                    {
                        <div style="visibility:@ViewBag.existe"><h2><i class="icon-plus-sign"></i><span class="break"></span>Agregar Unidad @ViewBag.TitleIs</h2></div>
                    }

                    <a href="@Url.RouteUrl(new { Controller = "UnidadesNegocio", action = "Index" })" class="btn btn-primary pull-right btn-lg">Volver al listado</a>
                </div>

                <div class="box-content">

                    @using (Html.BeginForm("addCentro", "UnidadesNegocio"))
                    {
                        <fieldset class="col-sm-12">

                            @Html.Hidden("id", ViewBag.id as object)

                            <div class="form-group">
                                <label class="control-label">Unidades</label>
                                <div class="controls row">
                                    <div class="input-group col-sm-5">
                                        @Html.DropDownListFor(m => m.id_centro_responsabildad, ViewBag.restantes as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg">Asignar Centro</button>
                            </div>

                            <div id="restricciones-actuales">

                            </div>

                        </fieldset>
                    }

                    <br />

                    <h3 class="header-see">Centros de Responsabilidad asignados</h3>

                    @if (ViewBag.asignados.Count>0)
                    {

                        <table class="table table-bordered table-hover table-striped">
                            <tr style="background: #1B82C1;font-weight: bold;">
                                <td>ID Unidad</td>
                                <td>Nombre Unidad</td>
                                <td>Acciones</td>
                            </tr>
                            @foreach (var r in ViewBag.asignados)
                            {
                                <tr>
                                    <td>@r.id_centro</td>
                                    <td>@r.nombre</td>
                                    <td><a class="btn btn-danger" href="@Url.RouteUrl(new { Controller = "UnidadesNegocio", Action = "DeleteCentro", Id = r.id })" title=" borrar Centro Responsabilidad"><span class="label label-important">Eliminar</span></a></td>
                                </tr>
                            }
                        </table>

                    }
                    else
                    {
                        <span>Este Usuario no tiene Centros de Responsabilidad asignados</span>
                    }
                </div>
            </div>
        </div>
    </div>

</div>