﻿@{
    Layout = null;
    Response.AddHeader("Content-type", "application/vnd.ms-excel");
    Response.AddHeader("Content-Disposition", "attachment; filename=unidadesnegocios.xls");
}

<table border="1">
    <tr>
        <th style="width:auto" class="sorting_asc" role="columnheader">ID</th>
        <th style="width:auto" class="sorting">Unidad</th>
        <th style="width:auto" class="sorting">Estado</th>
        <th style="width:auto" class="sorting">Empresa</th>
    </tr>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.id_unidad</td>
                <td>@m.unidad</td>
                <td>@m.estado</td>
                <td>@m.empresa</td>
       
            </tr>

        }
    </tbody>
</table>