﻿@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fx/pages/camiones.js")"></script>

}

<div id="content" class="col-lg-12 col-sm-11  ">
    <div class="row">
        <div class="col-lg-12 col-md-9">

            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Unidades de Negocio",Url.RouteUrl(new {Controller="UnidadesNegocio",Action="Index"})}
                            })
            <div class="box">
                <div class="box-header" data-original-title>
                    <h2><i class="icon-truck"></i><span class="break"></span>Modulo Unidades de Negocio</h2>
                    <a href="@Url.RouteUrl(new { Controller="UnidadesNegocio",Action="Create"})" class="btn btn-primary pull-right btn-lg">Agregar Unidad</a>
                </div>

                <div class="box-content">
                    <table class="table table-striped table-bordered bootstrap-datatable datatable">
                        <thead role="row" class="tab-header">
                            <tr>
                                <th style="width:auto" class="sorting_asc" role="columnheader">ID</th>
                                <th style="width:auto" class="sorting">Unidad</th>
                                <th style="width:auto" class="sorting">Estado</th>
                                <th style="width:auto" class="sorting">Empresa</th>
                                <th style="width:auto" class="sorting">Representante Legal</th>
                                <th style="width:auto" class="sorting">Rut Representante Legal</th>
                                <th style="width:auto" class="sorting">Numero Resolucion</th>
                                <th style="width:auto" class="sorting">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var m in Model)
                            {
                                <tr>
                                    <td>@m.id_unidad</td>
                                    <td>@m.unidad</td>
                                    <td>@m.estado</td>
                                    <td>@m.empresa</td>
                                    <td>@m.represenante_legal</td>
                                    <td>@m.rut_rep_legal</td>
                                    <td>@m.numero_resolucion</td>
                                    <td>
                                        <a class="btn btn-info" href="@Url.RouteUrl(new { Controller = "UnidadesNegocio", Action = "Edit", Id = m.id_unidad })" title="Editar"><i class="icon-edit"></i></a>
                                        <a class="btn btn-danger" onclick="return confirm('Estas seguro(a) que deseas eliminar @m.unidad ?');" href="@Url.RouteUrl(new { Controller = "UnidadesNegocio", Action = "Delete", Id = m.id_unidad })" title="Eliminar"><i class="icon-trash "></i></a>
                                        @*<a class="btn btn-success"  href="@Url.RouteUrl(new { Controller = "UnidadesNegocio", Action = "AddCentro", Id = m.id_unidad })" title="Agregar centros"><i class="icon-star "></i></a> </td>*@
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--/col-->

    </div><!--/row-->

</div>
s