﻿@model SGS.Models.modelo_cobro_detalle
@{
    ViewBag.Title = "DetailsModel";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}
@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fx/pages/camiones.js")"></script>
}

<script src="/Scripts/jquery.2.1.js"></script>
<script src="/Scripts/jquery-ui.min.js"></script>
<script src="/Scripts/jquery.cookie.js"></script>

<link href="/Content/jquery.alerts.css" rel="stylesheet" type="text/css" />

<div id="content" class="col-lg-10 col-sm-11 ">
    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Modelo de Cobros",Url.RouteUrl(new {Controller="ModeloCobros",Action="Index"})}
                            })
            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="icon-camera"></i><span class="break"></span>Modelo @ViewBag.TitleIs</h2>
                    <a href="@Url.RouteUrl(new { Controller = "ModeloCobros", action = "Index" })" class="btn btn-primary pull-right btn-lg">Volver al listado</a>
                </div>
                <div class="box-content">
                    @using (Html.BeginForm("DetailsModel", "ModeloCobros", FormMethod.Post, new { id = "DetaForm" }))
                    {
                       <fieldset>
                            @Html.Hidden("idModCob", ViewBag.id_modelo_cobro as object)                            
                            <div class="form-group">
                                <label class="control-label">modalidad</label>
                                <div class="controls row">
                                    <div class="input-group col-sm-5">
                                        @Html.DropDownListFor(m => m.id_tipo_modalidad, ViewBag.tipo_modalidad as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                    </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Valor</label>
                                    <div class="controls row">
                                        <div class="input-group col-sm-3">
                                            @Html.TextBoxFor(m => m.valor, new { @class = "form-control" })
                                        </div>
                                        <label class="input-group col-sm-3 red"> @Html.ValidationMessageFor(m => m.valor)</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
                                </div>
                        </fieldset>
                    }
                    <br />
                    <h3 class="header-see">Modelos Asignados</h3>
                    @if (ViewBag.mcobrosdetalles.Count > 0)
                    {
                        <table class="table table-bordered table-hover table-striped">
                            <tr style="background: #1B82C1;font-weight: bold;">
                                <td>Tipo Modalidad</td>
                                <td>Valor</td>
                                <td>Eliminar</td>
                            </tr>
                            @foreach (var mc in ViewBag.mcobrosdetalles)
                            {
                                <tr>
                                    <td>@mc.tipo_modalidad1</td>
                                    <td>@mc.valor</td>
                                    <td><a class="btn btn-danger" href="@Url.RouteUrl(new { Controller = "ModeloCobros", Action = "DeleteModeloTipoId", Id = mc.id_modelo_cobro_detalle, id2 = mc.id_modelo_cobro })" title=" borrar detalle modelo de cobro"><span class="label label-important">Eliminar </span></a></td>
                                </tr>
                            }
                        </table>
                    }
                    else
                    {
                    }
                </div>
            </div>
        </div>
    </div>
</div>
