﻿@{
    Layout = null;
    Response.AddHeader("Content-type", "application/vnd.ms-excel");
    Response.AddHeader("Content-Disposition", "attachment; filename=modelocobro.xls");
}

<table border="1">
    <tr>
        <th style="width:auto" class="sorting_asc" role="columnheader">Modelo</th>
        <th style="width:auto" class="sorting">Tipo modelo</th>
        <th style="width:auto" class="sorting">Punto servicio</th>

    </tr>
    <tbody>
        @foreach (var m in Model.tabla)
        {
            <tr>
                <td>@m.nombreModelo</td>
                @if (m.tipoModelo != null)
                {
                    <td>@m.tipoModelo</td>
                }
                else
                {
                    <td></td>
                }
                <td>@m.nombrePuntoServicio</td>
               
            </tr>

        }
    </tbody>
</table>