﻿@model SGS.Models.modelViews.ModeloCobrosView
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fx/pages/camiones.js")"></script>

}

<div id="content" class="col-lg-12 col-sm-11  ">
  
    <div class="row">
        <div class="col-lg-12 col-md-9">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Modelos de Cobros",Url.RouteUrl(new {Controller="ModeloCobros",Action="Index"})}
                            })
            <div class="box">
                <div class="box-header" data-original-title>
                    <h2><i class="icon-user"></i><span class="break"></span>Modulo Modelos de Cobros</h2>
                   <a href="@Url.RouteUrl(new { Controller = "ModeloCobros", Action = "create" })" class="btn btn-primary pull-right btn-lg">Agregar Modelo</a>
                </div>

                <div class="box-content">
                    <table class="table table-striped table-bordered bootstrap-datatable datatable">
                        <thead role="row" class="tab-header">
                            <tr>
                                <th style="width:auto" class="sorting_asc" role="columnheader">Modelo</th>
                                <th style="width:auto" class="sorting">Tipo modelo</th>
                                <th style="width:auto" class="sorting">Punto servicio</th>
                                <th style="width:auto" class="sorting">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var m in Model.tabla)
                            {
                                <tr>
                                    <td>@m.nombreModelo</td>
                                    @if (m.tipoModelo != null)
                                    {
                                        <td>@m.tipoModelo</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    <td>@m.nombrePuntoServicio</td>
                                    <td>
                                      <a class="btn btn-info" href="@Url.RouteUrl(new { Controller = "ModeloCobros", Action = "edit", Id = m.idModelo})" title="Editar"><i class="icon-edit"></i></a>
                                        <a class="btn btn-success" href="@Url.RouteUrl(new { Controller = "ModeloCobros", Action = "Details", Id = m.idModelo })" title="Agregar Detalles"><i class="icon-star"></i></a>
                                       <a class="btn btn-danger" onclick="return confirm('Estas seguro(a) que deseas eliminar @m.idModelo ?');" href="@Url.RouteUrl(new { Controller = "ModeloCobros", Action = "Delete", Id = m.idModelo })" title="Eliminar"><i class="icon-trash "></i></a>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--/col-->

    </div><!--/row-->
    
</div>



