﻿@model  List<SGS.Models.webpages_Roles>
@{
    ViewBag.Title = "crearPerfil";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}


<div id="content" class="col-lg-10 col-sm-11 ">
    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Clientes",Url.RouteUrl(new {Controller="Clientes",Action="Index"})},
                            {"Agregar Cliente",Url.RouteUrl(new {Controller="Clientes",Action="Create"})}
                            })

            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="icon-plus-sign"></i><span class="break"></span>Agregar Nuevo Perfil</h2>
                    <a href="@Url.RouteUrl(new {Controller="Perfiles",action="Index" })" class="btn btn-primary pull-right btn-lg">Volver al listado</a>
                </div>

                <div class="box-content">
                    @using (Html.BeginForm("crearPerfil", "Usuarios", new { id = @ViewBag.id }))
                    {
                        <div class="form-group">
                            @if (ViewBag.perfil != null && ViewBag.perfil.id_perfil != -1)
                            {
                                <input type="hidden" name="idPerfil" value="@ViewBag.perfil.id_perfil" />
                                <input type="text" name="nombre" value="@ViewBag.perfil.nombre" class="form-control pull-left" style="margin-bottom:30px!important" />
                            }
                            else
                            {
                                <input type="text" name="nombre" class="form-control pull-left" style="margin-bottom:30px!important" />
                            }
                        </div>

                        <div>
                            @if (Model.Count > 0)
                            {
                                <table class="table table-striped table-bordered bootstrap-datatable datatable">
                                    <tr>
                                        <th>role</th>
                                        @foreach (var item in ViewBag.modulos)
                                        {
                                            <th>@item.nombre</th>
                                        }
                                    </tr>
                                    <tbody>

                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.description / @item.RoleName</td>

                                                @foreach (var itemModulo in ViewBag.modulos)
                                                {
                                                    <td>
                                                        @if (itemModulo.id == item.modulo_id)
                                                        {

                                                            object resp = ViewBag.permisos != null ? ((List<SGS.Models.webpages_UsersInRoles>)ViewBag.permisos).Where(o => o.RoleId == item.RoleId).FirstOrDefault() : null;
                                                            <input type="checkbox" name="chk_@item.RoleId-@itemModulo.id" value="true"
                                                                   @if (resp != null) {  <text> checked </text>   } />
                                                        }
                                                    </td>

                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>

                        <div class="form-group">
                            <button type="submit" id="guardar" class="btn btn-primary btn-lg">Guardar</button>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>


</div>
