﻿@model SGS.Models.modelViews.viewUsuarios
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}
@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fx/pages/camiones.js")"></script>
}
<div id="content" class="col-lg-12 col-sm-11  ">
    <div class="row">
        <div class="col-lg-12 col-md-9">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Usuarios",Url.RouteUrl(new {Controller="Usuarios",Action="Index"})}
                            })
            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="icon-user"></i><span class="break"></span>Módulo de Usuarios</h2>
                    <a href="@Url.RouteUrl(new { Controller = "Usuarios", action = "Excel" })" class="btn btn-lg pull-right btn-success">Excel</a>
                    <a href="@Url.RouteUrl(new { Controller="Usuarios",Action="Create", idUsuario=-1})" class="btn btn-primary pull-right btn-lg">Agregar Usuario</a>
                </div>
                <div class="box-content">
                    <table class="table table-striped table-bordered bootstrap-datatable datatable">
                        <thead role="row" class="tab-header">
                            <tr>
                                <th style="width:auto" class="sorting_asc" role="columnheader">Nombre</th>
                                <th style="width:auto" class="sorting">Perfil</th>
                                <th style="width:auto" class="sorting">Estado</th>
                                <th style="width:auto" class="sorting">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var m in Model.row)
                            {
                                <tr>
                                    <td>@m.userName</td>
                                    <td>@m.perfil</td>
                                    <td>
                                        @if (m.estado == 1)
                                        {
                                            <span class="label label-success">Activo</span>
                                        }
                                        else
                                        {
                                            <span class="label label-important">Inactivo</span>
                                        }
                                    </td>
                                    <td>
                                        <a class="btn btn-info" href="@Url.RouteUrl(new { Controller = "Usuarios", Action = "Create", idUsuario = m.idUsuario })" title="Editar"><i class="icon-edit"></i></a>
                                        <a class="btn btn-danger" onclick="return confirm('Estas seguro(a) que deseas eliminar a @m.nombre ?');" href="@Url.RouteUrl(new { Controller = "Usuarios", Action = "Delete", Id = m.idUsuario })" title="Eliminar"><i class="icon-trash "></i></a>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--/col-->
    </div><!--/row-->
</div>