﻿@model SGS.Models.LoginModel
@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
}
<script src="/Scripts/jquery.2.1.js"></script>
    <script src="/Scripts/jquery-ui.min.js"></script>
   <script>
       $(document).ready(function () {
            
           $('#dialogo').css('width', '320px');
           $('#dialogo').css('heigth', '380px');
           $('#dialogo').css('border-radius', '55px 55px 55px 55px');
           $('#dialogo').css('-webkit-border-radius', '55px 55px 55px 55px');
           $('#myModal').modal('show');
           $('#myModal').on('hidden.bs.modal', function (e) {
               $('#myModal').modal('show');
           })
       });
   </script>
      
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"  style="border:10px 0 10px 0;" >
  <div class="modal-dialog" id="dialogo">
    <div class="modal-content" >
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div>
            <img src="../images/logo.png"  style ="margin: 5px auto;"/>
        </div>
        
            
          <h4 class="modal-title" id="myModalLabel" style="color:white;font-size: 2.9em;text-align:center;">SGS</h4>
      </div>
      
        <div class="modal-body" style=" opacity: 0.5;filter:  alpha(opacity=80);font-size: 1.0em;text-align:center;" >
                   
                    @using (Html.BeginForm())
                    {
       
                        @Html.ValidationSummary(true, "Login fallido,verificar los datos.");

                            <fieldset>
                                @*<legend>Login Form</legend>*@
                                <div>@Html.Label("USUARIO") </div>
                                                                   <div>
                                    @Html.TextBoxFor(m => m.UserName)
                                    @Html.ValidationMessageFor(m => m.UserName)
                                </div>
                                    <br />
                                    <br />
                     
                                <div>@Html.Label("CONTRASEÑA") </div>
                                <div>
                                    @Html.PasswordFor(m => m.Password)
                                    @Html.ValidationMessageFor(m => m.Password)
                                </div>
                                <br />
                                <br />
                                <input type="submit" value="Ingresar" />

                               
                            </fieldset>
                        <br />
                         <a  href="@Url.RouteUrl(new { Controller="Usuarios",Action="Recupera"})">¿Has olvidado tu contraseña?</a>
                    }           
        </div>
       
      <div class="modal-footer" style="background-color:blue;">       
      </div>
    </div>
     </div>
 </div>
