﻿@{
    var lista = Session["credenciales"] as List<string>;
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}
@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fx/pages/camiones.js")"></script>
}

<script src="http://heartcode-canvasloader.googlecode.com/files/heartcode-canvasloader-min-0.9.1.js"></script>

<link href="/Content/jquery.alerts.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    $(document).ready(function () {

        $("#Months").change(function () {
            var mesis = $("#Months").val();
            mesis += $("#Year :selected").text();
            $("#fechaHide").val(mesis);
            $("#YearVal").val($("#Year").val());
        });

        $("#Year").change(function () {
            var mesis = $("#Months").val();
            mesis += $("#Year :selected").text();
            $("#fechaHide").val(mesis);
            $("#YearVal").val($("#Year").val());
        });

        $.each($('input'), function () {
            if ($(this).attr("type") === "hidden") {
                var valueOfHidFiled = $(this).val().toString();
                if (valueOfHidFiled === 'SI') {
                    $("#canvasloader").hide();
                    alert("El Cálculo de Cobro a Clientes ha finalizado con éxito");
                    return false;
                };
                if (valueOfHidFiled === 'SICerrado') {
                    $("#canvasloader").hide();
                    alert("El Cálculo de Cobro a Clientes ha sido CERRADO con éxito");
                    return false;
                };
            };
        });

        $.each($('input'), function () {
            if ($(this).attr("type") === "hidden") {
                var valueOfHidFiled = $(this).val().toString();
                if (valueOfHidFiled === 'NO') {
                    $("#canvasloader").hide();
                    alert("El Cálculo de Cobro a Clientes no ha finalizado correctamente.");
                    return false;
                } else if (valueOfHidFiled === 'NO2') {
                    $("#canvasloader").hide();
                    alert("Seleccione los filtros.");
                    return false;
                };
                if (valueOfHidFiled === 'EJECUTANDO') {
                    $("#canvasloader").hide();
                    alert("El Cálculo de Cobro a Clientes ya se encuentra en ejecución.");
                    return false;
                };
                if (valueOfHidFiled === 'CERRADO') {
                    $("#canvasloader").hide();
                    alert("El proceso de cobro ya se encuentra CERRADO. Para reprocesar, contacte con Auditor.");
                    return false;
                };
            };
        });

        $("#calcForm").submit(function () {
        });
        setTimeout(function () {
            $('.datepicker').datepicker();
        }, 100);

        $("#exceltable").on("click", '#ruPdf', function () {
            var idCliente = $(this).data("idcliente");
            var periodo = $("#Months").val() + $("#Year :selected").text();
            window.location.href = "@Url.Action("Generar", "CobroClientes")" +
                            "?&periodo=" +
                            periodo +
                            "&idCliente=" +
                            idCliente +
                            "&idFormatoExportacion=1";
        });

        $("#exceltable").on("click", '#ruExcel', function () {
            var idCliente = $(this).data("idcliente");
            var periodo = $("#Months").val() + $("#Year :selected").text();
            window.location.href = "@Url.Action("Generar", "CobroClientes")" +
                            "?&periodo=" +
                            periodo +
                            "&idCliente=" +
                            idCliente +
                            "&idFormatoExportacion=2";
        });

    });
</script>

<div id="content" class="col-lg-12 col-sm-11  ">
    <div class="row">
        <div class="col-lg-12 col-md-9">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Reportes",Url.RouteUrl(new {Controller="CobroClientes",Action="CobroClientes"})}
                            })
            <div class="box">
                <div>
                    @using (Html.BeginForm("index", "CobroClientes", FormMethod.Post, new { id = "calcForm" }))
                    {<div class="box-header" data-original-title style="height:90px">
                        @Html.Label("txtMes", "Mes")&nbsp;
                        @Html.DropDownList("Months")&nbsp;
                        @Html.Label("txtYear", "Año")&nbsp;
                        @Html.DropDownList("Year")&nbsp;
                        @Html.Label("LblCerrado", "Estado del Proceso")&nbsp;
                        @Html.DropDownList("Open")&nbsp;
                        @Html.Label("LblCalcular", "Calcular")&nbsp;
                        <input type="checkbox" name="Select" value="Calcular" id="calcularid">&nbsp;
                        @Html.Hidden("fechaHide")&nbsp;
                        @Html.Hidden("YearVal")&nbsp;<br /><br />
                        <input type="submit" class="btn btn-lg pull-right btn-success" id="datos" value="Procesar" />&nbsp;&nbsp;

                        @if (ViewBag.PeriodoIs != null)
                        {
                            <a href="@Url.RouteUrl(new { Controller = "CobroClientes", Action = "excelClientesFull", whenIs = @ViewBag.PeriodoIs })" class="btn btn-lg pull-right btn-success" style="margin-right:5px">Cobro Clientes a Excel</a>
                            if (lista != null && lista.Contains("ProcCobroReproceso") )
                             {
                                <input type="submit" class="btn btn-lg pull-left btn-success hidden" id="reversar" value="Reversar" />
                                <a href="@Url.RouteUrl(new {Controller = "CobroClientes", Action = "reversarPeriodo", whenIs = @ViewBag.PeriodoIs})" class="btn btn-lg pull-right btn-success" style="margin-right: 5px"> Reversar </a>
                            }
                        }
                    </div>}
                </div>
                <div class="box-header" data-original-title>
                    <h2><i class="icon-folder-close"></i><span class="break"></span>Modulo Reportes</h2>
                </div>
                <div id="exceltable" class="box-content">
                    @if (ViewBag.hdnFlag == "CERRADO" || ViewBag.hdnFlag == "SICerrado")
                    {
                        <div class="panel panel-danger">
                            <div class="panel-heading">Atención</div>
                            <div class="panel-body">
                                <p>
                                    <span class="glyphicon glyphicon-warning-sign"></span> Recuerde que este período se encuentra CERRADO
                                </p>
                            </div>
                        </div>
                    }
                    <table class="table table-striped table-bordered bootstrap-datatable datatable" id="clienesxls">
                        <thead role="row" class="tab-header">
                            <tr>
                                <th>RUT</th>
                                <th>Razon Social</th>
                                <th>Retiros</th>
                                <th>Cantidad o Baños</th>
                                <th>Valor</th>
                                <th>Periodo</th>
                                <th>Contrato</th>
                                <th>Punto</th>
                                <th class="hidden">Reporte Unificado</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var m in Model)
                            {
                            <tr>
                                <td>@m.rut_cliente</td>
                                <td>@m.razon_social</td>
                                <td align="right">@m.Numero_Retiros.ToString("#,##0")</td>
                                @if (m.Bano > 0)
                                {
                                    <td align="right">@m.Bano</td>
                                }
                                else
                                {

                                    <td align="right">0</td>
                                }

                                <td align="right">@m.Valor.ToString("#,##0")</td>
                                <td>@string.Concat(string.Concat(m.Fecha.Substring(0, 2), "-"), m.Fecha.Substring(2, 4))</td>
                                <td align="center">
                                    <a class="btn btn-default" href="@Url.RouteUrl(new {Controller = "CobroClientes", Action = "excelContrato", rutcliente = m.rut_cliente, whenIs = @m.Fecha})" target="_blank" title="Excel"><i class="icon-edit"></i></a>
                                </td>
                                <td align="center">
                                    <a class="btn btn-default" href="@Url.RouteUrl(new {Controller = "CobroClientes", Action = "excelPuntos", rutcliente = m.rut_cliente, whenIs = @m.Fecha})" target="_blank" title="Pdf"><i style="color: red">PDF</i></a>
                                    <a class="btn btn-default" href="@Url.RouteUrl(new {Controller = "CobroClientes", Action = "excelPuntosxls", rutcliente = m.rut_cliente, whenIs = @m.Fecha})" target="_blank" title="Excel"><i style="color: green">XLS</i></a>
                                </td>
                                <td class="hidden">
                                    <a class="btn btn-default" id="ruPdf" data-idcliente="@m.id_cliente"><i style="color: red">PDF</i></a>
                                    <a class="btn btn-default" id="ruExcel" data-idcliente="@m.id_cliente"><i style="color: green">XLS</i></a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div><!--/col-->
        </div><!--/row-->
    </div>
    <div><input type="hidden" value="@ViewBag.hdnFlag" id="hdnFlag" /></div>
</div>