﻿@model SGS.Models.contratos
@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    @*<script src="@Url.Content("~/Scripts/jquery-ui.min.js")"></script>*@
}

@*<script src="/Scripts/jquery.2.1.js"></script>
<script src="/Scripts/jquery-ui.min.js"></script>
<script src="/Scripts/jquery.cookie.js"></script>*@


<script type="text/javascript">

    $(document).ready(function () {

        $('.datepicker').datepicker();

    });

</script>

<div id="content" class="col-lg-10 col-sm-11 ">

    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Contratos",Url.RouteUrl(new {Controller="Contratos",Action="Index"})},
                            {"Agregar Contrato",Url.RouteUrl(new {Controller="Contratos",Action="Create"})}
                            })
            <div class="box">
                <div class="box-header" data-original-title="">
                    @if (Model != null && Model.id_contrato != 0)
                    {
                        <div style="visibility:@ViewBag.existe"><h2><i class="icon-plus-sign"></i><span class="break"></span>Cliente @ViewBag.ClienteIs Contrato @Model.id_contrato.ToString()</h2></div>
                    }
                    <div style="visibility:@ViewBag.nuevo"><h2><i class="icon-plus-sign"></i><span class="break"></span>Agregar Nuevo Contrato</h2></div>
                    <a href="@Url.RouteUrl(new {Controller="Contratos",action="Index" })" class="btn btn-primary pull-right btn-lg">Volver al listado</a>
                </div>

                <div class="box-content">
                    @using (Html.BeginForm("Create", "Contratos", new { id = "contratForm" }))
                    {
                        <fieldset class="col-sm-12">
                            <div class="form-group">
                                @if (Model != null && Model.id_contrato != 0)
                                {
                                    @Html.HiddenFor(m => m.id_contrato)
                                }
                                <label class="control-label pull-left label-see">Fecha Inicio</label>
                                <div class="input-group date col-sm-5">
                                    <input id="fecha_inicio" name="fecha_inicio" type="text" data-date-format="dd/mm/yyyy" value="@ViewBag.fecha_inicio" class="form-control datepicker">
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.fecha_inicio)</label>
                            </div>

                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label class="control-label pull-left label-see">Fecha Renovacion</label>
                                <div class="input-group col-sm-5">
                                    <input type="text" id="fecha_renovacion" name="fecha_renovacion" data-date-format="dd/mm/yyyy" value="@ViewBag.fecha_renovacion" class="form-control datepicker">
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label class="control-label pull-left label-see">Tipo de Contrato</label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownListFor(m => m.id_tipo_contrato, ViewBag.tipo_contrato as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            @*<div class="form-group">
                                <label class="control-label pull-left label-see">Cliente</label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownListFor(m => m.id_cliente, ViewBag.Clientes as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>*@

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Sucursal</label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownListFor(m => m.id_sucursal, ViewBag.sucursales as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Centro de Responsabilidad</label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownListFor(m => m.id_centro_responsabilidad, ViewBag.centros as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            @*-----------------------------------------------------------------------------------------------------------
                                Empresa :Valentys
                                Fecha: 06-07-2015
                                Descripción : se agrega la configuración de reajuste.
                                ---------------------------------------------------------------------------------------------------------
                            *@

                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label class="control-label pull-left label-see">Configuración Reajuste</label>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <table class="table table-striped table-bordered bootstrap-datatable datatable">
                                    <thead class="tab-header">
                                        <tr>
                                            @for (int i = 1; i <= 12; i++)
                                            {
                                                <th style="width:auto">
                                                    <label style="text-transform: capitalize">@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i)</label>
                                                </th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            @for (int i = 1; i <= 12; i++)
                                            {
                                                <th style="width:auto" class="sorting">
                                                    <input type="checkbox" id="mes-@(i)" name="mes-@(i)" value="@i"
                                                           @{ if ((SGS.Models.TB_SGS_REAJUSTE)ViewBag.ReajusteContrato != null) { SGS.Models.TB_SGS_REAJUSTE_DETALLE detalle = ((SGS.Models.TB_SGS_REAJUSTE)ViewBag.ReajusteContrato).TB_SGS_REAJUSTE_DETALLE.SingleOrDefault(o => o.READ_MES.Equals(i)); if (detalle != null) {    <text> checked="checked" </text>            } }      }>
                                                </th>
                                            }
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <table class="table table-striped table-bordered bootstrap-datatable datatable" style="width: auto !important">
                                    <thead class="tab-header">
                                        <tr>
                                            <td style="width:auto">
                                                Indicador
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in (List<SGS.Models.TB_SGS_INDICADOR>)ViewBag.indicadores)
                                        {
                                            <tr>
                                                <td style="width:auto">
                                                    <input type="checkbox" id="indicador-@item.INDI_CODIGO" name="indicador-@item.INDI_CODIGO" data-codigo="@item.INDI_CODIGO"
                                                           @{if (((SGS.Models.TB_SGS_REAJUSTE)ViewBag.ReajusteContrato) != null) { SGS.Models.TB_SGS_REAJUSTE_INDICADOR detalle = ((SGS.Models.TB_SGS_REAJUSTE)ViewBag.ReajusteContrato).TB_SGS_REAJUSTE_INDICADOR.SingleOrDefault(o => o.REIN_INDI_CODIGO.Equals(item.INDI_CODIGO)); if (detalle != null) {   <text> checked="checked" </text>             } }}>
                                                    @item.INDI_NOMBRE
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            @*-----------------------------------------------------------------------------------------------------------*@

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
                            </div>
                            <div>
                                @Html.Hidden("Begin")&nbsp;
                                @Html.Hidden("End")&nbsp;
                            </div>

                        </fieldset>
                    }

                </div>
            </div>
        </div>

    </div>
    <div><input type="hidden" value="@ViewBag.inicio" id="inicio" /></div>
    <div><input type="hidden" value="@ViewBag.fin" id="fin" /></div>
</div>
