
@*﻿@model SGS.Models.contratos
@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")"></script>
}



<script src="/Scripts/jquery.2.1.js"></script>
<script src="/Scripts/jquery-ui.min.js"></script>



<script type="text/javascript">

    

    $(document).ready(function () {

        $(".submit").click(function () {

            $("#id_unidad").removeAttr("disabled");
            $("form").submit();


        });

        $("#fecha_inicio,#fecha_renovacion").datepicker({
            format: 'dd/mm/yyyy'
        }).val("");


    });

</script>

<div id="content" class="col-lg-10 col-sm-11 ">

    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Contratos",Url.RouteUrl(new {Controller="Contratos",Action="Index"})},
                            {"Agregar Contrato",Url.RouteUrl(new {Controller="Contratos",Action="Create"})}
                            })
            <div class="box">
                <div class="box-header" data-original-title="">
                    @if (Model != null && Model.id_contrato != 0)
                    {
                        <div style="visibility:@ViewBag.existe"><h2><i class="icon-plus-sign"></i><span class="break"></span>Cliente @ViewBag.ClienteIs Contrato @Model.id_contrato.ToString()</h2></div>
                    }
                    <div style="visibility:@ViewBag.nuevo"><h2><i class="icon-plus-sign"></i><span class="break"></span>Sucursal @ViewBag.Sucuname Agregar Nuevo Contrato</h2></div>
                    <a href="@Url.RouteUrl(new {Controller="Contratos",action="Index" })" class="btn btn-primary pull-right btn-lg">Volver al listado</a>
                </div>

                <div class="box-content">
                    @using (Html.BeginForm("Createflow","Contratos",new { id = "contratForm" }))
                    {
                        <fieldset class="col-sm-12">
                            <div class="form-group">
                                @if (Model != null && Model.id_contrato != 0)
                                {
                                    @Html.HiddenFor(m => m.id_contrato)
                                }
                                <label class="control-label pull-left label-see">Fecha Inicio</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m=>m.fecha_inicio, new { @class = "form-control", id="fecha_inicio" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.fecha_inicio)</label>
                            </div>

                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label class="control-label pull-left label-see">Fecha Renovacion</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.fecha_renovacion, new { @class = "form-control", id = "fecha_renovacion" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.fecha_renovacion)</label>
                            </div>

                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label class="control-label pull-left label-see">Tipo de Contrato</label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownListFor(m => m.id_tipo_contrato, ViewBag.tipo_contrato as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Cliente</label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownListFor(m => m.id_cliente, ViewBag.Clientes as IEnumerable<SelectListItem>, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            
                            <div class="form-group">
                                <label class="control-label pull-left label-see">Sucursal</label>
                                <div class="input-group col-sm-5">
                                   @Html.DropDownListFor(m => m.id_sucursal, ViewBag.sucursales as IEnumerable<SelectListItem>, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Centro de Responsabilidad</label>
                                <div class="input-group col-sm-5">
                                   @Html.DropDownListFor(m => m.id_centro_responsabilidad, ViewBag.centros as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Unidad de Negocio</label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownListFor(m => m.id_unidad, Session["unidades"] as IEnumerable<SelectListItem>, new { @class = "form-control", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                               <button type="button" class="btn btn-primary btn-lg submit">Guardar</button>
                            </div>
                            <div>
                                @Html.Hidden("Begin")&nbsp;
                                @Html.Hidden("End")&nbsp;
                            </div>
                        </fieldset>                        
                    }

                </div>
            </div>
        </div>

    </div>
    <div><input type="hidden" value="@ViewBag.inicio" id="inicio" /></div>
    <div><input type="hidden" value="@ViewBag.fin" id="fin" /></div>
</div>*@
@model SGS.Models.contratos
@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_main_layout.cshtml";
    int unidad = SGS.Models.repository.UsuariosRepository.getUnidadSeleccionada();
}

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")"></script>
}


<script src="/Scripts/jquery.2.1.js"></script>
<script src="/Scripts/jquery-ui.min.js"></script>
<script src="/Scripts/jquery.cookie.js"></script>


<script type="text/javascript">

    $(document).ready(function () {

        $("#fecha_inicio").datepicker({
            onSelect: function (dateText) {
                var fechaI = dateText;
                $("#Begin").val(dateText);
            }
        });

        $("#fecha_fin").datepicker({
            onSelect: function (dateText) {
                var fechaI = dateText;
                $("#End").val(dateText);
            }
        });

    });

    $(".submit").click(function () {

        $("#id_unidad").removeAttr("disabled");
        $("form").submit();


    });

</script>

<div id="content" class="col-lg-10 col-sm-11 ">

    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Contratos",Url.RouteUrl(new {Controller="Contratos",Action="Index"})},
                            {"Agregar Contrato",Url.RouteUrl(new {Controller="Contratos",Action="Create"})}
                            })
            <div class="box">
                <div class="box-header" data-original-title="">
                    @if (Model != null && Model.id_contrato != 0)
                    {
                        <div style="visibility:@ViewBag.existe"><h2><i class="icon-plus-sign"></i><span class="break"></span>Cliente @ViewBag.ClienteIs Contrato @Model.id_contrato.ToString()</h2></div>
                    }
                    <div style="visibility:@ViewBag.nuevo"><h2><i class="icon-plus-sign"></i><span class="break"></span>Sucursal @ViewBag.Sucuname Agregar Nuevo Contrato</h2></div>
                    <a href="@Url.RouteUrl(new {Controller="Contratos",action="Index" })" class="btn btn-primary pull-right btn-lg">Volver al listado</a>
                </div>

                <div class="box-content">
                    @using (Html.BeginForm("Createflow","Contratos",new { id = "contratForm" }))
                    {
                        <fieldset class="col-sm-12">
                            <div class="form-group">
                                @if (Model != null && Model.id_contrato != 0)
                                {
                                    @Html.HiddenFor(m => m.id_contrato)
                                }
                                <label class="control-label pull-left label-see">Fecha Inicio</label>
                                <div class="input-group col-sm-5">
                                    <input type="text" id="fecha_inicio" value="@ViewBag.fecha_inicio" class="form-control pull-right"/>
                                </div>
                                <script type="text/javascript">
                                    $(function () {
                                        $("#fecha_inicio").datepicker();
                                });
                                </script>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.fecha_inicio)</label>
                            </div>
                            @Html.HiddenFor(m => m.id_unidad, new { @Value = unidad })
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label class="control-label pull-left label-see">Fecha Renovacion</label>
                                <div class="input-group col-sm-5">
                                    <input type="text" id="fecha_fin" value="@ViewBag.fecha_renovacion" class="form-control pull-right">
                                </div>
                                <script type="text/javascript">
                                $(function () {
                                    $("#fecha_fin").datepicker();
                                });
                                </script>
                            </div>

                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label class="control-label pull-left label-see">Tipo de Contrato</label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownListFor(m => m.id_tipo_contrato, ViewBag.tipo_contrato as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Cliente</label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownListFor(m => m.id_cliente, ViewBag.Clientes as IEnumerable<SelectListItem>, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            
                            <div class="form-group">
                                <label class="control-label pull-left label-see">Sucursal</label>
                                <div class="input-group col-sm-5">
                                   @Html.DropDownListFor(m => m.id_sucursal, ViewBag.sucursales as IEnumerable<SelectListItem>, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Centro de Responsabilidad</label>
                                <div class="input-group col-sm-5">
                                   @Html.DropDownListFor(m => m.id_centro_responsabilidad, ViewBag.centros as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                               <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
                            </div>
                            <div>
                                @Html.Hidden("Begin")&nbsp;
                                @Html.Hidden("End")&nbsp;
                            </div>
                        </fieldset>                        
                    }

                </div>
            </div>
        </div>

    </div>
    <div><input type="hidden" value="@ViewBag.inicio" id="inicio" /></div>
    <div><input type="hidden" value="@ViewBag.fin" id="fin" /></div>
</div>
@*>>>>>>> .r53*@
