﻿@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fx/pages/camiones.js")"></script>
<script>

    Shadowbox.init();

</script>

}

<div id="content" class="col-lg-12 col-sm-11  ">
   
    <div class="row">
        <div class="col-lg-12 col-md-9">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Contratos",Url.RouteUrl(new {Controller="Contratos",Action="Index"})}
                            })

            <div class="box">
                <div class="box-header" data-original-title>
                    <h2><i class="icon-folder-close"></i><span class="break"></span>Modulo Contratos</h2>
                   
<a class="btn btn-lg pull-right btn-success" href="@Url.RouteUrl(new { Controller = "Contratos", action = "Excel" })">Excel</a>
                   
                    <a href="@Url.RouteUrl(new {Controller="Contratos",action="Create" })" class="btn btn-primary pull-right btn-lg">Agregar Contrato</a>
                </div>

                <div class="box-content">
                    <table class="table table-striped table-bordered bootstrap-datatable datatable">
                        <thead role="row" class="tab-header">
                            <tr>
                                <th style="width:auto" class="sorting_asc" role="columnheader">ID</th>
                                <th style="width:auto" class="sorting">Tipo Contrato</th>
                                <th style="width:auto" class="sorting">Razon Social</th>
                                <th style="width:auto" class="sorting">Sucursal</th>
                                <th style="width:auto" class="sorting">Fecha Inicio</th>
                                <th style="width:auto" class="sorting">Fecha Renovacion</th>
                                <th style="width:auto" class="sorting">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var m in Model)
                            {
                                <tr>
                                    <td>@m.id_contrato</td>
                                    <td>@m.tipo_contrato</td>
                                    <td>@m.razon_social</td>
                                    <td>@m.sucursal</td>
                                    <td>@m.fecha_inicio</td>
                                    <td>@m.fecha_renovacion</td>
                                    <td>
                                      <a class="btn btn-success" href="@Url.RouteUrl(new { Controller = "Contratos", Action = "View", Id = m.id_contrato })" rel="shadowbox" target="_blank" title="Ver Contratos"><i class="icon-zoom-in "></i></a>
                                     <a class="btn btn-info" href="@Url.RouteUrl(new { Controller = "Contratos", Action = "Edit", Id = m.id_contrato })" title="Editar"><i class="icon-edit"></i></a>
                                      @*<a class="btn btn-danger" href="@Url.RouteUrl(new { Controller = "Contratos", Action = "Delete", Id =m.id_contrato })" title="Eliminar"><i class="icon-trash "></i></a>*@
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--/col-->

    </div><!--/row-->
  
</div>
