﻿@model SGS.Models.LoginModel
@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
}
<script src="/Scripts/jquery.2.1.js"></script>
<script src="/Scripts/jquery-ui.min.js"></script>
<script>
    $(document).ready(function () {

        $('#dialogo').css('width', '320px');
        $('#dialogo').css('heigth', '380px');
        $('#dialogo').css('border-radius', '55px 55px 55px 55px');
        $('#dialogo').css('-webkit-border-radius', '55px 55px 55px 55px');
        $('#myModal').modal('show');
        $('#myModal').on('hidden.bs.modal', function (e) {
            $('#myModal').modal('show');
        })


        $("a.recuperar").click(function(){
        
            if($("div.container_confirmacion").is(":visible")){
            
                $("div.container_confirmacion").slideUp(300);
            
            }


            $("div.container_recuperacion").slideDown(300);
        
        });

        $("a.confirmar").click(function(){
        
            if($("div.container_recuperacion").is(":visible")){
            
                $("div.container_recuperacion").slideUp(300);
            
            }

            $("div.container_confirmacion").slideDown(300);
        
        });

        $("button.confirmacion").click(function () {

            var lbl_error_codigo=$("#error_codigo");

            if($("#codigo").val()==""){
            
                lbl_error_codigo.html("Codigo Requerido").css("color","red");
                return;
            }


            $.ajax({
                method: "GET",
                url: "/Usuarios/Confirma",
                data: {"token":$("#codigo").val()},
                dataType: "HTML",
                success:function(data){
                   
                    if(data=="SUCCESS"){
                        lbl_error_codigo.html("Operacion Exitosa").css("color","green");
                        
                        $("div.container_confirmacion").slideUp(2000);

                    }else if(data=="FAIL"){
                        lbl_error_codigo.html("No existe Usuario con esta confirmacion").css("color","red");
                    }
                }
            });
        
        });

        $("button.recuperacion").click(function () {

            var arroba=@Html.Raw("'@'");

            var ex = new RegExp("^[A-Z0-9a-z._%]+"+arroba+"[A-Z0-9a-z._%]+.[a-zA-Z]{2,4}$");
            var input = $("input#recuperacion").val();
            var lbl_error=$("#error_email");

            if (input != '' && ex.test(input)) {


                console.log("aprobado");

            } else {

                lbl_error.html("Email invalido").css("color","red");
                
                return;
            }


            $.ajax({
                method: "GET",
                url: "/Usuarios/Recupera",
                data: {"email":input},
                dataType: "HTML",
                success:function(data){
                
                    if(data=="SUCCESS"){
                        lbl_error.html("Revise Su Email").css("color","green");
                    }else if(data=="Error"){
                        lbl_error.html("Error en el sistema").css("color","green");
                    }else if(data=="INVALID"){
                        lbl_error.html("Mail no se encuentra en nuestros archivos").css("color","red");
                    }
                
                }
            });




        });
    });
</script>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="border:10px 0 10px 0;">
    <div class="modal-dialog" id="dialogo">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div>
                    <img src="../images/logo.png" class="img-responsive center-block" style="margin: 5px auto;" />
                </div>


                <h4 class="modal-title" id="myModalLabel" style="color:white;font-size: 2.9em;text-align:center;">SGS</h4>
            </div>

            <div class="modal-body" style=" opacity: 0.5;filter:  alpha(opacity=80);font-size: 1.0em;text-align:center;">

                @using (Html.BeginForm())
                {

                    @Html.ValidationSummary(true, "Login fallido,verificar los datos.");

                    <fieldset>
                        @*<legend>Login Form</legend>*@
                        <div>@Html.Label("USUARIO") </div>
                        <div>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control pull-right" })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                        <br />
                        <br />

                        <div>@Html.Label("CONTRASEÑA") </div>
                        <div>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control pull-right"})
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                        <br />
                        <br />
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg">Ingresar</button>
                        </div> 
                        <div class="container_recuperacion" style="display:none">
                            <div>@Html.Label("INGRESE SU EMAIL") </div>
                            <div>
                                @Html.TextBox("recuperacion", null, new { @class = "form-control pull-right" })
                            </div>
                            <div><label id="error_email"></label> </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-success btn-lg recuperacion">Enviar al Mail</button>
                            </div>
                        </div>

                        <div class="container_confirmacion" style="display:none">
                            <div>@Html.Label("CODIGO CONFIRMACION") </div>
                            <div>
                                @Html.TextBox("codigo", null, new { @class = "form-control pull-right" })
                            </div>
                            <div><label id="error_codigo"></label> </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-success btn-lg confirmacion">Resetear Password</button>
                            </div>
                        </div>


                    </fieldset>
                    <br />
                    <a class="recuperar">¿Has olvidado tu contraseña?</a><br />
                    <a class="confirmar">Ingrese Codigo de Confirmacion</a>
                }
            </div>

            <div class="modal-footer" style="background-color:blue;">
            </div>
        </div>
    </div>
</div>