﻿@model SGS.Models.categoria_sucursal
@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

<div id="content" class="col-lg-10 col-sm-11 ">

    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Categoria",Url.RouteUrl(new {Controller="Categoria",Action="Index"})},
                            {"Agregar Categoria",Url.RouteUrl(new {Controller="Categoria",Action="Create"})}
                            })
            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="icon-plus-sign"></i><span class="break"></span>Agregar Nueva Categoria</h2>
                    <a href="@Url.RouteUrl(new { Controller="Categoria",Action="Index"})" class="btn btn-primary pull-right btn-lg">Volver al listado</a>
                </div>

                <div class="box-content">
                    @using (Html.BeginForm("Create", "Categoria"))
                    {
                    <fieldset class="col-sm-12">
                        <div class="form-group">
                            @if (Model != null && Model.id_categoria != 0)
                            {
                                @Html.HiddenFor(m => m.id_categoria)
                            }
                            <label class="control-label pull-left label-see">Categoria</label>
                            <div class="input-group col-sm-5">
                                @Html.TextBoxFor(m => m.categoria, new { @class = "form-control pull-right" })
                            </div>
                            <label class="control-label red">@Html.ValidationMessageFor(m => m.categoria)</label>
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group">
                            <label class="control-label pull-left label-see">Dias</label>
                            <div class="input-group col-sm-5">
                                @Html.TextBoxFor(m => m.dias, new { @class = "form-control pull-right" })
                            </div>
                            <label class="control-label red">@Html.ValidationMessageFor(m => m.dias)</label>
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group">
                            <label class="control-label pull-left label-see">Estado</label>
                            <div class="input-group col-sm-5">
                                @Html.DropDownListFor(m => m.estado, ViewBag.estado as IEnumerable<SelectListItem>, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="clearfix"></div>



                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
                        </div>
                    </fieldset>
                    }

                </div>
            </div>
        </div>

    </div>


</div>
