﻿@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fx/pages/camiones.js")"></script>

}

<div id="content" class="col-lg-12 col-sm-11  ">
    <div class="row">
        <div class="col-lg-12 col-md-9">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Comunas",Url.RouteUrl(new {Controller="Categoria",Action="Index"})}
                            })
            <div class="box">
                <div class="box-header" data-original-title>
                    <h2><i class="icon-truck"></i><span class="break"></span>Modulo Categoria</h2>
                    @*<a href="@Url.RouteUrl(new { Controller = "Categoria", action = "Excel" })" class="btn btn-lg pull-right btn-success">Excel</a>*@
                    <a href="@Url.RouteUrl(new { Controller="Categoria",Action="Create"})" class="btn btn-primary pull-right btn-lg">Agregar Categoria</a>
                </div>

                <div class="box-content">
                    <table class="table table-striped table-bordered bootstrap-datatable datatable">
                        <thead role="row" class="tab-header">
                            <tr>
                                <th style="width:auto" class="sorting_asc" role="columnheader">ID</th>
                                <th style="width:auto" class="sorting">Categoria</th>
                                <th style="width:auto" class="sorting">Dias</th>
                                <th style="width:auto" class="sorting">Estado</th>
                                <th style="width:auto" class="sorting">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var m in Model)
                            {
                            <tr>
                                <td>@m.id_categoria</td>
                                <td>@m.categoria</td>
                                <td>@m.dias</td>
                                <td>
                                    @if (m.estado == 1)
                                    {
                                        <span>Activo</span>
                                    }
                                    else
                                    {
                                        <span>Inactivo</span>
                                    }
                                </td>
                                <td>
                                    <a class="btn btn-info" href="@Url.RouteUrl(new { Controller = "Categoria", Action = "Edit", Id = m.id_categoria })" title="Editar"><i class="icon-edit"></i></a>
                                    @*<a class="btn btn-danger" onclick="return confirm('Estas seguro(a) que deseas eliminar @m.nombre_comuna ?');" href="@Url.RouteUrl(new { Controller = "Comunas", Action = "Delete", Id = m.id_comuna })" title="eliminar"><i class="icon-trash "></i></a>*@
                                </td>
                            </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--/col-->

    </div><!--/row-->

</div>