﻿@{
    Layout = null;
    Response.AddHeader("Content-type", "application/vnd.ms-excel");
    Response.AddHeader("Content-Disposition", "attachment; filename=Reporte_costos.xls");
}
<table border="1">
    <tr>
        <th>fecha</th>
        <th>Hoja Ruta</th>
        <th>Punto</th>
        <th>Sistema</th>
        <th>Patente</th>
        <th>Franquiciado</th>
        <th>Chofer</th>
        <th>Estado Punto</th>
        <th>Nº Volteos/Peso</th>
    </tr>
    <tbody>
        @foreach (var m in Model)
        {

            <tr>
                <td>@m.fecha</td>
                <td>@m.hoja_ruta</td>
                <td>@m.punto</td>
                <td>@m.sistema</td>
                <td>@m.patente</td>
                <td>@m.franquiciado</td>
                <td>@m.chofer</td>
                <td>@m.estado_punto</td>
                <td>@m.volteos</td>
            </tr>

        }
    </tbody>
</table>