﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

@section css{
 
    <style type="text/css">
        .dataTables_filter {
        display:none
        }

        .s_paging_full_numbers{
            display: inline-block;
  padding-left: 0;
  margin: 22px 0;
  border-radius: 4px;
        }
    </style>   
    
 }

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
   
 

    <script>

        Array.prototype.remove = function (from, to) {
            var rest = this.slice((to || from) + 1 || this.length);
            this.length = from < 0 ? this.length + from : from;
            return this.push.apply(this, rest);
        };

        $(document).ready(function () {

            $('.datepicker2').datepicker({
                format: 'dd/mm/yyyy'
            })

            var table=$('.bootstrap-datatable ').dataTable({
                "bServerSide": true,
                "sAjaxSource": "/ReportesHojaRutaDetalle/List",
                "bProcessing": true,
                "sPaginationType": "full_numbers",
                "fnDrawCallback": function (c) {
                    $(".dataTables_paginate").css({
                    "display": "inline-block",
                    "padding-left": "0",
                    "margin": "22px 0",
                    "border-radius": "4px"
                    })

                    $(".paginate_button, .paginate_active").css({
                        "background-color": "#fff",
                        "border-color": "#ddd",
                        "position": "relative",
                        "float": "left",
                        "padding": "6px 12px",
                        "margin-left": "-1px",
                        "line-height": "1.428571429",
                        "text-decoration": "none",
                        "background-color": "#fff",
                        "border": "1px solid #ddd",
                        "cursor":"pointer"
                    });

                    $(".paginate_active").css({
                        "z-index": "2",
                        "color": "#fff",
                        "cursor": "default",
                        "background-color": "#428bca",
                        "border-color": "#428bca"
                    
                    })

                    $(".dataTables_info").parent().removeClass("col-xs-6").addClass("col-xs-5");
                    $(".dataTables_paginate").parent().removeClass("col-xs-6").addClass("col-xs-7");
                },
                "fnServerParams": function (aaData) {
                    aaData.push({name:"fecha_inicial",value:$("#fecha_inicial").val()},
                                {name:"fecha_final",value:$("#fecha_final").val()},
                                {name:"punto_servicio",value:$("#puntos_servicio").val()},
                                {name:"sistema",value:$("#sistema").val()},
                                {name:"estado",value:$("#estado").val()},
                                {name:"franquiciado", value: $("#franquiciado").val()},
                                {name:"excel", value: $("#excel").val() });
                                   
                },
                "aoColumns": [
                { "mData": "fecha" },
                { "mData": "hoja_ruta" },
                { "mData": "punto" },
                { "mData": "sistema" },
                { "mData": "patente" },
                { "mData": "franquiciado" },
                { "mData": "chofer" },
                { "mData": "estado_punto" },
                { "mData": "volteos" }
                ]

            });




            console.log("sdfsdf");
            $("#btn_buscar").click(function () {

                table.fnDraw();
            });

            $("#btn_excel").click(function () {

                $(location).attr("href", "ReportesHojaRutaDetalle/List?" +
                                         "fecha_inicial=" + $("#fecha_inicial").val()+
                                         "&fecha_final=" + $("#fecha_final").val()+
                                         "&punto_servicio=" + $("#puntos_servicio").val()+
                                         "&sistema=" + $("#sistema").val()+
                                         "&estado=" + $("#estado").val()+
                                         "&franquiciado=" + $("#franquiciado").val()+
                                         "&excel=true");


            });

        })
    </script>



}

<div id="content" class="col-lg-12 col-sm-11  ">
    <div class="row">
        <div class="col-lg-12 col-md-9">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                               new Dictionary<string, string>() {
                            {"Reportes",Url.RouteUrl(new {Controller="ReportesCobroFranc",Action="ReportesCobroFranc"})}
                            })

            <div class="box">
                <div class="box-header">
                    <h2><i class="icon-list"></i><span class="break"></span>Costos por Servicios</h2>
                    <div class="box-icon">
                        <a class="btn-setting" href="ui-elements.html#"><i class="icon-wrench"></i></a>
                        <a class="btn-minimize" href="ui-elements.html#"><i class="icon-chevron-up"></i></a>
                        <a class="btn-close" href="ui-elements.html#"><i class="icon-remove"></i></a>
                    </div>
                </div>

                <div class="box-content">
                    <div class="form-group">
                        <fieldset class="col-lg-12">
                            @using (Html.BeginForm("Excel", "Prefactura"))
                            {
                                
                                
                                @Html.Hidden("excel","false")
                                <div class="row" style="margin-top:10px">

                                    <label class="control-label pull-left label-see">Fecha Inicial</label>
                                    <div>
                                        <div class="input-group col-sm-3">
                                            @Html.TextBox("fecha_inicial",null ,new { @class = "form-control datepicker2"  })
                                        </div>

                                    </div>

                                    <label class="control-label pull-left label-see">Fecha Final</label>
                                    <div>
                                        <div class="input-group col-sm-3">
                                            @Html.TextBox("fecha_final", null, new { @class = "form-control datepicker2" })
                                        </div>

                                    </div>

                                </div>
                                <div class="row">
                                    <label class="control-label pull-left label-see">Punto Servicio</label>
                                    <div>
                                        <div class="input-group col-sm-3">
                                          @Html.DropDownList("puntos_servicio", ViewBag.puntos as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                        </div>

                                    </div>

                                    <label class="control-label pull-left label-see">Sistema</label>
                                    <div>
                                        <div class="input-group col-sm-3">
                                           @Html.DropDownList("sistema", ViewBag.tipo_servicio as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                        </div>

                                    </div>

                                </div>
                                <div class="row">
                                    <label class="control-label pull-left label-see">Estado del punto</label>
                                    <div>
                                        <div class="input-group col-sm-3">
                                            @Html.DropDownList("estado", ViewBag.estados as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                        </div>

                                    </div>

                                    <label class="control-label pull-left label-see">Micro Empresario</label>
                                    <div>
                                        <div class="input-group col-sm-3">
                                           @Html.DropDownList("franquiciado", ViewBag.franquiciados as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                        </div>

                                    </div>

                                </div>
                                <div class="row">
                                    <div class="">
                                        <input type="button" id="btn_buscar" class="btn btn-lg btn-info" value="Buscar" />
                                        <input type="button" id="btn_excel" class="btn btn-lg btn-success" value="Excel"/>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:20px">
                                    <table class="table table-striped table-bordered bootstrap-datatable " style="font-size:xx-small">
                                        <thead role="row" class="tab-header">
                                            <tr>
                                                <th style="width:5%" class="sorting_desc" role="columnheader">Fecha</th>
                                                <th style="width:10%" class="sorting">Hoja Ruta</th>
                                                <th style="width:20%" class="sorting">Punto</th>
                                                <th style="width:10%" class="sorting">Sistema</th>
                                                <th style="width:14%" class="sorting">Patente</th>
                                                <th style="width:10%" class="sorting">Franquiciado</th>
                                                <th style="width:8%" class="sorting">Chofer</th>
                                                <th style="width:8%" class="sorting">Estado Punto</th>
                                                <th style="width:8%" class="sorting">Nº volteos/Peso</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>

                                </div>
                            }
                        </fieldset>


                    </div>

                </div>
            </div>


        </div>
    </div>
</div>