﻿@model SGS.Models.webpages_Roles
@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}
<div id="content" class="col-lg-10 col-sm-11 ">
    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Usuarios",Url.RouteUrl(new {Controller="Credenciales",Action="Index"})},
                            {"Agregar Perfil",Url.RouteUrl(new {Controller="Credenciales",Action="Create"})}
                            })
            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="icon-plus-sign"></i><span class="break"></span>Agregar Nueva Credencial</h2>
                    <a href="@Url.RouteUrl(new { Controller="Credenciales",Action="Index"})" class="btn btn-primary pull-right btn-lg">Volver al listado</a>
                </div>

                <div class="box-content">
                    @using (Html.BeginForm("Create", "Credenciales"))
                    {
                        <fieldset class="col-sm-12">
                            <div class="form-group">
                                @if (Model != null && Model.RoleId != 0)
                                {
                                    @Html.HiddenFor(m => m.RoleId)
                                }
                                <label class="control-label pull-left label-see">Nombre </label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.RoleName, new { @class = "form-control pull-right" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.RoleName)</label>

                                <div class="clearfix"></div>

                                <label class="control-label pull-left label-see">Modulo </label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownListFor(m => m.modulo_id,ViewBag.Modulos as IEnumerable<SelectListItem>,new { @class = "form-control pull-right" })
                                </div>
                                

                                <div class="clearfix"></div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
                            </div>
                                </div>
                        </fieldset>
                    }
                </div>


            </div>
        </div>
    </div>

</div>
