﻿@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

<div id="content" class="col-lg-12 col-sm-11  ">
    <div class="row">
        <div class="col-lg-12 col-md-9">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Tipos de Tarifa",Url.RouteUrl(new {Controller="TiposTarifas",Action="Index"})}
                            })
            <div class="box">

                <div class="box-header" data-original-title>
                    <h2><i class="icon-user"></i><span class="break"></span>Modulo Tramos Tarifas</h2>
                    <a href="@Url.RouteUrl(new { Controller = "TiposTarifas", Action = "Create" })" class="btn btn-primary pull-right btn-lg">Agregar Tipo de Tarifa</a>
                </div>

                <div class="box-content">
                    <table class="table table-striped table-bordered bootstrap-datatable datatable">
                        <thead role="row" class="tab-header">
                            <tr>
                                <th style="width:auto" class="sorting_asc" role="columnheader">ID</th>
                                <th style="width:auto" class="sorting">Tipo Tarifa</th>
                                <th style="width:auto" class="sorting">Retencion</th>
                                <th style="width:auto" class="sorting">Inicio</th>
                                <th style="width:auto" class="sorting">Termino</th>
                                <th style="width:auto" class="sorting">Valor Tarifa</th>
                                <th style="width:auto" class="sorting">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var m in Model)
                            {
                                <tr>
                                    <td>@m.id_tipo_tarifa</td>
                                    <td>@m.tipo_tarifa1</td>
                                    <td>@m.retencion</td>
                                    <td>@m.inicio_tarifa</td>
                                    <td>@m.termino_tarifa</td>
                                    <td>@m.valor_tarifa</td>
                                    <td>
                                        <a class="btn btn-info" href="@Url.RouteUrl(new { Controller = "TiposTarifas", Action = "Edit", Id = m.id_tipo_tarifa })" title="Editar"><i class="icon-edit"></i></a>
                                        <a class="btn btn-danger" onclick="return confirm('Estas seguro(a) que deseas eliminar @m.tipo_tarifa1 ?');" href="@Url.RouteUrl(new { Controller = "TiposTarifas", Action = "Delete", Id = m.id_tipo_tarifa })" title="Eliminar"><i class="icon-trash "></i></a>

                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--/col-->

    </div><!--/row-->

</div>
