﻿@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}
<div id="content" class="col-lg-12 col-sm-11  ">
    <div class="row">
        <div class="col-lg-12 col-md-9">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Centro de Responsabilidad",Url.RouteUrl(new {Controller="CentroResponsabilidad",Action="Index"})}
                            })
            <div class="box">
                <div class="box-header" data-original-title>
                    <h2><i class="icon-user"></i><span class="break"></span>Modulo CentroResponsabilidad</h2>
                  
                    <a href="@Url.RouteUrl(new { Controller="CentroResponsabilidad",Action="Create"})" class="btn btn-primary pull-right btn-lg">Agregar Centro Reponsabilidad</a>
                </div>
                <div class="box-content">
                    <table class="table table-striped table-bordered bootstrap-datatable datatable">
                        <thead role="row" class="tab-header">
                            <tr>
                                <th style="width:auto" class="sorting_asc" role="columnheader">ID</th>
                                <th style="width:auto" class="sorting">Nombre Centro</th>
                                <th style="width:auto" class="sorting">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var m in Model)
                            {
                                <tr>
                                    <td>@m.id_centro</td>
                                    <td>@m.centro_responsabilidad1</td>
                                    <td>
                                        <a class="btn btn-info" href="@Url.RouteUrl(new { Controller = "CentroResponsabilidad", Action = "Edit", Id = m.id_centro })" title="Editar"><i class="icon-edit"></i></a>
                                        <a class="btn btn-danger" onclick="return confirm('Estas seguro(a) que deseas eliminar @m.centro_responsabilidad1 ?');" href="@Url.RouteUrl(new { Controller = "CentroResponsabilidad", Action = "Delete", Id = m.id_centro })" title="Eliminar"><i class="icon-trash "></i></a>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
