﻿@model SGS.Models.vertederos
@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            $(".submit").click(function () {

                $("#id_unidad").removeAttr("disabled");
                $("form").submit();


            });

        });
    </script>
}




<div id="content" class="col-lg-10 col-sm-11 ">

    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Rellenos",Url.RouteUrl(new {Controller="Rellenos",Action="Index"})},
                            {"Agregar Relleno",Url.RouteUrl(new {Controller="Rellenos",Action="Create"})}
                            })
            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="icon-plus-sign"></i><span class="break"></span>Agregar Nuevo Relleno</h2>
                    <a href="@Url.RouteUrl(new {Controller="Rellenos",action="Index" })" class="btn btn-primary pull-right btn-lg">Volver al listado</a>
                </div>

                <div class="box-content">
                    @using (Html.BeginForm("Create", "Rellenos"))
                    {
                        <fieldset class="col-sm-12">
                            <div class="form-group">
                                @if (Model != null && Model.id_vertedero != 0)
                                {
                                    @Html.HiddenFor(m => m.id_vertedero)
                                }
                                <label class="control-label pull-left label-see">Nombre</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.vertedero, new { @class = "form-control pull-right" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.vertedero)</label>
                            </div>

                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label class="control-label pull-left label-see">Dirección</label>
                                <div class="input-group col-xs-4 col-sm-2">
                                    @Html.DropDownList("tipo", null, new { @class = "form-control pull-left", @style = "width: 100px;" })
                                </div>
                                <div class="input-group col-sm-3">
                                    @Html.TextBox("direccion", null, new { @class = "form-control pull-left", @style = "margin-left: -65px;", @placeholder = "Santa Rosa" })
                                </div>
                                <div class="input-group col-sm-1" style="margin-left: -88px;">
                                    @Html.TextBox("numero_direccion", null, new { @class = "form-control pull-left", @placeholder = "1234" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessage("direccion")</label>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">País</label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownListFor(m => m.id_pais, ViewBag.Paises as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Región</label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownListFor(m => m.id_region, ViewBag.Regiones as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Ciudad</label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownListFor(m => m.id_ciudad, ViewBag.Ciudades as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Comuna</label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownListFor(m => m.id_comuna, ViewBag.Comunas as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            @*<div class="form-group">
                                <label class="control-label pull-left label-see">Unidad Negocio</label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownListFor(m => m.id_unidad, Session["unidades"] as IEnumerable<SelectListItem>, new { @class = "form-control", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="clearfix"></div>*@

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Disposición Final</label>
                                <div class="input-group col-sm-5">
                                    <input type="checkbox" id="disposicionFinal" name="disposicionFinal"
                                           @{if (Model != null) { if (Model.disposicion_final) { <text> checked </text>      } }} />
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <button type="button" class="btn btn-primary btn-lg submit">Guardar</button>
                            </div>
                        </fieldset>
                    }

                </div>
            </div>
        </div>

    </div>


</div>
