﻿@{
    Layout = null;
    Response.AddHeader("Content-type", "application/vnd.ms-excel");
    Response.AddHeader("Content-Disposition", "attachment; filename=" + @ViewBag.TitleIs);
}
<table border="1">
    <tr>
        <th>RUT</th>
        <th>Razon Social</th>
        <th>Cliente</th>
        <th>Retiros</th>
        <th>Valor</th>
        <th>Periodo</th>
    </tr>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.rut_cliente</td>
                <td>@m.razon_social</td>
                <td>@m.nombre_fantasia</td>
                <td>@m.Numero_Retiros.ToString("#,##0")</td>
                <td>@m.ValorTotal.ToString("#,##0")</td>
                <td>@string.Concat(string.Concat(m.Fecha.Substring(0, 2), "-"), m.Fecha.Substring(2, 4))</td>
            </tr>
        }
    </tbody>
</table>
