﻿@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}
@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fx/pages/camiones.js")"></script>
}

@*<script src="/Scripts/jquery.2.1.js"></script>
<script src="/Scripts/jquery-ui.min.js"></script>
<script src="/Scripts/jquery.cookie.js"></script>*@

<script src="http://heartcode-canvasloader.googlecode.com/files/heartcode-canvasloader-min-0.9.1.js"></script>


<link href="/Content/jquery.alerts.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    $(document).ready(function () {

        $("#Months").change(function () {
            var mesis = $("#Months").val();
            mesis += $("#Year :selected").text();
            $("#fechaHide").val(mesis);
            $("#YearVal").val($("#Year").val());
        });

        $("#Year").change(function () {
            var mesis = $("#Months").val();
            mesis += $("#Year :selected").text();
            $("#fechaHide").val(mesis);
            $("#YearVal").val($("#Year").val());
        });

        $.each($('input'), function (i, val) {
            if ($(this).attr("type") == "hidden") {
                var valueOfHidFiled = $(this).val().toString();
                if (valueOfHidFiled == 'SI') {
                    $("#canvasloader").hide();
                    alert("El Cálculo de Cobro a Clientes ha finalizado con éxito");
                    return false;
                };
            };
        });

        $.each($('input'), function (i, val) {
            if ($(this).attr("type") == "hidden") {
                var valueOfHidFiled = $(this).val().toString();
                if (valueOfHidFiled == 'NO') {
                    $("#canvasloader").hide();
                    alert("El Cálculo de Cobro a Clientes ha finalizado con errores");
                    alert("Verifique si el Proceso se encuentra Cerrado");
                    return false;
                }else if (valueOfHidFiled == 'NO2') {
                    $("#canvasloader").hide();
                    alert("Seleccione los filtros.");
                    return false;
                };
            };
        });

        $("#calcForm").submit(function () {
        });
        setTimeout(function () { 
            $('.datepicker').datepicker();
        }, 100);
    });
</script>

<div id="content" class="col-lg-12 col-sm-11  ">
    <div class="row">
        <div class="col-lg-12 col-md-9">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Reportes",Url.RouteUrl(new {Controller="CobroClientes",Action="CobroClientes"})}
                            })
            <div class="box">
                <div>
                    @using (Html.BeginForm("index", "CobroClientes", FormMethod.Post, new { id = "calcForm" }))
                    {<div class="box-header" data-original-title style="height:90px">
                        @Html.Label("txtMes", "Mes")&nbsp;
                        @Html.DropDownList("Months")&nbsp;
                        @Html.Label("txtYear", "Año")&nbsp;
                        @Html.DropDownList("Year")&nbsp;
                        @Html.Label("LblCerrado", "Estado del Proceso")&nbsp;
                        @Html.DropDownList("Open")&nbsp;
                        @Html.Label("LblCalcular", "Calcular")&nbsp;
                        <input type="checkbox" name="Select" value="Calcular" id="calcularid">&nbsp;
                        @Html.Hidden("fechaHide")&nbsp;
                        @Html.Hidden("YearVal", "000000")&nbsp;<br /><br />
                        <input type="submit" class="btn btn-lg pull-right btn-success" id="datos" value="Procesar" />&nbsp;&nbsp;

                        @if (@ViewBag.PeriodoIs != null)
                        {
                            <a href="@Url.RouteUrl(new { Controller = "CobroClientes", Action = "excelClientesFull", whenIs = @ViewBag.PeriodoIs })" class="btn btn-lg pull-right btn-success" style="margin-right:5px">Cobro Clientes a Excel</a>
                            <input type="submit" class="btn btn-lg pull-left btn-success hidden" id="reversar" value="Reversar" />
                            <a href="@Url.RouteUrl(new { Controller = "CobroClientes", Action = "reversarPeriodo", whenIs = @ViewBag.PeriodoIs })" class="btn btn-lg pull-right btn-success" style="margin-right:5px"> Reversar </a>
                        }
                    </div>}
                </div>
                <div class="box-header" data-original-title>
                    <h2><i class="icon-folder-close"></i><span class="break"></span>Modulo Reportes</h2>
                </div>
                <div id="exceltable" class="box-content">
                    <table class="table table-striped table-bordered bootstrap-datatable datatable" id="clienesxls">
                        <thead role="row" class="tab-header">
                            <tr>
                                <th>RUT</th>
                                <th>Razon Social</th>
                                <th>Retiros</th>
                                <th>Valor</th>
                                <th>Periodo</th>
                                <th>Contrato</th>
                                <th>Punto</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var m in Model)
                            {
                                <tr>
                                    <td>@m.rut_cliente</td>
                                    <td>@m.razon_social</td>
                                    <td align="right">@m.Numero_Retiros.ToString("#,##0")</td>
                                    <td align="right">@m.ValorTotal.ToString("#,##0")</td>
                                    <td>@string.Concat(string.Concat(m.Fecha.Substring(0, 2), "-"), m.Fecha.Substring(2, 4))</td>
                                    <td align="center">
                                        <a class="btn btn-default" href="@Url.RouteUrl(new { Controller = "CobroClientes", Action = "excelContrato", rutcliente = m.rut_cliente, whenIs = @m.Fecha })" target="_blank" title="Excel"><i class="icon-edit"></i></a>
                                    </td>
                                    <td align="center">
                                        <a class="btn btn-default" href="@Url.RouteUrl(new { Controller = "CobroClientes", Action = "excelPuntos", rutcliente = m.rut_cliente, whenIs = @m.Fecha })" target="_blank" title="Pdf"><i style="color:red">PDF</i></a>
                                        <a class="btn btn-default" href="@Url.RouteUrl(new { Controller = "CobroClientes", Action = "excelPuntosxls", rutcliente = m.rut_cliente, whenIs = @m.Fecha })" target="_blank" title="Excel"><i style="color:green">XLS</i></a>
                                    </td>
                                </tr> }
                        </tbody>
                    </table>
                </div>
            </div><!--/col-->
        </div><!--/row-->
    </div>
    <div><input type="hidden" value="@ViewBag.hdnFlag" id="hdnFlag" /></div>
</div>