﻿@model SGS.Models.modelViews.crearPerfilView
@{
    ViewBag.Title = "crearPerfil";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}


<div id="content" class="col-lg-10 col-sm-11 ">
    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Clientes",Url.RouteUrl(new {Controller="Clientes",Action="Index"})},
                            {"Agregar Cliente",Url.RouteUrl(new {Controller="Clientes",Action="Create"})}
                            })

            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="icon-plus-sign"></i><span class="break"></span>Agregar Nuevo Perfil</h2>
                    <a href="@Url.RouteUrl(new {Controller="Clientes",action="Index" })" class="btn btn-primary pull-right btn-lg">Volver al listado</a>
                </div>

                <div class="box-content">
                    @using (Html.BeginForm("crearPerfil", "Usuarios"))
                    {
                            <div class="form-group">
                                @if (Model != null && Model.idPerfil != 0)
                                {
                                        @Html.HiddenFor(m => m.idPerfil)
                                }
                                @Html.TextBoxFor(m => m.nombre, new { @class = "form-control pull-left" ,@style="margin-bottom:30px!important" })
                            </div>
                          
                            <div>
                                <table class="table table-striped table-bordered bootstrap-datatable datatable">
                                    <tr>
                                        <th>Nombre Modulo</th>
                                        <th>Ver</th>
                                        <th>Agregar</th>
                                        <th>Editar/Grabar</th>
                                        <th>Eliminar</th>
                                        <th>Exportar</th>
                                        <th>pagar</th>
                                        <th>pre-pagar</th>
                                        <th>Restricciones</th>
                                    </tr>
                                    <tbody>
                                        <tr>
                                            <td>Administración de Perfiles</td>
                                            <td>@Html.CheckBoxFor(u => u.adminPerf)</td>
                                            <td>@Html.CheckBoxFor(u => u.adminPerfAgregar)</td>
                                            <td>@Html.CheckBoxFor(u => u.adminPerfEditar)</td>
                                            <td>@Html.CheckBoxFor(u => u.adminPerfEliminar)</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                      
                                        <tr>
                                            <td>Administración de Usuarios</td>
                                            <td>@Html.CheckBoxFor(u => u.adminUsu)</td>
                                            <td>@Html.CheckBoxFor(u => u.adminUsuAgregar)</td>
                                            <td>@Html.CheckBoxFor(u => u.adminUsuEditar)</td>
                                            <td>@Html.CheckBoxFor(u => u.adminUsuEliminar)</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Clientes</td>
                                            <td>@Html.CheckBoxFor(u => u.conCli)</td>
                                            <td>@Html.CheckBoxFor(u => u.conCliAgregar)</td>
                                            <td>@Html.CheckBoxFor(u => u.conCliEditar)</td>
                                            <td>@Html.CheckBoxFor(u => u.conCliEliminar)</td>
                                            <td>@Html.CheckBoxFor(u => u.conCliExportar)</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Contratos</td>
                                            <td>@Html.CheckBoxFor(u => u.conCon)</td>
                                            <td>@Html.CheckBoxFor(u => u.conConAgregar)</td>
                                            <td>@Html.CheckBoxFor(u => u.conConEditar)</td>
                                            <td>@Html.CheckBoxFor(u => u.conConEliminar)</td>
                                            <td>@Html.CheckBoxFor(u => u.conConExportar)</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Modelo de Cobro</td>
                                            <td>@Html.CheckBoxFor(u => u.conMod)</td>
                                            <td>@Html.CheckBoxFor(u => u.conModAgregar)</td>
                                            <td>@Html.CheckBoxFor(u => u.conModEditar)</td>
                                            <td>@Html.CheckBoxFor(u => u.conModEliminar)</td>
                                            <td>@Html.CheckBoxFor(u => u.conModExportar)</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Puntos</td>
                                            <td>@Html.CheckBoxFor(u => u.conPun)</td>
                                            <td>@Html.CheckBoxFor(u => u.conPunAgregar)</td>
                                            <td>@Html.CheckBoxFor(u => u.conPunEditar)</td>
                                            <td>@Html.CheckBoxFor(u => u.conPunEliminar)</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Sucursal</td>
                                            <td>@Html.CheckBoxFor(u => u.conSuc)</td>
                                            <td>@Html.CheckBoxFor(u => u.conSucAgregar)</td>
                                            <td>@Html.CheckBoxFor(u => u.conSucEditar)</td>
                                            <td>@Html.CheckBoxFor(u => u.conSucEliminar)</td>
                                            <td>@Html.CheckBoxFor(u => u.conSucExportar)</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Franquicias Descuentos</td>
                                            <td>@Html.CheckBoxFor(u => u.franDesc)</td>
                                            <td>@Html.CheckBoxFor(u => u.franDescAgregar)</td>
                                            <td>@Html.CheckBoxFor(u => u.franDescEditar)</td>
                                            <td>@Html.CheckBoxFor(u => u.franDescEliminar)</td>
                                            <td>@Html.CheckBoxFor(u => u.franDescExportar)</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Franquicias</td>
                                            <td>@Html.CheckBoxFor(u => u.franFran)</td>
                                            <td>@Html.CheckBoxFor(u => u.franFranAgregar)</td>
                                            <td>@Html.CheckBoxFor(u => u.franFranEditar)</td>
                                            <td>@Html.CheckBoxFor(u => u.franFranEliminar)</td>
                                            <td>@Html.CheckBoxFor(u => u.franFranExportar)</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Leasing</td>
                                            <td>@Html.CheckBoxFor(u => u.franLea)</td>
                                            <td>@Html.CheckBoxFor(u => u.franLeaAgregar)</td>
                                            <td>@Html.CheckBoxFor(u => u.franLeaEditar)</td>
                                            <td>@Html.CheckBoxFor(u => u.franLeaEliminar)</td>
                                            <td>@Html.CheckBoxFor(u => u.franLeaExportar)</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Franquiciado Proceso de Calculo</td>
                                            <td>@Html.CheckBoxFor(u => u.franProc)</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>@Html.CheckBoxFor(u => u.franLeaExportar)</td>
                                            <td>@Html.CheckBoxFor(u => u.franProcPagar)</td>
                                            <td>@Html.CheckBoxFor(u => u.franProcPrepagar)</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Mantenedor de Camiones</td>
                                            <td>@Html.CheckBoxFor(u => u.manCam)</td>
                                            <td>@Html.CheckBoxFor(u => u.manCamAgregar)</td>
                                            <td>@Html.CheckBoxFor(u => u.manCamEditar)</td>
                                            <td>@Html.CheckBoxFor(u => u.manCamEliminar)</td>
                                            <td>@Html.CheckBoxFor(u => u.manCamExportar)</td>
                                            <td></td>
                                            <td></td>
                                            <td>@Html.CheckBoxFor(u => u.manCamRestriccion)</td>
                                        </tr>
                                        
                                        <tr>
                                            <td>Mantenedor Comuna</td>
                                            <td>@Html.CheckBoxFor(u => u.manComu)</td>
                                            <td>@Html.CheckBoxFor(u => u.manComuAgregar)</td>
                                            <td>@Html.CheckBoxFor(u => u.manComuEditar)</td>
                                            <td>@Html.CheckBoxFor(u => u.manComuEliminar)</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>

                                        </tr>
                                        <tr>
                                            <td>Mantenedor Conductores</td>
                                            <td>@Html.CheckBoxFor(u => u.manCon)</td>
                                            <td>@Html.CheckBoxFor(u => u.manConAgregar)</td>
                                            <td>@Html.CheckBoxFor(u => u.manConEditar)</td>
                                            <td>@Html.CheckBoxFor(u => u.manConEliminar)</td>
                                            <td>@Html.CheckBoxFor(u => u.manConExportar)</td>
                                            <td></td>
                                            <td></td>
                                            <td>@Html.CheckBoxFor(u => u.manConRestriccion)</td>
                                        </tr>
                                        <tr>
                                            <td>Mantenedor de Descuentos</td>
                                            <td>@Html.CheckBoxFor(u => u.manDesc)</td>
                                            <td>@Html.CheckBoxFor(u => u.manDescAgregar)</td>
                                            <td>@Html.CheckBoxFor(u => u.manDescEditar)</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>MMantenedor de Equipamiento</td>
                                            <td>@Html.CheckBoxFor(u => u.manEqui)</td>
                                            <td>@Html.CheckBoxFor(u => u.manEquiAgregar)</td>
                                            <td>@Html.CheckBoxFor(u => u.manEquiEditar)</td>
                                            <td>@Html.CheckBoxFor(u => u.manEquiEliminar)</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Mantenedor de Herramientas</td>
                                            <td>@Html.CheckBoxFor(u => u.manHerr)</td>
                                            <td>@Html.CheckBoxFor(u => u.manHerrAgregar)</td>
                                            <td>@Html.CheckBoxFor(u => u.manHerrEditar)</td>
                                            <td>@Html.CheckBoxFor(u => u.manHerrEliminar)</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Mantenedor de Rubro</td>
                                            <td>@Html.CheckBoxFor(u => u.manRub)</td>
                                            <td>@Html.CheckBoxFor(u => u.manRubAgregar)</td>
                                            <td>@Html.CheckBoxFor(u => u.manRubEditar)</td>
                                            <td>@Html.CheckBoxFor(u => u.manRubEliminar)</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Mantenedor UF</td>
                                            <td>@Html.CheckBoxFor(u => u.manUF)</td>
                                            <td>@Html.CheckBoxFor(u => u.manUFAgregar)</td>
                                            <td>@Html.CheckBoxFor(u => u.manUFEditar)</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Mantenedor de Unidad de Negocio</td>
                                            <td>@Html.CheckBoxFor(u => u.manUN)</td>
                                            <td>@Html.CheckBoxFor(u => u.manUNAgregar)</td>
                                            <td>@Html.CheckBoxFor(u => u.manUNEditar)</td>
                                            <td>@Html.CheckBoxFor(u => u.manUNEliminar)</td>
                                            <td>@Html.CheckBoxFor(u => u.manUNExportar)</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Planificacion Cobro Cliente</td>
                                            <td>@Html.CheckBoxFor(u => u.planCC)</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Planificacion Hoja de Ruta</td>
                                            <td>@Html.CheckBoxFor(u => u.planHR)</td>
                                            <td></td>
                                            <td>@Html.CheckBoxFor(u => u.planHRModEditar)</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Planificacion de Modelo de Cobro</td>
                                            <td>@Html.CheckBoxFor(u => u.planMod)</td>
                                            <td>@Html.CheckBoxFor(u => u.planModAgregar)</td>
                                            <td>@Html.CheckBoxFor(u => u.planModEditar)</td>
                                            <td>@Html.CheckBoxFor(u => u.planModEliminar)</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Planificacion Proceso de Cobro</td>
                                            <td>@Html.CheckBoxFor(u => u.planPC)</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                    <tr>
                                        <th>Nombre Modulo</th>
                                        <th>Ver</th>
                                        <th>Agregar</th>
                                        <th>Editar/Grabar</th>
                                        <th>Eliminar</th>
                                        <th>Exportar</th>
                                        <th>pagar</th>
                                        <th>pre-pagar</th>
                                        <th>Restricciones</th>
                                    </tr>
                                </table>
                            </div>
                           
                                        <div class="form-group">
                                            <button type="submit" id="guardar" class="btn btn-primary btn-lg">Guardar</button>
                                        </div>
                                        }
                                        </div>
            </div>
        </div>

    </div>


</div>
