﻿@model SGS.Models.RegisterModel
@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}
<div id="content" class="col-lg-10 col-sm-11 ">

    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Usuarios",Url.RouteUrl(new {Controller="Usuarios",Action="Index"})},
                            {"Agregar Usuario",Url.RouteUrl(new {Controller="Usuarios",Action="Create"})}
                            })
            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="icon-plus-sign"></i><span class="break"></span>Agregar Nuevo Usuario</h2>
                    <a href="@Url.RouteUrl(new { Controller = "Usuarios", Action = "Index" })" class="btn btn-primary pull-right btn-lg">Volver al listado</a>

                </div>

                <div class="box-content">
                    @using (Html.BeginForm("Create", "Usuarios"))
                    {
                        <fieldset class="col-sm-12">
                            <div class="form-group">
                                @if (Model != null && Model.idUsuario != 0)
                                {
                                    @Html.HiddenFor(m => m.idUsuario, new { @id = "id" })
                                }
                                <label class="control-label pull-left label-see">Usuario de Acceso</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control pull-right", @id = "nombreusuario" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.UserName)</label>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Contraseña</label>
                                <div class="input-group col-sm-5">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control pull-right", @id = "pass" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.Password)</label>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Email</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.email, new { @type = "email", @class = "form-control pull-right", @id = "correo" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.email)</label>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Nombre Completo</label>

                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.nombre, new { @class = "form-control pull-right", @id = "nombre" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.nombre)</label>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Perfil</label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownListFor(model => model.perfiles.perfilSelect,
                                      @Model.perfiles.perfiles, new { @class = "form-control", @id = "perfil" })
                                </div>
                            </div>
                            <div class="clearfix"></div>


                            <div class="form-group">
                                <label class="control-label pull-left label-see">Centro Responsabilidad</label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownListFor(model => model.cr.CRSelect,
                                      @Model.cr.CR, new { @class = "form-control", @id = "cr" })
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Unidad de Negocio</label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownListFor(model => model.un.UNSelect,
                                      @Model.un.UN, new { @class = "form-control", @id = "un" })
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Estado</label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownListFor(model => model.estados.estadoSelect,
                                      @Model.estados.estados, new { @class = "form-control", @id = "estados" })
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <button type="submit" id="guardar" class="btn btn-primary btn-lg">Guardar</button>
                            </div>
                        </fieldset>
                    }

                </div>
            </div>
        </div>

    </div>
</div>
@section scripts
{
    <script src="@Url.Content("~/Scripts/jquery.price_format.2.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/toastr.min.js")"></script>
    <script>
        $(document).ready(function () {

        });
    </script>
    <script>
        $(document).ready(function () {

            var repetido = 0;
            if ($('#id').val() != -1) {
                $('#nombreusuario').attr('disabled', 'disabled');
                repetido = 1;
            }
            $('#nombreusuario').focusout(function () {
                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    url: '/usuarios/nombreValido',
                    type: 'POST',
                    data: JSON.stringify({ user: $('#nombreusuario').val(), idUser: $('#id').val() }),
                    success: function (data) {
                        console.log('entre');
                        repetido = data;
                    }
                });
            });
            $('#guardar').click(function () {
                if ($('#pass').val() == null || $('#pass').val() == '') {
                    if ($('#id').val() == -1) {
                        alertify.error('Debe ingresar una contraseña');
                        return false;
                    }
                }
                if (repetido == 0 || $('#nombreusuario').val() == null || $('#nombreusuario').val() == '' || $('#nombre').val() == null || $('#nombre').val() == '' || $('#correo').val() == null || $('#correo').val() == '') {
                    console.log(repetido);
                    if ($('#nombreusuario').val() == null || $('#nombreusuario').val() == '') alertify.error('Debe ingresar un nombre usuario');
                    if ($('#nombre').val() == null || $('#nombre').val() == '') alertify.error('Debe ingresar un nombre');
                    if ($('#correo').val() == null || $('#correo').val() == '') alertify.error('Debe ingresar un correo');

                    if (repetido == 0) alertify.error('El nombre ya existe');
                    return false;
                }
            })
        })
    </script>
}

