﻿@{
    Layout = null;
    Response.AddHeader("Content-type", "application/vnd.ms-excel");
    Response.AddHeader("Content-Disposition", "attachment; filename=usuarios.xls");
}

<table border="1">
    <tr>
        <th style="width:auto" class="sorting_asc" role="columnheader">Nombre</th>
        <th style="width:auto" class="sorting">Perfil</th>
        <th style="width:auto" class="sorting">Estado</th>
    </tr>
    <tbody>
        @foreach (var m in Model.row)
        {
            <tr>
                <td>@m.userName</td>
                <td>@m.perfil</td>
                <td>
                    @if (m.estado == 1)
                    {
                        <span class="label label-success">Activo</span>
                    }
                    else
                    {
                        <span class="label label-important">Inactivo</span>
                    }
                </td> 
            </tr>

        }
    </tbody>
</table>