﻿@model SGS.Models.puntos_servicio
@{
    ViewBag.Title = "View1";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

<div id="content" class="col-lg-10 col-sm-11 ">

    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Puntos Servicios",Url.RouteUrl(new {Controller="PuntosServicios",Action="Index"})},
                            {"Agregar Punto de Servicio",Url.RouteUrl(new {Controller="PuntosServicios",Action="Create"})}
                            })
            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="icon-plus-sign"></i><span class="break"></span>Agregar Nuevo Punto</h2>
                    <a href="@Url.RouteUrl(new { Controller = "PuntosServicios", action = "Index" })" class="btn btn-primary pull-right btn-lg">Volver al listado</a>
                </div>

                <div class="box-content">
                    @using (Html.BeginForm("Create", "PuntosServicios"))
                    {
                        <fieldset class="col-sm-12">
                            <div class="form-group">
                                @if (Model != null && Model.id_punto_servicio != 0)
                                {
                                    @Html.HiddenFor(m => m.id_punto_servicio)
                                }
                                <label class="control-label pull-left label-see">Nombre Punto</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.nombre_punto, new { @class = "form-control pull-right" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.nombre_punto)</label>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Contrato</label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownListFor(m => m.id_contrato, ViewBag.contratos as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label class="control-label pull-left label-see">Estado</label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownListFor(m => m.estado_punto, ViewBag.estado as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>



                            <div class="form-group">
                                <label class="control-label pull-left label-see">Frecuencia<br /></label>
                                <div class="input-group col-sm-5">
                                    <table style="width:100%">
                                        <tr style="width:100%;padding-left:4px;">

                                            <td style="width:auto;vertical-align: middle;">
                                            <td>
                                                <label class="control-label pull-left" style="font-size:10px;width:auto">Lunes </label>
                                                <br />
                                                <div style="width:inherit;">
                                                    @Html.CheckBoxFor(m => m.lunes, new { id = "checkbox-1-2", @class = "regular-checkbox" })
                                                </div>


                                            </td>

                                            <td>
                                                <label class="control-label pull-left" style="font-size:10px;width:auto;">Martes</label>
                                                <br />
                                                <div style="width:inherit;">
                                                    @Html.CheckBoxFor(m => m.martes, new { id = "checkbox-1-2", @class = "regular-checkbox" })
                                                </div>
                                            </td>

                                            <td>
                                                <label class="control-label" style="font-size:10px;width:auto;">Miercoles</label>
                                                <br />
                                                <div style="width:inherit;">
                                                    @Html.CheckBoxFor(m => m.miercoles, new { id = "checkbox-1-2", @class = "regular-checkbox" })
                                                </div>
                                            </td>

                                            <td>
                                                <label class="control-label" style="font-size:10px;width:auto;">Jueves</label>
                                                <br />
                                                <div style="width:inherit;">
                                                    @Html.CheckBoxFor(m => m.jueves, new { id = "checkbox-1-2", @class = "regular-checkbox" })
                                                </div>
                                            </td>

                                            <td>
                                                <label class="control-label" style="font-size:10px;width:auto;">Viernes</label>
                                                <br />
                                                <div style="width:inherit;">
                                                    @Html.CheckBoxFor(m => m.viernes, new { id = "checkbox-1-2", @class = "regular-checkbox" })
                                                </div>
                                            </td>

                                            <td>
                                                <label class="control-label" style="font-size:10px;width:auto;">Sabado</label>
                                                <br />
                                                <div style="width:inherit;">
                                                    @Html.CheckBoxFor(m => m.sabado, new { id = "checkbox-1-2", @class = "regular-checkbox" })
                                                </div>
                                            </td>

                                            <td>
                                                <label class="control-label" style="font-size:10px;width:auto;">Domingo</label>
                                                <br />
                                                <div style="width:inherit;">
                                                    @Html.CheckBoxFor(m => m.domingo, new { id = "checkbox-1-2", @class = "regular-checkbox" })
                                                </div>
                                            </td>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Pago a franquiciado por peso</label>
                                <div class="input-group col-sm-5">
                                    @Html.CheckBoxFor(m => m.pago_por_peso)
                                </div>
                            </div>
                            <div class="clearfix"></div>




                            <div class="form-group">
                                <label class="control-label pull-left label-see">Rellenos</label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownListFor(m => m.id_vertedero, ViewBag.vertederos as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Equipos</label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownListFor(m => m.id_equipo, ViewBag.equipos as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label class="control-label pull-left label-see">Numero de equipos</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.cant_equipos, new { @class = "form-control", @type = "number" })
                                </div>
                            </div>
                            <div class="clearfix"></div>



                            <div class="form-group">
                                <label class="control-label pull-left label-see">Residuo</label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownListFor(m => m.id_residuo, ViewBag.residuos as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Tipo de Tarifa</label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownListFor(m => m.id_tipo_tarifa, ViewBag.tipotarifas as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                                <a href="@Url.RouteUrl(new { Controller = "TiposTarifas", action = "Create2" ,id=Model.id_punto_servicio })" class="btn btn-primary pull-right btn-lg">Crear Tarifa</a></div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label class="control-label pull-left label-see">Codigo Externo</label>
                                <div class="input-group col-sm-5">
                                    @Html.CheckBoxFor(m => m.codigo_externo_asignado, new { id = "checkbox-asignado", @class = "regular-checkbox" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <h2 style="background: #005580;padding: 10px 0 10px 2px;color: #fff;font-weight: bold;">Datos de Contacto</h2>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Nombre Contacto</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.nombre_contacto, new { @class = "form-control pull-right" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.nombre_contacto)</label>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Email Contacto</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.email_contacto, new { @class = "form-control pull-right" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.email_contacto)</label>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Fono Contacto</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.fono_contacto, new { @class = "form-control pull-right" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.fono_contacto)</label>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Celular Contacto</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.celular_contacto, new { @class = "form-control pull-right" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.celular_contacto)</label>
                            </div>
                            <div class="clearfix"></div>


                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
                            </div>
                        </fieldset>
                    }

                </div>
            </div>
        </div>

    </div>


</div>
