<<<<<<< .mine
﻿@model SGS.Models.puntos_servicio
@{
    ViewBag.Title = "View1";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

<div id="content" class="col-lg-10 col-sm-11 ">

    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Puntos Servicios",Url.RouteUrl(new {Controller="PuntosServicios",Action="Index"})},
                            {"Agregar Punto de Servicio",Url.RouteUrl(new {Controller="PuntosServicios",Action="Create"})}
                            })
            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="icon-plus-sign"></i><span class="break"></span>@ViewBag.TitleIs Agregar Nuevo Punto</h2>
                    <a href="@Url.RouteUrl(new { Controller = "PuntosServicios", action = "Index" })" class="btn btn-primary pull-right btn-lg">Volver al listado</a>
                </div>

                <div class="box-content">
                    @using (Html.BeginForm("Createflow","PuntosServicios")){
                        <fieldset class="col-sm-12">
                            <div class="form-group">
                                @if (Model != null && Model.id_punto_servicio != 0)
                                {
                                    @Html.HiddenFor(m => m.id_punto_servicio)
                                }
                                <label class="control-label pull-left label-see">Nombre Punto</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.nombre_punto, new { @class = "form-control pull-right" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.nombre_punto)</label>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Contrato</label>
                                <div class="input-group col-sm-5">
                                   @Html.DropDownListFor(m => m.id_contrato, ViewBag.contratos as IEnumerable<SelectListItem>, new { @class = "form-control" , @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label class="control-label pull-left label-see">Estado</label>
                                <div class="input-group col-sm-5">
                                   @Html.DropDownListFor(m => m.estado_punto, ViewBag.estado as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>


                           
                            <div class="form-group">
                                <label class="control-label pull-left label-see">Frecuencia<br /></label>
                                <div class="input-group col-sm-5">
                            <table style="width:100%">
                                <tr style="width:100%;padding-left:4px;">
                                    
                                    <td style="width:auto;vertical-align: middle;" >
                                        <td>
                                        <label class="control-label pull-left" style="font-size:10px;width:auto">Lunes </label>                    
                                        <br />
                                        <div  style="width:inherit;">
                                         @Html.CheckBoxFor(m => m.lunes, new { id="checkbox-1-2", @class="regular-checkbox"} )
                                        </div>
                                        

                                     </td>

                                        <td>
                                        <label class="control-label pull-left" style="font-size:10px;width:auto;">Martes</label>
                                         <br />
                                            <div style="width:inherit;">
                                         @Html.CheckBoxFor(m => m.martes, new { id="checkbox-1-2", @class="regular-checkbox"} )
                                        </div>
                                        </td>
                                  
                                        <td>
                                        <label class="control-label" style="font-size:10px;width:auto;">Miercoles</label>
                                           <br />
                                            <div style="width:inherit;">
                                         @Html.CheckBoxFor(m => m.miercoles, new { id="checkbox-1-2", @class="regular-checkbox"} )
                                        </div>
                                        </td>
                                                                                                                
                                        <td>
                                        <label class="control-label" style="font-size:10px;width:auto;">Jueves</label>
                                          <br />
                                            <div style="width:inherit;">
                                         @Html.CheckBoxFor(m => m.jueves, new { id="checkbox-1-2", @class="regular-checkbox"} )
                                        </div>
                                        </td>
                                      
                                        <td>
                                        <label class="control-label" style="font-size:10px;width:auto;">Viernes</label>
                                          <br />
                                        <div style="width:inherit;">
                                         @Html.CheckBoxFor(m => m.viernes, new { id="checkbox-1-2", @class="regular-checkbox"} )
                                        </div>
                                        </td>
                                   
                                        <td>
                                        <label class="control-label" style="font-size:10px;width:auto;">Sabado</label>
                                          <br />
                                            <div style="width:inherit;">
                                         @Html.CheckBoxFor(m =>m.sabado, new { id="checkbox-1-2", @class="regular-checkbox"} )
                                        </div>
                                        </td>
                                 
                                        <td>
                                        <label class="control-label" style="font-size:10px;width:auto;">Domingo</label>
                                          <br />
                                            <div style="width:inherit;">
                                         @Html.CheckBoxFor(m => m.domingo, new { id="checkbox-1-2", @class="regular-checkbox"} )
                                        </div>
                                        </td>
                                    </td>  
                                </tr>
                            </table>
                            </div>
                            </div>
                            <div class="clearfix"></div>

                           
                            <div class="form-group">
                                <label class="control-label pull-left label-see">Pago a franquiciado por peso</label>
                                <div class="input-group col-sm-5">
                                    @Html.CheckBoxFor(m => m.pago_por_peso)
                                </div>
                            </div>
                            <div class="clearfix"></div>
                         

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Rellenos</label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownListFor(m => m.id_vertedero, ViewBag.vertederos as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>

                             <div class="form-group">
                                <label class="control-label pull-left label-see">Equipos</label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownListFor(m => m.id_equipo, ViewBag.equipos as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label class="control-label pull-left label-see">Numero de equipos</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.cant_equipos, new { @class = "form-control", @type="number" })
                                </div>
                            </div>
                            <div class="clearfix"></div>



                            <div class="form-group">
                                <label class="control-label pull-left label-see">Residuo</label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownListFor(m => m.id_residuo, ViewBag.residuos as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Tipo de Tarifa</label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownListFor(m => m.id_tipo_tarifa, ViewBag.tipotarifas as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>                           
                            <a href="@Url.RouteUrl(new { Controller = "TiposTarifas", action = "Create2" ,id=Model.id_punto_servicio })" class="btn btn-primary pull-right btn-lg">Crear Tarifa</a></div>
                            <div class="clearfix"></div>
                             <h2 style="background: #005580;padding: 10px 0 10px 2px;color: #fff;font-weight: bold;">Datos de Contacto</h2>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Nombre Contacto</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.nombre_contacto, new { @class = "form-control pull-right" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.nombre_contacto)</label>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Email Contacto</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.email_contacto, new { @class = "form-control pull-right" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.email_contacto)</label>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Fono Contacto</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.fono_contacto, new { @class = "form-control pull-right" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.fono_contacto)</label>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Celular Contacto</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.celular_contacto, new { @class = "form-control pull-right" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.celular_contacto)</label>
                            </div>
                            <div class="clearfix"></div>


                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
                            </div>
                        </fieldset>
                    }

                </div>
            </div>
        </div>

    </div>


</div>
=======
﻿@model SGS.Models.sucursales
@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

<script src="/Scripts/jquery.2.1.js"></script>
<script src="/Scripts/jquery-ui.min.js"></script>
<script src="/Scripts/jquery.cookie.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        $.each($('input'), function (i, val) {
            if ($(this).attr("type") == "hidden") {
                var valueOfHidFiled = $(this).val().toString();
                if (valueOfHidFiled == 'EXISTE') {
                    alert("Error. La Sucursal ha sido ingresado previamente");
                    return false;
                };
            };
        });

    });

</script>

<div id="content" class="col-lg-10 col-sm-11 ">

    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Sucursales",Url.RouteUrl(new {Controller="Sucursales",Action="Index"})},
                            {"Agregar Sucursal",Url.RouteUrl(new {Controller="Sucursales",Action="Create"})}
                            })
            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="icon-plus-sign"></i><span class="break"></span>Cliente @ViewBag.ClieName Agregar Nueva Sucursal</h2>
                    <a href="@Url.RouteUrl(new {  Controller="Sucursales",Action="Index"})" class="btn btn-primary pull-right btn-lg">Volver al listado</a>
                </div>

                <div class="box-content">
                    @using (Html.BeginForm("createflow", "Sucursales"))
                    { 
                        <fieldset class="col-sm-12">
                            <div class="form-group">
                                @if (Model != null && Model.id_sucursal != 0)
                                {
                                    @Html.HiddenFor(m => m.id_sucursal)
                                }
                                <label class="control-label pull-left label-see">Cliente</label>
                                <div class="input-group col-sm-5" style="width:440px">
                                    @Html.DropDownListFor(m => m.id_cliente, ViewBag.Clientes as IEnumerable<SelectListItem>, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Sucursal</label>
                                <div class="input-group col-sm-5" style="width:440px">
                                    @Html.TextBoxFor(m => m.sucursal, new { @class = "form-control pull-right" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.sucursal)</label>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Descripción</label>
                                <div class="input-group col-sm-5" style="width:440px">
                                    @Html.TextBoxFor(m => m.descripcion, new { @class = "form-control pull-right" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.descripcion)</label>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">País</label>
                                <div class="input-group col-sm-5" style="width:440px">
                                    @Html.DropDownListFor(m => m.id_pais, ViewBag.Paises as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Región</label>
                                <div class="input-group col-sm-5" style="width:440px">
                                    @Html.DropDownListFor(m => m.id_region, ViewBag.Regiones as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Ciudad</label>
                                <div class="input-group col-sm-5" style="width:440px">
                                    @Html.DropDownListFor(m => m.id_ciudad, ViewBag.Ciudades as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label class="control-label pull-left label-see">Comunas</label>
                                <div class="input-group col-sm-5" style="width:440px" >
                                    @Html.DropDownListFor(m => m.id_comuna, ViewBag.Comunas as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label class="control-label pull-left label-see">Dirección</label>
                                <div class="input-group col-sm-5" style="width:440px" >
                                    @Html.DropDownList("tipo", null, new { @class = "form-control pull-left", @style = "width: 100px;" })  
                                    @Html.TextBox("direccion", null, new { @class = "form-control pull-left", @style = "width: 190px;", @placeholder = "Santa Rosa" })
                                    @Html.TextBox("numero_direccion", null, new { @class = "form-control pull-right", @maxlength = "6", @style = "width: 120px;", @placeholder = "1234" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessage("direccion")</label>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label class="control-label pull-left label-see">Zona</label>
                                <div class="input-group col-sm-5" style="width:440px">
                                    @Html.DropDownList("zonas", null, new { @class = "form-control pull-left" })
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Periodo de Cobro</label>
                                <div class="input-group col-sm-2">
                                    @Html.DropDownList("desde", null, new { @class = "form-control pull-right" }) 
                                </div>
                                <div class="input-group col-sm-2">
                                    @Html.DropDownList("hasta", null, new { @class = "form-control pull-right" }) 
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Estado</label>
                                <div class="input-group col-sm-5" style="width:440px">
                                    @Html.DropDownList("estado", null, new { @class = "form-control pull-left" }) 
                                </div>
                            </div>
                            <div class="clearfix"></div>

                           @* <div class="form-group">
                                <label class="control-label pull-left label-see">Rubro</label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownListFor(m => m.id_rubro, ViewBag.Rubros as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>*@

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
                            </div>
                        </fieldset>
                    }

                </div>
            </div>
        </div>
        <input type="hidden" value="@ViewBag.Error" id="idError" />
    </div>


</div>
>>>>>>> .r53
