﻿

 .box-content{

    height:450px;
    overflow:hidden;
    overflow-y: scroll;
}


    .todo ul li {
    
    font-size:12px;
    }


.drop-hover {

background-color:lightblue;

}

#sb-player.html {


}

#sb-body {
    background-color: #f9f9f9;
   
}

#sb-loading {

background-color:black;
}

