﻿@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_main_layout.cshtml";
 }

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fx/pages/camiones.js")"></script>

}

<div id="content" class="col-lg-12 col-sm-11  ">
    <div class="row">
        <div class="col-lg-12 col-md-9">

            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Camiones",Url.RouteUrl(new {Controller="Camiones",Action="Index"})}
                            })

            <div class="box">
                <div class="box-header" data-original-title>
                    <h2><i class="icon-truck"></i><span class="break"></span>Modulo Camiones</h2>
                    <a href="@Url.RouteUrl(new {Controller="camiones",action="Excel" })" class="btn btn-lg pull-right btn-success">Excel</a>
                    <a href="@Url.RouteUrl(new {Controller="camiones",action="Create" })" class="btn btn-primary pull-right btn-lg">Agregar Camión</a>
                </div>

                <div class="box-content">
                    <table class="table  table-bordered bootstrap-datatable datatable">
                        <thead role="row" class="tab-header">
                            <tr>
                                 <th style="width:auto" class="sorting">N° Interno</th>
                                <th style="width:auto" class="sorting_asc" role="columnheader">Descripcion Camion</th>
                                <th style="width:auto" class="sorting">Patente</th>
                                <th style="width:auto" class="sorting">Servicio</th>
                                <th style="width:auto" class="sorting">Estado</th>
                                <th style="width:auto" class="sorting">Franquiciado Asignado</th>
                                <th style="width:auto" class="sorting">Acciones</th>
                            </tr>
                        </thead>
                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            @foreach (var c in Model)
                            {
                                <tr class="odd"
                                    @if (c.restricciones.Count>0) {
                                    @Html.Raw("style=\"background:#FFC3C3 !important;\" title=\"Este camion tiene restricciones\"") }>
                                    <td>@c.n_interno</td>
                                    <td>@c.camion</td>
                                    <td>@c.patente</td>
                                    <td>@c.tipo_servicio1</td>
                                    <td>@c.estado</td>
                                    <td>
                                        @if (c.nombre_franquiciado != null)
                                        { @c.nombre_franquiciado}
                                    </td>
                                    <td>
                                        <a class="btn btn-success" href="@Url.RouteUrl(new { Controller = "Camiones", Action = "View", Id = c.id_camion })" rel="shadowbox" target="_blank" title="Ver Camión"><i class="icon-zoom-in "></i></a>
                                        <a class="btn btn-info" href="@Url.RouteUrl(new { Controller="Camiones",Action="Edit",Id=c.id_camion})" title="Editar"><i class="icon-edit"></i></a>
                                        <a class="btn btn-danger" onclick="return confirm('Estas seguro(a) que deseas eliminar @c.camion ?');" href="@Url.RouteUrl(new { Controller = "Camiones", Action = "Delete", Id = c.id_camion })" title="Eliminar"><i class="icon-trash "></i></a>
                                        <a class="btn btn-danger" href="@Url.RouteUrl(new { Controller = "Camiones", Action = "Restrict", Id = c.id_camion })" title="Agregar Restriccion"><i class="icon-minus-sign "></i></a>
                                        <a class="btn btn-info" href="@Url.RouteUrl(new { Controller = "Camiones", Action = "Print", Id = c.id_camion })" target="_blank" title="Imprimir"><i class="icon-print "></i></a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--/col-->

    </div><!--/row-->

</div>
