﻿@{

    Layout = "~/Views/Shared/_main_ViewLayout.cshtml";
}


<div class="box">
    <div class="box-header" data-original-title="">
        <h2><i class="icon-camera"></i><span class="break"></span>Camion @Model.camion</h2>
    </div>

    <div class="box-content">
        <h3 class="header-see">Datos del Camión</h3>
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <td>Descripción Camión</td>
                <td>@Model.camion</td>
            </tr>
            <tr>
                <td>Patente</td>
                <td>@Model.patente</td>
            </tr>
            <tr>
                <td>Modelo Camión</td>
                <td>@Model.modelo_camion</td>
            </tr>
            <tr>
                <td>Capacidad de Carga</td>
                <td>@Model.capacidad_camion</td>
            </tr>
            <tr>
                <td>Estado</td>
                <td>@Model.estado</td>
            </tr>
            <tr>
                <td>Observación</td>
                <td>@Model.observacion</td>
            </tr>
            <tr>
                <td>Marca</td>
                <td>@Model.marca</td>
            </tr>
            <tr>
                <td>Conductor Asignado</td>
                <td>@Model.nombre_conductor</td>
            </tr>
            <tr>
                <td>Tipo Servicio</td>
                <td>@Model.tipo_servicio1</td>
            </tr>

        </table>

        <br/>

        <h3 class="header-see">Restricciones del Camión</h3>

        @if (Model.restricciones.Count > 0) { 

        <table class="table table-bordered table-hover table-striped">
            <tr style="background: #1B82C1;font-weight: bold;">
                <td>Cliente</td>
                <td>Motivo</td>
            </tr>
            @foreach(var r in Model.restricciones){
            <tr>
                <td>@r.clientes.razon_social</td>
                <td>@r.motivo</td>
            </tr>
            }
        </table>

         } else {
             <span>Este camion no tiene Restricciones</span>
        }    

    </div>
</div>