﻿@{
    Layout = null;
    Response.AddHeader("Content-type", "application/vnd.ms-excel");
    Response.AddHeader("Content-Disposition", "attachment; filename=Lista_Servicios.xls");
}

<table border="0">
    <thead>
        <tr>
            <th colspan="14">
                <h2>Lista de Servicios</h2>
            </th>
        </tr>
        <tr>
            <th>
                Fecha desde:
            </th>
            <th>
                @ViewBag.desde
            </th>
            <th>
                Fecha Hasta:
            </th>
            <th>
                @ViewBag.hasta
            </th>
        </tr>
    </thead>
</table>
<br />
<table border="1">
    <thead>
        <tr>
            <th style="background-color: #cccccc">Fecha</th>
            <th style="background-color: #cccccc">Bitacora</th>
            <th style="background-color: #cccccc">Guia</th>
            <th style="background-color: #cccccc">Ticket</th>
            <th style="background-color: #cccccc">Servicio</th>
            <th style="background-color: #cccccc">Conductor</th>
            <th style="background-color: #cccccc">Patente</th>
            <th style="background-color: #cccccc">Tipo contenedor</th>
            <th style="background-color: #cccccc">Estado Serv.</th>
            <th style="background-color: #cccccc">Nivel Llenado</th>
            <th style="background-color: #cccccc">Volumen</th>
            <th style="background-color: #cccccc">Residuo</th>
            <th style="background-color: #cccccc">Origen</th>
            <th style="background-color: #cccccc">Destino</th>
            <th style="background-color: #cccccc">Tipo Pesaje</th>
            <th style="background-color: #cccccc">Peso</th>
            <th style="background-color: #cccccc">Densidad</th>
            <th style="background-color: #cccccc">Observacion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@Convert.ToDateTime(m.fecha).ToString("dd-MM-yyyy")</td>
                <td>@m.folio</td>
                <td>@m.codigo_externo</td>
                <td>@m.equipoentrada</td>
                <td>@m.servicio</td>
                <td>@m.conductor</td>
                <td>@m.patente</td>
                <td>@m.tipoContenedor.Replace("Contenedor", string.Empty)</td>
                <td>@m.estado_hoja</td>
                <td>@m.nivelLlenado</td>
                <td>@m.volumen</td>
                <td>@m.residuo</td>
                <td>@m.origen</td>
                <td>@m.destino</td>
                <td>@m.tipoPesaje</td>
                <td>@m.peso</td>
                <td>@m.densidad.ToString("N2")</td>
                <td>@m.detalle_observacion</td>
            </tr>

        }
    </tbody>
</table>