﻿@*
    Empresa: valentys
    Fecha : 08-07-2015
    Descripción: lista con el historial de reajustes.
*@
@model List<SGS.Models.SP_SEL_ListaServicio_Result>

@if (Model.Count > 0)
{
    <div style="margin-left:10px;margin-right:10px;">
        @*<h3 style="font-weight: bold;">Historial de Reajustes.</h3>*@

        <table class="table table-striped table-bordered bootstrap-datatable datatable w100" style="font-size:12px">
            <thead role="row" class="tab-header">
                <tr>
                    <th class="sorting_asc" role="columnheader">Fecha</th>
                    <th class="sorting">HDR</th>
                    <th class="sorting">Guía</th>
                    <th class="sorting">Ticket</th>
                    <th class="sorting">Servicio</th>
                    <th class="sorting">Conductor</th>
                    <th class="sorting">Patente</th>
                    <th class="sorting">Tipo</th>
                    <th class="sorting">Estado Serv.</th>
                    <th class="sorting">Residuo</th>
                    <th class="sorting">Origen</th>
                    <th class="sorting">Destino</th>
                    <th class="sorting">Tipo Pesaje</th>
                    <th class="sorting">Peso</th>
                    <th class="sorting">Den</th>
                    <th class="sorting">Observacion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model)
                {
                    <tr>
                        <td>@Convert.ToDateTime(m.fecha).ToString("dd-MM-yyyy")</td>
                        <td>@m.folio</td>
                        <td>@m.codigo_externo</td>
                        <td>@m.equipoentrada</td>
                        <td>@m.servicio</td>
                        <td>@m.conductor</td>
                        <td>@m.patente</td>
                        <td>@m.tipoContenedor.Replace("Contenedor", string.Empty)</td>
                        <td>@m.estado_hoja</td>
                        <td>@m.residuo</td>
                        <td>@m.origen</td>
                        <td>@m.destino</td>
                        <td>@m.tipoPesaje</td>
                        <td>@m.peso</td>
                        <td>@m.densidad.ToString("N4")</td>
                        <td>@m.detalle_observacion</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <text>No se encontraron resultados</text>
}