﻿@model SGS.Models.franquiciado

@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>

<script>

    $(function () {

        $("#dateFrom, #dateTo, #datepickerNoModel").datepicker();

    });

</script>

<div id="content" class="col-lg-10 col-sm-11 ">
    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Clientes",Url.RouteUrl(new {Controller="Franquiciados",Action="Index"})},
                            {"Agregar Franquiciado",Url.RouteUrl(new {Controller="Franquiciados",Action="Create"})}
                            })

            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="icon-plus-sign"></i><span class="break"></span>Agregar Nuevo Franquiciado</h2>
                    <a href="@Url.RouteUrl(new {Controller="Franquiciados",action="Index" })" class="btn btn-primary pull-right btn-lg">Volver al listado</a>
                </div>

                <div class="box-content">
                    @using (Html.BeginForm("Create", "Franquiciados"))
                    {
                        <fieldset class="col-sm-12">
                            <div class="form-group">
                                @if (Model != null && Model.id_franquiciado != 0)
                                {
                                    @Html.HiddenFor(m => m.id_franquiciado)
                                }
                                <label class="control-label pull-left label-see">Rut</label>
                                <div>
                                    <div class="input-group col-sm-5">
                                        @Html.TextBoxFor(m => m.rut_franquiciado, new { @class = "form-control pull-right" })
                                    </div>
                                    <label class="control-label red">@Html.ValidationMessageFor(m => m.rut_franquiciado)</label>
                                </div>
                                <div class="clearfix"></div>

                                <div class="form-group">
                                    <label class="control-label pull-left label-see">Razón Social</label>
                                    <div class="input-group col-sm-5">
                                        @Html.TextBoxFor(m => m.razon_social, new { @class = "form-control pull-right" })
                                    </div>
                                    <label class="control-label red">@Html.ValidationMessageFor(m => m.razon_social)</label>
                                </div>
                                <div class="clearfix"></div>

                                <div class="form-group">
                                    <label class="control-label pull-left label-see">Direccion</label>
                                    <div class="input-group col-xs-4 col-sm-2">
                                        @Html.DropDownList("tipoc", null, new { @class = "form-control pull-left", @style = "width: 100px;" })
                                    </div>
                                    <div class="input-group col-sm-3">

                                        @Html.TextBox("direccion", null, new { @class = "form-control pull-left", @style = "margin-left: -65px;", @placeholder = "Santa Rosa" })
                                    </div>
                                    <div class="input-group col-sm-1" style="margin-left: -88px;">

                                        @Html.TextBox("numero_direccion", null, new { @class = "form-control pull-left", @maxlength = "6", @placeholder = "1234" })
                                    </div>
                                    <label class="control-label red">@Html.ValidationMessage("direccion")</label>
                                </div>
                                <div class="clearfix"></div>


                                <div class="form-group">
                                    <label class="control-label pull-left label-see">Estado</label>
                                    <div class="input-group col-sm-5">
                                        @Html.DropDownList("estado", null, new { @class = "form-control pull-left" })
                                    </div>
                                    <label class="control-label red">@Html.ValidationMessageFor(m => m.estado)</label>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Fecha Contrato</label>
                                <div class="input-group col-sm-5">
                                    @*@Html.TextBoxFor(m => m.fecha_contrato, new { Name = "datepickerNoModel" })*@
                                    @*<input type="text" id="datepickerNoModel" name="datepickerNoModel" value="" class="form-control pull-right" />*@
                                    @Html.TextBox("datepickerNoModel", null, new {  @class="form-control"})
                                    @*@Html.TextBoxFor("YearVal", m => m.fecha_contrato, new { @class = "form-control pull-right" })*@
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.fecha_contrato)</label>
                            </div>
                            <div class="clearfix"></div>



                            <div class="form-group">
                                <label class="control-label pull-left label-see">Observacion</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.observacion, new { @class = "form-control pull-right" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.observacion)</label>
                            </div>
                            <div class="clearfix"></div>

                            @*<div class="form-group">
                                <label class="control-label pull-left label-see">Unidad Negocio</label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownListFor(m => m.id_unidad, ViewBag.unidades as IEnumerable<SelectListItem>, new { @class = "form-control pull-right" })
                                </div>
                                @*<label class="control-label red">@Html.ValidationMessageFor(m => m.tipo_camion)</label>*@
                            @*</div>
                            <div class="clearfix"></div>*@


                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
                            </div>
                        </fieldset>
                    }

                </div>
            </div>
        </div>

    </div>


</div>
