﻿@model SGS.Models.modelViews.CrearLeasingView
@{
    ViewBag.Title = "crearLeasing";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

@section scripts
{
    <script src="@Url.Content("~/Scripts/jquery.price_format.2.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/toastr.min.js")"></script>
    <script>
        $(document).ready(function () {
            var idLeasing = @Model.idLeasing
            if ($('#franquiciado').val() != '') {
                $('#franquiciado').attr('disabled', 'disabled');
            }
            if(idLeasing != -1)
            {
                $('#camion').attr('disabled','disabled');
                $('#cuotas').attr('disabled','disabled');
            }
            $('#franquiciado').change(function () {
                if ($('#franquiciado').val() != '') {
                    $(this).closest('form').submit();
                }
            });
            $('#ufDia').keyup(function () {
                $('#neto').removeAttr('disabled');
                $('#pie').removeAttr('disabled');
            });
            $("#neto").priceFormat({
                thousandsSeparator: '.',
                prefix: '',
                centsLimit: 0
            });
            $("#ufDia").priceFormat({
                thousandsSeparator: '.',
                centsSeparator: ',',
                prefix: '',
                centsLimit: 2
            });
            $("#pie").priceFormat({
                thousandsSeparator: '.',
                prefix: '',
                centsLimit: 0
            });
            if ($('#ok').val() == "1")
            {
                $("#neto").val("0");
                $('#cuotas').val(0);
                alertify.success('Leasing creado correctamente');
            }
            $("#pie").focusout(function () {
                var neto = $("#neto").val().replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '');
                var ufDia = $("#ufDia").val().replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace(',', '.');
                var pie = $("#pie").val().replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '');
                var iva = neto * 0.19;
                var total = (neto * 1.19) - pie;
                var pieUF = (pie / ufDia).toFixed(2);
                var totalUF = (total / ufDia).toFixed(2);
                $('#totalUF').val(parseFloat(totalUF).toLocaleString('de-DE'));
                $('#pieUF').val(parseFloat(pieUF).toLocaleString('de-DE'));
                $('#iva').val(parseInt(iva.toFixed()).toLocaleString());
                $('#total').val(parseInt(total.toFixed()).toLocaleString());
            });
            $("#neto").focusout(function () {
                console.log($('#conceptos').val());
                var neto = $("#neto").val().replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '');
                var ufDia = $("#ufDia").val().replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace(',', '.'); 
                var pie = $("#pie").val().replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '');
                var iva = neto * 0.19;
                var total = (neto * 1.19)-pie;
                var pieUF = (pie / ufDia).toFixed(2);
                var totalUF = (total / ufDia).toFixed(2);
                $('#totalUF').val(parseFloat(totalUF).toLocaleString('de-DE'));
                $('#pieUF').val(parseFloat(pieUF).toLocaleString('de-DE'));
                $('#iva').val(parseInt(iva.toFixed()).toLocaleString());
                $('#total').val(parseInt(total.toFixed()).toLocaleString());
            });
        });
    </script>
    <script>
    $(document).ready(function () {

        $('#guardar').click(function () {
            var pie = $("#pie").val().replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '');
            var neto = $("#neto").val().replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '');
            var totalBruto = (neto * 1.19);
            if (pie > totalBruto || $('#ufDia').val() == null || $('#ufDia').val() == 0 || $('#cuotas').val() == null || $('#cuotas').val() == 0 || $('#neto').val() == '' || $('#neto').val() == 0 || $('#interes').val() == 0 || $('#interes').val() == '')
            {
                if ($('#ufDia').val() == null || $('#ufDa').val() == 0) alertify.error('Ingrese el valor de la UF');
                if ($('#interes').val() == null || $('#interes').val() == 0) alertify.error('Interes debe ser mayor a 0');
                if ($('#neto').val() == '' || $('#neto').val() == 0) alertify.error('Valor neto debe ser mayor que 0');
                if ($('#cuotas').val() == 0 || $('#cuotas').val() == '') alertify.error('Cuotas deben ser mayor que 0');
                if (pie > totalBruto) alertify.error('El pie es mayor que el descuento');
                return false;
            }
        })
    })
    </script>
}
<div id="content" class="col-lg-10 col-sm-11 ">
    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Clientes",Url.RouteUrl(new {Controller="Franquiciados",Action="Index"})},
                            {"Agregar leasing",Url.RouteUrl(new {Controller="Franquiciados",Action="CrearLeasing"})}
                            })

            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="icon-plus-sign"></i><span class="break"></span>Agregar Nuevo Leasing</h2>
                    <a href="@Url.RouteUrl(new {Controller="Franquiciados",action="leasing" })" class="btn btn-primary pull-right btn-lg">Volver al listado</a>
                </div>

                <div class="box-content">
                    @using (Html.BeginForm("CrearLeasing", "Franquiciados"))
                    {
                        <fieldset class="col-sm-12">
                            <div class="form-group">
                                @if (Model != null && Model.idFranquiciado != 0)
                                {
                                    @Html.HiddenFor(m => m.idFranquiciado)
                                }
                                @if (Model != null && Model.idLeasing != 0)
                                {
                                    @Html.HiddenFor(m => m.idLeasing)
                                }
                                <label class="control-label pull-left label-see">Franquiciado</label>
                                <div>
                                    <div class="input-group col-sm-5">
                                        @Html.DropDownListFor(model => model.franquiciadosSelectList.franquiciadoSelect,
                                      @Model.franquiciadosSelectList.franquiciados, "Seleccione un franquiciado", new { @class = "select2 form-control", @id = "franquiciado" })
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                @if (Model.camionesSelectList != null)
                                {
                                    <label class="control-label pull-left label-see">Camion</label>
                                    <div>
                                        <div class="input-group col-sm-5">
                                            @Html.DropDownListFor(model => model.camionesSelectList.camionSelect,
                                      @Model.camionesSelectList.camiones, "Seleccione un camion", new { @class = "form-control", @id = "camion" })
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>

                                <label class="control-label pull-left label-see">Valor UF día</label>
                                <div>
                                    <div class="input-group col-sm-5">
                                        @Html.TextBoxFor(m => m.valorUfDia, new { @class = "form-control pull-right", @id = "ufDia", @disabled="true" })
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="form-group">
                                    <label class="control-label pull-left label-see">Pie $</label>
                                    <div class="input-group col-sm-5">
                                        @Html.TextBoxFor(m => m.pie, new { @class = "form-control pull-right", @id = "pie"})
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="form-group">
                                    <label class="control-label pull-left label-see">Pie UF</label>
                                    <div class="input-group col-sm-5">
                                        @Html.TextBoxFor(m => m.pieUF, new { @class = "form-control pull-right", @disabled = "disabled", @id = "pieUF" })
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                <label class="control-label pull-left label-see">Leasing Neto $</label>
                                <div>
                                    <div class="input-group col-sm-5">
                                        @Html.TextBoxFor(m => m.neto, new { @class = "form-control pull-right", @id = "neto" })
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="form-group">
                                    <label class="control-label pull-left label-see">IVA $</label>
                                    <div class="input-group col-sm-5">
                                        @Html.TextBoxFor(m => m.iva, new { @class = "form-control pull-right", @disabled = "disabled", @id="iva" })
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="form-group">
                                    <label class="control-label pull-left label-see">Total $</label>
                                    <div class="input-group col-sm-5">
                                        @Html.TextBoxFor(m => m.total, new { @class = "form-control pull-right", @disabled = "disabled", @id="total" })
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="form-group">
                                    <label class="control-label pull-left label-see">Total UF</label>
                                    <div class="input-group col-sm-5">
                                        @Html.TextBoxFor(m => m.totalUF, new { @class = "form-control pull-right", @disabled = "disabled", @id="totalUF" })
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                <label class="control-label pull-left label-see">Interes %</label>
                                <div>
                                    <div class="input-group col-sm-5">
                                        @Html.TextBoxFor(m => m.interes, new { @class = "form-control pull-right", @type = "number", @id = "interes" })
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label class="control-label pull-left label-see">Cuotas</label>
                                    <div class="input-group col-sm-5">
                                        @Html.TextBoxFor(m => m.cuotas, new { @class = "form-control pull-right", @type = "number", @id = "cuotas" })
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                }
                            </div>
                            <div class="clearfix"></div>
                            <input type="text" id="ok" value="@Model.ok" hidden />
                            <div class="form-group">
                                <button type="submit" id="guardar" class="btn btn-primary btn-lg">Guardar</button>
                            </div>
                        </fieldset>
                    }

                </div>
            </div>
        </div>

    </div>


</div>