﻿@model SGS.Models.modelViews.rowDescuentosMasivos[]
@{
    ViewBag.Title = "descuentosMasivos";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}
@section scripts
{
    <script src="@Url.Content("~/Scripts/jquery.price_format.2.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/toastr.min.js")"></script>
    <script>
        $(document).ready(function () {
            
                $(".uf").priceFormat({
                    thousandsSeparator: '.',
                    centsSeparator: ',',
                    prefix: '',
                    centsLimit: 2
                });
                $(".clp").priceFormat({
                    thousandsSeparator: '.',
                    prefix: '',
                    centsLimit: 0
                });
        });
    </script>
}
<div id="content" class="col-lg-12 col-sm-11  ">
    <div class="row">
        <div class="col-lg-12 col-md-9">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Franquiciados",Url.RouteUrl(new {Controller="Franquiciados",Action="Index"})}
                            })
            <div class="box">

                <div class="box-header" data-original-title>
                    <h2><i class="icon-user"></i><span class="break"></span>Descuentos masivos</h2>
                </div>

                <div class="box-content">
                    <table class="table table-striped table-bordered bootstrap-datatable datatable">
                        <thead role="row" class="tab-header">
                            <tr>
                                <th style="width:auto" class="sorting_asc" role="columnheader">ID</th>
                                <th style="width:auto" class="sorting">Franq.</th>
                                <th style="width:auto" class="sorting">Camion</th>
                                <th style="width:auto" class="sorting">Valor Apliroll</th>
                                <th style="width:auto" class="sorting">Valor Seguro</th>
                                <th style="width:auto" class="sorting">Litros Petroleo</th>
                                <th style="width:auto" class="sorting">Valor Tag</th>
                                <th style="width:auto" class="sorting">Anticipo</th>
                                <th style="width:auto" class="sorting">Valor Repuesto</th>
                                <th style="width:auto" class="sorting">Factura</th>
                                <th style="width:auto" class="sorting">Obs. Repuesto</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                     @using (Html.BeginForm("DescuentosMasivos","Franquiciados",FormMethod.Post))
                    {
                            for(int i =0;i< Model.Count();i++)
                            {
                                <tr>
                                    <td>@Html.HiddenFor(m => m[i].idCamion) @Model[i].idCamion</td>
                                    <td>@Model[i].nombreFranquiciado</td>
                                    <td>@Model[i].patenteCamion</td>
                                    <td>@Html.TextBoxFor(a => a[i].ampliroll, new { @class ="form-control uf", @style="width:60px"})</td>
                                    <td>@Html.TextBoxFor(a => a[i].seguro, new { @class ="form-control uf", @style="width:60px"})</td>
                                    <td>@Html.TextBoxFor(a => a[i].litrosPetroleo, new { @class ="form-control uf", @style="width:80px"})</td>
                                    <td>@Html.TextBoxFor(a => a[i].tagValor, new { @class ="form-control clp", @style="width:75px"})</td>
                                    <td>@Html.TextBoxFor(a => a[i].anticipo, new { @class ="form-control clp"})</td>
                                    <td>@Html.TextBoxFor(a => a[i].repuestoValor, new { @class ="form-control clp", @style="width:75px"})</td>
                                    <td>@Html.TextBoxFor(a =>a[i].repuestoFactura, new { @class ="form-control", @style="width:80px"})</td>
                                    <td>@Html.TextBoxFor(a => a[i].repuestoObs, new { @class ="form-control"})</td>
                                </tr>

                            }
                         <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
                            </div>
                     }
                        </tbody>
                    </table>
                     
                </div>
            </div>
        </div><!--/col-->

    </div><!--/row-->

</div>
