﻿@model SGS.Models.modelViews.detalleLeasingView
@{
    ViewBag.Title = "detalleLeasing";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fx/pages/camiones.js")"></script>
    <script>
            Shadowbox.init();

    </script>



}

<div id="content" class="col-lg-12 col-sm-11  ">
    <div class="row">
        <div class="col-lg-12 col-md-9">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Franquiciados",Url.RouteUrl(new {Controller="Franquiciados",Action="detalleLeasing", idLeasing=Model.leasing.id_leasing})}
                            })
            <div class="box">
                <div class="box-header" data-original-title>
                    <h2><i class="icon-user"></i><span class="break"></span>Detalle leasing @Model.leasing.id_leasing para el camion @Model.camion.patente</h2>
                    <a class="btn btn-lg pull-right btn-success" href="@Url.RouteUrl(new {Controller="Franquiciados",action="detalleLeasingExcel", idLeasing= Model.leasing.id_leasing})">Excel</a>

                    <a href="@Url.RouteUrl(new {Controller="Franquiciados",action="leasing" })" class="btn btn-primary pull-right btn-lg">Volver a los Leasing</a>
                </div>
                <div class="box-content">
                    @if (Model.detalle != null)
                    {
                        <table class="table table-striped table-bordered bootstrap-datatable datatable">
                            <thead role="row" class="tab-header">
                                <tr>
                                    <th style="width:auto" class="sorting">Cuota</th>
                                    <th style="width:auto" class="sorting">Fecha cuota</th>
                                    <th style="width:auto" class="sorting">Cuota neta</th>
                                    <th style="width:auto" class="sorting">Valor cuota</th>
                                    <th style="width:auto" class="sorting">Valor pagado</th>
                                    <th style="width:auto" class="sorting">Valor a pagar</th>
                                    <th style="width:auto" class="sorting">Saldo</th>
                                    <th style="width:auto" class="sorting">Estado</th>
                                    <th style="width:auto" class="sorting">Editar pago</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var m in Model.detalle)
                                {
                                    <tr>
                                        <td>@m.cuota</td>
                                        <td>@m.fechaCuota</td>
                                        <td>@m.cuotaNeta</td>
                                        <td>@m.cuotaNeta</td>
                                        <td>@m.valorPagado</td>
                                        <td>@m.valorPagar</td>
                                        <td>@m.saldo</td>
                                        <td>@m.estado</td>
                                        @if (m.editable == true)
                                        {
                                            <td><a class="btn btn-info" href="@Url.RouteUrl(new { Controller = "Franquiciados", Action = "editarPagoLeasing", idDetalle =  m.idDetalle })" target="_blank" title="Detalle"><i class="icon-key "></i></a></td>
                                        }
                                        else
                                        {
                                            <td><a class="btn btn-info" href="#" disabled="disabled" target="_blank" title="Detalle"><i class="icon-key "></i></a></td>
                                        }
                                    </tr>

                                }
                            </tbody>
                        </table>
                    }
                    else
                    {

                    }

                </div>
            </div>
        </div><!--/col-->

    </div><!--/row-->

</div>
