﻿@model SGS.Models.modelViews.editarPagoLeasingView
@{
    ViewBag.Title = "editarPagoLeasing";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}
@section scripts
{
    <script src="@Url.Content("~/Scripts/jquery.price_format.2.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/toastr.min.js")"></script>
    <script>
        $(document).ready(function () {
            $("#valorPagar").priceFormat({
                thousandsSeparator: '.',
                centsSeparator: ',',
                prefix: '',
                centsLimit: 2
            });
            if ($('#ok').val() == "1")
            {
                $("#neto").val("0");
                $('#cuotas').val(0);
                alertify.success('Descuento modificado correctamente');
            }
            var ok;
            $("#valorPagar").focusout(function () {

                var valorPagar = $("#valorPagar").val().replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace(',', '.');
                console.log(valorPagar);
                var valorCuota = $("#valorCuota").val().replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace(',', '.');
                var saldo = $("#saldo").val().replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace(',', '.');
                var valorPagado = $("#valorPagado").val().replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace(',', '.');
                saldo = parseFloat(saldo);
                valorPagado = parseFloat(valorPagado);
                valorCuota = parseFloat(valorCuota);
                valorPagar = parseFloat(valorPagar);
                saldo = saldo - valorPagar;
                if (saldo < 0)
                {
                    ok = false;
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#valorPagar").focusout(function () {

                var valorPagar = $("#valorPagar").val().replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace(',', '.');
                console.log(valorPagar);
                var valorCuota = $("#valorCuota").val().replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace(',', '.');
                var saldo = $("#saldo").val().replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace(',', '.');
                var valorPagado = $("#valorPagado").val().replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace(',', '.');
                saldo = parseFloat(saldo);
                valorPagado = parseFloat(valorPagado);
                valorCuota = parseFloat(valorCuota);
                valorPagar = parseFloat(valorPagar);
                saldo = saldo - valorPagar;
                if (valorPagar == 0 || valorPagar == valorCuota) {
                    ok = true;
                }
                else
                {
                    ok = false;
                }
            });
            $('#guardar').click(function () {
                console.log(ok);
                if ($('#valorPagar').val() == '' || ok == false) {
                    if (ok == false) alertify.error('El valor a pagar debe ser igual a 0 o al valor de la cuota');
                    return false;
                }
            });
        });
    </script>
}
<div id="content" class="col-lg-10 col-sm-11 ">
    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Clientes",Url.RouteUrl(new {Controller="Franquiciados",Action="Index"})},
                            {"Editar cuota leasing",Url.RouteUrl(new {Controller="Franquiciados",Action="editarPagoLeasing", idDetalle = @Model.idDetalle})}
                            })

            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="icon-plus-sign"></i><span class="break"></span>Editar el detalle leasing @Model.idDetalle</h2>
                    <a href="@Url.RouteUrl(new { Controller = "Franquiciados", action = "leasing" })" class="btn btn-primary pull-right btn-lg">Volver al listado</a>
                </div>

                <div class="box-content">
                    @using (Html.BeginForm("editarPagoLeasing", "Franquiciados"))
                    {
                        <fieldset class="col-sm-12">
                            <div class="form-group">
                                @if (Model != null && Model.idDetalle != 0)
                                {
                                    @Html.HiddenFor(m => m.idDetalle)
                                }
                                @if (Model != null && Model.idLeasing != 0)
                                {
                                    @Html.HiddenFor(m => m.idLeasing)
                                }
                                <label class="control-label pull-left label-see">Valor a pagar UF</label>
                                <div>
                                    <div class="input-group col-sm-5">
                                        @Html.TextBoxFor(m => m.valorPagar, new { @class = "form-control pull-right", @id = "valorPagar"})
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <label class="control-label pull-left label-see">Valor pagado UF</label>
                                <div>
                                    <div class="input-group col-sm-5">
                                        @Html.TextBoxFor(m => m.valorPagado, new { @class = "form-control pull-right", @disabled = "disabled", @id="valorPagado" })
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="form-group">
                                    <label class="control-label pull-left label-see">Valor cuota UF</label>
                                    <div class="input-group col-sm-5">
                                        @Html.TextBoxFor(m => m.valorCuota, new { @class = "form-control pull-right", @disabled = "disabled", @id="valorCuota"})
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="form-group">
                                    <label class="control-label pull-left label-see">Saldo UF</label>
                                    <div class="input-group col-sm-5">
                                        @Html.TextBoxFor(m => m.saldo, new { @class = "form-control pull-right", @disabled = "disabled", @id="saldo" })
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <button type="submit" id="guardar" class="btn btn-primary btn-lg">Guardar</button>
                            </div>
                        </fieldset>
                    }

                </div>
            </div>
        </div>

    </div>


</div>
