﻿@model SGS.Models.modelViews.hrSinCerrarExcel
@{
    Layout = null;
    Response.AddHeader("Content-type", "application/vnd.ms-excel");
    Response.AddHeader("Content-Disposition", "attachment; filename=HrSinCerrar.xls");
}
<table border="1">
    <tr>
        <th>HR</th>
        <th>Fecha</th>
        <th>Conductor</th>
        <th>Pantente</th>
        <th>Franquiciado</th>
    </tr>
    <tbody>
        @foreach (var m in Model.tabla)
        {
            <tr>
                <td>@m.idHoja</td>
                <td>@m.fecha</td>
                <td>@m.chofer</td>
                <td>@m.patente</td>
                <td>@m.franquiciado</td>
            </tr>

        }
    </tbody>
</table>
