﻿@{
    Layout = null;
    Response.AddHeader("Content-type", "application/vnd.ms-excel");
    Response.AddHeader("Content-Disposition", "attachment; filename=franquiciados.xls");
}

<table border="1">
    <tr>

        <th style="width:auto" class="sorting">Razon Social</th>
        <th style="width:auto" class="sorting">Rut Franquiciado</th>
        <th style="width:auto" class="sorting">Direccion</th>
        <th style="width:auto" class="sorting">Fecha Contrato</th>
        <th style="width:auto" class="sorting">Estado</th>

    </tr>
    <tbody>
       @foreach (var m in Model)
        {
            <tr>
                <td>@m.razon_social</td>
                <td>@m.rut_franquiciado</td>
                <td>@m.direccion</td>
                <td>@m.fecha_contrato</td>
                <td>@m.estado</td>
            </tr>

        }
    </tbody>
</table>