﻿@model SGS.Models.modelViews.franquiciadosPagadosView
@{
    Layout = null;
    Response.AddHeader("Content-type", "application/vnd.ms-excel");
    Response.AddHeader("Content-Disposition", "attachment; filename=historialPagosFranquiciados.xls");
}
<table border="1">
    <tr>
        <th>ID</th>
        <th>Franquiciado</th>
        <th>Desde</th>
        <th>Hasta</th>
        <th>Monto neto</th>
        <th>Monto bruto</th>
    </tr>
    <tbody>
        @foreach (var m in Model.tabla)
        {

            <tr>
                <td>@m.idPago</td>
                <td>@m.franquiciado</td>
                <td>@m.fechaInicio</td>
                <td>@m.fechaFin</td>
                <td>@m.montoNeto</td>
                <td>@m.montoBruto</td>
            </tr>

        }
    </tbody>
</table>