﻿@model IEnumerable<SGS.Models.modelViews.FranquiciadosView>
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fx/pages/camiones.js")"></script>
    <script>
            Shadowbox.init();
        
    </script>



}

<div id="content" class="col-lg-12 col-sm-11  ">
   
    <div class="row">
        <div class="col-lg-12 col-md-9">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Franquiciados",Url.RouteUrl(new {Controller="Franquiciados",Action="Index"})}
                            })


            <div class="box">
                <div class="box-header" data-original-title>
                    <h2><i class="icon-user"></i><span class="break"></span>Modulo Franquiciados</h2>
                    <a class="btn btn-lg pull-right btn-success" href="@Url.RouteUrl(new { Controller = "Franquiciados", action = "Excel" })">Excel</a>
                  <a href="@Url.RouteUrl(new {Controller="Franquiciados",action="Create" })" class="btn btn-primary pull-right btn-lg">Agregar Franquiciados</a>
                </div>

                <div class="box-content">
                    <table class="table table-striped table-bordered bootstrap-datatable datatable">
                        <thead role="row" class="tab-header">
                            <tr>
                    
                        <th style="width:auto" class="sorting">Razon Social</th>
                        <th style="width:auto" class="sorting">Rut Franquiciado</th>
                        <th style="width:auto" class="sorting">Direccion</th>
                        <th style="width:auto" class="sorting">Fecha Contrato</th>
                         <th style="width:auto" class="sorting">Estado</th>
                        <th style="width:auto" class="sorting">Acciones</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var m in Model)
                            {
                                <tr>
                                    <td>@m.razon_social</td>
                                    <td>@m.rut_franquiciado</td>
                                    <td>@m.direccion</td>
                                    <td>@m.fecha_contrato</td>
                                    <td>@m.estado</td>
                                    
                                    <td>
                                        <a class="btn btn-success" href="@Url.RouteUrl(new { Controller = "Franquiciados", Action = "View", Id = m.id_franquiciado })" rel="shadowbox" target="_blank" title="Ver Franquiciado"><i class="icon-zoom-in "></i></a>
                                       <a class="btn btn-info" href="@Url.RouteUrl(new { Controller = "Franquiciados", Action = "Edit", Id = m.id_franquiciado })" title="Editar"><i class="icon-edit"></i></a>
                                       <a class="btn btn-danger" onclick="return confirm('Estas seguro(a) que deseas eliminar @m.razon_social ?');" href="@Url.RouteUrl(new { Controller = "Franquiciados", Action = "Delete", Id = m.id_franquiciado })" title="Eliminar"><i class="icon-trash "></i></a>
                                        @*<a class="btn btn-info" href="@Url.RouteUrl(new { Controller = "Franquiciados", Action = "Print", Id =  m.id_franquiciado })" target="_blank" title="Imprimir"><i class="icon-print "></i></a>*@

                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--/col-->

    </div><!--/row-->
   
</div>


