﻿@model SGS.Models.modelViews.FranquiciadosProcesosView
@{
    Layout = null;
    Response.AddHeader("Content-type", "application/vnd.ms-excel");
    Response.AddHeader("Content-Disposition", "attachment; filename=procesosPrePago.xls");
}
<table border="1">
    <tr>
        <th>Razon Social</th>
        <th>Rut Franquiciado</th>
        <th>Monto neto</th>
        <th>Monto bruto</th>
    </tr>
    <tbody>
        @foreach (var m in Model.tabla)
        {

            <tr>
                <td>@m.razon_social</td>
                <td>@m.rut_franquiciado</td>
                <td>@m.montoNeto.ToString("N0")</td>
                <td>@m.montoBruto.ToString("N0")</td>
            </tr>

        }
    </tbody>
</table>