﻿@model SGS.Models.modelViews.FranquiciadosProcesosView
@{
    ViewBag.Title = "Procesos";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}
@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fx/pages/camiones.js")"></script>
    <script src="@Url.Content("~/Scripts/daterangepicker.min.js")"></script>
    <script>
        $(document).ready(function () {
            //$('#mes').change(function () {
            //    $(this).closest('form').submit();
            //});
            //$('#año').change(function () {
            //    $(this).closest('form').submit();
            //})
            //$('#guardar').click(function () {
            //    var dp1 = new Date($('#dp1').val());
            //    var dp2 = new Date($('#dp2').val());
            //    console.log(dp1);
            //    console.log(dp2);
            //    if(dp1 >= dp2)
            //    {
            //        return false;
            //    }
            //    if(dp1 == 'Invalid Date' || dp2 == 'Invalid Date')
            //    {
            //        return false;
            //    }
            //});
            $('.datepicker').datepicker();
        });
    </script>
}
<div id="content" class="col-lg-12 col-sm-11  ">

    <div class="row">
        <div class="col-lg-12 col-md-9">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Franquiciados",Url.RouteUrl(new {Controller="Franquiciados",Action="Procesos"})}
                            })

            <div class="box">
                <div class="box-header" data-original-title>
                    <h2><i class="icon-user"></i><span class="break"></span>Modulo Pagos</h2>
                    @if (User.IsInRole("franProcExportar"))
                    {<a class="btn btn-lg pull-right btn-success" href="@Url.RouteUrl(new {Controller="Franquiciados",action="ProcesosExcel", fechaInicio = Model.fechaInicio, fechaFinal = Model.fechaFin })">Excel</a>}
                    @if (Model.puedePrePagar == false)
                    {
                        <a href="#" disabled="disabled" class="btn btn-danger pull-right btn-lg">No existe UF</a>

                    }
                    <div class="controls row " style="margin-top:2px; ">

                        @using (Html.BeginForm("Procesos", "Franquiciados", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="input-group col-sm-2">
                                @Html.TextBoxFor(m => m.fechaFin, new { @data_date_format = "dd/mm/yyyy", @class = "form-control datepicker" })
                                @*Html.TextBoxFor(u => u.fechaInicio, new { @id = "dp1", @type = "date", @class = "form-control" })*@
                                @*@Html.DropDownListFor(model => model.mes.mesSelect,
                                    @Model.mes.mes, new { @class = "form-control", @id = "mes" });*@
                            </div>
                            @*<div class="input-group col-sm-2">
                                    @Html.TextBoxFor(u => u.fechaFin, new { @id = "dp2", @type = "date", @class = "form-control" })
                                    @Html.DropDownListFor(model => model.mes.mesSelect,
                                        @Model.mes.mes, new { @class = "form-control", @id = "mes" });
                                </div>*@
                            <div class="input-group col-sm-2">
                                <button type="submit" id="guardar" class="btn btn-primary btn-lg">Cargar</button>
                            </div>
                            <div class="input-group col-sm-2">
                                @if (Model.puedePagar == true)
                                { <a class="btn btn-lg btn-success" href="@Url.RouteUrl(new { Controller = "Franquiciados", Action = "excelPagoFranquiciados", _fechaInicio = Model.fechaInicio, _fechaFin = Model.fechaFin })" target="_blank" title="Pagar"><i class="fa fa-warning"></i>Pagar</a>
                                }
                                else
                                { <a class="btn btn-lg btn-success" disabled="true" href="##" target="_blank" title="HR sin cerrar">Pagar</a>

                                }
                            </div>
                            @*<div class="input-group date col-sm-2">
                                @Html.DropDownListFor(model => model.año.añoSelect,
                                     @Model.año.año, new { @class = "form-control", @id = "año" });
                            *@@*
                                </div>*@
                        }
                    </div>
                </div>

                <div class="box-content">
                    <table class="table table-striped table-bordered bootstrap-datatable datatable">
                        <thead role="row" class="tab-header">
                            <tr>

                                <th style="width:auto" class="sorting">Razon Social</th>
                                <th style="width:auto" class="sorting">Rut Franquiciado</th>
                                <th style="width:auto" class="sorting">Monto neto</th>
                                <th style="width:auto" class="sorting">Monto bruto</th>
                                <th style="width:auto" class="sorting">Ver detalle</th>
                                @*<th style="width:auto" class="sorting">Pagar</th>*@

                            </tr>
                        </thead>
                        <tbody>

                            @if (Model.tabla != null)
                            {
                                foreach (var m in Model.tabla)
                                {
                                    if (m.tienePendientes == false)
                                    {
                                        <tr>
                                            <td>@m.razon_social</td>
                                            <td>@m.rut_franquiciado</td>
                                            <td>@m.montoNeto.ToString("N0")</td>
                                            <td>@m.montoBruto.ToString("N0")</td>
                                            <td>
                                                @if (Model.puedePrePagar == true)
                                                {
                                                    if (!m.tienePendientes)
                                                    {
                                                        if (User.IsInRole("franProcPrepagar"))
                                                        {
                                                            <a class="btn btn-info" href="@Url.RouteUrl(new { Controller = "Franquiciados", Action = "excelPrePagoFranquiciados", fechaInicio = Model.fechaInicio, fechaFin = Model.fechaFin, idFranquiciado = m.id_franquiciado })" target="_blank" title="Detalle"><i class="fa fa-file-excel-o "></i></a>
                                                            <a class="btn btn-warning" href="@Url.RouteUrl(new { Controller = "Franquiciados", Action = "excelPrePagoFranquiciados2", fechaInicio = Model.fechaInicio, fechaFin = Model.fechaFin, idFranquiciado = m.id_franquiciado })" target="_blank" title="Detalle"><i class="fa fa-file-excel-o "></i></a>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (User.IsInRole("franProcPrepagar"))
                                                        {
                                                            @*<a class="btn btn-info" disabled="true" href="#" target="_blank" title="Imprimir"><i class="fa fa-file-excel-o "></i></a>*@
                                                            <a class="btn btn-info" href="@Url.RouteUrl(new { Controller = "Franquiciados", Action = "excelPrePagoFranquiciados", fechaInicio = Model.fechaInicio, fechaFin = Model.fechaFin, idFranquiciado = m.id_franquiciado })" target="_blank" title="Detalle"><i class="fa fa-file-excel-o "></i></a>
                                                            <a class="btn btn-warning" href="@Url.RouteUrl(new { Controller = "Franquiciados", Action = "excelPrePagoFranquiciados2", fechaInicio = Model.fechaInicio, fechaFin = Model.fechaFin, idFranquiciado = m.id_franquiciado })" target="_blank" title="Detalle"><i class="fa fa-file-excel-o "></i></a>
                                                            <a class="btn btn-danger" href="@Url.RouteUrl(new { Controller = "Franquiciados", Action = "excelHRSinCerrar", fechaInicio = Model.fechaInicio, fechaFin = Model.fechaFin, idFranquiciado = m.id_franquiciado })" target="_blank" title="HR sin cerrar"><i class="fa fa-warning"></i></a>
                                                        }
                                                    }
                                                }
                                                else
                                                {
                                                    if (User.IsInRole("franProcPrepagar"))
                                                    {<a class="btn btn-info" disabled="true" href="#" target="_blank" title="Imprimir"><i class="fa fa-file-excel-o "></i></a>}
                                                }

                                            </td>
                                            @*<td>
                                                    @if (Model.puedePrePagar == true)
                                                    {
                                                        if (m.tieneHR == true && m.montoNeto != 0)
                                                        {
                                                            if (User.IsInRole("franProcPagar"))
                                                            {
                                                                <a class="btn btn-success" href="@Url.RouteUrl(new { Controller = "Franquiciados", Action = "excelPagoFranquiciado", _fechaInicio = Model.fechaInicio, _fechaFin = Model.fechaFin, idFranquiciado = m.id_franquiciado })" target="_blank" title="Imprimir"><i class="icon-check "></i></a>
                                                            }
                                                        }
                                                        @else
                                                            {
                                                                if (User.IsInRole("franProcPagar"))
                                                                {<a class="btn btn-success" disabled="true" href="#" target="_blank" title="Imprimir"><i class="icon-check "></i></a>}
                                                            }@
                                                    }
                                                    else
                                                    {
                                                        if (User.IsInRole("franProcPagar"))
                                                        {
                                                            <a class="btn btn-success" disabled="true" href="#" target="_blank" title="Imprimir"><i class="icon-check "></i></a>
                                                        }
                                                    }

                                                </td>*@
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr class="danger">
                                            <td>@m.razon_social</td>
                                            <td>@m.rut_franquiciado</td>
                                            <td>@m.montoNeto.ToString("N0")</td>
                                            <td>@m.montoBruto.ToString("N0")</td>
                                            <td>
                                                @if (Model.puedePrePagar == true)
                                                {
                                                    if (m.tieneHR == true) //&& m.montoNeto != 0)
                                                    {
                                                        if (User.IsInRole("franProcPrepagar"))
                                                        {
                                                            <a class="btn btn-info" href="@Url.RouteUrl(new { Controller = "Franquiciados", Action = "excelPrePagoFranquiciados", fechaInicio = Model.fechaInicio, fechaFin = Model.fechaFin, idFranquiciado = m.id_franquiciado })" target="_blank" title="Detalle"><i class="fa fa-file-excel-o "></i></a>
                                                            <a class="btn btn-warning" href="@Url.RouteUrl(new { Controller = "Franquiciados", Action = "excelPrePagoFranquiciados2", fechaInicio = Model.fechaInicio, fechaFin = Model.fechaFin, idFranquiciado = m.id_franquiciado })" target="_blank" title="Detalle"><i class="fa fa-file-excel-o "></i></a>
                                                            <a class="btn btn-danger" href="@Url.RouteUrl(new { Controller = "Franquiciados", Action = "excelHRSinCerrar", fechaInicio = Model.fechaInicio, fechaFin = Model.fechaFin, idFranquiciado = m.id_franquiciado })" target="_blank" title="HR sin cerrar"><i class="fa fa-warning"></i></a>

                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (User.IsInRole("franProcPrepagar"))
                                                        {
                                                            <a class="btn btn-info" disabled="true" href="#" target="_blank" title="Imprimir"><i class="fa fa-file-excel-o "></i></a>
                                                            <a class="btn btn-danger" href="@Url.RouteUrl(new { Controller = "Franquiciados", Action = "excelHRSinCerrar", fechaInicio = Model.fechaInicio, fechaFin = Model.fechaFin, idFranquiciado = m.id_franquiciado })" target="_blank" title="HR sin cerrar"><i class="fa fa-warning"></i></a>
                                                        }

                                                    }
                                                }
                                                else
                                                {
                                                    if (User.IsInRole("franProcPrepagar"))
                                                    {
                                                        <a class="btn btn-info" disabled="true" href="#" target="_blank" title="Imprimir"><i class="fa fa-file-excel-o "></i></a>
                                                        <a class="btn btn-danger" href="@Url.RouteUrl(new { Controller = "Franquiciados", Action = "excelHRSinCerrar", fechaInicio = Model.fechaInicio, fechaFin = Model.fechaFin, idFranquiciado = m.id_franquiciado })" target="_blank" title="HR sin cerrar"><i class="fa fa-warning"></i></a>
                                                    }
                                                }

                                            </td>
                                            @*<td>
                                                    @if (Model.puedePrePagar == true)
                                                    {
                                                        if (m.tieneHR == true) //&& m.montoNeto != 0)
                                                        {
                                                            if (User.IsInRole("franProcPagar"))
                                                            {
                                                                <a class="btn btn-success" disabled="disabled" href="#" target="_blank" title="Imprimir"><i class="icon-check "></i></a>

                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (User.IsInRole("franProcPagar"))
                                                            { <a class="btn btn-success" disabled="true" href="#" target="_blank" title="Imprimir"><i class="icon-check "></i></a>}
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (User.IsInRole("franProcPagar"))
                                                        {<a class="btn btn-success" disabled="true" href="#" target="_blank" title="Imprimir"><i class="icon-check "></i></a>}
                                                    }

                                                </td>*@
                                        </tr>
                                    }

                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--/col-->

    </div><!--/row-->

</div>