﻿@*
    Empresa: valentys
    Fecha : 17-08-2015
    Descripción: lista con las guias.
*@
@model List<SGS.Models.SP_SEL_DisposicionTemporalDisponible_Result>
@{
    string token = Guid.NewGuid().ToString();
}
<div id="content" class="col-lg-12 col-sm-11  ">
    <div class="row">
        <div id="@token">
            <div class="col-lg-12 col-md-9 mTop10">
                <div class="box">
                    <div class="box-header" data-original-title>
                        <h2>Productor Disponibles</h2>
                    </div>
                    <div class="box-content">
                        @if (Model.Count > 0)
                        {
                            <div id="@token" style="margin-left:10px;margin-right:10px;">
                                <table class="table table-striped table-bordered bootstrap-datatable datatable" data-name="createDetalle">
                                    <thead role="row" class="tab-header">
                                        <tr>
                                            <th style="width:auto" class="sorting_asc" role="columnheader">Nombre Punto</th>
                                            <th style="width:auto" class="sorting">Residuo</th>
                                            <th style="width:auto" class="sorting">Vertedero</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var m in Model)
                                        {
                                            <tr class="curHand" data-codigohoja="@m.id_hoja_ruta" data-orden="@m.Orden">
                                                <td>@m.nombre_punto</td>
                                                <td>@m.residuo</td>
                                                <td>@m.vertedero</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        else
                        {
                            <text>No se encontraron resultados</text>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
