﻿@*
    Empresa: valentys
    Fecha : 03-07-2015
    Descripción: formulario para ingresar o modificar un indicador.
*@
@model SGS.Models.TB_GIA_Guia
<form data-name="guia">
    <fieldset class="col-sm-12">
        <input name="codigo" type="hidden" value="@(Model.GUIA_CODIGO)">
        <div class="form-group" style="margin-top: 20px;">
            <label class="control-label pull-left label-see">Identificador</label>
            <div class="input-group col-sm-5">
                <input class="form-control pull-right" maxlength="100" style="width:250px" data-format="number" data-val-rules="required" data-val-for="self" data-val-group="Ingreso" id="identificador" name="identificador" type="text" value="@(Model.GUIA_IDENTIFICADOR == 0 ? String.Empty : Model.GUIA_IDENTIFICADOR.ToString())">
            </div>
            <label class="control-label red"><span class="field-validation-valid" data-valmsg-for="nombre" data-valmsg-replace="true"></span></label>
        </div>
        <div class="clearfix"></div>
        <div class="form-group" style="margin-top: 10px;">
            <label class="control-label pull-left label-see">Nombre</label>
            <div class="input-group col-sm-5">
                <input class="form-control pull-right" maxlength="500" style="width: 250px" id="nombre" name="nombre" type="text" value="@Model.GUIA_NOMBRE"
                       data-val-rules="required" data-val-for="self" data-val-group="Ingreso">
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group" style="margin-top: 10px;">
            <label class="control-label pull-left label-see">Patente</label>
            <div class="input-group col-sm-5">
                <input class="form-control pull-right" maxlength="500" style="width: 250px" data-val="true" id="patente" name="patente" type="text" value="@Model.GUIA_PATENTE"
                       data-val-rules="required" data-val-for="self" data-val-group="Ingreso">
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group" style="margin-top: 10px;">
            <label class="control-label pull-left label-see">Vertedero</label>
            <div class="input-group col-sm-5">
                <select style="width: 250px" class="form-control pull-right" id="vertedero" name="vertedero">
                    @foreach (SGS.Models.vertederos item in ViewData["vertederos"] as List<SGS.Models.vertederos>)
                    {
                        if (item.id_vertedero == Model.GUIA_ID_VERTEDERO)
                        {
                            <option value="@item.id_vertedero" selected>@item.vertedero</option>
                        }
                        else
                        {
                            <option value="@item.id_vertedero">@item.vertedero</option>
                        }
                    }
                </select>

            </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group" style="margin-top: 10px;">
            <label class="control-label pull-left label-see">Fecha llegada</label>
            <div class="input-group col-sm-5">
                <span class="input-group-addon"><i class="icon-tag"></i></span>
                <input id="fechaLlegada" name="fechaLlegada" type="text" data-date-format="dd/mm/yyyy" class="form-control datepicker" style="width:140px;" placeholder="Fecha llegada"
                       value="@if (Model.GUIA_FECHALLEGADA != null){@Convert.ToDateTime(Model.GUIA_FECHALLEGADA).ToString("dd-MM-yyyy")}">
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group" style="margin-top: 10px;">
            <label class="control-label pull-left label-see">Estado</label>
            <div class="input-group col-sm-5">
                <select style="width: 250px" class="form-control pull-right" id="estado" name="estado">
                    @foreach (SGS.Models.TB_GIA_ESTADOGUIA item in ViewData["Estados"] as List<SGS.Models.TB_GIA_ESTADOGUIA>)
                    {
                        if (item.EGIA_CODIGO == Model.GUIA_EGIA_CODIGO)
                        {
                            <option value="@item.EGIA_TOKEN" selected>@item.EGIA_NOMBRE</option>
                        }
                        else
                        {
                            <option value="@item.EGIA_TOKEN">@item.EGIA_NOMBRE</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group" style="margin-top: 10px;">
            <button type="button" class="btn btn-primary btn-lg" data-action="guardarGuia">Guardar</button>
        </div>
    </fieldset>
</form>
