﻿@{
    Layout = null;
    Response.AddHeader("Content-type", "application/vnd.ms-excel");
    Response.AddHeader("Content-Disposition", "attachment; filename=Guia_Despacho.xls");
}

<table border="0">
    <thead>
        <tr>
            <th colspan="7">
                <h2>Guia de Despacho</h2>
            </th>
        </tr>
    </thead>
</table>
<br />
<table border="1">
    <thead>
        <tr>
            <th style="background-color: #cccccc">Identificador</th>
            <th style="background-color: #cccccc">Nombre</th>
            <th style="background-color: #cccccc">Fecha</th>
            <th style="background-color: #cccccc">Patente</th>
            <th style="background-color: #cccccc">Fecha Llegada</th>
            <th style="background-color: #cccccc">Vertedero</th>
            <th style="background-color: #cccccc">Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.GUIA_IDENTIFICADOR</td>
                <td>@m.GUIA_NOMBRE</td>
                <td>@Convert.ToDateTime(m.GUIA_FECHA).ToString("dd-MM-yyyy")</td>
                <td>@m.GUIA_PATENTE</td>
                <td>@Convert.ToDateTime(m.GUIA_FECHALLEGADA).ToString("dd-MM-yyyy")</td>
                <td>@m.vertedero</td>
                <td>@m.EGIA_NOMBRE</td>
            </tr>

        }
    </tbody>
</table>