﻿@*
    Empresa: valentys
    Fecha : 13-08-2015
    Descripción: contenedor principal del Lista de Servicios.
*@
@{
    string token = Guid.NewGuid().ToString();
}
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script type="text/javascript">
        $(function () {
            var vista = $("#@token");

            $('.datepicker').datepicker();

            var paginar = (function () {
                vista.find('.datatable').dataTable({
                    "sDom": "<'row'<'col-lg-6'l><'col-lg-6'f>r>t<'row'<'col-lg-12'i><'col-lg-12 center'p>>",
                    "sPaginationType": "bootstrap",
                    "oLanguage": {
                        "sLengthMenu": "_MENU_ Registros por pagina"
                    }
                });
            });

            paginar();

            vista.find('button[data-action="Buscar"]:first').click(function () {
                $.isNumeric();
                var identificador = vista.find('#identificador');
                var fecha = vista.find('#fecha');
                var patente = vista.find('#patente');
                var codigoEstado = vista.find('#codigoEstado');

                if (!$.isNumeric(identificador) && identificador == "") {
                    return;
                }

                if (identificador.val() == "" && fecha.val() == "" && patente.val() == "" && codigoEstado == "") {
                    return;
                }
                $page.loading_all.show("Buscando...");
                var btn = $(this);
                btn.button('loading');
                $page.ajax({
                    url: "@Url.Action("buscar", "GuiaDespacho")" + "?identificador=" + identificador.val() +
                                                                   "&fecha=" + fecha.val() +
                                                                   "&patente=" + patente.val() +
                                                                   "&codigoEstado=" + codigoEstado.val(),
                    datatype: 'html',
                    success: function (data) {
                        vista.find('div.box-content').html(data);
                        paginar();
                        vista.find('a[data-action="exportar"]:first').prop("href", "@Url.Action("excel", "GuiaDespacho")" + "?identificador=" + identificador.val() +
                                                                                                                                         "&fecha=" + fecha.val() +
                                                                                                                                         "&patente=" + patente.val() +
                                                                                                                                         "&codigoEstado=" + codigoEstado.val());
                        $page.loading_all.hide();
                        btn.button('reset');
                    }
                });
            });


            vista.find('ul[data-name="ulEstado"]:first > li').click(function () {
                var li = $(this);
                if (li.data('codigo') == '') {
                    vista.find('input[name="estado"]:first').val('');
                    vista.find('input[name="codigoEstado"]:first').val('');
                } else {
                    vista.find('input[name="estado"]:first').val(li.find('a:first').html());
                    vista.find('input[name="codigoEstado"]:first').val(li.data('codigo'));
                }
            });

            var loadModalInsert = (function (data) {
                Shadowbox.open({
                    content: data,
                    player: "html",
                    title: "insertar",
                    height: 400,
                    width: 550,
                    options: {
                        modal: true,
                        onClose: function () {
                            vista.find('button[data-action="Buscar"]:first').trigger('click');
                        }
                    }
                });

                setTimeout(function () {
                    Fwk.triggerUpdate();
                    $('.datepicker').datepicker();
                }, 1500);
            });

            var loadModalInsertDetails = (function (data) {
                Shadowbox.open({
                    content: data,
                    player: "html",
                    title: "insertar",
                    height: 450,
                    width: 850,
                    options: {
                        modal: true
                    }
                });

                setTimeout(function () {
                    $('table[data-name="createDetalle"]:first').dataTable({
                        "sDom": "<'row'<'col-lg-6'l><'col-lg-6'f>r>t<'row'<'col-lg-12'i><'col-lg-12 center'p>>",
                        "sPaginationType": "bootstrap",
                        "oLanguage": {
                            "sLengthMenu": "_MENU_ Registros por pagina"
                        }
                    });
                }, 1500);
            });

            vista.find('a[data-name="agregar"]').click(function () {
                $page.ajax({
                    url: "@Url.Action("create", "GuiaDespacho")",
                    datatype: 'html',
                    success: function (data) {
                        loadModalInsert(data);
                    }
                });
            });

            vista.find('div.box-content').on('click', 'a[data-action="editar"]', function () {
                var tr = $(this).closest('tr');
                var token = tr.data('token');
                $page.loading_all.show("Cargando Detalle...");
                $page.ajax({
                    url: "@Url.Action("editar", "GuiaDespacho")" + "?token=" + token,
                    datatype: 'html',
                    success: function (data) {
                        loadModalInsert(data);
                        $page.loading_all.hide();
                    }
                });
            });

            vista.find('div.box-content').on('click', 'a[data-action="agregarDetalle"]', function () {
                var tr = $(this).closest('tr');
                var token = tr.data('token');
                $page.ajax({
                    url: "@Url.Action("detalle", "GuiaDespacho")" + "?token=" + token,
                    datatype: 'html',
                    success: function (data) {
                        vista.closest("body").html(data);
                    }
                });
            });

            vista.find('div.box-content').on('click', 'a[data-action="verDetalle"]', function () {
                var tr = $(this).closest('tr');
                var token = tr.data('token');
                $page.ajax({
                    url: "@Url.Action("verDetalle", "GuiaDespacho")" + "?token=" + token,
                    datatype: 'html',
                    success: function (data) {
                        loadModalInsertDetails(data);
                    }
                });
            });

            var body = vista.closest('body');
            body.off('click', 'button[data-action="guardarGuia"]:first');
            body.on('click', 'button[data-action="guardarGuia"]:first', function () {
                debugger;
                if (Fwk.Validation.Validate('Ingreso')) {
                    $page.ajax({
                        url: "@Url.Action("guardarGuia", "GuiaDespacho")",
                        data: $(this).closest('form').serialize(),
                        datatype: "json",
                        success: function (result) {
                            if (result > 0) {
                                Shadowbox.close();
                            }
                        }
                    });
                }
            });

        });
    </script>

}

<div id="content" class="col-lg-12 col-sm-11  ">
    <div id="@token">
        <div class="row">
            <div class="col-lg-12 col-md-9">
                @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Guia de Despacho",Url.RouteUrl(new {Controller="GuiaDespacho",Action="index"})}
                            })
                <div style="margin-bottom: 13px;">
                    <div class="input-group col-sm-4" style="width:200px;">
                        <span class="input-group-addon">$</span>
                        <input id="identificador" type="text" class="form-control" style="width:140px;" placeholder="Número de Guía">
                    </div>
                    <div class="input-group date col-sm-4" style="width:200px;">
                        <span class="input-group-addon"><i class="icon-calendar"></i></span>
                        <input id="fecha" type="text" data-date-format="dd/mm/yyyy" class="form-control datepicker" style="width:140px;" placeholder="Fecha Hasta">
                    </div>
                    <div class="input-group col-sm-4" style="width:200px;">
                        <span class="input-group-addon"><i class="icon-tag"></i></span>
                        <input id="patente" type="text" class="form-control" style="width:140px;" placeholder="Patente">
                    </div>
                    <div class="input-group col-sm-4" style="width:250px;">
                        <div class="input-group-addon">
                            <button type="button" style="margin-bottom: -10px;margin-top: -10px;"
                                    class="btn btn-default dropdown-toggle"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" data-name="ulEstado">
                                <li data-codigo=""><a href="#">Seleccione</a></li>
                                @foreach (SGS.Models.TB_GIA_ESTADOGUIA item in ViewBag.Estados as List<SGS.Models.TB_GIA_ESTADOGUIA>)
                                {
                                    <li data-codigo="@item.EGIA_TOKEN"><a href="#">@item.EGIA_NOMBRE</a></li>
                                }
                            </ul>
                        </div>
                        <input type="text" name="estado" class="form-control" disabled placeholder="Seleccione Estado">
                        <input type="hidden" name="codigoEstado" id="codigoEstado">
                    </div>
                    <button type="button" data-loading-text="Buscando..." class="btn btn-success btn-lg" data-action="Buscar">Buscar</button>
                </div>

                <div class="box">
                    <div class="box-header" data-original-title>
                        <h2><i class="icon-folder-close"></i><span class="break"></span>Guias de Despacho</h2>
                        <a class="btn btn-lg pull-right btn-success" data-action="exportar" href="@Url.RouteUrl(new { Controller = "GuiaDespacho", action = "Excel" })">Excel</a>
                        <a class="btn btn-lg pull-right btn-primary" data-name="agregar">Crear Guia</a>
                    </div>
                    <div class="box-content">
                    </div>
                </div>
            </div><!--/col-->

        </div><!--/row-->
    </div>
</div>
