﻿@*
    Empresa: valentys
    Fecha : 13-08-2015
    Descripción: contenedor principal del detalle de la guia de despacho.
*@
@model Guid
@{
    string token = Guid.NewGuid().ToString();
}
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script type="text/javascript">
        $(function () {
            var vista = $("#@token");

            $('.datepicker').datepicker();

            var paginar = (function () {
                vista.find('.datatable').dataTable({
                    "sDom": "<'row'<'col-lg-6'l><'col-lg-6'f>r>t<'row'<'col-lg-12'i><'col-lg-12 center'p>>",
                    "sPaginationType": "bootstrap",
                    "oLanguage": {
                        "sLengthMenu": "_MENU_ Registros por pagina"
                    }
                });
            });

            paginar();

            var buscarDetalle = (function () {
                $page.ajax({
                    url: "@Url.Action("buscarDetalle", "GuiaDespacho")" + "?token=@Model.ToString()",
                    datatype: 'html',
                    success: function (data) {
                        vista.find("div.box-content").html(data);
                    }
                });
            });

            var loadModalInsertDetails = (function (data) {
                Shadowbox.open({
                    content: data,
                    player: "html",
                    title: "insertar",
                    height: 450,
                    width: 850,
                    options: {
                        modal: true,
                        onClose: function () {
                            buscarDetalle();
                        }
                    }
                });

                setTimeout(function () {
                    $('table[data-name="createDetalle"]:first').dataTable({
                        "sDom": "<'row'<'col-lg-6'l><'col-lg-6'f>r>t<'row'<'col-lg-12'i><'col-lg-12 center'p>>",
                        "sPaginationType": "bootstrap",
                        "oLanguage": {
                            "sLengthMenu": "_MENU_ Registros por pagina"
                        }
                    });
                }, 1500);
            });

            vista.find('a[data-name="agregar"]').click(function () {
                $page.ajax({
                    url: "@Url.Action("crearDetalle", "GuiaDespacho")",
                    datatype: 'html',
                    success: function (data) {
                        loadModalInsertDetails(data);
                    }
                });
            });



            vista.find('div.box-content').on('click', 'a[data-action="eliminar"]', function () {
                var tr = $(this).closest("tr");
                $page.ajax({
                    url: "@Url.Action("eliminar", "GuiaDespacho")" + "?codigo=" + tr.data("codigohoja"),
                    datatype: 'html',
                    success: function (data) {
                        buscarDetalle();
                    }
                });
            });


            var body = vista.closest('body');

            body.on('click', 'table[data-name="createDetalle"]:first tr', function () {
                var data = {
                    "token": "@Model.ToString()",
                    "codigohoja": $(this).data('codigohoja'),
                    "orden": $(this).data('orden')
                };
                $page.ajax({
                    url: "@Url.Action("guardarDetalle", "GuiaDespacho")",
                    data: data,
                    datatype: "json",
                    success: function (result) {
                        if (result > 0) {
                            buscarDetalle();
                            Shadowbox.close();
                        }
                    }
                });
            });

            body.off('click', 'button[data-action="guardarGuia"]:first');
            body.on('click', 'button[data-action="guardarGuia"]:first', function () {
                if (Fwk.Validation.Validate('Ingreso')) {
                    $page.ajax({
                        url: "@Url.Action("guardarGuia", "GuiaDespacho")",
                        data: $(this).closest('form').serialize(),
                        datatype: "json",
                        success: function (result) {
                            if (result > 0) {
                                Shadowbox.close();
                            }
                        }
                    });
                }
            });

            buscarDetalle();
        });
    </script>

}

<div id="content" class="col-lg-12 col-sm-11  ">
    <div id="@token">
        <div class="row">
            <div class="col-lg-12 col-md-9">
                @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Guia de Despacho Detalle",Url.RouteUrl(new {Controller="GuiaDespacho",Action="index"})}
                            })
                <div class="box">
                    <div class="box-header" data-original-title>
                        <h2><a href="/GuiaDespacho"><i class="icon-arrow-left"></i></a><span class="break"></span>Detalle de Guia de Despacho</h2>
                        <a class="btn btn-lg pull-right btn-success" data-action="exportar" href="@Url.RouteUrl(new { Controller = "GuiaDespacho", action = "Excel" })">Excel</a>
                        <a class="btn btn-lg pull-right btn-primary" data-name="agregar">Agregar Detalle</a>
                    </div>
                    <div class="box-content">
                    </div>
                </div>
            </div><!--/col-->

        </div><!--/row-->
    </div>
</div>
