﻿@*

    Descripción: lista el informe de vertederos.
*@
@model List<SGS.Models.SP_SEL_informe_vertederos_Result>

@if (Model.Count > 0)
{
    <div style="margin-left:10px;margin-right:10px;">
        @*<h3 style="font-weight: bold;">Historial de Reajustes.</h3>*@

        <table class="table table-striped table-bordered bootstrap-datatable datatable w100" style="font-size:12px">
            <thead role="row" class="tab-header">
                <tr>
                    <th class="sorting_asc" role="columnheader">Fecha Ingreso</th>
                    <th class="sorting">Rut</th>
                    <th class="sorting">Razon Social</th>
                    <th class="sorting">Servicio</th>
                    <th class="sorting">m3</th>
                    <th class="sorting">N° Guia</th>
                    <th class="sorting">Patente Camion</th>
                    <th class="sorting">Chofer</th>
                    <th class="sorting">Industria</th>
                    <th class="sorting">Tipo Residuo</th>
                    <th class="sorting">Vertedero</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model)
                {
                    <tr>
                        <td>@Convert.ToDateTime(m.fecha).ToString("dd-MM-yyyy")</td>
                        <td>@m.rut</td>
                        <td>@m.razonsocial</td>
                        <td>@m.servicio</td>
                        <td>@m.m3</td>
                        <td>@Convert.ToInt32(m.nro_guia).ToString()</td>
                        <td>@m.patente</td>
                        <td>@m.chofer</td>
                        <td>@m.industria</td>
                        <td>@m.tipo_residuo</td>
                        <td>@m.vertedero</td>
                    
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <text>No se encontraron resultados</text>
}