﻿@{
    Layout = null;
    Response.AddHeader("Content-type", "application/vnd.ms-excel");
    Response.AddHeader("Content-Disposition", "attachment; filename=ReporteCostosPuntos.xls");
}
<table border="1">
    <tr>
        <th>Fecha Completa</th>
        <th>Fecha Corta</th>
        <th>Hoja Ruta</th>
        <th>Punto</th>
        <th>Sistema</th>
        <th>Patente</th>
        <th>Franquiciado</th>
        <th>Chofer</th>
        <th>Estado Punto</th>
        <th>Dispositor</th>
        <th>N° Volteos/Peso</th>
        <th>Cobro</th>
        <th>Pago</th>
        <th>Margen</th>
        <th>% Margen</th>
    </tr>
    <tbody>
        @if (Model != null)
        {
            foreach (var m in Model)
            {
                <tr>
                    <td>@m.fechaFull</td>
                    <td>@m.fechacorta</td>
                    <td>@m.id_hoja_ruta</td>
                    <td>@m.nombre_punto</td>
                    <td>@m.sistema</td>
                    <td>@m.camion</td>
                    <td>@m.franquiciado</td>
                    <td>@m.conductor</td>
                    <td>@m.estadopunto</td>
                    <td>@m.relleno</td>
                    <td>@m.cantidad</td>
                    <td>@m.bruto.ToString("#,##0")</td>
                    <td>@m.Pago.ToString("#,##0")</td>
                    <td>@m.Margen.ToString("#,##0")</td>
                    <td>@m.MargenPorc.ToString("#,##0")</td>
                </tr>}
        }
    </tbody>
</table>
