﻿@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    @*<script src="@Url.Content("~/Scripts/jquery-ui.min.js")"></script>*@
}

@*<script src="/Scripts/jquery.2.1.js"></script>
<script src="/Scripts/jquery-ui.min.js"></script>
<script src="/Scripts/jquery.cookie.js"></script>*@



<script type="text/javascript">

    $(document).ready(function () {

        $('#idData').dataTable();

        $("#Begin").val($("#idIni").val().toString());
        $("#End").val($("#idFin").val().toString());

        $("#fecha_inicio").datepicker({
            onSelect: function (dateText) {
                var fechaI = dateText;
                $("#Begin").val(dateText);
            }
        });

        $("#fecha_fin").datepicker({
            onSelect: function (dateText) {
                var fechaI = dateText;
                $("#End").val(dateText);
            }
        });

        $.each($('input'), function (i, val) {
            if ($(this).attr("type") == "hidden") {
                var valueOfHidFiled = $(this).val().toString();
                if (valueOfHidFiled == 'FIN') {
                    alert("Error. Fecha Final erronea");
                    return false;
                };
            };
        });

        $.each($('input'), function (i, val) {
            if ($(this).attr("type") == "hidden") {
                var valueOfHidFiled = $(this).val().toString();
                if (valueOfHidFiled == 'FINNO') {
                    alert("Error. Fecha Final no valida");
                    return false;
                };
            };
        });

        $.each($('input'), function (i, val) {
            if ($(this).attr("type") == "hidden") {
                var valueOfHidFiled = $(this).val().toString();
                if (valueOfHidFiled == 'INICIO') {
                    alert("Error. Fecha Inicial erronea");
                    return false;
                };
            };
        });

        $.each($('input'), function (i, val) {
            if ($(this).attr("type") == "hidden") {
                var valueOfHidFiled = $(this).val().toString();
                if (valueOfHidFiled == 'INICIONO') {
                    alert("Error. Fecha Inicial no valida");
                    return false;
                };
            };
        });

        $.each($('input'), function (i, val) {
            if ($(this).attr("type") == "hidden") {
                var valueOfHidFiled = $(this).val().toString();
                if (valueOfHidFiled == 'ERROR') {
                    var mensaje = $("#idWhen").val().toString();
                    alert("Error. No existe información para las Fechas indicadas");
                    alert("Realice el Cálculo Cobro Clientes para" + mensaje);
                    return false;
                };
            };
        });

        $.each($('input'), function (i, val) {
            if ($(this).attr("type") == "hidden") {
                var valueOfHidFiled = $(this).val().toString();
                if (valueOfHidFiled == 'ERRORFECHA') {
                    alert("Error. Fechas de Búsqueda erroneas");
                    return false;
                };
            };
        });

        $.each($('input'), function (i, val) {
            if ($(this).attr("type") == "hidden") {
                var valueOfHidFiled = $(this).val().toString();
                if (valueOfHidFiled == 'MES30') {
                    alert("Error. Fechas de Búsqueda erroneas");
                    alert("La Búsqueda no puede superar los 30 días");
                    return false;
                };
            };
        });

    });

</script>

<div id="content" class="col-lg-12 col-sm-11  ">
    <div class="row">
        <div class="col-lg-12 col-md-9">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                               new Dictionary<string, string>() {
                            {"Reportes",Url.RouteUrl(new {Controller="ReportesCobroFranc",Action="ReportesCobroFranc"})}
                            })
            <div class="box">
                <div>
                    @using (Html.BeginForm("Index", "ReportesCostosFranc", FormMethod.Post))
                    {<div style="width:100%;height:140px">
                        <div class="form-group">
                            <label class="control-label pull-left label-see">Fecha Inicial</label>
                            <div class="input-group col-sm-5">
                                <input type="text" id="fecha_inicio" value="@ViewBag.fecha_inicio" class="form-control pull-right" />
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $("#fecha_inicio").datepicker();
                                });
                            </script>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <label class="control-label pull-left label-see">Fecha Final</label>
                            <div class="input-group col-sm-5">
                                <input type="text" id="fecha_fin" value="@ViewBag.fecha_fin" class="form-control pull-right">
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $("#fecha_fin").datepicker();
                                });
                            </script>
                        </div>
                        <div class="clearfix"></div>
                        <div>
                            @Html.Hidden("Begin")&nbsp;
                            @Html.Hidden("End")&nbsp;
                            <input type="submit" class="btn btn-lg pull-right btn-success" id="datos" value="Procesar" />&nbsp; &nbsp;
                            <a href="@Url.RouteUrl(new { Controller = "ReportesCostosFranc", Action = "excel" })" class="btn btn-lg pull-right btn-success" style="margin-right:5px">Excel</a>
                        </div>
                        <input type="hidden" value="@ViewBag.Error" id="idError" />
                        <input type="hidden" value="@ViewBag.When" id="idWhen" />
                        <input type="hidden" value="@ViewBag.Inicio" id="idIni" />
                        <input type="hidden" value="@ViewBag.Fin" id="idFin" />
                    </div>}
                </div>
                <div class="box-header" data-original-title>
                    <h2><i class="icon-folder-close"></i><span class="break"></span>Informe de Cobro - Pago por Cliente y Período</h2>
                </div>
                <div class="box-content">
                    <table class="table table-striped table-bordered bootstrap-datatable dataTable" id="idData">
                        <thead role="row" class="tab-header">
                            <tr>
                                <th>Cliente</th>
                                <th>Rut</th>
                                <th>Cobro</th>
                                <th>Franquiciado</th>
                                <th>Margen</th>
                                <th>%</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var m in Model)
                                {
                                    <tr>
                                        <td>@m.razon_social</td>
                                        <td>@m.rut_cliente</td>
                                        <td>@m.ValorTotal.ToString("#,##0")</td>
                                        <td>@m.pagofranquiciado.ToString("#,##0")</td>
                                        <td>@m.margen.ToString("#,##0")</td>
                                        <td>@m.margenporcer</td>
                                    </tr>}
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
