﻿@{
    ViewBag.Title = "Puntos";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")"></script>
}

<script src="/Scripts/jquery.2.1.js"></script>
<script src="/Scripts/jquery-ui.min.js"></script>
<script src="/Scripts/jquery.cookie.js"></script>

<link href="/Content/jquery.alerts.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">

    $(document).ready(function () {

        $('#idData').dataTable();

        $("#Begin").val($("#idIni").val().toString());
        $("#End").val($("#idFin").val().toString());

        $("#fecha_inicio").datepicker({
            onSelect: function (dateText) {
                var fechaI = dateText;
                $("#Begin").val(dateText);
            }
        });

        $("#fecha_fin").datepicker({
            onSelect: function (dateText) {
                var fechaI = dateText;
                $("#End").val(dateText);
            }
        });

        $("#Franquiciado").change(function () {
            $("#Who").val($("#Franquiciado :selected").text());
            $("#WhoPosi").val($("#Franquiciado").val());
            $("#PuntoEstado").val("0");
            $("#PuntoEstadoPosi").val("");
            $("#SistemaIs").val("0");
            $("#ptoHide").val("0");
            $("#idPunto").val("0");
            $("#Begin").val($("#idIni").val().toString());
            $("#End").val($("#idFin").val().toString());
        });

        $("#PuntosServicio").change(function () {
            var idhide = $("#PuntosServicio").val();
            $("#Who").val("0");
            $("#WhoPosi").val("00");
            $("#PuntoEstado").val("0");
            $("#PuntoEstadoPosi").val("");
            $("#SistemaIs").val("0");
            $("#ptoHide").val(idhide);
            $("#idPunto").val(idhide);
            $("#Begin").val($("#idIni").val().toString());
            $("#End").val($("#idFin").val().toString());
        });

        $("#SistemaList").change(function () {
            $("#SistemaIs").val($("#SistemaList :selected").text());
            $("#Who").val("0");
            $("#WhoPosi").val("00");
            $("#PuntoEstado").val("0");
            $("#PuntoEstadoPosi").val("");
            $("#ptoHide").val("");
            $("#idPunto").val("");
            $("#Begin").val($("#idIni").val().toString());
            $("#End").val($("#idFin").val().toString());
        });

        $("#EstadoPunto").change(function () {
            $("#PuntoEstadoPosi").val($("#EstadoPunto").val());
            $("#PuntoEstado").val($("#EstadoPunto :selected").text());
            $("#Who").val("0");
            $("#WhoPosi").val("00");
            $("#SistemaIs").val("0");
            $("#ptoHide").val("");
            $("#idPunto").val("");
            $("#Begin").val($("#idIni").val().toString());
            $("#End").val($("#idFin").val().toString());
        });

        $.each($('input'), function (i, val) {
            if ($(this).attr("type") == "hidden") {
                var valueOfHidFiled = $(this).val().toString();
                if (valueOfHidFiled == 'FIN') {
                    alert("Error. Fecha Final erronea");
                    return false;
                };
            };
        });

        $.each($('input'), function (i, val) {
            if ($(this).attr("type") == "hidden") {
                var valueOfHidFiled = $(this).val().toString();
                if (valueOfHidFiled == 'FINNO') {
                    alert("Error. Fecha Final no valida");
                    return false;
                };
            };
        });

        $.each($('input'), function (i, val) {
            if ($(this).attr("type") == "hidden") {
                var valueOfHidFiled = $(this).val().toString();
                if (valueOfHidFiled == 'INICIO') {
                    alert("Error. Fecha Inicial erronea");
                    return false;
                };
            };
        });

        $.each($('input'), function (i, val) {
            if ($(this).attr("type") == "hidden") {
                var valueOfHidFiled = $(this).val().toString();
                if (valueOfHidFiled == 'INICIONO') {
                    alert("Error. Fecha Inicial no valida");
                    return false;
                };
            };
        });

        $.each($('input'), function (i, val) {
            if ($(this).attr("type") == "hidden") {
                var valueOfHidFiled = $(this).val().toString();
                if (valueOfHidFiled == 'ERROR') {
                    var mensaje = $("#idWhen").val().toString();
                    alert("Error. No existe información para las Fechas indicadas");
                    alert("Realice el Cálculo Cobro Clientes para" + mensaje);
                    return false;
                };
            };
        });

        $.each($('input'), function (i, val) {
            if ($(this).attr("type") == "hidden") {
                var valueOfHidFiled = $(this).val().toString();
                if (valueOfHidFiled == 'ERRORFECHA') {
                    alert("Error. Fechas de Búsqueda erroneas");
                    return false;
                };
            };
        });

        $.each($('input'), function (i, val) {
            if ($(this).attr("type") == "hidden") {
                var valueOfHidFiled = $(this).val().toString();
                if (valueOfHidFiled == 'MES30') {
                    alert("Error. Fechas de Búsqueda erroneas");
                    alert("La Búsqueda no puede superar los 32 días");
                    return false;
                };
            };
        });

        $.each($('input'), function (i, val) {
            if ($(this).attr("type") == "hidden") {
                var valueOfHidFiled = $(this).val().toString();
                if (valueOfHidFiled == 'ISOK') {
                    alert("El Cálculo asociado al reporte ha finalizado con éxito");
                    return false;
                };
            };
        });

        $.each($('input'), function (i, val) {
            if ($(this).attr("type") == "hidden") {
                var valueOfHidFiled = $(this).val().toString();
                if (valueOfHidFiled == 'SINDATOS') {
                    alert("No existen datos para las fechas de búsqueda");
                    return false;
                };
            };
        });

        $("[id$=myButtonControlID]").click(function (e) {
            window.open('data:application/vnd.ms-excel,' + $('div[id$=excelexport]').html());
            e.preventDefault();
        });

    });

</script>

<div id="content" class="col-lg-12 col-sm-11  ">
    <div class="row">
        <div class="col-lg-12 col-md-9">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                               new Dictionary<string, string>() {
                            {"Reportes",Url.RouteUrl(new {Controller="ReportesCobroFranc",Action="ReportesCobroFranc"})}
                            })
            <div class="box">
                <div>
                    @using (Html.BeginForm("Puntos", "ReportesCostosFranc", FormMethod.Post))
                    {<div style="width:100%;height:285px">
                        <div class="form-group">
                            <label class="control-label pull-left label-see">Fecha Inicial</label>
                            <div class="input-group col-sm-5">
                                <input type="text" id="fecha_inicio" value="@ViewBag.fecha_inicio" class="form-control pull-right" />
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $("#fecha_inicio").datepicker();
                                });
                            </script>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <label class="control-label pull-left label-see">Fecha Final</label>
                            <div class="input-group col-sm-5">
                                <input type="text" id="fecha_fin" value="@ViewBag.fecha_fin" class="form-control pull-right">
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $("#fecha_fin").datepicker();
                                });
                            </script>
                         </div>
                         <div class="clearfix"></div>
                         <div class="form-group">
                             <label class="control-label pull-left label-see">Punto de Servicio</label>
                             <div class="input-group col-sm-5">
                                 @Html.DropDownList("PuntosServicio", (IEnumerable<SelectListItem>)@ViewBag.PuntosServicio1, new { @class = "form-control" })
                             </div>
                         </div>
                         <div class="clearfix"></div>
                         <div class="form-group">
                             <label class="control-label pull-left label-see">Sistema</label>
                             <div class="input-group col-sm-5">
                                 @Html.DropDownList("SistemaList", (IEnumerable<SelectListItem>)@ViewBag.SistemaIt, new { @class = "form-control" })
                             </div>
                         </div>
                         <div class="clearfix"></div>
                         <div class="form-group">
                             <label class="control-label pull-left label-see">Estado del Punto</label>
                             <div class="input-group col-sm-5">
                                 @Html.DropDownList("EstadoPunto", (IEnumerable<SelectListItem>)@ViewBag.PuntoEstadoEs, new { @class = "form-control" })
                             </div>
                         </div>
                         <div class="clearfix"></div>
                         <div class="form-group">
                             <label class="control-label pull-left label-see">Franquiciado</label>
                             <div class="input-group col-sm-5">
                                 @Html.DropDownList("Franquiciado", (IEnumerable<SelectListItem>)@ViewBag.FranqPersons, new { @class = "form-control" })
                             </div>
                         </div>
                        <div class="clearfix"></div>
                        <div>
                            @Html.Hidden("Begin")&nbsp;
                            @Html.Hidden("End")&nbsp;
                            @Html.Hidden("ptoHide")&nbsp;
                            @Html.Hidden("SistemaIs")&nbsp;
                            @Html.Hidden("PuntoEstado")&nbsp;
                            @Html.Hidden("PuntoEstadoPosi")&nbsp;
                            @Html.Hidden("Who")&nbsp;
                            @Html.Hidden("WhoPosi")&nbsp;
                            <input type="submit" class="btn btn-lg pull-right btn-success" name="button" id="datos" value="Procesar" />&nbsp; &nbsp;
                                @if (@ViewBag.Visible != null)
                                {
                                    <input type="submit" class="btn btn-lg pull-right btn-success" style="margin-right:5px" name="button" value="Ver reporte" />
                                }
                                @if (@ViewBag.Visible != null)
                                {
                                    <a href="@Url.RouteUrl(new { Controller = "ReportesCostosFranc", Action = "excelPuntos", fecha1 = @ViewBag.fecha_inicio, fecha2 = ViewBag.fecha_fin, PuntoServ = @ViewBag.Punto, Sistema = @ViewBag.Sistema, PuntoEstadoOut = @ViewBag.EstadoPuntoSel, FranquiciadoOut = @ViewBag.FranquiciadoSel })" class="btn btn-lg pull-right btn-success" style="margin-right:5px">Excel</a>
                                }
                              </div>
                        <input type="hidden" value="@ViewBag.Error" id="idError" />
                        <input type="hidden" value="@ViewBag.When" id="idWhen" />
                        <input type="hidden" value="@ViewBag.Inicio" id="idIni" />
                        <input type="hidden" value="@ViewBag.Fin" id="idFin" />
                        <input type="hidden" id="idPunto" name="idPunto"/>
                    </div>}
                </div>
                <div class="box-header" data-original-title>
                    <h2><i class="icon-folder-close"></i><span class="break"></span>Informe de Cobro - Pago por Punto de Servicio</h2>
                </div>
                <div id="excelexport" class="box-content" style="width:100%">
                    <table style="width:100%" data-height="299" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" id="idData" data-sort-name="Fecha Full">
                        <thead role="row" class="tab-header">
                            <tr>
                                <th style="display:none">Fecha Full</th>
                                <th style="font-size:xx-small">Fecha</th>
                                <th style="font-size:xx-small">Hoja Ruta</th>
                                <th style="font-size:xx-small">Punto</th>
                                <th style="font-size:xx-small">Sistema</th>
                                <th style="font-size:xx-small">Patente</th>
                                <th style="font-size:xx-small">Franquiciado</th>
                                <th style="font-size:xx-small">Chofer</th>
                                <th style="font-size:xx-small">Estado Punto</th>
                                <th style="font-size:xx-small">N° Volteos/Peso</th>
                                <th style="font-size:xx-small">Cobro</th>
                                <th style="font-size:xx-small">Pago</th>
                                <th style="font-size:xx-small">Margen</th>
                                <th style="font-size:xx-small">% Margen</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var m in Model)
                                {
                                    <tr>
                                        <td style="display:none">@m.fechaFull</td>
                                        <td style="font-size:xx-small">@m.fechacorta</td>
                                        <td style="font-size:xx-small">@m.id_hoja_ruta</td>
                                        <td style="font-size:xx-small">@m.nombre_punto</td>
                                        <td style="font-size:xx-small">@m.sistema</td>
                                        <td style="font-size:xx-small">@m.camion</td>
                                        <td style="font-size:xx-small">@m.franquiciado</td>
                                        <td style="font-size:xx-small">@m.conductor</td>
                                        <td style="font-size:xx-small">@m.estadopunto</td>
                                        <td style="font-size:xx-small">@m.cantidad</td>
                                        <td style="font-size:xx-small">@m.bruto.ToString("#,##0")</td>
                                        <td style="font-size:xx-small">@m.Pago.ToString("#,##0")</td>
                                        <td style="font-size:xx-small">@m.Margen.ToString("#,##0")</td>
                                        <td style="font-size:xx-small">@m.MargenPorc.ToString("#,##0")</td>
                                    </tr>}
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>