﻿@{
    Layout = null;
    Response.AddHeader("Content-type", "application/vnd.ms-excel");
    Response.AddHeader("Content-Disposition", "attachment; filename=termino_contrato.xls");
}

<table border="1">
    <tr>
    <tr>
        <th style="width:auto" class="sorting_asc" role="columnheader">Unidad</th>
        <th style="width:auto" class="sorting">Tipo Contrato</th>
        <th style="width:auto" class="sorting">Razon Social</th>
        <th style="width:auto" class="sorting">Sucursal</th>
        <th style="width:auto" class="sorting">Fecha Inicio</th>
        <th style="width:auto" class="sorting">Fecha Renovacion</th>
        <th style="width:auto" class="sorting">Dias Termino de Contrato</th>


    </tr>
    </tr>
    <tbody>
        @foreach (var m in Model)
        {
        <tr>
            <td>@m.unidad_negocio</td>
            <td>@m.tipo_contrato</td>
            <td>@m.razon_social</td>
            <td>@m.sucursal</td>
            <td>@m.fecha_inicio</td>
            <td>@m.fecha_renovacion</td>
            @if (@m.dias > 0)
            {
                <td> @m.dias </td>}
            @if (@m.dias < 0)
            {
                <td> contrato vencido</td>
            }

        </tr>
        }
    </tbody>
</table>