﻿@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fx/pages/camiones.js")"></script>
    <script>

    Shadowbox.init();

    </script>

}

<div id="content" class="col-lg-12 col-sm-11  ">

        <div class="row">
            <div class="col-lg-12 col-md-9">
                @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                          new Dictionary<string, string>() {
                                {"Reporte Termino Contrato",Url.RouteUrl(new {Controller="ReporteAlertaTerminoContrato",Action="Index"})}
                                })

                <div class="box">
                    <div class="box-header" data-original-title>
                        <h2><i class="icon-folder-close"></i><span class="break"></span>Reporte Termino de Contratos</h2>

                        <a class="btn btn-lg pull-right btn-success" href="@Url.RouteUrl(new { Controller = "ReporteAlertaTerminoContrato", action = "excel" })">Excel</a>
                        
                    </div>

                    <div class="box-content">
                        <table class="table table-striped table-bordered bootstrap-datatable datatable">
                            <thead role="row" class="tab-header">
                                <tr>
                                    <th style="width:auto" class="sorting_asc" role="columnheader">Unidad</th>
                                    <th style="width:auto" class="sorting">Tipo Contrato</th>
                                    <th style="width:auto" class="sorting">Razon Social</th>
                                    <th style="width:auto" class="sorting">Sucursal</th>
                                    <th style="width:auto" class="sorting">Fecha Inicio</th>
                                    <th style="width:auto" class="sorting">Fecha Renovacion</th>
                                    <th style="width:auto" class="sorting">Categoria</th>
                                    <th style="width:auto" class="sorting">Dias para termino</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var m in Model)
                                {
                                <tr>
                                    <td>@m.unidad</td>
                                    <td>@m.tipo_contrato</td>
                                    <td>@m.razon_social</td>
                                    <td>@m.sucursal</td>
                                    <td>@m.fecha_inicio.ToShortDateString()</td>
                                    <td>@m.fecha_renovacion.ToShortDateString()</td>
                                    <td>@m.categoria</td>
                                    @if (@m.dias_termino != "")
                                    {
                                        <td> @m.dias_termino </td>}
                                   
                                    @if (@m.dias_termino == "" )
                                    {
                                        <td> contrato vencido</td>
                                    }
                                </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!--/col-->

        </div><!--/row-->
</div>
