﻿@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_main_layout.cshtml";

    
}
@section scripts{


    <script src="~/Scripts/fx/pages/upload.js"></script>
    <script src="~/Scripts/fx/pages/cargaUnidades/controller.js"></script>

}


<div id="content" class="col-lg-10 col-sm-11 ">

    <div class="row">
        <div class="col-lg-12">

            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"RutasModelo",Url.RouteUrl(new {Controller="RutasModelo",Action="Index"})},
                            {"Agregar Ruta Modelo",Url.RouteUrl(new {Controller="RutasModelo",Action="Create"})}
                            })


            <div class="col-lg-12">
                <div class="box">
                    <div class="box-header" data-original-title="">
                        <h2><i class="icon-list"></i></h2>
                        
                        <a href="~/Files/plantillas/plantilla.xlsx" class="btn btn-primary pull-right btn-lg">Descargar Plantilla</a>
                        
                    </div>

                    <div class="box-content">
                        
                        <div class="form-group">
                            <label class="control-label pull-left label-see">Seleccione Unidad</label>
                            <div class="input-group col-sm-5">
                                @Html.DropDownList("unidades", ViewBag.unidades as IEnumerable<SelectListItem>, new { @class="form-control"})
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group">
                            <label class="control-label pull-left label-see">Archivo Excel</label>
                            <div class="input-group col-sm-5">
                               <input type="file" id="file" name="xls" />
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group" id="sheetNames-container"  style="display:none">
                            <label class="control-label pull-left label-see">Hoja a Cargar</label>
                            <div class="input-group col-sm-5">
                                <select name="sheetNames" id="sheetNames" class="form-control"></select>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group">
                            <button type="button" class="btn btn-primary btn-lg subir">Subir Excel</button>
                            <progress id="prog" value="0" max="100" min="0"></progress>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
