﻿@model SGS.Models.ruta_modelo
@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

<style type="text/css">
    .linkblanco, .linkblanco:link, .linkblanco:visited, .linkblanco:hover, .linkblanco:active {
        color: #FFFFFF;
        text-decoration: none;
    }

    .getCamion {
        border: 1px solid yellow;
        width: 30px;
        height: 30px;
    }

    #getPunto2 {
        border: 1px solid red;
        width: 30px;
        height: 30px;
    }

    #getPunto {
        border: 1px solid green;
        width: 30px;
        height: 30px;
    }

    .punto {
        width: 25px;
        height: 25px;
    }

    .lipuntos {
        padding: 10px 10px 10px 10px;
    }

    .liruta {
        padding: 10px 10px 10px 10px;
    }

    #Basepopup {
        display: none;
    }

    div#pop-up {
        display: none;
        position: absolute;
        width: 280px;
        padding: 10px;
        background: #eeeeee;
        color: #000000;
        border: 1px solid #1a1a1a;
        font-size: 90%;
        z-index: 1;
    }
</style>

@*<script src="/Scripts/jquery.2.1.js"></script>
    <script src="/Scripts/jquery-ui.min.js"></script>*@
<script type="text/javascript">
    var $dialog;
    var Datos = new Array(30);
    for (var i = 0; i < 30; i++) {
        Datos[i] = new Array(30);
    }

    function closeDialog() {

        $dialog.dialog("close");

    }


    function InicializaArreglo() {
        for (var ii = 0; ii < 30; ii++) {
            for (var jj = 0; jj < 30; jj++) {
                Datos[ii][jj] = "";
            }
        }
    }


    function HabilitaBtnSalir() {

        $(document).on("click", "#salir_dialogo", function () {

            $dialog.dialog("close");
        });

    }
    var mayor = 0;
    var identificador;

    function grabardato(elemento, indice, item) {
        Datos[elemento][indice] = item.value;
        //alert(Datos[elemento][indice]);
        if (indice > mayor) mayor = indice;
    }

    function imprimirVales(identificador) {
        $("#GrabarDetalle").attr("display", "none");
        $("#btnImprimir").attr("display", "none");
        $(".detallex").attr("display", "none");
        alert(identificador);
        w = window.open('http://app.resiter.com:84/MantenedorHDRD/Imprimir/' + identificador);
        //w = window.open('http://localhost:61333/MantenedorHDRD/Imprimir/' + identificador);
        w.print();
        //$("#GrabarDetalle").show();
        //$("#btnImprimir").show();
    }

    function imprimirDetalle(identificador) {
        $("#GrabarDetalle").attr("display", "none");
        $("#btnImprimir").attr("display", "none");
        alert(identificador);
        w = window.open('http://app.resiter.com:84/MantenedorHDRD/Imprimir/' + identificador);
        //w = window.open('http://localhost:61333/MantenedorHDRD/Imprimir/' + identificador);
        w.print();
        //$("#GrabarDetalle").show();
        //$("#btnImprimir").show();
    }


    function getSelectedText(elementId) {
        var elt = document.getElementById(elementId);

        if (elt.selectedIndex == -1)
            return null;

        return elt.options[elt.selectedIndex].text;
    }

    function GrabarDetalle() {
        //alert(mayor);
        alert("oook");
        mayor = $(".observable").length / 2;
        for (i = 1; i <= mayor; i++) {
            $("#tipo_servicio_bano" + i).focus();
            $("#tiposervicio_" + i).focus();
            $("#equipoentrada_" + i).focus();
            $("#equiposalida_" + i).focus();
            // $("#horainicio_" + i).focus();
            // $("#horatermino_" + i).focus();
            $("#cantidad_" + i).focus();
            $("#peso_" + i).focus();
            $("#estado_" + i).focus();
            $("#observacion_" + i).focus();
            $("#vertedero_" + i).focus();
            Datos[7][i] = $("#estado_" + i).val();
            //if (i == 1)
            //alert(getSelectedText("estado_" + i));
            alert(document.getElementById("estado_" + i).options[document.getElementById("estado_" + i).selectedIndex].text);
            /*$("#estado_" + i+" > option").each(function (index) {
                alert($(this).html() + $(this).attr("selected"));
            });*/
        }
        var n = parseInt($("#Total").val());
        var data = "";
        var data1 = "";
        //alert($("#puntode_1").attr("class"));
        for (i = 1; i <= n; i++) {
            data = data + $("#puntodetalle_" + i).attr("class") + "_" + $("#hora_" + i).attr("class") + "_" + Datos[5][i] + "_" + Datos[6][i] + "_" + Datos[7][i] + "_" + Datos[0][i] + "_" + Datos[1][i] + "_" + Datos[2][i] + "_" + Datos[8][i] + "_" + Datos[9][i];
            if (i < n) data = data + "|";
            data1 = data1 + $("#puntodetalle_" + i).attr("class") + "_" + $("#hora_" + i).attr("class") + "_" + Datos[5][i] + "/" + Datos[6][i] + "/" + Datos[7][i] + "_" + Datos[0][i] + "_" + Datos[1][i] + "_" + Datos[2][i] + "_" + Datos[8][i] + "_" + Datos[9][i];
            if (i < n) data1 = data1 + "|";
        }
        for (i = 1; i <= mayor; i++) {
            if (Datos[7][i] == "2") {
                if (Datos[5][i].length <= 0 && Datos[6][i].length <= 0) {
                    alert("Debe ingresar el Peso o Cantidad para el Estado Realizado");
                    $("#cantidad_" + i).focus();
                    return;
                }
            }
            else if (Datos[7][i] == "4" && Datos[8][i].length <= 0) {
                alert("Debe ingresar la Observacion para el Estado No Realizado");
                $("#observacion_" + i).focus();
                return;
            }
            else if (Datos[7][i] == "5" && Datos[8][i].length <= 0) {
                alert("Debe ingresar la Observacion para el Estado Bloqueado");
                $("#observacion_" + i).focus();
                return;
            }
            else if (Datos[7][i] == "6" && Datos[8][i].length <= 0) {
                alert("Debe ingresar la Observacion para el Estado No Atendido");
                $("#observacion_" + i).focus();
                return;
            }
            else if (Datos[7][i] == "7" && Datos[8][i].length <= 0) {
                alert("Debe ingresar la Observacion para el Estado Mal Estibado");
                $("#observacion_" + i).focus();
                return;
            }
            else if ((Datos[5][i].length > 0 || Datos[6][i].length > 0) & Datos[7][i] == "1") {
                alert("Si ingresa Cantidad o Peso no puede quedar en Estado Asignado");
                $("#cantidad_" + i).focus();
                return;
            }

        }
        alert(data);

        //alert(data);
        $.ajax({
            url: '@Url.Action("ModificarHoja")',
            data: { puntos: data },
            type: 'POST',
            success: function (data) {
                //$("#popup").html(data);
            }
        });
        //history.back();
        alert("Ruta Grabada");
    }


    function MostrarDetalle(rutadia, estado) {
        InicializaArreglo();
        _ruta_modelo = 1;
        _col = 1;
        identificador = rutadia;

        var page = "/MantenedorHDRD/view/" + identificador;

        if (estado == 0) {

            page += "?estado=0";
        }


        $dialog = $('<div></div>')
                       .html('<iframe style="border: 0px;scroll:none; " src="' + page + '" width="100%" height="100%"></iframe>')
                       .dialog({
                           autoOpen: false,
                           modal: true,
                           height: 595,
                           width: 1260,
                           title: "Hoja de Ruta",
                           open: function (event, ui) {

                               // var barra = $(this).prev().children(":first").after("<div class='btn btn-danger' style='width:100px' id='salir_dialogo'>Salir</div>");

                           }
                       });
        $dialog.dialog('open');
        $("#GrabarDetalle").button();
    }


    function EliminarPuntoAtrasado(item) {
        var puntox = $(item).parent().find(".imagenx").attr("Id");
        var fechax = $(item).parent().find(".imagenx").attr("Title");
        $.ajax({
            url: '@Url.Action("EliminarPuntoAtrasado")',
            data: { punto: puntox, fecha: fechax },
            type: 'POST',
            success: function (data) {
                $("#Buscar").click();
            }
        });

    }






    function filtrarEstado(estado) {
        $(".lipuntos").hide();
        //alert($(".lipuntos ." + estado).length);
        $("." + estado).show();
    }








    $(document).ready(function () {

        $('.datepicker').datepicker();

        var moveLeft = -180;
        var moveDown = -40;

        HabilitaBtnSalir();

        function popup() {
            $('.getPuntos img').hover(function (e) {
                //alert($("#punto_" + $(this).attr("Id")).parent().find("span").length);
                $('#pop-up').html($('#Basepopup').html().replace("/*100*/", (parseInt($(this).parent().attr("Id").split("_")[1]) + 5).toString() + ":00").replace("/*200*/", (parseInt($(this).parent().attr("Id").split("_")[1]) + 6).toString() + ":00").replace("/*300*/", $("#punto_" + $(this).attr("Id")).parent().find("span")[0].innerText).replace("/*400*/", $("#punto_" + $(this).attr("Id")).parent().find("span")[0].innerText));
                $('#pop-up').show();
            }, function () {
                $('#pop-up').hide();
            });

            $('.getPuntos img').mousemove(function (e) {
                $("#pop-up").css('top', e.pageY + moveDown).css('left', e.pageX + moveLeft);
            });
        }


        function BorrarPuntos() {
            //$("#Rutas tr td img").on("dblclick", function () {
            $(".imagenx").on("dblclick", function () {
                var celda1 = $(this).parent().parent().find("td")[0].innerHTML;
                if (celda1 == "&nbsp;") {
                    //var boton = $(this).parent().parent().find(".GrabarFila");
                    //$(boton).attr("Id", $(boton).attr("Id") + $(this).attr("Id") + "_");
                    $(this).remove();
                }
            });

        }



        function dayOfWeek(s) {
            var d = Globalize.parseDate(s, 'yyyy/M/d');
            if (d == null) {
                return null;
            } else {
                return Globalize.format(d, 'dddd');
            }
        }

        function IniciaDragPuntos() {
            $(".punto").draggable({
                revert: "invalid", helper: "clone", helper: function () {
                    return $("<div><img style='width:25px;height:25;' src='/ico/Yellow.jpg' /></div>");
                }
            });
        }
        function IniciaDragRutas() {
            $(".ruta").draggable({
                revert: "invalid", helper: "clone", helper: function () {
                    return $("<div><img style='width:25px;height:25;' src='/ico/ruta.jpg' /></div>");
                }
            });
        }
        function IniciaDragCamion() {
            $(".camiondrag").draggable({
                revert: "invalid", helper: "clone", helper: function () {
                    return $("<div><img style='width:25px;height:25;' src='/ico/camion.png' /></div>");
                }
            });
        }
        function IniciaDragConductor() {
            $(".conductordrag").draggable({
                revert: "invalid", helper: "clone", helper: function () {
                    return $("<div><img style='width:25px;height:25;' src='/ico/conductor.png' /></div>");
                }
            });
        }
        IniciaDragPuntos();
        IniciaDragCamion();
        IniciaDragConductor();
        IniciaDragRutas();

        function HabilitaDragPunto() {
            $(".getPuntos").droppable({
                drop: function (event, ui) {
                    $(this).append($("#" + ui.draggable.context.id).html());
                    popup();

                }
            });
        }
        HabilitaDragPunto();

        function HabilitaDragCamion() {
            $(".getCamion").droppable({
                drop: function (event, ui) {

                    var idd = ui.draggable.context.id;



                    $(this).html($("#Patente_" + idd).html() + "<input type='hidden' value='" + $("#Camion_" + idd).val() + "' />");
                    if ($(this).html().indexOf("undefined") >= 0) {
                        alert("Debe seleccionar correctamente un Camión");
                        $(this).html("");
                        return;
                    }

                }
            });
        }
        HabilitaDragCamion();

        function HabilitaDragConductor() {
            $(".getConductor").droppable({
                drop: function (event, ui) {
                    var idd = String(ui.draggable.context.id).split("_")[1];
                    $(this).html($("#Conductor_" + idd).html() + "<input type='hidden' value='" + $("#idconductor_" + idd).val() + "' />");
                    if ($(this).html().indexOf("undefined") >= 0) {
                        alert("Debe seleccionar correctamente un Conductor");
                        $(this).html("");
                        return;
                    }

                }
            });
        }
        HabilitaDragConductor();
        function HabilitaDragRuta() {
            $(".getPuntos").droppable({
                drop: function (event, ui) {
                    //alert(ui.draggable.context.id.split("_")[1]);
                    var celda = $(this);
                    if (ui.draggable.context.id.indexOf("punto_") >= 0) {
                        $(this).append($("#" + ui.draggable.context.id).html());
                        BorrarPuntos();
                    }
                    else if (ui.draggable.context.id.indexOf("ruta_") >= 0) {
                        $(this).parent().find("td:first-child").addClass(ui.draggable.context.id.split("_")[1] + "_");
                        $.ajax({
                            url: '@Url.Action("getRutaModelo")',
                            data: { IdRutaModelo: ui.draggable.context.id.split("_")[1] },
                            type: 'POST',
                            success: function (data) {
                                for (i = 0; i < data.split("_").length / 2; i++) {
                                    //$(celda).parent().find("#c_" + parseInt(parseInt(data.split("_")[i * 2]) / 1000)).html("aa");
                                    //console.log($(this).parent().attr("style"));
                                    $(celda).parent().find("#c_" + parseInt(parseInt(data.split("_")[i * 2]) / 1000)).append("<img class='imagenx' title='" + $("#fecha").val() + "' id='" + data.split("_")[i * 2 + 1] + "' src='/ico/Yellow.jpg'>");
                                }
                                ////////////////////////////////////////////////////////////////
                                IniciaDragRutas();
                                BorrarPuntos();
                            }
                        });
                    }
                    popup();
                }
            });
        }
        HabilitaDragRuta();



        $("#AgregarRuta").on("click", function () {
            $("#Rutas").append('<tr style="background-color:lightskyblue"><td>&nbsp;</td><td class="ui-droppable getCamion"></td><td  class="ui-droppable getConductor"></td><td  id="c_1" class="ui-droppable getPuntos" style="width:5%"></td><td   id="c_2" class="ui-droppable getPuntos"  style="width:5%"></td><td   id="c_3" class="ui-droppable getPuntos"  style="width:5%"></td><td   id="c_4" class="ui-droppable getPuntos"  style="width:5%"></td><td   id="c_5" class="ui-droppable getPuntos"  style="width:5%"></td><td   id="c_6" class="ui-droppable getPuntos"  style="width:5%"></td><td    id="c_7" class="ui-droppable getPuntos"  style="width:5%"></td><td    id="c_8" class="ui-droppable getPuntos"  style="width:5%"></td><td    id="c_9" class="ui-droppable getPuntos"  style="width:5%"></td><td    id="c_10" class="ui-droppable getPuntos"  style="width:5%"></td><td   id="c_11"  class="ui-droppable getPuntos"  style="width:5%"></td><td  id="c_12"   class="ui-droppable getPuntos"  style="width:5%"></td><td><button class="btn btn-lg btn-primary pull-right GrabarFila" style="margin-top:-1px;font-size:12px;">Grabar</button></td></tr>');
            $("#AgregarRuta").prop('disabled', true);
            BorrarPuntos();
            HabilitaDragPunto();
            HabilitaDragCamion();
            HabilitaDragConductor();
            HabilitaDragRuta();
            IniciaDragRutas();
        });

        $("#Rutas").on("click", ".GrabarFila", function () {

            var celda1 = $(this).parent().parent().find("td")[0].innerText;
            var rutasmodelo = $(this).parent().parent().find("td:first-child").attr("class");
            var puntoseliminados = $(this).parent().parent().find(".GrabarFila").attr("Id");

            if ($(this).parent().parent().find("input[type='hidden']").length < 2) {
                alert("Tiene que ingresar Camión y Conductor");
                return;
            }
            if ($("#fecha").val() == "") {
                alert("Ingrese la Fecha");
                return;
            }
            if ($("#selectError3").val() == 0) {
                alert("Seleccione el Tipo de Servicio");
                return;
            }


            // var camionx = $("#Camion_" + $(this).parent().parent().find("input[type='hidden']")[0].value).val();
            var camionx = $(this).parent().parent().find("input[type='hidden']")[0].value;
            var choferx = $(this).parent().parent().find("input[type='hidden']")[1].value;
            if ($(this).parent().parent().find("a").length == 0) {
                var puntosx = "";
                var pant = -1;
                var c = 1;
                var n;
                for (i = 1; i <= $(this).parent().parent().find("td > img").length; i++) {
                    var img = $(this).parent().parent().find("td > img")[i - 1];
                    if ($(img).parent().attr("Id") == pant) c++; else c = 1;
                    n = parseInt($(img).parent().attr("Id").split("_")[1]) * 1000 + c;
                    puntosx = puntosx + $(img).attr("Id") + "_" + n + "_" + $(img).attr("title");
                    if (i < $(this).parent().parent().find("td > img").length) puntosx = puntosx + "_";
                    pant = $(img).parent().attr("Id");
                }
                $.ajax({
                    url: '@Url.Action("InsertarHoja")',
                    data: { Fecha: $("#fecha").val(), chofer: choferx, camion: camionx, tiposervicio: $("#selectError3").val(), puntos: puntosx, rutamodelo: rutasmodelo },
                    type: 'POST',
                    success: function (data) {

                    }
                });
                alert("Hoja Grabada exitosamente");
            }
            else {
                var puntosx = "";
                var pant = -1;
                var c = 1;
                var n;
                for (i = 1; i <= $(this).parent().parent().find("td > img").length; i++) {
                    var img = $(this).parent().parent().find("td > img")[i - 1];
                    if ($(img).parent().attr("Id") == pant) c++; else c = 1;
                    n = parseInt($(img).parent().attr("Id").split("_")[1]) * 1000 + c;
                    if (!(typeof $(img).attr("title") === "undefined")) {
                        //alert($(img).attr("title"));
                        if ($(img).attr("title") == "")
                            puntosx = puntosx + $(img).attr("Id") + "_" + n + "_" + $("#fecha").val();
                        else
                            puntosx = puntosx + $(img).attr("Id") + "_" + n + "_" + $(img).attr("title");
                        if (i < $(this).parent().parent().find("td > img").length) puntosx = puntosx + "_";
                    }
                    pant = $(img).parent().attr("Id");
                }
                puntoseliminados = "";
                $.ajax({
                    url: '@Url.Action("ActualizarHoja")',
                    data: { ruta: celda1, chofer: choferx, camion: camionx, tiposervicio: $("#selectError3").val(), puntos: puntosx, rutamodelo: rutasmodelo, puntoseliminados: puntoseliminados },
                    type: 'POST',
                    success: function (data) {
                        alert("Hoja Actualizada exitosamente");
                    }
                });
            }
            // $("#AgregarRuta").prop('disabled', false);
            $("#Buscar").click();
        });



        $("#Buscar").on("click", function () {
            $("#Filtro").val("");
            $(".Preseleccionados").removeClass("Preseleccionados");
            if ($("#fecha").val() == "" && $('#buscarID').val() == "")
                $("#fecha").focus
            else {
                var weekday = new Array(7);
                weekday[0] = "DOMINGO";
                weekday[1] = "LUNES";
                weekday[2] = "MARTES";
                weekday[3] = "MIERCOLES";
                weekday[4] = "JUEVES";
                weekday[5] = "VIERNES";
                weekday[6] = "SABADO";

                var d = new Date($("#fecha").val().substr(3, 2) + "/" + $("#fecha").val().substr(0, 2) + "/" + $("#fecha").val().substr(6, 4));
                //var d = new Date($("#fecha").val());
                ////      $(".lipuntos").hide();
                ////       $("li[id*=" + weekday[d.getDay()] + "]").show();
                //$(":not(li[id*=" + weekday[d.getDay()] + "])").hide();
                //alert($(":not(li[id*=" + weekday[d.getDay()] + "])").length);

                //alert(d.getDay());

                $(".lirutas").hide();
                $(".dia_" + d.getDay() + ".tiposerv_" + $("#selectError3").val()).show();
                //alert(".dia_" + d.getDay() + ".tiposerv" + $("#selectError3").val());
                $.ajax({
                    url: '@Url.Action("getRutas")',
                    //data: { Dia: weekday[d.getDay()], TipoServicio: $("#selectError3").val() },
                    data: { Fecha: $("#fecha").val(), TipoServicio: $("#selectError3").val(), ID: $('#buscarID').val(), camion: $('#txt_camion').val(), conductor: $('#txt_conductor').val()},
                    type: 'POST',
                    success: function (data) {
                        $("#Rutas").empty();
                        $("#Rutas").append(data);
                        IniciaDragRutas();
                        HabilitaDragPunto();
                        HabilitaDragCamion();
                        HabilitaDragConductor();
                        HabilitaDragRuta();
                        popup();

                        $(".lipuntos").filter(":visible").each(function (index) {
                            if ($("#Rutas").html().indexOf("img id=\"" + $(this).find(".punto").attr("Id").split("_")[1] + "\"") > -1) {
                                //alert($(this).find(".punto").attr("Id").split("_")[1]);
                                //alert($("#35").length);
                                $("#punto_" + $(this).find(".punto").attr("Id").split("_")[1]).find("img").attr("src", "/ico/Green.jpg");

                                $("#coloreado_" + $(this).find(".punto").attr("Id").split("_")[1]).html("Asignado").addClass("label-success");
                                //$("li > #" + $(this).find(".punto").attr("Id").split("_")[1]).attr("src", "/ico/Green.jpg")
                            }
                        });
                        BorrarPuntos();
                    }
                });


            }
        });




        $("#filtroservicio").on("keyup", function () {
            $(".lipuntos").filter(":visible").addClass("Preseleccionados");
            $(".Preseleccionados").hide();
            $(".Preseleccionados").each(function (index, value) {
                if ($(this).text().toLowerCase().indexOf($("#filtroservicio").val().toLowerCase()) >= 0)
                    $(this).show();
            })

            /*                $(".Preseleccionados:contains('" + $("#filtroservicio").val() + "')").each(function (index) {
                                $(this).show();
                            });
            */
        });

        $("#filtroserviciotodos").on("keyup", function () {
            $("#ServiciosTodos .lipuntos").filter(":visible").addClass("Preseleccionados2");
            $(".Preseleccionados2").hide();
            $(".Preseleccionados2").each(function (index, value) {
                if ($(this).text().toLowerCase().indexOf($("#filtroserviciotodos").val().toLowerCase()) >= 0)
                    $(this).show();
            })
            /*   $(".Preseleccionados2:contains('" + $("#filtroserviciotodos").val() + "')").each(function (index) {
                $(this).show();
            });*/
        });

        $("#filtrorutasmodelo").on("keyup", function () {
            $(".lirutas").filter(":visible").addClass("Preseleccionados3");
            $(".Preseleccionados3").hide();
            $(".Preseleccionados3").each(function (index, value) {
                if ($(this).text().toLowerCase().indexOf($("#filtrorutasmodelo").val().toLowerCase()) >= 0)
                    $(this).show();
            })
            /*  $(".Preseleccionados3:contains('" + $("#filtrorutasmodelo").val() + "')").each(function (index) {
                  $(this).show();
              });*/
        });
        $("#filtrocamiones").on("keyup", function () {
            $(".licamiones").filter(":visible").addClass("Preseleccionados3");
            $(".Preseleccionados3").hide();
            $(".Preseleccionados3").each(function (index, value) {
                if ($(this).text().toLowerCase().indexOf($("#filtrocamiones").val().toLowerCase()) >= 0)
                    $(this).show();
            })
            /*  $(".Preseleccionados3:contains('" + $("#filtrorutasmodelo").val() + "')").each(function (index) {
                  $(this).show();
              });*/
        });
        $("#filtroconductores").on("keyup", function () {
            $(".liconductores").filter(":visible").addClass("Preseleccionados3");
            $(".Preseleccionados3").hide();
            $(".Preseleccionados3").each(function (index, value) {
                if ($(this).text().toLowerCase().indexOf($("#filtroconductores").val().toLowerCase()) >= 0)
                    $(this).show();
            })
            /*  $(".Preseleccionados3:contains('" + $("#filtrorutasmodelo").val() + "')").each(function (index) {
                  $(this).show();
              });*/
        });
        $(".pestana").on("click", function () {
            $("#txtBuscar").val("");
        });


        $("#txtBuscar").on("keyup", function () {
            var tag = "filaCamion";
            if ($("#pestanacamiones").hasClass("active")) tag = ".filaCamion"; else tag = ".filaConductor";
            $(tag).hide();
            $(tag).each(function (index, value) {
                if ($(this).text().toLowerCase().indexOf($("#txtBuscar").val().toLowerCase()) >= 0)
                    $(this).show();
            })
        });
        var unidad = $("#unidades").val();
        $.ajax({
            url: '@Url.Action("getPuntosTodos")',
            data: { "unidad": unidad },
            type: 'POST',
            success: function (data) {
                $("#ServiciosTodos").html(data);
                IniciaDragPuntos();
            }
        });




        /*$("#Rutas > tr > td > img").on("click", function () {
            alert("ok");
        });*/


    });
    //$(".punto").draggable({ revert: "invalid", helper: "clone" });


</script>

<div id="content" class="col-lg-10 col-sm-11 " style="padding-left:10px;  padding-right:10px;">


    <div id="pop-up">
    </div>
    <div id="Basepopup">
        <h3>Información de Punto de Servicio</h3>
        <p>Hora Inicio: /*100*/</p>
        <p>Hora Termino: /*200*/</p>
        <p>Punto: /*300*/</p>
        <p>Estado: /*400*/</p>
    </div>
    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"RutasModelo",Url.RouteUrl(new {Controller="RutasModelo",Action="Index"})},
                            {"Agregar Ruta Modelo",Url.RouteUrl(new {Controller="RutasModelo",Action="Create"})}
                            })

            <div class="col-lg-9" style="padding-left:2px; padding-right:2px;">
                <div class="box ">
                    <div data-original-title="" class="box-header" style="height:initial;">
                        <h2><i class="icon-user"></i><span class="break"></span>HDR</h2>
                        <div class="controls row" style="margin-top:2px;">
                            <div class="input-group date col-sm-4" style="width:200px;">
                                <span class="input-group-addon"><i class="icon-calendar"></i></span>
                                <input id="fecha" type="text" data-date-format="dd/mm/yyyy" id="date01" class="form-control datepicker" style="width:140px;" placeholder="Seleccione Fecha">
                            </div>
                            <div class="input-group date" style="width:700px;padding:0px;vertical-align:top;margin-top:-1px;">
                                <div class="form col-sm-5" style="width:170px">
                                    @Html.DropDownListFor(m => m.id_tipo_servicio, ViewBag.tipo_servicio_real as IEnumerable<SelectListItem>, "Tipo Servicio", new { @class = "form-control", Id = "selectError3" })
                                </div>
                                @*<select class="form-control" id="selectError3" style="width:135px;margin-left:0px;">
            <option value=0>Tipo Servicio</option>
            <option value=2>Hook</option>
            <option value=3>Recolector</option>
        </select>*@
                                &nbsp;
                                <select class="form-control" id="txt_conductor" style="width:155px;margin-left:1px;">
                                    <option value=0>Conductores</option>
                                    @foreach (var conductores in ViewData["conductores"] as List<SGS.Models.conductores>)
                                    {
                                        if (@conductores.estado == "Activo")
                                        {
                                            <option value=@conductores.id_conductor>@conductores.nombre_conductor</option>

                                        }
                                    }
                                </select>
                                &nbsp;
                                <input id="buscarID" type="number" class="form-control" style="margin:0px 20px 0px 5px; width:90px;" placeholder="ID">
                                <input type="text" id="txt_camion" class="form-control" style="width:100px;margin:0px 10px 0px 5px" placeholder="camion">
                                <!--<input id="Filtro" type="text" class="form-control" placeholder="Nombre Punto" style="width:120px;margin-left:10px;" />-->
                                <button id="Buscar" class="btn btn-lg btn-primary" style="margin:0px 20px 0px 5px; height:36px">Buscar</button>
                                <!--<div id="AgregarRuta" class="btn btn-lg btn-primary" style="height:36px">Agregar</div>  -->
                            </div>
                        </div>
                    </div>

                    <div class="box-content" style="height:550px;overflow:scroll;">
                        <table id="Rutas" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="width:20px;padding:2px;">Id</th>
                                    <th>Camion</th>
                                    <th>Chofer</th>
                                    <th>1</th>
                                    <th>2</th>
                                    <th>3</th>
                                    <th>4</th>
                                    <th>5</th>
                                    <th>6</th>
                                    <th>7</th>
                                    <th>8</th>
                                    <th>9</th>
                                    <th>10</th>
                                    <th>11</th>
                                    <th>12</th>
                                    <th>13</th>
                                    <th>14</th>
                                    <th>15</th>
                                    <th>16</th>
                                    <th>17</th>
                                    <th>18</th>
                                    <th>19</th>
                                    <th>20</th>
                                    <th>21</th>
                                    <th>22</th>
                                    <th>23</th>
                                </tr>

                            </thead>

                            <tbody></tbody>
                        </table>
                    </div>
                </div>



                <div class="col-lg-12" hidden>
                    <div class="box">
                        <div class="box-header">
                            <h2><i class="icon-th"></i><span class="break"></span>Conductores y Camiones</h2>
                            <input id="txtBuscar" type="text" class="form-control" placeholder="Buscar" style="width:120px;margin-left:80px;display:inline-block;height:38px;" />
                            <ul id="myTab" class="nav tab-menu nav-tabs">
                                <li id="pestanacamiones" class="active"><a class="pestana" href="ui-elements.html#info">Camiones</a></li>
                                <li class=""><a class="pestana" href="ui-elements.html#custom">Conductores</a></li>
                            </ul>
                        </div>
                        <div class="box-content">

                            <div class="tab-content" id="myTabContent">
                                <div id="info" class="tab-pane active">
                                    <p>
                                        <table id="tblCamiones" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th># Interno</th>
                                                    <th>Patente</th>
                                                    <th>Camion</th>
                                                    <th>Estado</th>
                                                    <th>Agregar</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                @{
                                                    int count = 0;
                                                }
                                                @foreach (var camiones in ViewData["camiones"] as List<SGS.Models.camiones>)
                                                {
                                                    count += 1;
                                                    <tr class="filaCamion">
                                                        <td>@camiones.num_interno</td>
                                                        <td id="Patente_@count">@camiones.patente</td>
                                                        <td>@camiones.camion</td>
                                                        <td>@camiones.estado<input id="Camion_@count" type="hidden" value="@camiones.id_camion" /></td>
                                                        <td><img id="@count" class="camiondrag" src="~/ico/camion.png" /></td>
                                                    </tr>
                                                }
                                            </tbody>


                                        </table>
                                    </p>
                                </div>
                                <div id="custom" class="tab-pane">
                                    <p>
                                        <table id="tblConductores" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Rut</th>
                                                    <th>Nombre</th>
                                                    <th>Agregar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    count = 0;
                                                }
                                                @foreach (var conductores in ViewData["conductores"] as List<SGS.Models.conductores>)
                                                {
                                                    count += 1;
                                                    <tr class="filaConductor">
                                                        <td id="Rut_@count">@conductores.rut_conductor<input id="idconductor_@count" type="hidden" value="@conductores.id_conductor" /></td>
                                                        <td id="Conductor_@count">@conductores.nombre_conductor</td>
                                                        <td><img id="imgconductor_@count" class="conductordrag" src="~/ico/conductor.png" /></td>
                                                    </tr>

                                                }
                                            </tbody>
                                        </table>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>

            <div class="col-lg-3">
                <div class="box">
                    <div class="box-header">
                        <h2><i class="icon-list"></i>Camiones</h2>
                        <div class="box-icon">
                            <a class="btn-minimize" href="widgets.html#"><i class="icon-chevron-up"></i></a>
                            <a class="btn-close" href="widgets.html#"><i class="icon-remove"></i></a>
                        </div>
                    </div>
                    <div class="box-content" style="display:none;">
                        <div style="height:50px;"><input id="filtrocamiones" class="form-control" type="text" /></div>
                        <div class="todo">
                            <ul id="RutasModelo" class="todo-list ui-sortable">
                                @{
                                    int count2 = 0;
                                }
                                @foreach (var camiones in ViewData["camiones"] as List<SGS.Models.camiones>)
                                {
                                    count2 += 1;
                                    <li class="licamiones" id="@camiones.id_camion" style="padding:10px 10px 10px 10px;">
                                        @if (@camiones.estado == "Operativo")
                                        {
                                            <div class="ruta" id="@count2" style="float:left;margin-top:-3px;"><img src="~/ico/camion.png" style="width:25px;height:25px;" /></div>
                                        }
                                        else
                                        {
                                            <div class="ruta" id="@count2" style="float:left;margin-top:-3px;"><img src="~/ico/red.jpg" style="width:25px;height:25px;" /></div>
                                        }
                                        <span class="desc nomruta" style="margin-left:20px;">@camiones.patente @camiones.camion</span>

                                    </li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <div class="box-header">
                        <h2><i class="icon-list"></i>Conductores</h2>
                        <div class="box-icon">
                            <a class="btn-minimize" href="widgets.html#"><i class="icon-chevron-up"></i></a>
                            <a class="btn-close" href="widgets.html#"><i class="icon-remove"></i></a>
                        </div>
                    </div>
                    <div class="box-content" style="display:none;">
                        <div style="height:50px;"><input id="filtroconductores" class="form-control" type="text" /></div>
                        <div class="todo">
                            <ul id="RutasModelo" class="todo-list ui-sortable">
                                @{
                                    count = 0;
                                }
                                @foreach (var conductores in ViewData["conductores"] as List<SGS.Models.conductores>)
                                {
                                    count += 1;
                                    <li class="liconductores" id="idconductor_@count" style="padding:10px 10px 10px 10px;">
                                        @if (@conductores.estado == "Activo")
                                        {
                                            <div class="ruta" id="idconductor_@count" style="float:left;margin-top:-3px;"><img src="~/ico/conductor.png" style="width:25px;height:25px;" /></div>
                                        }
                                        else
                                        {
                                            <div class="ruta" id="idconductor_@count" style="float:left;margin-top:-3px;"><img src="~/ico/Red.jpg" /></div>
                                        }
                                        <span class="desc nomruta" style="margin-left:20px;">@conductores.rut_conductor @conductores.nombre_conductor</span>

                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <div class="box-header">
                        <h2><i class="icon-list"></i>Ruta Modelo</h2>
                        <div class="box-icon">
                            <a class="btn-minimize" href="widgets.html#"><i class="icon-chevron-up"></i></a>
                            <a class="btn-close" href="widgets.html#"><i class="icon-remove"></i></a>
                        </div>
                    </div>
                    <div class="box-content" style="display:none">
                        <div style="height:50px;"><input id="filtrorutasmodelo" class="form-control" type="text" /></div>
                        <div class="todo">
                            <ul id="filaCamion" class="todo-list ui-sortable">
                                @foreach (var rutas in ViewData["rutasmodelo"] as List<SGS.Models.ruta_modelo>)
                                {
                                    <li class="lirutas dia_@rutas.dia_ruta tiposerv_@rutas.id_tipo_servicio" id="rutamodelo_@rutas.id_ruta" style="padding:10px 10px 10px 10px;">
                                        @if (@rutas.estado == "1")
                                        {
                                            <div class="ruta" id="ruta_@rutas.id_ruta" style="float:left;margin-top:-3px;"><img src="~/ico/rutagreen.jpg" /></div>
                                        }
                                        else
                                        {
                                            <div class="ruta" id="ruta_@rutas.id_ruta" style="float:left;margin-top:-3px;"><img src="~/ico/rutared.jpg" /></div>
                                        }
                                        <span class="desc nomruta" style="margin-left:20px;">@rutas.nombre_ruta</span>
                                    </li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>



                <div class="box">
                    <div class="box-header">
                        <h2><i class="icon-list"></i>Servicios</h2>
                        <div class="box-icon">
                            <a class="btn-minimize" href="widgets.html#"><i class="icon-chevron-up"></i></a>
                            <i class="icon-remove"></i>
                        </div>
                    </div>
                    <div class="box-content">
                        <div style="height:50px;"><input id="filtroserviciotodos" class="form-control" type="text" /></div>
                        <div class="todo">
                            <ul id="ServiciosTodos" class="todo-list"></ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>

<div id="wrapper-ajax-details" class="col-lg-11" style="display:none;width:400px;">

</div>