﻿@model SGS.Models.ruta_modelo
@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}
<div id="content" class="col-lg-10 col-sm-11 ">
    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"RutasModelo",Url.RouteUrl(new {Controller="RutasModelo",Action="Index"})},
                            {"Agregar Ruta Modelo",Url.RouteUrl(new {Controller="RutasModelo",Action="Create"})}
                            })


        </div>
        <div class="col-lg-12">
            <div class="col-lg-3">
                <div class="todo">
                    <ul class="todo-list ui-sortable">
                        <li>
                            <span class="todo-actions">
                                <a href="widgets.html#"><i class="icon-ok"></i></a>
                            </span>
                            <span class="desc">Windows Phone 8 App</span>
                            <span class="label label-important">today</span>
                            <a href="widgets.html#" class="remove"><i class="icon-remove"></i></a>
                        </li>
                        <li>
                            <span class="todo-actions">
                                <a href="widgets.html#"><i class="icon-ok"></i></a>
                            </span>
                            <span class="desc">New frontend layout</span>
                            <span class="label label-important">today</span>
                            <a href="widgets.html#" class="remove"><i class="icon-remove"></i></a>
                        </li>
                        <li>
                            <span class="todo-actions">
                                <a href="widgets.html#"><i class="icon-ok"></i></a>
                            </span>
                            <span class="desc">Hire developers</span>
                            <span class="label label-warning">tommorow</span>
                            <a href="widgets.html#" class="remove"><i class="icon-remove"></i></a>
                        </li>
                        <li>
                            <span class="todo-actions">
                                <a href="widgets.html#"><i class="icon-ok"></i></a>
                            </span>
                            <span class="desc">Windows Phone 8 App</span>
                            <span class="label label-warning">tommorow</span>
                            <a href="widgets.html#" class="remove"><i class="icon-remove"></i></a>
                        </li>
                        <li>
                            <span class="todo-actions">
                                <a href="widgets.html#"><i class="icon-ok"></i></a>
                            </span>
                            <span class="desc">New frontend layout</span>
                            <span class="label label-success">this week</span>
                            <a href="widgets.html#" class="remove"><i class="icon-remove"></i></a>
                        </li>
                        <li>
                            <span class="todo-actions">
                                <a href="widgets.html#"><i class="icon-ok"></i></a>
                            </span>
                            <span class="desc">Hire developers</span>
                            <span class="label label-success">this week</span>
                            <a href="widgets.html#" class="remove"><i class="icon-remove"></i></a>
                        </li>
                        <li>
                            <span class="todo-actions">
                                <a href="widgets.html#"><i class="icon-ok"></i></a>
                            </span>
                            <span class="desc">New frontend layout</span>
                            <span class="label label-info">this month</span>
                            <a href="widgets.html#" class="remove"><i class="icon-remove"></i></a>
                        </li>
                        <li>
                            <span class="todo-actions">
                                <a href="widgets.html#"><i class="icon-ok"></i></a>
                            </span>
                            <span class="desc">Hire developers</span>
                            <span class="label label-info">this month</span>
                            <a href="widgets.html#" class="remove"><i class="icon-remove"></i></a>
                        </li>
                    </ul>
                </div>
                <br />
                <div class="todo">
                    <ul class="todo-list ui-sortable">
                        <li>
                            <span class="todo-actions">
                                <a href="widgets.html#"><i class="icon-ok"></i></a>
                            </span>
                            <span class="desc">Windows Phone 8 App</span>
                            <span class="label label-important">today</span>
                            <a href="widgets.html#" class="remove"><i class="icon-remove"></i></a>
                        </li>
                        <li>
                            <span class="todo-actions">
                                <a href="widgets.html#"><i class="icon-ok"></i></a>
                            </span>
                            <span class="desc">New frontend layout</span>
                            <span class="label label-important">today</span>
                            <a href="widgets.html#" class="remove"><i class="icon-remove"></i></a>
                        </li>
                        <li>
                            <span class="todo-actions">
                                <a href="widgets.html#"><i class="icon-ok"></i></a>
                            </span>
                            <span class="desc">Hire developers</span>
                            <span class="label label-warning">tommorow</span>
                            <a href="widgets.html#" class="remove"><i class="icon-remove"></i></a>
                        </li>
                        <li>
                            <span class="todo-actions">
                                <a href="widgets.html#"><i class="icon-ok"></i></a>
                            </span>
                            <span class="desc">Windows Phone 8 App</span>
                            <span class="label label-warning">tommorow</span>
                            <a href="widgets.html#" class="remove"><i class="icon-remove"></i></a>
                        </li>
                        <li>
                            <span class="todo-actions">
                                <a href="widgets.html#"><i class="icon-ok"></i></a>
                            </span>
                            <span class="desc">New frontend layout</span>
                            <span class="label label-success">this week</span>
                            <a href="widgets.html#" class="remove"><i class="icon-remove"></i></a>
                        </li>
                        <li>
                            <span class="todo-actions">
                                <a href="widgets.html#"><i class="icon-ok"></i></a>
                            </span>
                            <span class="desc">Hire developers</span>
                            <span class="label label-success">this week</span>
                            <a href="widgets.html#" class="remove"><i class="icon-remove"></i></a>
                        </li>
                        <li>
                            <span class="todo-actions">
                                <a href="widgets.html#"><i class="icon-ok"></i></a>
                            </span>
                            <span class="desc">New frontend layout</span>
                            <span class="label label-info">this month</span>
                            <a href="widgets.html#" class="remove"><i class="icon-remove"></i></a>
                        </li>
                        <li>
                            <span class="todo-actions">
                                <a href="widgets.html#"><i class="icon-ok"></i></a>
                            </span>
                            <span class="desc">Hire developers</span>
                            <span class="label label-info">this month</span>
                            <a href="widgets.html#" class="remove"><i class="icon-remove"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
