﻿@{
    Layout = null;
    Response.AddHeader("Content-type", "application/vnd.ms-excel");
    Response.AddHeader("Content-Disposition", "attachment; filename=comunas.xls");
}

<table border="1">
    <tr>
        <th style="width:auto" class="sorting_asc" role="columnheader">ID</th>
        <th style="width:auto" class="sorting">Comuna</th>
        <th style="width:auto" class="sorting">Ciudad</th>
    </tr>
    <tbody>
        @foreach (var m in Model)
{
    <tr>
        <td>@m.id_comuna</td>
        <td>@m.nombre_comuna</td>
        <td>@m.ciudades.ciudad</td>
    </tr>

}
    </tbody>
</table>