﻿@model SGS.Models.conductores

@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

<div id="content" class="col-lg-10 col-sm-11 ">

    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Conductores",Url.RouteUrl(new {Controller="Conductores",Action="Index"})},
                            {"Agregar Conductor",Url.RouteUrl(new {Controller="Conductores",Action="Create"})}
                            })
            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="icon-plus-sign"></i><span class="break"></span>Agregar Nuevo Conductor</h2>
                    <a href="@Url.RouteUrl(new { Controller="Conductores",Action="Index"})" class="btn btn-primary pull-right btn-lg">Volver al listado</a>
                </div>

                <div class="box-content">
                    @using (Html.BeginForm("Create", "Conductores"))
                    {
                        <fieldset class="col-sm-12">

                            <p><strong>Nota: Las restricciones que el conductor pudiese tener se agregarán a parte de este formulario.</strong></p>


                            <div class="form-group">
                                @if (Model != null && Model.id_conductor != 0)
                                {
                                    @Html.HiddenFor(m => m.id_conductor)
                                }
                                <label class="control-label pull-left label-see">Nombre Completo</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.nombre_conductor, new { @class = "form-control pull-right" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.nombre_conductor)</label>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Rut</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.rut_conductor, new { @class = "form-control pull-right", @placeholder = "12345678-9" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessage("rut") @Html.ValidationMessageFor(m => m.rut_conductor)</label>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Fecha Ingreso</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.fecha_ingreso, new { @class = "form-control pull-right", @type = "date", @placeholder = "01-01-2001" })
                                </div>
                                <label class="control-label red"> @Html.ValidationMessageFor(m => m.fecha_ingreso)</label>
                            </div>
                            <div class="clearfix"></div>


                             <div class="form-group">
                                <label class="control-label pull-left label-see">Fecha Vencimiento Licencia</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.fecha_vencimientolic, new { @class = "form-control pull-right", @type = "date", @placeholder = "12-12-2012" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.fecha_vencimientolic )</label>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Licencia</label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownListFor(m => m.id_tipo_licencia, ViewBag.licencia as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>


                             <div class="form-group">
                                <label class="control-label pull-left label-see">Franquiciado</label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownListFor(m => m.id_franquiciado, ViewBag.franquiciado as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>






                            <div class="form-group">
                                <label class="control-label pull-left label-see">Estado</label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownList("estado", null, new { @class = "form-control pull-left"}) 
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Obervación Estado</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.observacion, new { @class = "form-control pull-right" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.observacion)</label>
                            </div>
                            <div class="clearfix"></div>


                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
                            </div>
                        </fieldset>
                    }

                </div>
            </div>
        </div>

    </div>


</div>
