﻿@{
    Layout = null;
    Response.AddHeader("Content-type", "application/vnd.ms-excel");
    Response.AddHeader("Content-Disposition", "attachment; filename=conductores.xls");
}

<table border="1">
    <tr>
        <th>Id</th>
        <th>Nombre Conductor</th>
        <th>Rut Conductor</th>
        <th>Fecha Ingreso</th>
        <th>Tipo Licencia</th>
        <th>Estado</th>
        <th>Vencimiento Licencia</th>
        <th>Observacion</th>   
    </tr>
    <tbody>
        @foreach (var m in Model)
        {

        <tr>
            <td>@m.id_conductor</td>
            <td>@m.nombre_conductor</td>
            <td>@m.rut_conductor</td>
            <td>@m.fecha_ingreso</td>
            <td>@m.licencia</td>
            <td>@m.estado</td>
            <td>@m.fecha_vencimientolic</td>
            <td>@m.observacion</td>

        </tr>

        }
    </tbody>
</table>