﻿@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fx/pages/camiones.js")"></script>

}

<div id="content" class="col-lg-12 col-sm-11  ">
    <div class="row">
        <div class="col-lg-12 col-md-9">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Conductores",Url.RouteUrl(new {Controller="Conductores",Action="Index"})}
                            })
            <div class="box">
                <div class="box-header" data-original-title>
                    <h2><i class="icon-road"></i><span class="break"></span>Modulo Conductores</h2>
                    <a class="btn btn-lg pull-right btn-success" href="@Url.RouteUrl(new {Controller="Conductores",action="Excel" })">Excel</a>
                    <a href="@Url.RouteUrl(new {Controller="Conductores",action="Create" })" class="btn btn-primary pull-right btn-lg">Agregar Conductor</a>
                </div>

                <div class="box-content">
                    <table class="table table-bordered bootstrap-datatable datatable">
                        <thead role="row" class="tab-header">
                            <tr>
                                <th style="width:auto" class="sorting_asc" role="columnheader">Conductor</th>
                                <th style="width:auto" class="sorting">Rut</th>
                                <th style="width:auto" class="sorting">Fecha Ingreso</th>
                                <th style="width:auto" class="sorting">Licencia</th>
                                <th style="width:auto" class="sorting">Estado</th>
                                <th style="width:auto" class="sorting">Vencimiento Licencia</th>
                                <th style="width:auto" class="sorting">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                           @foreach (var m in Model)
{
    <tr class="odd"
        @if (m.restricciones.Count > 0) { @Html.Raw("style=\"background:#FFC3C3 !important;\" title=\"Este camion tiene restricciones\"")  }>
        <td>@m.nombre_conductor</td>
        <td>@m.rut_conductor</td>
        <td>@m.fecha_ingreso</td>
        <td>@m.tipo_licencia1</td>
        <td>@m.estado</td>
        <td>@m.fecha_vencimientolic </td>
        <td>
            <a class="btn btn-success" href="@Url.RouteUrl(new { Controller = "Conductores", Action = "View", Id = m.id_conductor })" rel="shadowbox" target="_blank" title="Ver Camión"><i class="icon-zoom-in "></i></a>
            <a class="btn btn-info" href="@Url.RouteUrl(new { Controller = "Conductores", Action = "Edit", Id = m.id_conductor })" title="Editar"><i class="icon-edit"></i></a>
            <a class="btn btn-danger" onclick="return confirm('Estas seguro(a) que deseas eliminar a @m.nombre_conductor  ?');" href="@Url.RouteUrl(new { Controller = "Conductores", Action = "Delete", Id = m.id_conductor })" title="Eliminar"><i class="icon-trash "></i></a>
            <a class="btn btn-danger" href="@Url.RouteUrl(new { Controller = "Conductores", Action = "Restrict", Id = m.id_conductor })" title="Agregar Restriccion"><i class="icon-minus-sign "></i></a>
        </td>
    </tr>

}
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--/col-->

    </div><!--/row-->

</div>
