﻿<!--////////////////////////////////////////////////////////////////////////////////////-->
<!--El siguiente fragmento de codigo debe ser quitado si lo que se NECESITA es una llamada en AJAX para un formulario-->

<!--  AQUI VA EL HEADER -->
@{
    ViewBag.Title = "dummy";
  //  Layout = "~/Views/Shared/_main_layout.cshtml";

    string dis = "";
    var user = User.Identity.Name;
    var isRol = User.IsInRole("planHRModEditar");

    if (ViewData["editable"].Equals(false) && isRol.Equals(false))
    {

        dis = "disabled=disabled";
    
    }
    
    
}


<!--////////////////////////////////////////////////////////////////////////////////-->
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<style type="text/css">
   td {
        padding:3px;
    }   
 .breakhere { page-break-after: always;page-break-before:always }
</style>

 <script src="/Scripts/jquery.2.1.js"></script>
    <script src="/Scripts/jquery-ui.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {




            

            $(document).on("click", "#salir_dialogo", function () {

                window.parent.closeDialog();

            });


            function grabardato(elemento, indice, item) {
                Datos[elemento][indice] = item.value;
                //alert(Datos[elemento][indice]);
                if (indice > mayor) mayor = indice;
            }
          
            var mayor = 0;
            var identificador;

           // function GrabarDetalle() {
            //alert(mayor);
            $("#GrabarDetalle").on("click", function () {




                mayor = $(".observable").length;                
                var n = parseInt($("#Total").val());
                var data = "";
                var data1 = "";
                for (i = 1; i <= n; i++) {
                    data = data + $("#puntodetalle_" + i).attr("class") + "_" + $("#hora_" + i).attr("class") + "_" + $("#cantidad_" + i).val() + "_" + $("#peso_" + i).val() + "_" + $("#tiposervicio_" + i).val() + "_" + $("#estado_" + i).val() + "_" + $("#equipoentrada_" + i).val() + "_" + $("#equiposalida_" + i).val() + "_" + $("#observacion_" + i).val() + "_" + $("#vertedero_" + i).val();
                    //data = data + $("#puntodetalle_" + i).attr("class") + "_" + $("#hora_" + i).attr("class") + "_" + Datos[5][i] + "_" + Datos[6][i] + "_" + Datos[7][i] + "_" + Datos[0][i] + "_" + Datos[1][i] + "_" + Datos[2][i] + "_" + Datos[8][i] + "_" + Datos[9][i];
                    if (i < n) data = data + "|";
                    //data1 = data1 + $("#puntodetalle_" + i).attr("class") + "_" + $("#hora_" + i).attr("class") + "_" + Datos[5][i] + "/" + Datos[6][i] + "/" + Datos[7][i] + "_" + Datos[0][i] + "_" + Datos[1][i] + "_" + Datos[2][i] + "_" + Datos[8][i] + "_" + Datos[9][i];
                    //if (i < n) data1 = data1 + "|";
                }
                for (i = 1; i <= mayor; i++) {
                    if ($("#estado_" + i).val() == "2") {
                        if ($("#peso_" + i).val().length <= 0 && $("#cantidad_" + i).val().length <= 0) {
                            alert("Debe ingresar el Peso o Cantidad para el Estado Realizado");
                            $("#cantidad_" + i).focus();
                            return;
                        }
                    }
                    else if ($("#estado_" + i).val() == "3" && $("#observacion_" + i).val().length <= 0) {
                        alert("Debe ingresar la Observacion para el Estado Suspendido");
                        $("#observacion_" + i).focus();
                        return;
                    }
                    else if ($("#estado_" + i).val() == "4" && $("#observacion_" + i).val().length <= 0) {
                        alert("Debe ingresar la Observacion para el Estado No Realizado");
                        $("#observacion_" + i).focus();
                        return;
                    }
                    else if ($("#estado_" + i).val() == "5" && $("#observacion_" + i).val().length <= 0) {
                        alert("Debe ingresar la Observacion para el Estado Bloqueado");
                        $("#observacion_" + i).focus();
                        return;
                    }
                    else if ($("#estado_" + i).val() == "6" && $("#observacion_" + i).val().length <= 0) {
                        alert("Debe ingresar la Observacion para el Estado No Atendido");
                        $("#observacion_" + i).focus();
                        return;
                    }
                    else if ($("#estado_" + i).val() == "7" && $("#observacion_" + i).val().length <= 0) {
                        alert("Debe ingresar la Observacion para el Estado Mal Estibado");
                        $("#observacion_" + i).focus();
                        return;
                    }
                    else if (($("#peso_" + i).val().length > 0 || $("#cantidad_" + i).val().length > 0) & $("#estado_" + i).val() == "1") {
                        alert("Si ingresa Cantidad o Peso no puede quedar en Estado Asignado");
                        $("#cantidad_" + i).focus();
                        return;
                    }

                }

                $("#GrabarDetalle").hide();

                //alert(data);
                $.ajax({
                    url: '@Url.Action("ModificarHoja")',
                    data: { puntos: data },
                    type: 'POST',
                    success: function (data) {
                        //$("#popup").html(data);
                    }
                });
                //history.back();
                alert("Ruta Grabada");
            });


            if (window.location.href.indexOf("view") > 0) {
                $("#btnImprimir").css("display", "inline-block");
                $("#btnImprimirVales").css("display", "inline-block");
                $("#GrabarDetalle").css("display", "inline-block");
                $(".detallex").css("display", "inline-block");
                $("#btnAnular").css("display", "inline-block");
                $(".borrar").css("display", "inline-block");
            }
            else {
                $(".observable").css("width", "350px");
                $("#detallex").attr("display", "none");
                $("#vales").css("display", "inline-block");
            }
         
            
            $("#btnImprimirVales").on("click", function () {
                $("#GrabarDetalle").attr("display", "none");
                $("#btnImprimir").attr("display", "none");
                $("#detallex").attr("display", "none");
                $("#btnImprimirVales").attr("display", "inline-block");
                $("#vales").attr("display", "inline-block");
                $("#btnAnular").attr("display", "none");
                identificador = $("#puntodetalle_1").attr("class").split("_")[0];
                var patente = $(".patente").html().split(":")[1].trim();
                
                w = window.open("/MantenedorHDRD/Imprimir/"+identificador+"?patente="+patente);
               // w.print();
            });

           
            $("#btnAnular").on("click", function () {
                identificador = $("#puntodetalle_1").attr("class").split("_")[0];
                $.ajax({
                    url: '@Url.Action("AnularHoja")',
                    data: { IdHojaRuta: identificador },
                    type: 'POST',
                    success: function (data) {
                        //$("#popup").html(data);
                    }
                });
                alert("Hoja de Ruta Anulada");
            });

            $("#servicios").attr("disabled", "disabled");

        });
    </script>

<div id="content" class="col-lg-24 col-sm-12 ">
    <div class="row">
        <div class="col-lg-24">

            <div class="box">
                <div class="box-header" data-original-title="">
                  <!--  <h2><i class="icon-plus-sign"></i><span class="break"></span>Hoja de Ruta</h2>-->
                </div>
                <div id="detallex" class="box-content noimprimir">
                        @{
                            var header = ViewData["EncabezadoRuta"] as List<SGS.Models.modelViews.HeaderHDRDView>;
                            
                        }

                    <!--/////////////////////////////////////////////////////////////////////////////////-->
                    <!--/////////////////////////////////////////////////////////////////////////////////-->
                    <!--/////////////////////////////////////////////////////////////////////////////////-->
                    <!--Esta SECCION Hasta el siguiente comentario es el formulario-->
                    <div style="display:inline-block">
                        <img src="~/images/logo.png" style="height:70px;" class="breakhere" />  
                        <p style="font-size:30px;font-weight:bold;page-break-inside:initial;  position:absolute; top: 1px;right: 45%;">HOJA DE RUTA @header[0].id_hoja_ruta</p>      
                        @if (ViewData["imprimir"].Equals(0)) {    
                                     
                  <!--  <a id="btnImprimir" href="#" onclick="javascript:imprimirDetalle(@header[0].id_hoja_ruta)" style="display:none"><img src="/ico/print.png" style="width:25px;height:25px;float:left" /></a>-->
                        <button id="salir_dialogo" class="btn btn-lg btn-danger noimprimir" style="margin-left:600px">Salir</button>
                            if (ViewData["editable"].Equals(true) || isRol.Equals(true))
                            {<button id="GrabarDetalle" onclick="javascript:GrabarDetalle()" class="btn btn-lg btn-primary noimprimir" style="margin-top: -1px; display: inline-block; margin-left: 10px;">Grabar</button>}
                        <button id="btnAnular" onclick="javascript:Anular()" class="noimprimir btn btn-primary btn-lg" style="margin-top: -1px; display: inline-block; margin-left: 10px;">Anular</button>
                        <button id="btnImprimirVales" onclick="javascript:imprimirVales(@header[0].id_hoja_ruta)" class="noimprimir btn btn-primary btn-lg" style="margin-top: -1px; display: inline-block; margin-left: 10px;">Imprimir</button>
                        }
                            </div>
                     <div style="display:inline-block;text-align:right;font-size:large;font-weight:bold">
                     <p style="position:absolute; top: 80px;left: .5%;"> Fecha           : @header[0].fecha.ToShortDateString()</p><p class="patente" style="position:absolute; top: 80px;left: 25%;">Patente       : @header[0].patente</p><p style="position:absolute; top: 80px;left: 50%;">   Nombre Conductor:  @header[0].franquiciado</p><p style="position:absolute; top: 80px;left: 80%;">   Km. Inicial:_______</p>                 
                     <p style="position:absolute; top: 105px;left: .5%;"> Tipo de Servicio: @header[0].tipo_servicio</p><p style="position:absolute; top: 105px;left: 25%;">Número Interno: @header[0].num_interno <p style="position:absolute; top: 105px;left:50%;"> Rut Conductor   :  @header[0].rut_conductor</p><p style="position:absolute; top: 105px;left: 80%;">   Km. Final   :_______</p>
                     </div>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    <hr />
                    <table class=" table table-bordered table-striped ">
                        <thead style="color:darkgray">
                            <tr>
                                <th>Hora</th>
                                <th>Nombre</th>
                                <th style="width:70px;">Tipo Servicio</th>
                                <th style="display:none">Nombre Equipos</th>
                                <th># Equipos</th>
                                <th style="width:60px;">Equipo Entrada</th>
                                <th style="width:60px;">Equipo Salida</th>
                                <!--  <th>Hora Inicio</th>
                  <th>Hora Termino</th>-->
                                <th>Rellenos</th>
                                <th style="width:60px;">Volteos</th>
                                <th>Peso</th>
                                <th class="borrar" style="display:none">Estados</th>
                                <th>Observacion</th>
                            </tr>
                        </thead>

                        <tbody>
                            @{
                                int count = 0;
                            }
                            @foreach (var puntos in ViewData["puntosHDRD"] as List<SGS.Models.modelViews.MantenedorHDRDView>)
                            {
                                count += 1;
                                <tr>
                                    <td id="hora_@count" class="@puntos.orden">@(puntos.orden / 1000 + 4):00</td>
                                    <td id="puntodetalle_@count" class="@(puntos.id_hoja_ruta)_@puntos.id_punto_servicio">@puntos.nombre_punto</td>
                                    <td>
                                        <select id="tiposervicio_@count" style="width:70px;height:40px" disabled="disabled" onblur="grabardato(0,@count,this)" class="servicios form-control">
                                            <option value="1" @Html.Raw(puntos.id_tipo_contrato == 1 ? "Selected" : "")>FL</option>
                                            <option value="2" @Html.Raw(puntos.id_tipo_contrato == 2 ? "Selected" : "")>HOOK</option>
                                            <option value="3" @Html.Raw(puntos.id_tipo_contrato == 3 ? "Selected" : "")>Caja</option>
                                        </select>
                                    </td>
                                    <td style="width:60px;display:none;height:35px">@puntos.tipo_equipo</td>
                                    <td>@puntos.cant_equipos</td>
                                    <td style="width:60px;"><input @dis id="equipoentrada_@count" style="width:55px;height:40px" onblur="grabardato(1,@count,this)" class="form-control" type="text" value="@puntos.equipoentrada" /></td>
                                    <td style="width:60px;"><input @dis id="equiposalida_@count" style="width:55px;height:40px" onblur="grabardato(2,@count,this)" class="form-control" type="text" value="@puntos.equiposalida" /></td>
                                    <!--<td><input  id="horainicio_@count"  onblur="grabardato(3,@count,this)" class="form-control" type="text" value="@puntos.horainicio+4"  /></td>
                    <td><input  id="horatermino_@count" onblur="grabardato(4,@count,this)" class="form-control" type="text" value="@puntos.horatermino+4"  /></td>
                        -->
                                    <td>
                                        <select @dis id="vertedero_@count" onblur="grabardato(9,@count,this)" style="height:40px;">
                                            @foreach (var vertederos in ViewData["Vertederos"] as List<SGS.Models.modelViews.VertederosView>)
                                            {
                                                if (@puntos.relleno == @vertederos.id_vertedero.ToString() || (@puntos.relleno == null && @vertederos.vertedero == @puntos.vertededordefecto))
                                                {
                                                    <option value="@vertederos.id_vertedero" disabled selected="selected">@vertederos.vertedero</option>
                                                }
                                                else
                                                {
                                                    <option value="@vertederos.id_vertedero">@vertederos.vertedero</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                    <td><input @dis id="cantidad_@count" onblur="grabardato(5,@count,this)" style="width:80px;height:40px; text-align:right;" maxlength="3" class="form-control" type="text" value="@puntos.cantidad" /></td>
                                    <td><input @dis id="peso_@count" onblur="grabardato(6,@count,this)" style="width:80px;height:40px;text-align:right;" maxlength="5" class="form-control" type="text" value="@puntos.peso" /></td>
                                    <td class="borrar" style="display:none">
                                        <select @dis onblur="grabardato(7,@count,this)" id="estado_@count" class="form-control estadox" style="width:100px;height:40px;">
                                            <option value="1" @Html.Raw(puntos.estado == 1 ? "Selected" : "")>Asignado</option>
                                            <option value="2" @Html.Raw(puntos.estado == 2 ? "Selected" : "")>Realizado</option>
                                            <option value="3" @Html.Raw(puntos.estado == 3 ? "Selected" : "")>Suspendido</option>
                                            <option value="4" @Html.Raw(puntos.estado == 4 ? "Selected" : "")>No Realizado</option>
                                            <option value="5" @Html.Raw(puntos.estado == 5 ? "Selected" : "")>Bloqueado</option>
                                            <option value="6" @Html.Raw(puntos.estado == 6 ? "Selected" : "")>No Atendido</option>
                                            <option value="7" @Html.Raw(puntos.estado == 7 ? "Selected" : "")>Mal Estibado</option>
                                            <option value="8" @Html.Raw(puntos.estado == 8 ? "Selected" : "")>Sin Pesaje</option>
                                        </select>
                                    </td>
                                    <td><input @dis class="observable" onblur="grabardato(8,@count,this)" id="observacion_@count" style="width:285px;height:40px" type="text" value="@puntos.observacion" /></td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <input id="Total" type="hidden"  value="@count"/>
                   

                    <!--FIN DEL FORMULARIO-->
                    <!--/////////////////////////////////////////////////////////////////////////////////-->
                    <!--/////////////////////////////////////////////////////////////////////////////////-->
                    <!--/////////////////////////////////////////////////////////////////////////////////-->

                </div>
                
                <P class="breakhere"  />
                                <div id="vales" class="noimprimir" style="display:none">
                              @{
                                    int count2 = 0;
                               }
                    @foreach (var vales in ViewData["ValesRuta"] as List<SGS.Models.modelViews.ValesHDRDView>)  
                                {
                                    count2 += 1;
                        if (@count2%2==1)
                                                    {                                   
                            <P CLASS="breakhere" />
                        }
                    <table>
                        <tr>
                            <td style="width:45%">
                                <table>
                                    <tr><td colspan="4"><img   src="~/images/logo.png"  style="height:30px;"/> RESITER INDUSTRIAL S.A.</td></tr>
                                    <tr><td colspan="4">ORDEN DE SERVICIO</td></tr>
                                    <tr><td>Punto de Servicio:</td><td colspan="3" style="font-weight:bold;">@vales.punto_servicio.ToUpper()</td></tr>
                                    <tr><td>Fecha:</td><td>@vales.Fecha.ToShortDateString()</td><td style="position:absolute;left: 25%;">Observacion: _______________</td></tr>
                                    <tr><td>Folio:</td><td>@vales.id_hoja_ruta</td> <td style="position:absolute;left: 25%;">  __________________________</td></tr>
                                    <tr><td>Chofer:</td><td colspan="3">@vales.nombre_conductor</td>  <td style="position:absolute;left: 25%;">  __________________________</td></tr>
                                    <tr><td>Camión No:</td><td colspan="3">@vales.num_interno</td> <td style="position:absolute;left: 25%;">  __________________________</td></tr>
                                    <tr><td>Patente:</td><td colspan="3">@vales.patente</td> <td style="position:absolute;left: 25%;">  __________________________</td></tr>
                                    <tr><td>Tipo Contenedor:</td><td colspan="3">@vales.Tipo_Contenedor</td> <td style="position:absolute;left: 25%;">  __________________________</td></tr>
                                    <tr><td>Lugar de Disposición:</td><td colspan="3">@vales.Vertedero</td> <td style="position:absolute;left: 25%;">  __________________________</td></tr>
                                    <tr><td>Hora de Ingreso:</td><td colspan="3"></td></tr>
                                    <tr><td>Pesaje:</td><td colspan="3"></td></tr>
                                    <tr><td colspan="4"></td></tr>
                                    <tr><td colspan="4"></td></tr>
                                    <tr><td colspan="2">__________________________</td><td colspan="2">__________________________</td> <td colspan="2">__________________________</td>
                                    <tr><td colspan="2">RESPONSABLE <br />RRII</td><td colspan="2">FIRMA Y TIMBRE DE ESTACION O RELLENO SANITARIO</td><td colspan="2">FIRMA CLIENTE</td></tr> 
                                    
                                    </table>
                            </td>
                            <td style="width:5%"></td>
                            <td style="width:45%">
                                    <table>
                                    <tr><td colspan="4"><img   src="~/images/logo.png"  style="height:30px;"/> RESITER INDUSTRIAL S.A.</td></tr>
                                    <tr><td colspan="4">ORDEN DE SERVICIO</td></tr>
                                    <tr><td>Punto de Servicio:</td><td colspan="3"  style="font-weight:bold;">@vales.punto_servicio.ToUpper()</td></tr>
                                    <tr><td>Fecha:</td><td>@vales.Fecha.ToShortDateString()</td><td style="position:absolute;left: 75%;">Observacion: _______________</td></tr>
                                    <tr><td>Folio:</td><td>@vales.id_hoja_ruta</td> <td style="position:absolute;left: 75%;">  __________________________</td></tr>
                                    <tr><td>Chofer:</td><td colspan="3">@vales.nombre_conductor</td>  <td style="position:absolute;left: 75%;">  __________________________</td></tr>
                                    <tr><td>Camión No:</td><td colspan="3">@vales.num_interno</td> <td style="position:absolute;left: 75%;">  __________________________</td></tr>
                                    <tr><td>Patente:</td><td colspan="3">@vales.patente</td> <td style="position:absolute;left: 75%;">  __________________________</td></tr>
                                    <tr><td>Tipo Contenedor:</td><td colspan="3">@vales.Tipo_Contenedor</td> <td style="position:absolute;left: 75%;">  __________________________</td></tr>
                                    <tr><td>Lugar de Disposición:</td><td colspan="3">@vales.Vertedero</td> <td style="position:absolute;left: 75%;">  __________________________</td></tr>
                                    <tr><td>Hora de Ingreso:</td><td colspan="3"></td></tr>
                                    <tr><td>Pesaje:</td><td colspan="3"></td></tr>
                                    <tr><td colspan="4"></td></tr>
                                    <tr><td colspan="4"></td></tr>
                                    <tr><td colspan="2">__________________________</td><td colspan="2">__________________________</td> <td colspan="2">__________________________</td></tr>
                                    <tr><td colspan="2">RESPONSABLE <br />RRII</td><td colspan="2">FIRMA Y TIMBRE DE ESTACION O RELLENO SANITARIO</td><td colspan="2">FIRMA CLIENTE</td></tr> 
                                    </table>

                            </td>
                        </tr>
                    </table>
    

                                }
                </div>
              
            </div>
        </div>
    </div>
</div>
