﻿@{
    Layout = null;
    Response.AddHeader("Content-type", "application/vnd.ms-excel");
    Response.AddHeader("Content-Disposition", "attachment; filename=Reajuste.xls");
}


@if (Model.Count > 0)
{
    <table border="1">

        <tr>
            <th style="width:auto" class="sorting_asc" role="columnheader">Tipo Modelo</th>
            <th style="width:auto" class="sorting">Tipo Modalidad</th>
            <th style="width:auto" class="sorting">Razon social</th>
            <th style="width:auto" class="sorting">Sucursal</th>
            <th style="width:auto" class="sorting">Valor Actual</th>
            <th style="width:auto" class="sorting">Valor Reajustado</th>
            <th style="width:auto" class="sorting">Factor</th>

        </tr>

        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@m.tipo_modelo</td>
                    <td>@m.tipo_modalidad</td>
                    <td>@m.razon_social</td>
                    <td>@m.descripcion</td>
                    <td>@m.AUXI_VALOR_ACTUAL</td>
                    <td>@m.AUXI_VALOR_NUEVO</td>
                    <td>@m.AUXI_FACTOR_REAJUSTE</td>
                </tr>
            }
        </tbody>
    </table>
}
