﻿@*
    Empresa: valentys
    Fecha : 08-07-2015
    Descripción: lista con la simulación.
*@
@model List<SGS.Models.SP_SEL_VerificarReajeste_Result>

@if (Model.Count > 0)
{
    <table class="table table-striped table-bordered bootstrap-datatable datatable">
        <thead role="row" class="tab-header">
            <tr>
                <th style="width:auto" class="sorting_asc" role="columnheader">Tipo Modelo</th>
                <th style="width:auto" class="sorting">Tipo Modalidad</th>
                <th style="width:auto" class="sorting">Razon Social</th>
                <th style="width:auto" class="sorting">Sucursal</th>
                <th style="width:auto" class="sorting">Valor Actual</th>
                <th style="width:auto" class="sorting">Valor Reajustado</th>
                <th style="width:auto" class="sorting">Factor</th>
                <th style="width:auto">Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr data-codigo="@m.id_detalle_modelo_cobro">
                    <td>@m.tipo_modelo</td>
                    <td>@m.tipo_modalidad</td>
                    <td>@m.razon_social</td>
                    <td>@m.descripcion</td>
                    <td>@m.AUXI_VALOR_ACTUAL.ToString("N0")</td>
                    <td>@m.AUXI_VALOR_NUEVO.ToString("N0")</td>
                    <td>@m.AUXI_FACTOR_REAJUSTE</td>
                    <td>
                        @if (m.Fecha_Ultimo_Reajuste != null)
                        {
                            <a class="btn btn-info" title="Ver reajustes Anteriores" data-action="historial"><i class="icon-search"></i></a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <text>No se encontraron resultados</text>
}