﻿.linkblanco,.linkblanco:link,.linkblanco:visited,.linkblanco:hover,.linkblanco:active{
        color:#FFFFFF;
        text-decoration:none;
    }
    .getCamion {
        border:1px solid yellow;
        width:30px;
        height:30px;
    }
    #getPunto2 {
        border:1px solid red;
        width:30px;
        height:30px;
    }
   #getPunto {
        border:1px solid green;
        width:30px;
        height:30px;
    }
    .punto {
        width:25px;
        height:25px;
    }
    .lipuntos {
        padding:10px 10px 10px 10px;
    }
    .liruta {
        padding:10px 10px 10px 10px;
    }
    #Basepopup {
        display: none;
    }
    div#pop-up {
  display: none;
  position:absolute;
  width: 280px;
  padding: 10px;
  background: #eeeeee;
  color: #000000;
  border: 1px solid #1a1a1a;
  font-size: 90%;
  z-index:1;
}