﻿@model SGS.Models.orden_de_compra
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fx/pages/camiones.js")"></script>
}


<script type="text/javascript">

    $(document).ready(function () {

        $('.datepicker').datepicker();

        if (('@Model').length > 0) {
            setTimeout(function () { $('#cliente').trigger('change'); }, 200);
        }

    });

</script>
<script>
    $(document).ready(function () {

            $('#cliente').change(function () {
                var data = $(this).val();
                $.ajax({
                    url: '@Url.Action("BuscarSucursales")',
                    data: { puntos: data },
                    type: 'POST',
                    dataType: 'json',
                    success: function (data) {
                        //if (data == null)
                        //    $('.DropDown').empty();

                        $('.DropDown').empty().append('<option selected="selected" value="0">Seleccione Punto de Servicio</option>');
                        $('#sucursal').empty().append('<option selected="selected" value="0">Seleccione Sucursal</option>');
                        $.each(data, function (indi, opt) {
                            $('#sucursal').append('<option value="' + opt.id_sucursal + '">' + opt.sucursal + '</option>');
                        });

                        if (('@Model').length > 0) {
                            var valor_sucursal = '@ViewBag.id_sucursal';

                            $('#sucursal option').removeAttr('selected');
                            $('#sucursal option[value=' + valor_sucursal + ']').attr('selected', 'selected');
                            setTimeout(function () { $('#sucursal').trigger('change'); }, 200);
                        }


                    }
                })
            })


             $('#sucursal').change(function () {
                var data = $(this).val();
                $.ajax({
                    url: '@Url.Action("BuscarPuntoServicio")',
                    data: { puntos: data },
                    type: 'POST',
                    dataType: 'json',
                    success: function (data) {
                        //$('.DropDown').empty();
                        $('.DropDown').empty().append('<option selected="selected" value="0">Seleccione Punto de Servicio</option>');
                        $.each(data, function (indi, opt) {
                            $('.DropDown').append('<option value="' + opt.id_punto_servicio + '">' + opt.nombre_punto + '</option>');
                        });

                        if (('@Model').length > 0) {
                            var valor_puntoservicio = '@ViewBag.id_puntoservicio';

                            $('.DropDown option').removeAttr('selected');
                            $('.DropDown option[value=' + valor_puntoservicio + ']').attr('selected', 'selected');
                        }

                    }
                })
            })


        $("#formulario").submit(function (e) {
            e.preventDefault();
            var parametros = new FormData($(this)[0]);
            $.ajax({
                url: '@Url.Action("subirArchivo")',
                data: parametros,
                contentType: false,
                processData: false,
                type: 'POST',
                success: function (data) {
                    $("#sub").click();
                }

            });
        })
    })
</script>
<div id="content" class="col-lg-10 col-sm-11 ">
    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                  new Dictionary<string, string>() {
                  {"OrdenCompra",Url.RouteUrl(new {Controller="OrdenCompra",Action="Create"})}
                  })


            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="icon-file"></i><span class="break"></span>Agregar Orden de compra</h2>
                    <a href="@Url.RouteUrl(new {Controller="OrdenCompra",action="Index" })" class="btn btn-primary pull-right btn-lg">Volver al listado</a>
                </div>

                @using (Html.BeginForm("Create", "OrdenCompra"))
                {
                    <fieldset class="col-sm-12">
                        <div class="form-group">

                            @if (Model != null && Model.id_orden_de_compra != 0)
                            {
                                @Html.HiddenFor(m => m.id_orden_de_compra)
                            }

                            <div class="box-content">
                                <div class="form-group">
                                    <label class="control-label pull-left label-see">Cliente</label>
                                    <div class="input-group col-sm-5" style="width:440px">
                                        @Html.DropDownListFor(m => m.id_cliente, ViewBag.clientes as IEnumerable<SelectListItem>, "Seleccione cliente", new { @class = "form-control", @id = "cliente" })
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label class="control-label pull-left label-see">Sucursal</label>
                                    <div class="input-group col-sm-5" style="width:440px">
                                        <select class='form-control dropdown' id="sucursal" name="id_sucursal"></select>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label class="control-label pull-left label-see">Punto de Servicio</label>
                                    <div class="input-group col-sm-5" style="width:440px">
                                        <select class='form-control DropDown' id="punto_servicio" name="id_puntoservicio"></select>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label class="control-label pull-left label-see">Fecha Instalación</label>
                                    <div class="input-group col-sm-5" style="width:440px">
                                        <input type="text" id="fecha_instalacion" name="fecha_instalacion" data-date-format="dd/mm/yyyy" value="@ViewBag.fecha_instalacion" class="form-control datepicker">
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label class="control-label pull-left label-see">Fecha Retiro</label>
                                    <div class="input-group col-sm-5" style="width:440px">
                                        <input type="text" id="fecha_retiro" name="fecha_retiro" data-date-format="dd/mm/yyyy" value="@ViewBag.fecha_retiro" class="form-control datepicker">
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label class="control-label pull-left label-see">Cantidad de baños</label>
                                    <div class="input-group col-sm-5" style="width:440px">

                                        @Html.TextBoxFor(m => m.banos, new { @class = "form-control pull-right" })
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label class="control-label pull-left label-see">Numero de orden</label>
                                    <div class="input-group col-sm-5" style="width:440px">
                                        @Html.TextBoxFor(m => m.numero_orden, new { @class = "form-control pull-right" })
                                    </div>
                                </div>
                                @*<div class="clearfix"></div>
        <p> <br /><input class="btn btn-primary btn-lg" type="file" style="inline-size: 624px;"> </p>
        <div class="form-group">*@
                                <button id="sub" type="submit" style="display:none" value="enviar">GuardarD</button>

                                @*</div>*@
                            </div>
                        </div>
                    </fieldset>
                }
                    <form id="formulario" enctype="multipart/form-data">
                        <input class="btn btn-primary btn-lg" style="margin-left: 23px; margin-left: 22px;" type="file" name="file">
                        <p><br /></p>
                        <button class="btn btn-primary btn-lg" style="margin-left: 22px;" id="probando" type="submit" value="enviar">Guardar</button>
                        @if (Model != null && Model.id_orden_de_compra != 0)
                        {
                            @Html.HiddenFor(m => m.id_orden_de_compra)
                        }

                    </form>
            </div>
        </div>
    </div>
</div>