﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fx/pages/camiones.js")"></script>
}


<div id="content" class="col-lg-12 col-sm-11  ">
    <div class="row">
        <div class="col-lg-12 col-md-9">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                   new Dictionary<string, string>() {
                   {"OrdenCompra",Url.RouteUrl(new {Controller="OrdenCompra",Action="Index"})}
                   })
            <div class="box">
                <div class="box-header" data-original-title>
                    <h2><i class="icon-file"></i><span class="break"></span>Orden de compra</h2>
                    <a href="@Url.RouteUrl(new {Controller="OrdenCompra",action="Create" })" class="btn btn-primary pull-right btn-lg">Agregar Orden de compra</a>
                </div>
                <div class="box-content">
                    <table class="table  table-bordered bootstrap-datatable datatable">
                        <thead role="row" class="tab-header">
                            <tr>
                                <th style="width:auto" class="sorting">Numero de orden</th>
                                <th style="width:auto" class="sorting">Cliente</th>
                                <th style="width:auto" class="sorting">Fecha de inicio</th>
                                <th style="width:auto" class="sorting">Fecha de termino</th>
                                <th style="width:auto" class="sorting">Baños</th>
                                <th style="width:auto" class="sorting">Acciones</th>
                            </tr>

                        </thead>
                        <tbody>

                            @foreach (var m in Model)
                            {
                                <tr>
                                    <td>@m.numero_orden</td>
                                    <td>@m.clientes.razon_social</td>
                                    <td>@m.fecha_instalacion</td>
                                    <td>@m.fecha_retiro</td>
                                    <td>@m.banos</td>
                                    <th>

                                        <a class="btn btn-info" href="@Url.RouteUrl(new  { Controller = "OrdenCompra", Action = "edit", Id = m.id_orden_de_compra })" title="Editar"><i class="icon-edit"></i></a>                                       
                                        @if (m.ruta != null)
                                        {
                                            <a  class="btn btn-info" href="\OrdendeCompra\@m.id_orden_de_compra.ToString().PadLeft(10, '0')@m.ruta.Substring(m.ruta.ToString().LastIndexOf('.'))" download="@m.ruta" title="Descargar"><i class="icon-download-alt"></i></a>
                                        }
                                        else
                                        {
                                            <a style="display: none" disabled="false" class="btn btn-info" ><i class="icon-download-alt"></i></a>   
                                        }
                                    </th>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div><!--/col-->
    </div><!--/row-->
</div>