﻿@{
    Layout = null;
    Response.AddHeader("Content-type", "application/vnd.ms-excel");
    Response.AddHeader("Content-Disposition", "attachment; filename=perfiles.xls");
}

<table border="1">
    <tr>
        <th style="width:auto" class="sorting_asc" role="columnheader">Perfil</th>
    </tr>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.perfil</td>
            </tr>

        }
    </tbody>
</table>