﻿@{
    Layout = null;
    Response.AddHeader("Content-type", "application/vnd.ms-excel");
    Response.AddHeader("Content-Disposition", "attachment; filename=rubros.xls");
}

<table border="1">
    <tr>
        <th style="width:auto" class="sorting_asc" role="columnheader">ID</th>
        <th style="width:auto" class="sorting">Nombre del Rubro</th>
    </tr>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.id_rubro</td>
                <td>@m.rubro</td>
            </tr>

        }
    </tbody>
</table>