﻿@{
    Layout = null;
    Response.AddHeader("Content-type", "application/vnd.ms-excel");
    Response.AddHeader("Content-Disposition", "attachment; filename=clientes.xls");
}

<table border="1">
    <tr>
        <th>Id</th>
        <th>Rut Cliente</th>
        <th>Razon Social</th>
        <th>Direccion</th>
        <th>Pais</th>
        <th>Comuna</th>
        <th>Ciudad</th>
        <th>Region</th>
        <th>Unidad</th>
        <th>Fono Comercial</th>
        <th>Giro Comercial</th>
        <th>Nombre Contacto</th>
        <th>Email Contacto</th>
        <th>Fono Contacto</th>
        <th>Celular Contacto</th>
    </tr>
    <tbody>
        @foreach (var m in Model)
        {

            <tr>
                <td>@m.id_cliente</td>
                <td>@m.rut_cliente</td>
                <td>@m.razon_social</td>
                <td>@m.direccion_cliente</td>
                <td>@m.pais</td>
                <td>@m.comuna</td>
                <td>@m.ciudad</td>
                <td>@m.region</td>
                <td>@m.unidad</td>
                <td>@m.fono_comercial</td>
                <td>@m.giro_comercial</td>
                <td>@m.nombre_contacto</td>
                <td>@m.email_contacto</td>
                <td>@m.fono_contacto</td>
                <td>@m.celular_contacto</td>
            </tr>

        }
    </tbody>
</table>