﻿@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fx/pages/camiones.js")"></script>
    <script>
        
            Shadowbox.init();
        
    </script>



}

<div id="content" class="col-lg-12 col-sm-11  ">
   
     <div class="row">
        <div class="col-lg-12 col-md-9">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Clientes",Url.RouteUrl(new {Controller="Clientes",Action="Index"})}
                            })


            <div class="box">
                <div class="box-header" data-original-title>
                    <h2><i class="icon-user"></i><span class="break"></span>Modulo Clientes</h2>
                   <a class="btn btn-lg pull-right btn-success" href="@Url.RouteUrl(new {Controller="Clientes",action="Excel" })">Excel</a>
                   <a href="@Url.RouteUrl(new {Controller="Clientes",action="Create" })" class="btn btn-primary pull-right btn-lg">Agregar Cliente</a>
                </div>

                <div class="box-content">
                    <table class="table table-striped table-bordered bootstrap-datatable datatable">
                        <thead role="row" class="tab-header">
                            <tr>
                                <th style="width:auto" class="sorting_asc" role="columnheader">Cliente</th>
                                <th style="width:auto" class="sorting">Rut Cliente</th>
                                <th style="width:auto" class="sorting">Direccion Cliente</th>
                                <th style="width:14%" class="sorting">Acciones</th>
                            </tr>
                        </thead>
                        <tbody >
                            @foreach (var m in Model)
                            {
                                <tr>
                                    <td>@m.razon_social </td>
                                    <td>@m.rut_cliente</td>
                                    <td>@m.direccion_cliente </td>
                                    <td>
                                        <a class="btn btn-success" href="@Url.RouteUrl(new { Controller = "Clientes", Action = "View", Id = m.id_cliente })" rel="shadowbox" target="_blank" title="Ver Camión"><i class="icon-zoom-in "></i></a>
                                        <a class="btn btn-info" href="@Url.RouteUrl(new { Controller = "Clientes", Action = "Edit", Id = m.id_cliente })" title="Editar"><i class="icon-edit"></i></a>
                                        <a class="btn btn-danger" onclick="return confirm('Estas seguro(a) que deseas eliminar @m.razon_social ?');" href="@Url.RouteUrl(new { Controller = "Clientes", Action = "Delete", Id = m.id_cliente })" title="Eliminar"><i class="icon-trash "></i></a>
                                        <a class="btn btn-info" href="@Url.RouteUrl(new { Controller = "Clientes", Action = "Print", Id = m.id_cliente })" target="_blank" title="Imprimir"><i class="icon-print "></i></a>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--/col-->

    </div><!--/row-->

</div>

