﻿@{
    
    Layout = "~/Views/Shared/_main_ViewLayout.cshtml";
}

                <div class="box">
                    <div class="box-header" data-original-title="">
                        <h2><i class="icon-camera"></i><span class="break"></span>Cliente @Model.razon_social</h2>
                    </div>

                    <div class="box-content">
                        <h3 class="header-see">Datos del Cliente</h3>
                        <table class="table table-bordered table-hover table-striped">
                            <tr>
                                <td>Rut Cliente</td>
                                <td>@Model.rut_cliente</td>
                            </tr>
                            <tr>
                                <td>Razón Social</td>
                                <td>@Model.razon_social</td>
                            @*</tr>*@
                            
                            <tr>
                                <td>País</td>
                                <td>@Model.pais</td>
                            </tr>
                            <tr>
                                <td>Región</td>
                                <td>@Model.nombre_region</td>
                            </tr>
                            <tr>
                                <td>Ciudad</td>
                                <td>@Model.ciudad</td>
                            </tr>
                            <tr>
                                <td>Comuna</td>
                                <td>@Model.nombre_comuna</td>
                            </tr>
                            <tr>
                                <td>Dirección</td>
                                <td>@Model.direccion_cliente</td>
                            </tr>
                            <tr>
                                <td>Fono</td>
                                <td>@Model.fono_comercial</td>
                            </tr>
                            <tr>
                                <td>Giro</td>
                                <td>@Model.giro_comercial</td>
                            </tr>
                            <tr>
                                <td>Unidad de Negocio</td>
                                <td>@Model.unidad</td>
                            </tr>
                        </table>

                        <br />

                        <h3 class="header-see">Datos del Contacto</h3>
                        <table class="table table-bordered table-hover table-striped">
                            <tr>
                                <td>Nombre Contacto</td>
                                <td>@Model.nombre_contacto</td>
                            </tr>
                            <tr>
                                <td>Fono</td>
                                <td>@Model.fono_contacto</td>
                            </tr>
                            <tr>
                                <td>Celular</td>
                                <td>@Model.celular_contacto</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>@Model.email_contacto</td>
                            </tr>
                        </table>


                        <br />



                    </div>
                </div>
       