﻿@model SGS.Models.centro_responsabilidad
@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}
<div id="content" class="col-lg-10 col-sm-11 ">
    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"CentroResponsabilidad",Url.RouteUrl(new {Controller="CentroResponsabilidad",Action="Index"})},
                            {"Agregar Centro",Url.RouteUrl(new {Controller="CentroResponsabilidad",Action="Create"})}
                            })
            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="icon-plus-sign"></i><span class="break"></span>Agregar Equipo</h2>
                    <a href="@Url.RouteUrl(new { Controller = "CentroResponsabilidad", Action = "Index" })" class="btn btn-primary pull-right btn-lg">Volver al listado</a>
                </div>
                <div class="box-content">

                    @using (Html.BeginForm("Create", "CentroResponsabilidad"))
                    {
                        <fieldset class="col-sm-12">
                            <div class="form-group">
                                @if (Model != null && Model.id_centro != 0)
                                {
                                    @Html.HiddenFor(m => m.id_centro)
                                }
                                <label class="control-label pull-left label-see">Nombre</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.centro_responsabilidad1, new { @class = "form-control pull-right" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.centro_responsabilidad1)</label>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>

</div>



