﻿@model SGS.Models.modelViews.DescuentosView

@section scripts{
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fx/pages/camiones.js")"></script>
    <script>
        $(document).ready(function () {
            $('.btnPagar').click(function () {

            });
            $('.btnEditar').click(function () {

            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#camiones').change(function () {
                if ($('#camiones').val() != '') {
                    $(this).closest('form').submit();
                }
            })
            $('#franquiciados').change(function () {
                if ($('#camiones').val() != '') {
                    $(this).closest('form').submit();
                }
            })
        });
        function format(input) {
            var num = input.value.replace(/\./g, '');
            if (!isNaN(num)) {
                num = num.toString().split('').reverse().join('').replace(/(?=\d*\.?)(\d{3})/g, '$1.');
                num = num.split('').reverse().join('').replace(/^[\.]/, '');
                input.value = num;
            }

            else {
                alert('Solo se permiten numeros');
                input.value = input.value.replace(/[^\d\.]*/g, '');
            }
        }
    </script>

}




@{
    ViewBag.Title = "restrict";
    Layout = "~/Views/Shared/_main_layout.cshtml";

}


<div id="content" class="col-lg-10 col-sm-11 ">

    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Descuentos",Url.RouteUrl(new {Controller="Franquiciados",Action="Index"})}
                            })
            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="icon-minus-sign"></i><span class="break"></span>Descuentos en estado: @ViewBag.RazonSocial</h2>
                    <!--Permiso crear descto--> <a href="@Url.RouteUrl(new {Controller="Franquiciados",action="CrearDescuento"})" class="btn btn-primary pull-right btn-lg">Agregar Descuento</a>
                    <!--Exportar Dscto-->@if (Model.selecListFranquiciados.franquiciadoSelect != null)
                    {
                        <a class="btn btn-lg pull-right btn-success" href="@Url.RouteUrl(new {Controller="Franquiciados",action="descuentosExcel", tipo = Model.selectListEstados.estadoSelect, idFranquiciado = Model.selecListFranquiciados.franquiciadoSelect })">Excel</a>

                    }
                    else
                    {
                        <a class="btn btn-lg pull-right btn-success" href="@Url.RouteUrl(new {Controller="Franquiciados",action="descuentosExcel", tipo = Model.selectListEstados.estadoSelect, idFranquiciado = -1 })">Excel</a>

                    }
                    @if (Model.agregarMasivo == true)
                    {<a href="@Url.RouteUrl(new { Controller = "Franquiciados", action = "descuentosMasivos" })" class="btn btn-primary pull-right btn-lg">Descuentos masivos</a>}
                    else
                    { <a href="#" disabled="disabled" class="btn btn-danger pull-right btn-lg">No existe un valor de petroleo</a>}
                    <div style="width:auto" class="sorting" class="controls row " style="margin-top:2px; ">
                        @using (Html.BeginForm("descuentos", "Franquiciados", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="input-group col-sm-2">
                                @*@Html.DropDownListFor(model => model.mes.mesSelect, @Model.mes.mes, "Seleccione un especialista", new { @class = "form-control", @id = "mes" })*@
                                @Html.DropDownListFor(model => model.selectListEstados.estadoSelect,
                                      @Model.selectListEstados.estados, new { @class = "form-control", @id = "camiones" })
                                @* @Html.DropDownList("mes", null, new { @class = "form-control", @id = "mes" })*@
                            </div>
                            <div class="input-group col-sm-2">
                                @*@Html.DropDownListFor(model => model.mes.mesSelect, @Model.mes.mes, "Seleccione un especialista", new { @class = "form-control", @id = "mes" })*@
                                @Html.DropDownListFor(model => model.selecListFranquiciados.franquiciadoSelect,
                                      @Model.selecListFranquiciados.franquiciados, "Micro Empresarios", new { @class = "form-control", @id = "franquiciados" })
                                @* @Html.DropDownList("mes", null, new { @class = "form-control", @id = "mes" })*@
                            </div>
                        }
                    </div>
                </div>

                <div class="box-content">
                    @if (Model.encabezado != null)
                    {
                        <table class="table table-striped table-bordered bootstrap-datatable datatable">
                            <thead role="row" class="tab-header">
                                <tr>
                                    <th style="width:auto" class="sorting">ID</th>
                                    <th style="width:auto" class="sorting">Camion</th>
                                    <th style="width:auto" class="sorting">Micro Empresario</th>
                                    <th style="width:auto" class="sorting">Fecha ingeso</th>
                                    <th style="width:auto" class="sorting">Concepto</th>
                                    <th style="width:auto" class="sorting">Cuotas</th>
                                    <th style="width:auto" class="sorting">Neto</th>
                                    <th style="width:auto" class="sorting">IVA</th>
                                    <th style="width:auto" class="sorting">Total</th>
                                    <th style="width:auto" class="sorting">Estado</th>
                                    <th style="width:auto" class="sorting">Moneda</th>
                                    <th style="width:auto" class="sorting">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var m in Model.encabezado)
                                {
                                <tr>
                                    <td>@m.id_descuento</td>
                                    <td>@m.pateneteCamion</td>
                                    <td>@m.razonSocial</td>
                                    <td>@m.fecha.ToShortDateString()</td>
                                    <td>@m.concepto</td>
                                    <td>@m.cuotas</td>
                                    @*<td>@m.neto.ToString("N0")</td>
        <td>@m.iva.ToString("N0")</td>
        <td>@m.total.ToString("N0")</td>
        <td>@m.estado_descuento</td>*@
                                    @if (m.enUF == true)
                                    {
                                        <td>@m.neto.ToString("N2")</td>
                                        <td>@m.iva.ToString("N2")</td>
                                        <td>@m.total.ToString("N2")</td>
                                    }
                                    else
                                    {
                                        <td>@m.neto.ToString("N0")</td>
                                        <td>@m.iva.ToString("N0")</td>
                                        <td>@m.total.ToString("N0")</td>
                                    }
                                    <td>@m.estado_descuento</td>

                                    @if (m.enUF == true)
                                    {
                                        <td>UF</td>}
                                    else
                                    {
                                        <td>CLP</td>

                                    }
                                    <td>
                                        @if (m.editable == false)
                                        {
                                            {<a class="btn btn-danger" href="#" disabled="disabled" title="Eliminar"><i class="icon-trash "></i></a>}
                                            {<a class="btn btn-info btnEditar" disabled="disabled" href="#" id="@m.id_descuento" target="_blank" title="Detalle"><i class="icon-edit "></i></a>}
                                        }
                                        else
                                        {
                                            {<a class="btn btn-danger" href="@Url.RouteUrl(new { Controller = "Franquiciados", Action = "deleteDescuento", IdDescuento =  m.id_descuento })" title="Eliminar"><i class="icon-trash "></i></a>}
                                            {<a class="btn btn-info" href="@Url.RouteUrl(new { Controller = "Franquiciados", Action = "editarDescuento", IdDescuento =  m.id_descuento })" title="Editar"><i class="icon-edit "></i></a>}
                                        }
                                        <a class="btn btn-success" href="@Url.RouteUrl(new { Controller = "Franquiciados", Action = "detalleDescuento", IdDescuento =  m.id_descuento })" title="Detalle descuento"><i class="icon-zoom-in "></i></a>
                                    </td>

                                </tr>

                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <span>Seleccione un camion</span>
                    }
                </div>

            </div>
            @*<div class="box">
                    <div class="box-header" data-original-title="">
                        <h2><i class="icon-minus-sign"></i><span class="break"></span>Leasing de : @ViewBag.RazonSocial</h2>
                        @if (Model.selectListCamiones.camionSelect != 0)
                        {
                            <a href="@Url.RouteUrl(new {Controller="Franquiciados",action="CrearLeasing", id=Model.selectListCamiones.camionSelect })" class="btn btn-primary pull-right btn-lg">Agregar Leasing</a>
                        }
                    </div>

                    <div class="box-content">
                        @if (Model.encabezadoLeasing != null)
                        {
                            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                                <thead role="row" class="tab-header">
                                    <tr>
                                        <th style="width:auto" class="sorting">ID</th>
                                        <th style="width:auto" class="sorting">Fecha ingreso</th>
                                        <th style="width:auto" class="sorting">Valor UF día</th>
                                        <th style="width:auto" class="sorting">Interes</th>
                                        <th style="width:auto" class="sorting">Pie UF</th>
                                        <th style="width:auto" class="sorting">Cuotas</th>
                                        <th style="width:auto" class="sorting">Neto $</th>
                                        <th style="width:auto" class="sorting">IVA $</th>
                                        <th style="width:auto" class="sorting">Total $</th>
                                        <th style="width:auto" class="sorting">Total UF</th>
                                        <th style="width:auto" class="sorting">Estado</th>
                                        <th style="width:auto" class="sorting">Detalle</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var m in Model.encabezadoLeasing)
                                    {
                                        <tr>
                                            <td>@m.idLeasing</td>
                                            <td>@m.fecha</td>
                                            <td>@m.valorUfDia.ToString("N0")</td>
                                            <td>@m.interes%</td>
                                            <td>@m.pie.ToString("N0")</td>
                                            <td>@m.cuotas</td>
                                            <td>@m.neto.ToString("N0")</td>
                                            <td>@m.iva.ToString("N0")</td>
                                            <td>@m.total.ToString("N0")</td>
                                            <td>@m.totalUF.ToString("N0")</td>
                                            <td>@m.estado</td>
                                            <td><a class="btn btn-info" href="@Url.RouteUrl(new { Controller = "Franquiciados", Action = "detalleLeasing", IdDescuento =  m.idLeasing })" target="_blank" title="Detalle"><i class="icon-key "></i></a></td>

                                        </tr>

                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <span>Seleccione un camion</span>
                        }
                    </div>

                </div>*@

        </div>
    </div>

</div>
<div class="modal fade" id="editarDescuentoModal" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>Here settings can be configured...</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>