﻿@model SGS.Models.modelViews.DescuentosView
@{
    Layout = null;
    Response.AddHeader("Content-type", "application/vnd.ms-excel");
    Response.AddHeader("Content-Disposition", "attachment; filename=descuentos.xls");
}
<table border="1">
    <tr>
        <th>ID</th>
        <th>Franquiciado</th>
        <th>Camion</th>
        <th>Fecha ingeso</th>
        <th>Concepto</th>
        <th>Cuotas</th>
        <th>Neto</th>
        <th>IVA</th>
        <th>Total</th>
        <th>Estado</th>
    </tr>
    <tbody>
        @foreach (var m in Model.encabezado)
        {
            <tr>
                <td>@m.id_descuento</td>
                <td>@m.razonSocial</td>
                <td>@m.pateneteCamion</td>
                <td>@m.fecha.ToShortDateString()</td>
                <td>@m.concepto</td>
                <td>@m.cuotas</td>
                <td>@m.neto.ToString("N0")</td>
                <td>@m.iva.ToString("N0")</td>
                <td>@m.total.ToString("N0")</td>
                <td>@m.estado_descuento</td>
            </tr>

        }
    </tbody>
</table>