﻿@model SGS.Models.modelViews.detalleDescuentoView
@{
    Layout = null;
    Response.AddHeader("Content-type", "application/vnd.ms-excel");
    Response.AddHeader("Content-Disposition", "attachment; filename=detalleDescuentos.xls");
}

<table border="1">
    <tr>
        <th>Cuota</th>
        <th>Fecha cuota</th>
        <th>Valor cuota</th>
        <th>Valor a pagar</th>
        <th>Valor pagado</th>
        <th>Saldo</th>
        <th>Estado</th>
    </tr>
    <tbody>
        @foreach (var m in Model.detalle)
        {

            <tr>
                <td>@m.cuota</td>
                <td>@m.fecha.ToShortDateString()</td>
                <td>@m.valorCuota</td>
                <td>@m.valorPagar</td>
                <td>@m.valorPagado</td>
                <td>@m.saldo</td>
                <td>@m.estado</td>
            </tr>

        }
    </tbody>
</table>