﻿@model SGS.Models.modelViews.detalleLeasingView
@{
    Layout = null;
    Response.AddHeader("Content-type", "application/vnd.ms-excel");
    Response.AddHeader("Content-Disposition", "attachment; filename=detalleLeasing.xls");
}
<table border="1">
    <tr>
        <th>Cuota</th>
        <th>Fecha cuota</th>
        <th>Cuota neta</th>
        <th>Valor cuota</th>
        <th>Valor pagado</th>
        <th>Valor a pagar</th>
        <th>Saldo</th>
        <th>Estado</th>
    </tr>
    <tbody>
        @foreach (var m in Model.detalle)
        {

            <tr>
                <td>@m.cuota</td>
                <td>@m.fechaCuota</td>
                <td>@m.cuotaNeta</td>
                <td>@m.cuotaNeta</td>
                <td>@m.valorPagado</td>
                <td>@m.valorPagar</td>
                <td>@m.saldo</td>
                <td>@m.estado</td>
            </tr>

        }
    </tbody>
</table>
