﻿@model SGS.Models.modelViews.CrearDescuentoView
@{
    ViewBag.Title = "editarDescuento";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}
@section scripts
{
    <script src="@Url.Content("~/Scripts/jquery.price_format.2.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/toastr.min.js")"></script>
    <script>
        $(document).ready(function () {
            $("#neto").priceFormat({
                thousandsSeparator: '.',
                prefix: '',
                centsLimit: 0
            });
            if ($('#ok').val() == "1") {
                $("#neto").val("0");
                $('#cuotas').val(0);
                alertify.success('Descuento modificado correctamente');
            } console.log($('#enUF').is(':checked'));
            if ($('#enUF').is(':checked')) {
                console.log('verdadero!');
                $("#neto").priceFormat({
                    thousandsSeparator: '.',
                    centsSeparator: ',',
                    prefix: '',
                    centsLimit: 2
                });
            }
            else {
                console.log('falso');
                $("#neto").priceFormat({
                    thousandsSeparator: '.',
                    prefix: '',
                    centsLimit: 0
                });
            }
            $('#enUF').change(function () {
                console.log($('#enUF').is(':checked'));
                if ($('#enUF').is(':checked')) {
                    console.log('verdadero!');
                    $("#neto").priceFormat({
                        thousandsSeparator: '.',
                        centsSeparator: ',',
                        prefix: '',
                        centsLimit: 2
                    });
                }
                else {
                    $("#neto").priceFormat({
                        thousandsSeparator: '.',
                        prefix: '',
                        centsLimit: 0
                    });
                }
            });
            if ($('#ok').val() == "1") {
                $("#neto").val("0");
                $('#cuotas').val(0);
                alertify.success('Descuento creado correctamente');
            }
            $("#neto").focusout(function () {
                if (!$('#enUF').is(':checked')) {
                    console.log($('#conceptos').val());
                    var neto = $("#neto").val().replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '');
                    console.log(neto);
                    var iva = neto * 0.19;
                    var total = neto * 1.19;
                    $('#iva').val(parseInt(iva.toFixed()).toLocaleString());
                    $('#total').val(parseInt(total.toFixed()).toLocaleString());
                }
                else {
                    console.log($("#neto").val());
                    var neto = $("#neto").val().replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace(',', '.');
                    console.log(neto);
                    var iva = neto * 0.19;
                    var total = (neto * 1.19);
                    console.log(iva);
                    $('#iva').val(parseFloat(iva).toLocaleString('de-DE'));
                    $('#total').val(parseFloat(total).toLocaleString('de-DE'));
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {

            $('#guardar').click(function () {
                if ($('#conceptos').val() == null || $('#conceptos').val() == '' || $('#neto').val() == '' || $('#neto').val() == 0 || $('#cuotas').val() == 0 || $('#cuotas').val() == '') {
                    if ($('#conceptos').val() == null || $('#conceptos').val() == '') alertify.error('Seleccione un concepto');
                    if ($('#neto').val() == '' || $('#neto').val() == 0) alertify.error('Valor neto debe ser mayor que 0');
                    if ($('#cuotas').val() == 0 || $('#cuotas').val() == '') alertify.error('Cuotas deben ser mayor que 0');
                    return false;
                }
            })
        })
    </script>
}
<div id="content" class="col-lg-10 col-sm-11 ">
    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Clientes",Url.RouteUrl(new {Controller="Franquiciados",Action="Index"})},
                            {"Agregar descuento",Url.RouteUrl(new {Controller="Franquiciados",Action="CrearDescuento"})}
                            })

            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="icon-plus-sign"></i><span class="break"></span>Editar descuento @Model.idDescuento para el camion @Model.camion.patente</h2>
                    <a href="@Url.RouteUrl(new {Controller="Franquiciados",action="Descuentos", id=Model.camion.id_franquiciado })" class="btn btn-primary pull-right btn-lg">Volver al listado</a>
                </div>

                <div class="box-content">
                    @using (Html.BeginForm("editarDescuento", "Franquiciados"))
                    {
                        <fieldset class="col-sm-12">
                            <div class="form-group">
                                @if (Model != null && Model.idDescuento != 0)
                                {
                                    @Html.HiddenFor(m => m.idDescuento)
                                }
                                @if (Model != null && Model.idCamion != 0)
                                {
                                    @Html.HiddenFor(m => m.idCamion)
                                }
                                <label class="control-label pull-left label-see">Pago en UF</label>
                                <div>
                                    <div class="input-group col-sm-5">
                                        @Html.CheckBoxFor(u => u.enUF, new { @id = "enUF" })
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <label class="control-label pull-left label-see">Primera cuota</label>
                                <div>
                                    <div class="input-group col-sm-5">
                                        @Html.DropDownListFor(model => model.fechaPrimeraCuota.camionSelect, Model.fechaPrimeraCuota.camiones, new { @class = "form-control", @id = "fecha" })
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <label class="control-label pull-left label-see">Descuento Neto</label>
                                <div>
                                    <div class="input-group col-sm-5">
                                        @Html.TextBoxFor(m => m.neto, new { @class = "form-control pull-right", @id = "neto", value = "6" })
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="form-group">
                                    <label class="control-label pull-left label-see">IVA</label>
                                    <div class="input-group col-sm-5">
                                        @Html.TextBoxFor(m => m.iva, new { @class = "form-control pull-right", @disabled = "disabled" })
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="form-group">
                                    <label class="control-label pull-left label-see">Total</label>
                                    <div class="input-group col-sm-5">
                                        @Html.TextBoxFor(m => m.total, new { @class = "form-control pull-right", @disabled = "disabled" })
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label class="control-label pull-left label-see">Afecto a IVA</label>
                                    <div class="input-group col-sm-5">
                                        @Html.CheckBoxFor(m => m.llevaIVA, new { @class = "checkbox" }) Marcar si el descuento debe llevar IVA
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label class="control-label pull-left label-see">Concepto</label>
                                    <div class="input-group col-sm-5">
                                        @Html.DropDownListFor(model => model.conceptoSelectList.conceptoSelect,
                                      @Model.conceptoSelectList.conceptos, "Seleccione un concepto", new { @class = "form-control", @id = "conceptos" })
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="form-group">
                                    <label class="control-label pull-left label-see">Observación</label>
                                    <div class="input-group col-sm-5">
                                        @Html.TextBoxFor(m => m.observacion, new { @class = "form-control pull-right" })
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label class="control-label pull-left label-see">Orden de compra</label>
                                    <div class="input-group col-sm-5">
                                        @Html.TextBoxFor(m => m.oc, new { @class = "form-control pull-right" })
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label class="control-label pull-left label-see">Factura</label>
                                    <div class="input-group col-sm-5">
                                        @Html.TextBoxFor(m => m.factura, new { @class = "form-control pull-right" })
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                            <input type="text" id="ok" value="@Model.ok" hidden />
                            <div class="form-group">
                                <button type="submit" id="guardar" class="btn btn-primary btn-lg">Guardar</button>
                            </div>
                        </fieldset>
                    }

                </div>
            </div>
        </div>

    </div>


</div>
