﻿@model SGS.Models.modelViews.franquiciadosPagadosView
@{
    ViewBag.Title = "franquiciadosPagados";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}
@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fx/pages/camiones.js")"></script>
    <script src="@Url.Content("~/Scripts/daterangepicker.min.js")"></script>
    <script>
        $(document).ready(function () {
            $('#camiones').change(function () {
                    $(this).closest('form').submit();
            })
            $('#franquiciados').change(function () {
                    $(this).closest('form').submit();
            })
        });
    </script>
}
<div id="content" class="col-lg-12 col-sm-11  ">
    
    <div class="row">
        <div class="col-lg-12 col-md-9">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Historial de Pagos",Url.RouteUrl(new {Controller="Franquiciados",Action="FranquiciadosPagados"})}
                            })

            <div class="box">
                <div class="box-header" data-original-title>
                    <h2><i class="icon-user"></i><span class="break"></span>Historial de pagos</h2>
                @*<!--Permiso Exportar-->  @if (Model.selecListFranquiciados.franquiciadoSelect != null)*@
                    @*{
                       if (Model.selecListPeriodos.periodoSelect != null)
                       {
                        <a class="btn btn-lg pull-right btn-success" href="@Url.RouteUrl(new {Controller="Franquiciados",action="franquiciadosPagadosExcel", periodo = Model.selecListPeriodos.periodoSelect, idFranquiciado = Model.selecListFranquiciados.franquiciadoSelect.Value })">Excel</a>
                       }
                       else
                       {
                        <a class="btn btn-lg pull-right btn-success" href="@Url.RouteUrl(new {Controller="Franquiciados",action="franquiciadosPagadosExcel", periodo = -1, idFranquiciado = Model.selecListFranquiciados.franquiciadoSelect })">Excel</a>
                       }


                    }
                   else
                   {
                       if (Model.selecListPeriodos.periodoSelect != null)
                       {
                        <a class="btn btn-lg pull-right btn-success" href="@Url.RouteUrl(new { Controller = "Franquiciados", action = "franquiciadosPagadosExcel", tipo = Model.selecListPeriodos.periodoSelect, idFranquiciado = -1 })">Excel</a>
                       }
                       else
                       {
                        <a class="btn btn-lg pull-right btn-success" href="@Url.RouteUrl(new { Controller = "Franquiciados", action = "franquiciadosPagadosExcel", tipo = -1, idFranquiciado = -1 })">Excel</a>
                       }


                   }*@
                 
                        <div style="width:auto" class="sorting" class="controls row " style="margin-top:2px; ">
                        @using (Html.BeginForm("franquiciadosPagados", "Franquiciados", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="input-group col-sm-2">
                                @*@Html.DropDownListFor(model => model.mes.mesSelect, @Model.mes.mes, "Seleccione un especialista", new { @class = "form-control", @id = "mes" })*@
                                @Html.DropDownListFor(model => model.selecListPeriodos.periodoSelect,
                                      @Model.selecListPeriodos.periodos,"Todos", new { @class = "form-control", @id = "camiones" })
                                @* @Html.DropDownList("mes", null, new { @class = "form-control", @id = "mes" })*@
                            </div>
                            <div class="input-group col-sm-2">
                                @*@Html.DropDownListFor(model => model.mes.mesSelect, @Model.mes.mes, "Seleccione un especialista", new { @class = "form-control", @id = "mes" })*@
                                @Html.DropDownListFor(model => model.selecListFranquiciados.franquiciadoSelect,
                                      @Model.selecListFranquiciados.franquiciados, "Franquiciados", new { @class = "form-control", @id = "franquiciados" })
                                @* @Html.DropDownList("mes", null, new { @class = "form-control", @id = "mes" })*@
                            </div>
                        }
                    </div>
                </div>

                <div class="box-content">
                    <table class="table table-striped table-bordered bootstrap-datatable datatable">
                        <thead role="row" class="tab-header">
                            <tr>

                                <th style="width:auto" class="sorting">ID</th>
                                <th style="width:auto" class="sorting">Micro Empresario</th>
                                <th style="width:auto" class="sorting">Desde</th>
                                <th style="width:auto" class="sorting">Hasta</th>
                                <th style="width:auto" class="sorting">Monto neto</th>
                                <th style="width:auto" class="sorting">Monto bruto</th>
                                <th style="width:auto" class="sorting">Ver detalle</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if(Model.tabla != null)
                            {
                                foreach (var m in Model.tabla)
                            {
                                    <tr>
                                        <td>@m.idPago</td>
                                        <td>@m.franquiciado</td>
                                        <td>@m.fechaInicio</td>
                                        <td>@m.fechaFin</td>
                                        <td>@m.montoNeto</td>
                                        <td>@m.montoBruto</td>
                                        <td>
                                            <a class="btn btn-info" href="@Url.RouteUrl(new { Controller = "Franquiciados", Action = "excelPagadosFranquiciados", fechaInicio = m.fechaInicio, fechaFin = m.fechaFin, idFranquiciado = m.idFranquiciado })" target="_blank" title="Detalle"><i class="fa fa-file-excel-o "></i></a>
                                        </td>
                                    </tr>
                                }
                            }                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--/col-->

    </div><!--/row-->
 
</div>