﻿@model SGS.Models.modelViews.LeasingView
@{
    Layout = null;
    Response.AddHeader("Content-type", "application/vnd.ms-excel");
    Response.AddHeader("Content-Disposition", "attachment; filename=leasing.xls");
}
<table border="1">
    <tr>
        <th>ID</th>
        <th>Camion</th>
        <th>Fecha ingreso</th>
        <th>Valor UF día</th>
        <th>Interes</th>
        <th>Pie UF</th>
        <th>Cuotas</th>
        <th>Neto $</th>
        <th>IVA $</th>
        <th>Total $</th>
        <th>Estado</th>
    </tr>
    <tbody>
        @foreach (var m in Model.encabezadoLeasing)
        {
            <tr>
                <td>@m.idLeasing</td>
                <td>@m.patenteCamion</td>
                <td>@m.fecha</td>
                <td>@m.valorUfDia.ToString("N2")</td>
                <td>@m.interes%</td>
                <td>@m.pie.ToString("N2")</td>
                <td>@m.cuotas</td>
                <td>@m.neto.ToString("N0")</td>
                <td>@m.iva.ToString("N0")</td>
                <td>@m.total.ToString("N0")</td>
                <td>@m.estado</td>
            </tr>

        }
    </tbody>
</table>