﻿@model SGS.Models.modelViews.FranquiciadosProcesosView
@{
    ViewBag.Title = "Procesos";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}
@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fx/pages/camiones.js")"></script>
    <script src="@Url.Content("~/Scripts/daterangepicker.min.js")"></script>
    <script>
        var pagando = false;

        $(document).ready(function () {

            //$('#mes').change(function () {
            //    $(this).closest('form').submit();
            //});
            //$('#año').change(function () {
            //    $(this).closest('form').submit();
            //})
            //$('#guardar').click(function () {
            //    var dp1 = new Date($('#dp1').val());
            //    var dp2 = new Date($('#dp2').val());
            //    console.log(dp1);
            //    console.log(dp2);
            //    if(dp1 >= dp2)
            //    {
            //        return false;
            //    }
            //    if(dp1 == 'Invalid Date' || dp2 == 'Invalid Date')
            //    {
            //        return false;
            //    }
            //});
            $(".datepicker").datepicker();

            /*
            window.addEventListener("beforeunload", function (e) {
                if (pagando==true) {
                    var confirmationMessage = "El proceso de Pago continuará en curso en el servidor, ¿está seguro de cerrar esta ventana?"; // "\o/";

                    alert(confirmationMessage);
                    (e || window.event).returnValue = confirmationMessage; //Gecko + IE

                    return confirmationMessage;                            //Webkit, Safari, Chrome
                } else {
                    return true;
                }

                //var confirmationMessage = "\o/";
                //(e || window.event).returnValue = confirmationMessage; //Gecko + IE
                //return confirmationMessage;                            //Webkit, Safari, Chrome
            });
            */

        });

        function mostrarModalCargando() {
            document.getElementById('ImgPagarCargando').style.display = 'inline';
            $('#ModalPagar').modal({ backdrop: 'static', keyboard: false });
        }

        function realizarPago() {
            $('#ModalConfirmarPagar').modal('hide');
            $('#ModalConfirmarPagarFranq').modal('hide');

            mostrarModalCargando();

            setTimeout(function () { pagando = true; }, 500);
        }

    </script>
}
<div id="content" class="col-lg-12 col-sm-11  ">
    @*@if (User.IsInRole("franProc"))
    {*@
        <div class="row">
            <div class="col-lg-12 col-md-9">
                @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Micro Empresario",Url.RouteUrl(new {Controller="Franquiciados",Action="Procesos"})}
                            })

                <div class="box">
                    <div class="box-header" data-original-title>
                        <h2><i class="icon-user"></i><span class="break"></span>Modulo Pagos</h2>
                        @*@if (User.IsInRole("franProcExportar"))*@
                        @*<a class="btn btn-lg pull-right btn-success" href="@Url.RouteUrl(new { Controller = "Franquiciados", action = "ProcesosExcel", fechaInicio = Model.fechaInicio, fechaFinal = Model.fechaFin })">Excel</a>*@
                        @if (Model.puedePrePagar == false)
                        {
                            <a href="#" disabled="disabled" class="btn btn-danger pull-right btn-lg">No existe UF</a>

                        }
                        <div class="controls row " style="margin-top:2px; ">

                            @using (Html.BeginForm("Procesos", "Franquiciados", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div class="input-group col-sm-2">
                                    @Html.TextBoxFor(m => m.fechaFin, new { @data_date_format = "dd/mm/yyyy", @class = "form-control datepicker", autocomplete = "off" })
                                    @*@Html.DropDownListFor(model => model.mes.mesSelect,
                                        @Model.mes.mes, new { @class = "form-control", @id = "mes" });*@
                                </div>
                                <div class="input-group col-sm-2">
                                    <button type="submit" id="guardar" onclick="$('#imgCargar').show();" class="btn btn-primary btn-lg">Cargar</button>
                                    <img id="imgCargar" alt="" src="~/images/CargandoImg.gif" style="display: none; width: 40px; height: 40px; margin-left: 20px;" />
                                </div>
                                <div class="input-group col-sm-2">
                                    @if (Model.puedePagar == true)
                                    {<a class="btn btn-lg btn-success" onclick="$('#ModalConfirmarPagar').modal('show');" title="Pagar"><i class="fa fa-warning"></i> Pagar</a><img id="ImgPagarCargando" src="..\Content\images\loading.gif" alt="Cargando" style="padding-left: 15px; display: none;"disabled="false" />
                                    }
                                    else
                                    { <a class="btn btn-lg btn-success" disabled="true" href="##" target="_blank" title="HR sin cerrar">Pagar</a>

                                    }
                                </div>

                                <div class="input-group col-sm-2">
                                    @if (Model.puedePrePagar == true)
                                    {
                                        <a class="btn btn-primary btn-lg" target="_blank" href="@Url.RouteUrl(new { Controller = "Franquiciados", Action = "excelPrePagoFranquiciados2", fechaInicio = Model.fechaInicio, fechaFin = Model.fechaFin, idFranquiciado = -1 })" title="Descargar Consolidado"><i class="fa fa-file-excel-o"></i> Consolidado PrePago</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-primary btn-lg" disabled="true" href="##"><i class="fa fa-file-excel-o"></i> Consolidado PrePago</a>
                                    }
                                </div>
                                @*<div class="input-group date col-sm-2">
                                    @Html.DropDownListFor(model => model.año.añoSelect,
                                         @Model.año.año, new { @class = "form-control", @id = "año" });
                                *@@*
                                    </div>*@
                            }
                        </div>
                    </div>

                    <div class="box-content">
                        <table class="table table-striped table-bordered bootstrap-datatable datatable">
                            <thead role="row" class="tab-header">
                                <tr>

                                    <th style="width:auto" class="sorting">Razon Social</th>
                                    <th style="width:auto" class="sorting">Rut Micro Empresario</th>
                                    <th style="width:auto" class="sorting">Monto neto</th>
                                    <th style="width:auto" class="sorting">Monto bruto</th>
                                    <th style="width:auto" class="sorting">Ultimo pago</th>
                                    <th style="width:auto" class="sorting">Ver detalle</th>
                                    <th style="width:auto" class="sorting">Pagar</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var m in Model.tabla)
                                {
                                    if (m.tienePendientes == false)
                                    {
                                        <tr>
                                            <td>@m.razon_social</td>
                                            <td>@m.rut_franquiciado</td>
                                            <td>@m.montoNeto.ToString("N0")</td>
                                            <td>@m.montoBruto.ToString("N0")</td>
                                            <td>@m.ultimoPago</td>
                                            <td>
                                                @if (Model.puedePrePagar == true)
                                                {
                                                    if (m.tieneHR == true && m.montoNeto != 0)
                                                    {

                                                        <a class="btn btn-info" href="@Url.RouteUrl(new { Controller = "Franquiciados", Action = "excelPrePagoFranquiciados", fechaInicio = Model.fechaInicio, fechaFin = Model.fechaFin, idFranquiciado = m.id_franquiciado })" target="_blank" title="Detalle"><i class="fa fa-file-excel-o "></i></a>
                                                        <a class="btn btn-warning" href="@Url.RouteUrl(new { Controller = "Franquiciados", Action = "excelPrePagoFranquiciados2", fechaInicio = Model.fechaInicio, fechaFin = Model.fechaFin, idFranquiciado = m.id_franquiciado })" target="_blank" title="Detalle"><i class="fa fa-file-excel-o "></i></a>

                                                    }
                                                    else
                                                    {

                                                        <a class="btn btn-info" href="@Url.RouteUrl(new { Controller = "Franquiciados", Action = "excelPrePagoFranquiciados", fechaInicio = Model.fechaInicio, fechaFin = Model.fechaFin, idFranquiciado = m.id_franquiciado })" target="_blank" title="Detalle"><i class="fa fa-file-excel-o "></i></a>
                                                        <a class="btn btn-warning" href="@Url.RouteUrl(new { Controller = "Franquiciados", Action = "excelPrePagoFranquiciados2", fechaInicio = Model.fechaInicio, fechaFin = Model.fechaFin, idFranquiciado = m.id_franquiciado })" target="_blank" title="Detalle"><i class="fa fa-file-excel-o "></i></a>
                                                        <a class="btn btn-danger" href="@Url.RouteUrl(new { Controller = "Franquiciados", Action = "excelHRSinCerrar", fechaInicio = Model.fechaInicio, fechaFin = Model.fechaFin, idFranquiciado = m.id_franquiciado })" target="_blank" title="HR sin cerrar"><i class="fa fa-warning"></i></a>


                                                    }
                                                }
                                                else
                                                {

                                                    <a class="btn btn-info" disabled="true" href="#" target="_blank" title="Imprimir"><i class="fa fa-file-excel-o "></i></a>
                                                }

                                            </td>
                                            <td>
                                                @* Pagar *@
                                                @if (Model.puedePrePagar == true)
                                                {
                                                    //if (m.tieneHR == true && m.montoNeto != 0)
                                                    //{
                                                
                                                        <a class="btn btn-success" onclick="$('#hdIdFranqPagar').val('@m.id_franquiciado'); $('#hdNombreFranqPagar').val('@m.razon_social'); $('#modalPagarFranTxt').html('Este proceso tardará varios minutos y cerrará el período @Model.periodoPagar de ' + $('#hdNombreFranqPagar').val() +' comprendido entre el @Model.fechaInicio y el @Model.fechaFin, el proceso NO debe ser interrumpido.'); $('#ModalConfirmarPagarFranq').modal('show');" href="#" title="Pagar"><i class="icon-check "></i></a>
                                                    
                                                    @* }
                                                        else
                                                        {
                                                            if(User.IsInRole("franProcPagar")){<a class="btn btn-success" disabled="true" href="#" target="_blank" title="Imprimir"><i class="icon-check "></i></a>}
                                                        }*@
                                                }
                                                else
                                                {
                                                    <a class="btn btn-success" onclick="$('#ModalConfirmarPagar').modal('show');" disabled="true" href="#" target="_blank" title="Imprimir"><i class="icon-check "></i></a>
                                                }

                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr class="danger">
                                            <td>@m.razon_social</td>
                                            <td>@m.rut_franquiciado</td>
                                            <td>@m.montoNeto.ToString("N0")</td>
                                            <td>@m.montoBruto.ToString("N0")</td>
                                            <td>@m.ultimoPago</td>
                                            <td>
                                                @if (Model.puedePrePagar == true)
                                                {
                                                    if (m.tieneHR == true)
                                                    {
                     
                                                            <a class="btn btn-info" href="@Url.RouteUrl(new { Controller = "Franquiciados", Action = "excelPrePagoFranquiciados", fechaInicio = Model.fechaInicio, fechaFin = Model.fechaFin, idFranquiciado = m.id_franquiciado })" target="_blank" title="Detalle"><i class="fa fa-file-excel-o "></i></a>
                                                            <a class="btn btn-warning" href="@Url.RouteUrl(new { Controller = "Franquiciados", Action = "excelPrePagoFranquiciados2", fechaInicio = Model.fechaInicio, fechaFin = Model.fechaFin, idFranquiciado = m.id_franquiciado })" target="_blank" title="Detalle"><i class="fa fa-file-excel-o "></i></a>
                                                            <a class="btn btn-danger" href="@Url.RouteUrl(new { Controller = "Franquiciados", Action = "excelHRSinCerrar", fechaInicio = Model.fechaInicio, fechaFin = Model.fechaFin, idFranquiciado = m.id_franquiciado })" target="_blank" title="HR sin cerrar"><i class="fa fa-warning"></i></a>

                                                        
                                                    }
                                                    else
                                                    {
                                                      
                                                        <a class="btn btn-info" disabled="true" href="#" target="_blank" title="Imprimir"><i class="fa fa-file-excel-o "></i></a>
                                                            <a class="btn btn-danger" href="@Url.RouteUrl(new { Controller = "Franquiciados", Action = "excelHRSinCerrar", fechaInicio = Model.fechaInicio, fechaFin = Model.fechaFin, idFranquiciado = m.id_franquiciado })" target="_blank" title="HR sin cerrar"><i class="fa fa-warning"></i></a>


                                                    }
                                                }
                                                else
                                                {
                        
                                                     <a class="btn btn-info" disabled="true" href="#" target="_blank" title="Imprimir"><i class="fa fa-file-excel-o "></i></a>
                                                        <a class="btn btn-danger" href="@Url.RouteUrl(new { Controller = "Franquiciados", Action = "excelHRSinCerrar", fechaInicio = Model.fechaInicio, fechaFin = Model.fechaFin, idFranquiciado = m.id_franquiciado })" target="_blank" title="HR sin cerrar"><i class="fa fa-warning"></i></a>
                                                    
                                                }

                                            </td>
                                            <td>
                                                @* Pagar *@
                                                @if (Model.puedePrePagar == true)
                                                {
                                                    if (m.tieneHR == true)
                                                    {
                                                            <a class="btn btn-success" disabled="disabled" onclick="$('#ModalConfirmarPagar').modal('show');" href="#" target="_blank" title="Pagar"><i class="icon-check "></i></a>

                                                    }
                                                    else
                                                    { <a class="btn btn-success" disabled="true" onclick="$('#ModalConfirmarPagar').modal('show');" href="#" target="_blank" title="Pagar"><i class="icon-check "></i></a>
                                                    }
                                                }
                                                else
                                                {
                                                   
                                                    <a class="btn btn-success" disabled="true" onclick="$('#ModalConfirmarPagar').modal('show');" href="#" target="_blank" title="Pagar"><i class="icon-check "></i></a>
                                                }

                                            </td>
                                        </tr>
                                    }

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!--/col-->

        </div><!--/row-->
    @*}*@
</div>

<!-- Modal -->
<div class="modal fade" id="ModalPagar" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">

                <p class="lead text-center">Procesando, por favor espere...</p>

                <div class="progress progress-striped active">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">Procesando...</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@if (Model.puedePagar == true)
{
    <div class="modal fade" id="ModalConfirmarPagar" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <b>RESITER SGS</b>
                </div>
                <div class="modal-body">
                    <p>Este proceso tardará varios minutos y cerrará el período @Model.periodoPagar comprendido entre el @Model.fechaInicio y el @Model.fechaFin, el proceso NO debe ser interrumpido.</p>
                    <p class="text-center">¿Está ud. seguro(a) de continuar?</p>
                </div>
                <div class="text-center" style="padding-bottom: 15px;">
                    <a onclick="realizarPago();" href="@Url.RouteUrl(new { Controller = "Franquiciados", Action = "excelPagoFranquiciados", Model.fechaInicio, Model.fechaFin })" class="btn btn-danger" style="padding: 6px 20px;">Sí</a>
                    <a href="#" data-dismiss="modal" class="btn btn-default" style="margin-left: 8px; padding: 6px 20px;">No</a>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    function pagarFranq() {
        $('#btnPagarFranq').attr('href', $('#btnPagarFranq').attr('href').replace('-55115511', $("#hdIdFranqPagar").val()));

        document.getElementById('btnPagarFranq').click();
    }

</script>

<div class="modal fade" id="ModalConfirmarPagarFranq" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <b>RESITER SGS</b>
                <input id="hdIdFranqPagar" type="hidden" />
                <input id="hdNombreFranqPagar" type="hidden" />
            </div>
            <div class="modal-body">
                <p><span id="modalPagarFranTxt"></span></p>
                <p class="text-center">¿Está ud. seguro(a) de continuar?</p>
            </div>
            <div class="text-center" style="padding-bottom: 15px;">
                <a onclick="pagarFranq();" href="#" class="btn btn-danger" style="padding: 6px 20px;">Sí</a>
                <a id="btnPagarFranq" onclick="realizarPago();" href="@Url.RouteUrl(new { Controller = "Franquiciados", Action = "excelPagoFranquiciados", fechaInicio = Model.fechaInicio, fechaFin = Model.fechaFin, idFranquiciado = -55115511 })" class="btn btn-danger" style="padding: 6px 20px; display: none;">Pagar</a>
                <a href="#" data-dismiss="modal" class="btn btn-default" style="margin-left: 8px; padding: 6px 20px;">No</a>
            </div>
        </div>
    </div>
</div>
