﻿@{
    
    Layout = "~/Views/Shared/_main_ViewLayout.cshtml";
}

                <div class="box">
                    <div class="box-header" data-original-title="">
                        <h2><i class="icon-camera"></i><span class="break"></span>Franquiciado @Model.razon_social</h2>
                    </div>

                    <div class="box-content">
                        <h3 class="header-see">Datos del Franquiciado</h3>
                        <table class="table table-bordered table-hover table-striped">
                            <tr>
                                <td>Rut Franquiciado</td>
                                <td>@Model.rut_franquiciado</td>
                            </tr>
                            <tr>
                                <td>Razón Social</td>
                                <td>@Model.razon_social</td>
                            </tr>

                            <tr>
                                <td>Dirección</td>
                                <td>@Model.direccion</td>
                            </tr>

                            
                            <tr>
                                <td>Estado</td>
                                <td> @Model.estado</td>
                            </tr>
                            
                            
                            
                        </table>

                        <br />

                       

                        <br />
<!--
                        <h3 class="header-see">Sucursales del Cliente</h3>
                        if(Model.sucursales.Count==0){
                        <p>No existen sucursales asociadas a este cliente.</p>
                        }else { 
                            
                        <table class="table table-bordered table-hover table-striped" >
                            <thead class="tab-header">
                            <th>Sucursal</th>
                            <th>Dirección</th>
                            <th>País</th>
                            <th>Región</th>
                            <th>Ciudad</th>
                            <th>Comuna</th>
                            </thead>

                            <tbody>
                               foreach(var s in Model.sucursales){
                                <tr>
                                    <td>s.sucursal</td>
                                    <td>s.direccion</td>
                                    <td>s.id_pais</td>
                                    <td>s.id_region</td>
                                    <td>s.id_ciudad</td>
                                    <td>s.id_comuna</td>
                                </tr>
                                 }
                                }

                            </tbody>
                        </table>-->


                    </div>
                </div>
       