﻿@{
    Layout = null;
    Response.AddHeader("Content-type", "application/vnd.ms-excel");
    Response.AddHeader("Content-Disposition", "attachment; filename=Informe_Ventas_Detalle.xls");
}

<table border="0">
    <thead>
        <tr>
            <th colspan="14">
                <h2>Informe de Ventas Detallado</h2>
            </th>
        </tr>
        <tr>
            <th>
                Fecha desde:
            </th>
            <th>
                @ViewBag.desde
            </th>
            <th>
                Fecha Hasta:
            </th>
            <th>
                @ViewBag.hasta
            </th>
        </tr>
    </thead>
</table>
<br />
<table border="1">
    <thead>
        <tr>


            <th style="background-color: #cccccc">Fecha Servicio</th>
            <th style="background-color: #cccccc">Rut</th>
            <th style="background-color: #cccccc">Razon Social</th>
            <th style="background-color: #cccccc">Sucursal</th>
            <th style="background-color: #cccccc">Servicio</th>
            <th style="background-color: #cccccc">m3</th>
            <th style="background-color: #cccccc">N° Guia</th>
            <th style="background-color: #cccccc">Valor Servicio</th>
            <th style="background-color: #cccccc">Patente</th>
            <th style="background-color: #cccccc">Chofer</th>
            <th style="background-color: #cccccc">Vertedero</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@Convert.ToDateTime(m.fechaservicio).ToString("dd-MM-yyyy")</td>
                <td>@m.rut</td>
                <td>@m.razonsocial</td>
                <td>@m.sucursal</td>
                <td>@m.servicio</td>
                <td>@m.m3</td>
                <td>@m.nroguia</td>
                <td>@m.valorservicio</td>
                <td>@m.patente</td>
                <td>@m.chofer</td>
                <td>@m.vertedero</td>
            </tr>

        }
    </tbody>
</table>
