﻿@*


    Descripción: contenedor principal de Informe de Vertederos
*@
@{
    string token = Guid.NewGuid().ToString();
}
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script type="text/javascript">
        $(function () {
            var vista = $("#@token");

            $('.datepicker').datepicker();

            var paginar = (function () {
                vista.find('.datatable').dataTable({
                    "sDom": "<'row'<'col-lg-6'l><'col-lg-6'f>r>t<'row'<'col-lg-12'i><'col-lg-12 center'p>>",
                    "sPaginationType": "bootstrap",
                    "oLanguage": {
                        "sLengthMenu": "_MENU_ Registros por pagina"
                    }
                });
            });

            paginar();

            vista.find('button[data-action="Buscar"]:first').click(function () {
                var desde = vista.find('#fechaDesde');
                var hasta = vista.find('#fechaHasta');
                var cliente = vista.find('#id_cliente');
                var sucursal = vista.find('#id_sucursal');
                if (Fwk.Validation.Validate('Ingreso')) {
                    $page.loading_all.show("Buscando...");
                    var btn = $(this);
                    btn.button('loading');
                    $page.ajax({
                        url: "@Url.Action("buscar", "InformeVentasDetalle")" + "?desde=" + desde.val() + "&hasta=" + hasta.val() + "&cliente=" + cliente.val() + "&sucursal=" + sucursal.val(),
                        datatype: 'html',
                        success: function (data) {
                            vista.find('div.box-content').html(data);
                            paginar();
                            var aExportar = vista.find('a[data-action="exportar"]:first');
                            aExportar.prop("href", "@Url.Action("excel", "InformeVentasDetalle")" + "?desde=" + desde.val() + "&hasta=" + hasta.val() + "&cliente=" + cliente.val() + "&sucursal=" + sucursal.val());
                            aExportar.removeClass('hidden');
                            $page.loading_all.hide();
                            btn.button('reset');
                        }
                    });
                }
            });

        });
    </script>

}

<div id="content" class="col-lg-12 col-sm-11  ">
    <div id="@token">
        <div class="row">
            <div class="col-lg-12 col-md-9">
                @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Informe de Ventas Detallado",Url.RouteUrl(new {Controller="InformeVentasDetalle",Action="index"})}
                            })
                
            <div class="box">
                <div class="row" style="margin-bottom: 13px;">
                    <div>
                        <label class="control-label pull-left label-see">Fecha Inicial</label>
                        <div class="input-group date col-sm-3" style="width:200px;">

                            <span class="input-group-addon"><i class="icon-calendar"></i></span>
                            <input id="fechaDesde" type="text" data-date-format="dd/mm/yyyy" class="form-control datepicker" style="width:210px;" placeholder="Fecha Desde"
                                   data-val-rules="required" data-val-for="self" data-val-group="Ingreso">
                        </div>
                    </div>

                    <div>
                        <label class="control-label pull-left label-see">Fecha Final</label>
                        <div class="input-group date col-sm-3" style="width:200px;">


                            <span class="input-group-addon"><i class="icon-calendar"></i></span>
                            <input id="fechaHasta" type="text" data-date-format="dd/mm/yyyy" class="form-control datepicker" style="width:210px;" placeholder="Fecha Hasta"
                                   data-val-rules="required" data-val-for="self" data-val-group="Ingreso">

                        </div>
                    </div>
                </div>
                    <div class="row">
                        <div>
                            <label class="control-label pull-left label-see">Cliente</label>
                            <div class="input-group col-sm-3">
                                <div>
                                    @Html.DropDownList("clientes", ViewBag.clientes as IEnumerable<SelectListItem>, new { @class = "form-control", @Id="id_cliente" })

                                </div>
                            </div>

                        </div>

                        <div>
                            <label class="control-label pull-left label-see">Sucursal</label>


                            <div class="input-group col-sm-3">
                                @Html.DropDownList("sucursales", ViewBag.sucursales as IEnumerable<SelectListItem>, new { @class = "form-control", @Id="id_sucursal"})
                            </div>

                        </div>
                    </div>
                    <button type="button" data-loading-text="Buscando..." class="btn btn-success btn-lg" data-action="Buscar">Buscar</button>
                

                <div class="box">
                    <div class="box-header" data-original-title>
                        <h2><i class="icon-folder-close"></i><span class="break"></span>Informe de Ventas Detallado</h2>
                        <a class="btn btn-lg pull-right btn-success hidden" data-action="exportar" href="@Url.RouteUrl(new { Controller = "InformeVentasDetalle", action = "Excel" })">Excel</a>
                    </div>
                    <div class="box-content">
                    </div>
                </div>
            <!--/col--> 
        </div>

        </div><!--/row-->
    </div>
</div>

