﻿@model SGS.Models.modelViews.crearUFView
@{
    ViewBag.Title = "crearUF";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

@section scripts
{
    <script src="@Url.Content("~/Scripts/jquery.price_format.2.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/toastr.min.js")"></script>
    <script>
        $(document).ready(function () {
            if ($('#franquiciado').val() != '') {
                $('#franquiciado').attr('disabled', 'disabled');
            }
            $('#franquiciado').change(function () {
                if ($('#franquiciado').val() != '') {
                    $(this).closest('form').submit();
                }
            });
            $('#ufDia').keyup(function () {
                $('#neto').removeAttr('disabled');
                $('#pie').removeAttr('disabled');
            });
            $("#neto").priceFormat({
                thousandsSeparator: '.',
                prefix: '',
                centsLimit: 0
            });
            $("#ufDia").priceFormat({
                thousandsSeparator: '.',
                centsSeparator: ',',
                prefix: '',
                centsLimit: 2
            });
            $("#pie").priceFormat({
                thousandsSeparator: '.',
                prefix: '',
                centsLimit: 0
            });
            if ($('#ok').val() == "1")
            {
                $("#neto").val("0");
                $('#cuotas').val(0);
                alertify.success('Leasing creado correctamente');
            }
            $("#pie").focusout(function () {
                var neto = $("#neto").val().replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '');
                var ufDia = $("#ufDia").val().replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace(',', '');
                var pie = $("#pie").val().replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '');
                var iva = neto * 0.19;
                var total = (neto * 1.19) - pie;
                var pieUF = (pie / ufDia).toFixed(2);
                var totalUF = (total / ufDia).toFixed(2);
                $('#totalUF').val(parseFloat(totalUF).toLocaleString('de-DE'));
                $('#pieUF').val(parseFloat(pieUF).toLocaleString('de-DE'));
                $('#iva').val(parseInt(iva.toFixed()).toLocaleString());
                $('#total').val(parseInt(total.toFixed()).toLocaleString());
            });
            $("#neto").focusout(function () {
                console.log($('#conceptos').val());
                var neto = $("#neto").val().replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '');
                var ufDia = $("#ufDia").val().replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace(',', '');
                var pie = $("#pie").val().replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '');
                var iva = neto * 0.19;
                var total = (neto * 1.19)-pie;
                var pieUF = (pie / ufDia).toFixed(2);
                var totalUF = (total / ufDia).toFixed(2);
                $('#totalUF').val(parseFloat(totalUF).toLocaleString('de-DE'));
                $('#pieUF').val(parseFloat(pieUF).toLocaleString('de-DE'));
                $('#iva').val(parseInt(iva.toFixed()).toLocaleString());
                $('#total').val(parseInt(total.toFixed()).toLocaleString());
            });
        });
    </script>
<script>
    $(document).ready(function () {

        $('#guardar').click(function () {
            if ($('#ufDia').val() == null || $('#ufDia').val() == '') {
                if ($('#ufDia').val() == null || $('#ufDia').val() == '') alertify.error('Debe ingresar un valor de uf');
                return false;
            }
        })
    })
</script>

}
<div id="content" class="col-lg-10 col-sm-11 ">
    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Mantenedor UF",Url.RouteUrl(new {Controller="MantenedorUF",Action="Index"})},
                            {"Agregar valor UF",Url.RouteUrl(new {Controller="MantenedorUF",Action="crearUF"})}
                            })

            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="icon-plus-sign"></i><span class="break"></span>Agregar Nuevo Leasing</h2>
                    <a href="@Url.RouteUrl(new {Controller="MantenedorUF",action="Index" })" class="btn btn-primary pull-right btn-lg">Volver al listado</a>
                </div>

                <div class="box-content">
                    @using (Html.BeginForm("crearUF", "MantenedorUF"))
                    {
                        if (Model != null && Model.idUF != 0)
                        {
                            @Html.HiddenFor(m => m.idUF)
                        }
                        <fieldset class="col-sm-12">
                            <div class="form-group">
                                @if (Model.idUF == -1)
                                {
                                    <label class="control-label pull-left label-see">Franquiciado</label>
                                    <div>
                                        <div class="input-group col-sm-5">
                                            @Html.DropDownListFor(model => model.SelectListPeriodo.periodoSelect,
                                      @Model.SelectListPeriodo.periodos, new { @class = "select2 form-control", @id = "periodos" })
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                }
                                    <label class="control-label pull-left label-see">Valor UF día</label>
                                    <div>
                                        <div class="input-group col-sm-5">
                                            @Html.TextBoxFor(m => m.uf, new { @class = "form-control pull-right", @id = "ufDia" })
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>

                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <button type="submit" id="guardar" class="btn btn-primary btn-lg">Guardar</button>
                            </div>
                        </fieldset>
                    }

                </div>
            </div>
        </div>

    </div>


</div>