﻿@{
    Layout = null;
    Response.AddHeader("Content-type", "application/vnd.ms-excel");
    Response.AddHeader("Content-Disposition", "attachment; filename=mantenedorUF.xls");
}

<table border="1">
    <tr>
        <th style="width:auto" class="sorting">ID</th>
        <th style="width:auto" class="sorting">Periodo</th>
        <th style="width:auto" class="sorting">Valor UF</th>
    </tr>
    <tbody>
        @foreach (var m in Model.tabla)
        {
            <tr>
                <td>@m.idUF</td>
                <td>@m.periodo</td>
                <td>@m.valorUF</td>
            </tr>

        }
    </tbody>
</table>