﻿@model SGS.Models.modelViews.MantenedorUfView
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}
@section scripts{
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fx/pages/camiones.js")"></script>
    <script>
    $(document).ready(function () {
        $('.btnPagar').click(function () {

        });
        $('.btnEditar').click(function () {

        });
    });
    </script>
    <script>
    $(document).ready(function () {
        $('#camiones').change(function () {
            if ($('#camiones').val() != '')
            {
                $(this).closest('form').submit();
            }
        })
        $('#franquiciados').change(function () {
            if ($('#camiones').val() != '') {
                $(this).closest('form').submit();
            }
        })
    });
    function format(input) {
        var num = input.value.replace(/\./g, '');
        if (!isNaN(num)) {
            num = num.toString().split('').reverse().join('').replace(/(?=\d*\.?)(\d{3})/g, '$1.');
            num = num.split('').reverse().join('').replace(/^[\.]/, '');
            input.value = num;
        }

        else {
            alert('Solo se permiten numeros');
            input.value = input.value.replace(/[^\d\.]*/g, '');
        }
    }
    </script>

}




@{
    ViewBag.Title = "restrict";
    Layout = "~/Views/Shared/_main_layout.cshtml";

}


<div id="content" class="col-lg-10 col-sm-11 ">

    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Valor UF",Url.RouteUrl(new {Controller="MantenedorUF",Action="Index"})}
                            })
            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="icon-minus-sign"></i><span class="break"></span>Lista de valores UF</h2>
                    <a href="@Url.RouteUrl(new { Controller = "MantenedorUF", action = "Excel" })" class="btn btn-lg pull-right btn-success">Excel</a>
                    @if(Model.puedeAgregar == true)
                    {
                        <a href="@Url.RouteUrl(new {Controller="MantenedorUF",action="CrearUF", idUF=-1})" class="btn btn-primary pull-right btn-lg">Agregar valor UF</a>
                    }
                    else
                    {
                        <a href="##" class="btn btn-danger pull-right btn-lg">Valores ya agregados</a>
                    }
                    <div style="width:auto" class="sorting" class="controls row " style="margin-top:2px; ">
                    </div>
                </div>

                <div class="box-content">
                    @if (Model.tabla != null)
                    {
                        <table class="table table-striped table-bordered bootstrap-datatable datatable">
                            <thead role="row" class="tab-header">
                                <tr>
                                    <th style="width:auto" class="sorting">ID</th>
                                    <th style="width:auto" class="sorting">Periodo</th>
                                    <th style="width:auto" class="sorting">Valor UF</th>
                                    <th style="width:auto" class="sorting">Editar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var m in Model.tabla)
                                {
                                    <tr>
                                        <td>@m.idUF</td>
                                        <td>@m.periodo</td>
                                        <td>@m.valorUF</td>
                                        <td>
                                            @if (m.editable == false)
                                            {
                                                <a class="btn btn-info btnEditar" disabled="disabled" href="#" target="_blank" title="Detalle"><i class="icon-edit "></i></a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-info" href="@Url.RouteUrl(new { Controller = "MantenedorUF", Action = "CrearUF", idUF = m.idUF })" target="_blank" title="Editar"><i class="icon-edit "></i></a>
                                            }
                                        </td>

                                    </tr>

                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <span>Agregue un valor de UF</span>
                    }
                </div>

            </div>
            
        </div>
    </div>

</div>