﻿@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}
@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fx/pages/camiones.js")"></script>
}
<div id="content" class="col-lg-12 col-sm-11  ">
    <div class="row">
        <div class="col-lg-12 col-md-9">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Rellenos",Url.RouteUrl(new {Controller="Rellenos",Action="Index"})}
                            })
            <div class="box">
                <div class="box-header" data-original-title>
                    <h2><i class="icon-user"></i><span class="break"></span>Modulo Dispositor</h2>
                    <a href="@Url.RouteUrl(new { Controller="Rellenos",Action="Create"})" class="btn btn-primary pull-right btn-lg">Agregar Dispositor</a>
                </div>
                <div class="box-content">
                    <table class="table table-striped table-bordered bootstrap-datatable datatable">
                        <thead role="row" class="tab-header">
                            <tr>
                                <th style="width:auto" class="sorting_asc" role="columnheader">ID</th>
                                <th style="width:auto" class="sorting">Dispositor</th>
                                <th style="width:auto" class="sorting">Pais</th>
                                <th style="width:auto" class="sorting">Region</th>
                                <th style="width:auto" class="sorting">Ciudad</th>
                                <th style="width:auto" class="sorting">Comuna</th>
                                <th style="width:auto" class="sorting">Direccion</th>
                                <th style="width:auto" class="sorting">Disposición<br />Final</th>
								<th style="width:auto" class="sorting">Administrado<br />por Resiter</th>
                                <th style="width:auto" class="sorting">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var m in Model)
                            {
                                <tr>

                                    <td>@m.id_vertedero</td>
                                    <td>@m.vertedero</td>
                                    <td>@m.pais</td>
                                    <td>@m.region</td>
                                    <td>@m.ciudad</td>
                                    <td>@m.comuna</td>
                                    <td>@m.direccion</td>
                                    <td>@if (m.disposicion_final) { <text>Si</text>} else { <text>No</text>}</td>
									<td>@if (m.pertenece_resiter) { <text>Si</text>} else { <text>No</text>}</td>
                                    <td>
                                        <a class="btn btn-info" href="@Url.RouteUrl(new { Controller = "Rellenos", Action = "Edit", Id = m.id_vertedero })" title="Editar"><i class="icon-edit"></i></a>
                                        <a class="btn btn-danger" onclick="return confirm('Estas seguro(a) que deseas eliminar @m.vertedero ?');" href="@Url.RouteUrl(new { Controller = "Rellenos", Action = "Delete", Id = m.id_vertedero })" title="Eliminar"><i class="icon-trash "></i></a>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--/col-->
    </div><!--/row-->
</div>

