﻿@model SGS.Models.tipo_tarifa
@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

<div id="content" class="col-lg-10 col-sm-11 ">
    <div class="row">
        <div class="col-lg-12">
             @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Puntos de Servicio",Url.RouteUrl(new {Controller="PuntosServicios",Action="Create2"})},
                            {"Agregar Tarifa",Url.RouteUrl(new {Controller="TiposTarifas",Action="Create2"})}
                            })
             <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="icon-plus-sign"></i><span class="break"></span>Agregar Nueva Tarifa</h2>
                    <a href="@Url.RouteUrl(new {Controller="puntosservicios",action="Index" })" class="btn btn-primary pull-right btn-lg">Volver al listado</a>
                </div>

                   <div class="clearfix"></div>
                  <div class="box-content">
                    @using (Html.BeginForm("Create2", "TiposTarifas"))
                    {
                        <fieldset class="col-sm-12">



                  <div class="form-group">
                                <label class="control-label pull-left label-see">Tipo Tarifa</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.tipo_tarifa1, new { @class = "form-control pull-right" })
                                </div>
                                @*<label class="control-label red">@Html.ValidationMessageFor(m => m.patente)</label>*@
                  </div>
                  <div class="clearfix"></div>

                    <div class="form-group">
                            <label class="control-label pull-left label-see">Retencion</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.retencion, new { @class = "form-control pull-right" })
                                </div>
                                @*<label class="control-label red">@Html.ValidationMessageFor(m => m.camion)</label>*@
                            </div>
                            <div class="clearfix"></div>

                  <div class="form-group">
                                <label class="control-label pull-left label-see">Valor Tarifa</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.valor_tarifa, new { @class = "form-control pull-right"})
                                </div>
                                @*<label class="control-label red">@Html.ValidationMessageFor(m => m.tipo_camion)</label>*@
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Tipo pago</label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownList("id_moneda", ViewBag.tipo_moneda as IEnumerable<SelectListItem>, new { @class = "form-control", @Id = "value" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                   <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
                            </div>
                  </fieldset>
                        
                    }
        </div>
    </div>
</div>