﻿@model SGS.Models.modelViews.detalleTipoTarifa
@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_main_layout.cshtml";
    
}
@section scripts
{
    <script src="@Url.Content("~/Scripts/jquery.price_format.2.0.min.js")"></script>
    <script>
        $(document).ready(function () {
            $("#tarifa").priceFormat({
                thousandsSeparator: '.',
                prefix: '',
                centsLimit: 0
            });
            $("#min").priceFormat({
                thousandsSeparator: '.',
                prefix: '',
                centsLimit: 0
            });
            $("#max").priceFormat({
                thousandsSeparator: '.',
                prefix: '',
                centsLimit: 0
            });
        });
    </script>
    <script>
    $(document).ready(function () {
        $('#guardar').click(function () {
            var valor = $('#tarifa').val();
            var min = $('#min').val();
            var max = $('#max').val();
            var pasa ="pasa";
             $.ajax({
                type: "POST",
                url: "/TiposTarifas/validaDetalle/",
                data: {id: @Model.idTarifa, valor : valor, min: min, max :max },
                 success: function (data) {
                     console.log(data);
                     if (data == false){ 
                         alertify.error('Rango repetido');
                         pasa="noPasa";
                     }
                }
             });
            console.log(pasa)
            console.log(pasa == "noPasa")
            if (pasa == "noPasa" || $('#tarifa').val() == null || $('#tarifa').val() == '' || $('#min').val() == null || $('#min').val() == '' || $('#max').val() == '' || $('#max').val() == null || min> max)
            {
                if (pasa == false) alertify.error('Rango repetido');
                if ($('#tarifa').val() == null || $('#tarifa').val() == '') alertify.error('Ingrese un valor');
                if ($('#min').val() == null || $('#min').val() == '') alertify.error('Ingrese un desde');
                if ($('#max').val() == '' || $('#max').val() == null ) alertify.error('Ingrese un hasta');
                console.log(min);
                console.log(max);
                if ( min > max) alertify.error('El desde debe ser menor que hasta');
                return false;
            } 

        })
    })
    </script>
}

<div id="content" class="col-lg-10 col-sm-11 ">

    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Tipos Tarifas",Url.RouteUrl(new {Controller="tipostarifas",Action="Index"})}
                            })
            <div class="box">
                <div class="box-header" data-original-title="">
                    <div ><h2><i class="icon-plus-sign"></i><span class="break"></span>Agregar detalle @Model.tipo_tarifa.tipo_tarifa1</h2></div>
                    <a href="@Url.RouteUrl(new {Controller="tipostarifas",action="Index" })" class="btn btn-primary pull-right btn-lg">Volver al listado</a>
                </div>

                <div class="box-content">

                    @using (Html.BeginForm("agregarDetalle", "tipostarifas"))
                    {
                        <fieldset class="col-sm-12">

                                @Html.HiddenFor(u => u.idTarifa)
                            <div class="form-group">
                                <label class="control-label">Valor</label>
                                <div class="controls row">
                                    <div class="input-group col-sm-5">
                                        @Html.TextBoxFor(m => m.tarifa, new{@class="form-control", @id="tarifa"})
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="control-label">Desde</label>
                                <div class="controls">
                                        @Html.TextBoxFor(m => m.min, new{@class="form-control", @id="min"})
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Hasta</label>
                                <div class="controls">
                                        @Html.TextBoxFor(m => m.max, new{@class="form-control", @id="max"})
                                </div>
                            </div>


                            <div class="form-group">
                                <button type="submit" id="guardar" class="btn btn-primary btn-lg">Guardar</button>
                            </div>

                            <div id="restricciones-actuales">

                            </div>

                        </fieldset>
                    }

                    <br />

                    <h3 class="header-see">Restricciones del Camión</h3>

                        <table class="table table-bordered table-hover table-striped">
                            <tr style="background: #1B82C1;font-weight: bold;">
                                <td>Valor</td>
                                <td>Desde</td>
                                <td>Hasta</td>
                                <td>Acciones</td>
                            </tr>
                            @foreach (var r in Model.tabla)
                            {
                                <tr>
                                    <td>@r.valor.ToString("N0")</td>
                                    <td>@r.rango_min</td>
                                    <td>@r.rango_max</td>
                                    <td><a class="btn btn-danger" href="@Url.RouteUrl(new { Controller = "TiposTarifas", Action = "eliminarDetalle", id = r.id })"  title=" borrar detalle"><span class="label label-important">Eliminar </span></a></td>
                                </tr>
                            }
                        </table>
                </div>
            </div>
        </div>
    </div>

</div>