﻿@model List<SGS.Models.modelViews.ProcesoPagoView>


@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}


@section css{ 

    <link href="~/Content/fx/pages/rutas_modelo.css" rel="stylesheet" type="text/css" media="screen" />
}

<div id="content" class="col-lg-10 col-sm-11 ">

    <div class="row">
        <div class="col-lg-12">

            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Proceso de Cobros",Url.RouteUrl(new {Controller="ProcesoCobros",Action="Index"})},
                            {"",Url.RouteUrl(new {Controller="ProcesoCobros",Action="Index"})}
                            })
            

            <div class="col-lg-9">
                <div class="box">
                    <div class="box-header" data-original-title="">
                        <h2><i class="icon-list"></i></h2>
                        <div class="controls row " style="margin-top:2px; ">
                            <div class="input-group col-sm-2">
                                           @Html.DropDownList("Mes", new List<SelectListItem>
                                { 
                                    new SelectListItem { Text = "Enero", Value = "1", Selected=true},
                                    new SelectListItem { Text = "Febrero", Value = "2"},
                                    new SelectListItem { Text = "Marzo", Value = "3"},
                                    new SelectListItem { Text = "Abril", Value = "4"},
                                    new SelectListItem { Text = "Mayo", Value = "5"},
                                    new SelectListItem { Text = "Junio", Value = "6"},
                                    new SelectListItem { Text = "Julio", Value = "7"},
                                    new SelectListItem { Text = "Agosto", Value = "8"},
                                    new SelectListItem { Text = "Septiembre", Value = "9"},
                                    new SelectListItem { Text = "Octubre", Value = "10"},
                                    new SelectListItem { Text = "Noviembre", Value = "11"},
                                    new SelectListItem { Text = "Diciembre", Value = "12"}
                                    
                                }, "Select Mes") 
                            </div>
                         


                            <div class="input-group date col-sm-4 pull-right " style="margin-top:-2px;">
                               
                              <a href="@Url.RouteUrl(new {Controller="ProcesoCobros",action="Datos" })" class="btn btn-primary pull-right btn-lg">Procesar</a>
                            </div>

                        </div>
                    </div>

                    <div class="box-content">
                    <table class="table  table-bordered bootstrap-datatable datatable">
                        <thead role="row" class="tab-header">
                            <tr>
                                 <th style="width:auto" class="sorting">Franquiciado</th>
                                <th style="width:auto" class="sorting_asc" role="columnheader">Servicio</th>
                                <th style="width:auto" class="sorting">Camión</th>
                                <th style="width:auto" class="sorting">Numero Retiro</th>
                                <th style="width:auto" class="sorting">Monto Calculado</th>
                            </tr>
                        </thead>
                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                             @if (Model != null)
                                {
                                    foreach (var c in Model)
                                    {
                                        <tr class="odd"
                                            @*@if (c.restricciones.Count>0) 
                                            {
                                            @Html.Raw("style=\"background:#FFC3C3 !important;\" title=\"Este camion tiene restricciones\"") }*@>
                                            <td>@c.razon_social</td>
                                            <td>@c.tipo_servicio</td>
                                            <td>@c.camion</td>
                                            <td>@c.valor_tarifa</td>
                                            <td>@c.valor_tarifa</td>
                                            <td>
                                                @*@if (c.nombre_franquiciado != null)
                                                { @c.nombre_franquiciado}*@
                                            </td>
                                   
                                        </tr>
                                    }
                             }
                        </tbody>
                    </table>
                </div>
                </div>
            </div>

       
        </div>

    </div>


</div>

 




<div style="display:none" id="wrapper-success"><a class="btn btn-success drag"><i class="icon-check"></i></a></div>

@section scripts{

   
    <script src="~/Scripts/fx/pages/common/funcionesHDR.js"></script>
    <script src="~/Scripts/fx/pages/rutas_modelo/controller.js"></script>

}
