﻿@model SGS.Models.residuos
@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

<script type="text/javascript">
    $(function () {
        console.log($('#densidad'));
        $('#densidad').blur(function(){
            $(this).val($(this).val().replace('.', ','));
        });
    });

</script>

<div id="content" class="col-lg-10 col-sm-11 ">

    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Residuos",Url.RouteUrl(new {Controller="Residuos",Action="Index"})},
                            {"Agregar Residuos",Url.RouteUrl(new {Controller="Residuos",Action="Create"})}
                            })
            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="icon-plus-sign"></i><span class="break"></span>Agregar Residuos</h2>
                    <a href="@Url.RouteUrl(new { Controller = "Residuos", Action = "Index" })" class="btn btn-primary pull-right btn-lg">Volver al listado</a>
                </div>

                <div class="box-content">
                  
                    @using (Html.BeginForm("Create","Residuos")){
                        <fieldset class="col-sm-12">
                            <div class="form-group">
                                @if (Model != null && Model.id_residuo != 0)
                                {
                                    @Html.HiddenFor(m => m.id_residuo)
                                }
                                <label class="control-label pull-left label-see">Residuo</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.residuo, new { @class = "form-control pull-right" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.residuo)</label>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Unidad de Medida</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.um_residuo, new { @class = "form-control pull-right" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.um_residuo)</label>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Densidad</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.densidad, new { @class = "form-control pull-right" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.densidad)</label>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Tiempo de Acopio</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.tiempo_acopio, new { @class = "form-control pull-right" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.tiempo_acopio)</label>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
                            </div>
                        </fieldset>
                    }

                </div>
            </div>
        </div>

    </div>


</div>

