﻿@{

    Layout = "~/Views/Shared/_main_layout.cshtml";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fx/pages/camiones.js")"></script>
}

<div id="content" class="col-lg-12 col-sm-11  ">
    <div class="row">
        <div class="col-lg-12 col-md-9">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Residuos",Url.RouteUrl(new {Controller="Residuos",Action="Index"})}
                            })
            <div class="box">
                <div class="box-header" data-original-title>
                    <h2><i class="icon-user"></i><span class="break"></span>Modulo Residuos</h2>

                    <a href="@Url.RouteUrl(new { Controller="Residuos",Action="Create"})" class="btn btn-primary pull-right btn-lg">Agregar Residuos</a>
                </div>
                <div class="box-content">
                    <table class="table table-striped table-bordered bootstrap-datatable datatable">
                        <thead role="row" class="tab-header">
                            <tr>
                                <th style="width:auto" class="sorting_asc" role="columnheader">ID</th>
                                <th style="width:auto" class="sorting">Residuos</th>
                                <th style="width:auto" class="sorting">Unidad de Medida</th>
                                <th style="width:auto" class="sorting">Densidad</th>
                                <th style="width:auto" class="sorting">Tiempo de Acopio</th>
                                <th style="width:auto">acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var m in Model)
                            {
                                <tr>
                                    <td>@m.id_residuo</td>
                                    <td>@m.residuo</td>
                                    <td>@m.um_residuo</td>
                                    <td>@m.densidad</td>
                                    <td>@m.tiempo_acopio</td>
                                    <td>
                                        <a class="btn btn-info" href="@Url.RouteUrl(new { Controller = "Residuos", Action = "Edit", Id = m.id_residuo })" title="Editar"><i class="icon-edit"></i></a>
                                        <a class="btn btn-danger" onclick="return confirm('Estas seguro(a) que deseas eliminar @m.residuo ?');" href="@Url.RouteUrl(new { Controller = "Residuos", Action = "Delete", Id = m.id_residuo })" title="Eliminar"><i class="icon-trash "></i></a>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--/col-->
    </div><!--/row-->
</div>
