﻿@{
    Layout = null;
    Response.AddHeader("Content-type", "application/vnd.ms-excel");
    Response.AddHeader("Content-Disposition", "attachment; filename=Reporte_costos.xls");
}
<table border="1">
    <tr>
        <th>id</th>
        <th>fecha corta</th>
        <th>Nombre Punto</th>
        <th>Sistema</th>
        <th>Camion</th>
        <th>Franquiciado</th>
        <th>Conductor</th>
        <th>Estado Punto</th>
        <th>Relleno</th>
        <th>Cantidad</th>
        <th>Bruto</th>
        <th>Pago</th>
        <th>Margen</th>
        <th>Margen Porciento</th>
        <th>ID Hoja de ruta</th>
        <th>ID Punto Servicio</th>
        <th>Fecha Completa</th>
    </tr>
    <tbody>
        @foreach (var m in Model)
        {

            <tr>
                <td>@m.idData</td>
                <td>@m.fechacorta</td>
                <td>@m.nombre_punto</td>
                <td>@m.sistema</td>
                <td>@m.camion</td>
                <td>@m.franquiciado</td>
                <td>@m.conductor</td>
                <td>@m.estadopunto</td>
                <td>@m.relleno</td>
                <td>@m.cantidad</td>
                <td>@m.bruto</td>
                <td>@m.Pago</td>
                <td>@m.Margen</td>
                <td>@m.MargenPorc</td>
                <td>@m.id_hoja_ruta</td>
                <td>@m.id_punto_servicio</td>
                <td>@m.fechaFull</td>
            </tr>

        }
    </tbody>
</table>