﻿@{
    string token = Guid.NewGuid().ToString();
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script type="text/javascript">
        $(function () {
            var vista = $("#@token");

            $('.datepicker').datepicker();

            var paginar = (function () {
                vista.find('.datatable')
                    .dataTable({
                        "sDom": "<'row'<'col-lg-6'l><'col-lg-6'f>r>t<'row'<'col-lg-12'i><'col-lg-12 center'p>>",
                        "sPaginationType": "bootstrap",
                        "oLanguage": {
                            "sLengthMenu": "_MENU_ Registros por pagina"
                        }
                    });
            });

            paginar();

            vista.find('a[data-action="exportar"]:first')
                .click(function () {

                    var periodo = vista.find('#periodo');
                    var id_cliente = vista.find('#id_cliente');
                    var idFormatoExportacion = vista.find('#FormatoExportacion');
                    if (Fwk.Validation.Validate('Ingreso')) {
                        window.location.href = "@Url.Action("Generar", "ReporteUnificado")" +
                            "?&periodo=" +
                            periodo.val() +
                            "&idCliente=" +
                            id_cliente.val() +
                            "&idFormatoExportacion=" +
                            idFormatoExportacion.val();
                    }
                });
        });
    </script>
}
<div id="content" class="col-lg-12 col-sm-11  ">
    <div id="@token">
        <div class="row">
            <div class="col-lg-12 col-md-9">
                @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Módulo Reporte Unificado",Url.RouteUrl(new {Controller="ReporteUnificado",Action="index"})}
                            })

                <div class="box">
                    <div class="row" style="margin-bottom: 13px;">
                        <label class="control-label pull-left label-see">Período</label>
                        <div class="input-group date col-sm-3" style="width: 200px;">
                            <span class="input-group-addon"><i class="icon-calendar"></i></span>
                            <input id="periodo" type="text" data-date-format="dd/mm/yyyy" class="form-control datepicker" style="width: 210px;" placeholder="Fecha Inicio"
                                   data-val-rules="required" data-val-for="self" data-val-group="Ingreso">
                        </div>
                    </div>

                    <div class="row" style="margin-bottom: 13px;">
                        <label class="control-label pull-left label-see">Cliente</label>
                        <div class="input-group col-sm-5">
                            @Html.DropDownList("Clientes", ViewBag.clientes as IEnumerable<SelectListItem>, "---Seleccione Cliente---", new { @class = "form-control", Id = "id_cliente", data_val_rules = "required", data_val_for = "self", data_val_group = "Ingreso" })
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row">
                        <label class="control-label pull-left label-see">Formato Exportacion</label>
                        <div class="input-group col-sm-5">
                            <select id="FormatoExportacion" class="form-control">
                                <option value="1" selected="selected">PDF</option>
                                <option value="2" selected="selected">EXCEL</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <a type="button" class="btn btn-lg pull-right btn-success" data-action="exportar" href="#" target="_blank">Generar Reporte Unificado</a>
                </div>
            </div>
        </div>
    </div>
</div>