﻿@{
    Layout = null;
    Response.AddHeader("Content-type", "application/vnd.ms-excel");
    Response.AddHeader("Content-Disposition", "attachment; filename=contratos.xls");
}

<table border="1">
    <tr>
    <tr>
        <th style="width:auto" class="sorting_asc" role="columnheader">ID</th>
        <th style="width:auto" class="sorting">Tipo Contrato</th>
        <th style="width:auto" class="sorting">Razon Social</th>
        <th style="width:auto" class="sorting">Sucursal</th>
        <th style="width:auto" class="sorting">Fecha Inicio</th>
        <th style="width:auto" class="sorting">Fecha Renovacion</th>
        @*<th style="width:auto" class="sorting">Acciones</th>*@
    </tr>
    </tr>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.id_contrato</td>
                <td>@m.tipo_contrato</td>
                <td>@m.razon_social</td>
                <td>@m.sucursal</td>
                <td>@m.fecha_inicio</td>
                <td>@m.fecha_renovacion</td>
        
            </tr>
        }
    </tbody>
</table>