﻿@{
    
    Layout = "~/Views/Shared/_main_ViewLayout.cshtml";
}

                <div class="box">
                    <div class="box-header" data-original-title="">
                        <h2><i class="icon-camera"></i><span class="break"></span>Cliente:   @Model.razon_social</h2>
                    </div>

                    <div class="box-content">
                        <h3 class="header-see">Datos del Cliente</h3>
                        <table class="table table-bordered table-hover table-striped">
                            <tr>
                                <td>Tipo de Contrato</td>
                                <td>@Model.tipo_contrato</td>
                            </tr>
                            <tr>
                                <td>Sucursal</td>
                                <td>@Model.sucursal</td>
                            </tr>  
                            <tr>
                                <td>Fecha de Inicio</td>
                                <td>@Model.fecha_inicio</td>
                            </tr>  
                             <tr>
                                <td>Fecha de Renovacion</td>
                                <td>@Model.fecha_renovacion</td>
                            </tr>
                              <tr>
                                <td>Estado</td>
                                <td>@Model.estado</td>
                            </tr>    
                        </table>

                        
<!--
                        <h3 class="header-see">Sucursales del Cliente</h3>
                        if(Model.sucursales.Count==0){
                        <p>No existen sucursales asociadas a este cliente.</p>
                        }else { 
                            
                        <table class="table table-bordered table-hover table-striped" >
                            <thead class="tab-header">
                            <th>Sucursal</th>
                            <th>Dirección</th>
                            <th>País</th>
                            <th>Región</th>
                            <th>Ciudad</th>
                            <th>Comuna</th>
                            </thead>

                            <tbody>
                               foreach(var s in Model.sucursales){
                                <tr>
                                    <td>s.sucursal</td>
                                    <td>s.direccion</td>
                                    <td>s.id_pais</td>
                                    <td>s.id_region</td>
                                    <td>s.id_ciudad</td>
                                    <td>s.id_comuna</td>
                                </tr>
                                 }
                                }

                            </tbody>
                        </table>-->
                        <br />
                        <br />
                        <div>
                         <a href="@Url.RouteUrl(new {Controller="Contratos",action="index" })" class="btn btn-primary pull-right btn-lg">Volver</a>
                        </div>
                    </div>
                </div>
       