﻿@{
    Layout = null;
    Response.AddHeader("Content-type", "application/vnd.ms-excel");
    Response.AddHeader("Content-Disposition", "attachment; filename=puntosservicios.xls");
}

<table border="1">
    <tr>
    <tr>
        <th style="width:auto" class="sorting_asc" role="columnheader">ID</th>
        <th style="width:auto" class="sorting">Punto</th>
        <th style="width:auto" class="sorting">N Contrato</th>
        <th style="width:auto" class="sorting">Estado</th>
        <th style="width:auto" class="sorting">Lunes</th>
        <th style="width:auto" class="sorting">Martes</th>
        <th style="width:auto" class="sorting">Miercoles</th>
        <th style="width:auto" class="sorting">Jueves</th>
        <th style="width:auto" class="sorting">Viernes</th>
        <th style="width:auto" class="sorting">Sabado</th>
        <th style="width:auto" class="sorting">Domingo</th>
        <th style="width:auto" class="sorting">ID Equipo</th>
        <th style="width:auto" class="sorting">Nombre contacto</th>
        <th style="width:auto" class="sorting">Email Contacto</th>
        <th style="width:auto" class="sorting">Celular Contacto</th>
        <th style="width:auto" class="sorting">Nombre Equipo</th>
        <th style="width:auto" class="sorting">Cantidad Equipos</th>
        <th style="width:auto" class="sorting">Vertedero</th>
        <th style="width:auto" class="sorting">Residuo</th>
        <th style="width:auto" class="sorting">Tipo Tarifa</th>
        


       
    </tr>
    </tr>
    <tbody>
        @foreach (var m in Model)
{
    <tr>
        <td>@m.id_punto_servicio</td>
        <td>@m.nombre_punto</td>
        <td>@m.id_contrato</td>
        <td>@m.estado_punto</td>
        <td>@m.lunes</td>
        <td>@m.martes</td>
        <td>@m.miercoles</td>
        <td>@m.jueves</td>
        <td>@m.viernes</td>
        <td>@m.sabado</td>
        <td>@m.domingo</td>
        <td>@m.id_equipo</td>
        <td>@m.nombre_contacto</td>
        <td>@m.email_contacto</td>
        <td>@m.celular_contacto</td>
        <td>@if (m.equipos != null){ @m.equipos.nom_nemo; }</td>
        <td>@m.cant_equipos</td>
        <td>@m.vertederos.vertedero</td>
        <td>@m.residuos.residuo  @m.residuos.um_residuo</td>
        <td>@m.tipo_tarifa.tipo_tarifa1</td>
    </tr>

}
    </tbody>
</table>