﻿@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}


@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fx/pages/camiones.js")"></script>
<script>

    Shadowbox.init();

</script>

}

<div id="content" class="col-lg-12 col-sm-11  ">
  
    <div class="row">
        <div class="col-lg-12 col-md-9">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"PuntosServicios",Url.RouteUrl(new {Controller="PuntosServicios",Action="Index"})}
                            })
            <div class="box">
                <div class="box-header" data-original-title>
                    <h2><i class="icon-truck"></i><span class="break"></span>Modulo de Puntos de Servicios</h2>
                    <a class="btn btn-lg pull-right btn-success" href="@Url.RouteUrl(new { Controller = "PuntosServicios", action = "Excel" })">Excel</a>
                    <a href="@Url.RouteUrl(new { Controller="PuntosServicios",Action="Create"})" class="btn btn-primary pull-right btn-lg">Agregar Punto Servicio</a>
                </div>

                <div class="box-content">
                    <table class="table table-striped table-bordered bootstrap-datatable datatable">
                        <thead role="row" class="tab-header">
                            <tr>
                                <th style="width:auto" class="sorting_asc" role="columnheader">ID</th>
                                <th style="width:auto" class="sorting">Punto</th>
                                <th style="width:auto" class="sorting">Nº Contrato</th>
                                <th style="width:auto" class="sorting">Estado</th>
                                <th style="width:auto" class="sorting">Valor Tarifa</th>
                                <th style="width:auto" class="sorting">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var m in Model)
                            {
                            <tr>
                                <td>@m.id_punto_servicio</td>
                                <td>@m.nombre_punto</td>
                                <td>@m.id_contrato</td>
                                @if (@m.estado_punto == 1)
                                {
                                    <td><span class="label label-success">Activo</span></td>
                                }
                                else
                                {
                                    <td><span class="label label-danger">Inactivo</span></td>

                                }
                                <td>@m.valor_tarifa</td>
                                <td>
                                    <a class="btn btn-success" href="@Url.RouteUrl(new { Controller = "PuntosServicios", Action = "View", Id = m.id_punto_servicio })" rel="shadowbox" target="_blank" title="Ver punto de servicio"><i class="icon-zoom-in "></i></a>
                                    <a class="btn btn-info" href="@Url.RouteUrl(new { Controller = "PuntosServicios", Action = "Edit", Id = m.id_punto_servicio })" title="Editar"><i class="icon-edit"></i></a>
                                    @*<a class="btn btn-danger" onclick="return confirm('Estas seguro(a) que deseas eliminar @m.nombre_punto ?');" href="@Url.RouteUrl(new { Controller = "PuntosServicios", Action = "Delete", Id = m.id_punto_servicio })" title="Eliminar"><i class="icon-trash "></i></a>*@
                                </td>
                            </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--/col-->
        
    </div><!--/row-->
   
</div>

