﻿@{
    
    Layout = "~/Views/Shared/_main_ViewLayout.cshtml";
}

                <div class="box">
                    <div class="box-header" data-original-title="">
                        <h2><i class="icon-camera"></i><span class="break"></span>Punto de Servicio:  @Model.nombre_punto</h2>
                    </div>

                    <div class="box-content">
                        <h3 class="header-see">Datos del Punto</h3>
                        <table class="table table-bordered table-hover table-striped">
                            <tr>
                                <td><span class="btn btn-info">ID</span></td>
                                <td>@Model.id_punto_servicio</td>
                            </tr>
                            <tr>
                                <td><span class="btn btn-info">Estado</span></td>
                                @if (Model.estado_punto == 1) { 
                                <td><span class="label label-success">Activo</span></td>
                                }
                                else
                                {
                                    <td><span class="label label-danger">Inactivo</span></td>

                                }
                            </tr>
                            <tr>
                                <td><span class="btn btn-info">Equipos</span></td>
                                @if (@Model.cant_equipos != null) { 
                                <td>@Model.cant_equipos</td>
                                }
                                else { 
                                <td>No Especificado</td>
                                }
                            </tr>
                            <tr>
                                <td><span class="btn btn-info">Email Contacto</span></td>
                                @if (@Model.email_contacto != null)
                                {
                                    <td>@Model.email_contacto</td>
                                }
                                else
                                {
                                    <td>No Especificado</td>
                                }
                            </tr>
                            <tr>
                                <td><span class="btn btn-info">Lunes</span></td>
                                @if (@Model.lunes)
                                {
                                    <td><span class="label label-success">SI</span></td>
                                }
                                else
                                {
                                    <td><span class="label label-danger">NO</span></td>
                                }
                            </tr>
                            <tr>
                                <td><span class="btn btn-info">Martes</span></td>
                                @if (@Model.martes)
                                {
                                    <td><span class="label label-success">SI</span></td>
                                }
                                else
                                {
                                    <td><span class="label label-danger">NO</span></td>
                                }
                            </tr>
                            <tr>
                                <td><span class="btn btn-info">Miercoles</span></td>
                                @if (@Model.miercoles)
                                {
                                    <td><span class="label label-success">SI</span></td>
                                }
                                else
                                {
                                    <td><span class="label label-danger">NO</span></td>
                                }
                            </tr>
                            <tr>
                                <td><span class="btn btn-info">Jueves</span></td>
                                @if (@Model.jueves)
                                {
                                    <td><span class="label label-success">SI</span></td>
                                }
                                else
                                {
                                    <td><span class="label label-danger">NO</span></td>
                                }
                            </tr>
                            <tr>
                                <td><span class="btn btn-info">Viernes</span></td>
                               @if (@Model.viernes)
                               {
                                <td><span class="label label-success">SI</span></td>
                               }
                               else
                               {
                                <td><span class="label label-danger">NO</span></td>
                               }
                            </tr>
                            <tr>
                                <td><span class="btn btn-info">Sabado</span></td>
                               @if (@Model.sabado)
                               {
                                <td><span class="label label-success">SI</span></td>
                               }
                               else
                               {
                                <td><span class="label label-danger">NO</span></td>
                               }
                            </tr>
                            <tr>
                                <td><span class="btn btn-info">Domingo</span></td>
                                @if (@Model.domingo)
                                {
                                    <td><span class="label label-success">SI</span></td>
                                }
                                else
                                {
                                    <td><span class="label label-danger">NO</span></td>
                                }
                            </tr>
                            </table>
                           
                        <br />
 
                            </div>


                    </div>
                
       