﻿@{
    Layout = null;
    Response.AddHeader("Content-type", "application/vnd.ms-excel");
    Response.AddHeader("Content-Disposition", "attachment; filename=ReporteCobroFranquiciadoporCliente.xls");
}

<table border="1">
    <tr>
        <th>Cliente</th>
        <th>Rut</th>
        <th>Cobro</th>
        <th>Franquiciado</th>
        <th>Margen</th>
        <th>%</th>
    </tr>
    <tbody>
        @if (Model != null)
        {
            foreach (var m in Model)
            {
                <tr>
                    <td>@m.razon_social</td>
                    <td>@m.rut_cliente</td>
                    <td>@m.ValorTotal.ToString("#,##0")</td>
                    <td>@m.pagofranquiciado.ToString("#,##0")</td>
                    <td>@m.margen.ToString("#,##0")</td>
                    <td>@m.margenporcer</td>
                </tr>}
        }
    </tbody>
</table>