﻿@{
    Layout = null;
    Response.AddHeader("Content-type", "application/vnd.ms-excel");
    Response.AddHeader("Content-Disposition", "attachment; filename=" + @ViewBag.TitleIs);
}

<table border="1">
    <tr>
        <th>RUT</th>
        <th>Razon Social</th>
        <th>Cliente</th>
        <th>Sucursal</th>
        <th>Contrato</th>
        <th>Numero de Retiros</th>
        <th>Valor</th>
        <th>Fecha</th>
    </tr>
    <tbody>
        @foreach (var m in Model)
        {

            <tr>
                <td>@m.rut_cliente</td>
                <td>@m.razon_social</td>
                <td>@m.nombre_fantasia</td>
                <td>@m.Sucursal</td>
                <td>@m.id_contrato</td>
                <td>@m.Numero_Retiros.ToString("#,##0")</td>
                <td>@m.ValorTotal.ToString("#,##0")</td>
                <td>@m.Fecha</td>
            </tr>

        }
    </tbody>
</table>