﻿@{
    ViewBag.Title = "excelPuntos";
}
@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fx/pages/camiones.js")"></script>
}

<script src="/Scripts/jquery.2.1.js"></script>
<script src="/Scripts/jquery-ui.min.js"></script>
<script src="/Scripts/jquery.cookie.js"></script>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/style.min.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />
<link href="~/Content/retina.min.css" rel="stylesheet" />
<link href="~/Content/print.css" rel="stylesheet" type="text/css" media="print" />
<link href="~/Content/jquery-ui-1.10.3.custom.css" rel="stylesheet" type="text/css" media="screen" />
<link href="~/Content/custom.css" rel="stylesheet" type="text/css" media="screen" />
<link href="~/Content/alertify.core.css" rel="stylesheet" type="text/css" media="screen" />
<link href="~/Content/alertify.default.css" rel="stylesheet" type="text/css" media="screen" />
<link href="~/Content/shadowbox.css" rel="stylesheet" type="text/css" media="screen" />
<link href="~/Content/font-awesome.css" rel="stylesheet" type="text/css" media="screen" />

<div id="content" class="col-lg-12 col-sm-11  ">
    <div class="row">
        <div id="IDpdfPuntos" class="col-lg-12 col-md-9">
            <div class="box">
                @using (Html.BeginForm("pdfCheckBox", "CobroClientes", FormMethod.Post))
                {
                    <div class="box-header" data-original-title>
                        <h2><i class="icon-folder-close"></i><span class="break"></span>Reportes de Puntos</h2>
                    </div>
                    <div>
                        <table class="table table-striped table-bordered bootstrap-datatable datatable">
                            <tr>
                                <th>RUT</th>
                                <th>Razon Social</th>
                                <th>Cliente</th>
                                <th>Punto</th>
                                <th>Numero de Retiros</th>
                                <th>Valor</th>
                                <th>Periodo</th>
                                <th>Exportar</th>
                            </tr>
                            <tbody>
                                @foreach (var m in Model)
                                {
                                    <tr>
                                        <td>@m.rut_cliente</td>
                                        <td>@m.razon_social</td>
                                        <td>@m.nombre_fantasia</td>
                                        <td>@m.nombre_punto</td>
                                        <td align="right">@m.Numero_Retiros.ToString("#,##0")</td>
                                        <td align="right">@m.ValorTotal.ToString("#,##0")</td>
                                        <td>@string.Concat(string.Concat(m.Fecha.Substring(0, 2), "-"), m.Fecha.Substring(2, 4))</td>
                                        <td align="center">
                                            <a class="btn btn-default" href="@Url.RouteUrl(new { Controller = "CobroClientesHistorico", Action = "pdfLineaPunto", id_cliente = m.id_cliente, id_punto_servicio = @m.id_punto_servicio, Fecha = @m.Fecha, id_contra = @m.id_contrato, id_sucu = @m.id_sucursal})" target="_blank" title="Pdf"><i class="fa fa-file-pdf-o"></i></a>
                                            <a class="btn btn-default" href="@Url.RouteUrl(new { Controller = "CobroClientesHistorico", Action = "XLSLineaPunto", id_cliente = m.id_cliente, id_punto_servicio = @m.id_punto_servicio, Fecha = @m.Fecha, id_contra = @m.id_contrato, id_sucu = @m.id_sucursal})" target="_blank" title="Excel"><i class="fa fa-file-excel-o"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.2.1.js"></script>
<script src="~/Scripts/jquery-ui-1.10.3.custom.min.js"></script>
<script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/custom.min.js"></script>
<script src="~/Scripts/core.min.js"></script>
<script src="~/Scripts/alertify.js"></script>
<script src="~/Scripts/jquery.gritter.min.js"></script>
<script src="~/Scripts/jquery.noty.min.js"></script>
<script src="~/Scripts/bootstrap-datepicker.min.js"></script>
<script src="~/Scripts/shadowbox.js"></script>
<script type="text/javascript">
    function processResult(result) {
        alert(result.message);
    }
</script>















