﻿@model SGS.Models.sucursales
@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

<script src="/Scripts/jquery.2.1.js"></script>
<script src="/Scripts/jquery-ui.min.js"></script>
<script src="/Scripts/jquery.cookie.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        $.each($('input'), function (i, val) {
            if ($(this).attr("type") == "hidden") {
                var valueOfHidFiled = $(this).val().toString();
                if (valueOfHidFiled == 'EXISTE') {
                    alert("Error. La Sucursal ha sido ingresado previamente");
                    return false;
                };
            };
        });

    });

</script>

<div id="content" class="col-lg-10 col-sm-11 ">

    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Sucursales",Url.RouteUrl(new {Controller="Sucursales",Action="Index"})},
                            {"Agregar Sucursal",Url.RouteUrl(new {Controller="Sucursales",Action="Create"})}
                            })
            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="icon-plus-sign"></i><span class="break"></span>Cliente @ViewBag.ClieName Agregar Nueva Sucursal</h2>
                    <a href="@Url.RouteUrl(new {  Controller="Sucursales",Action="Index"})" class="btn btn-primary pull-right btn-lg">Volver al listado</a>
                </div>

                <div class="box-content">
                    @using (Html.BeginForm("createflow", "Sucursales"))
                    { 
                        <fieldset class="col-sm-12">
                            <div class="form-group">
                                @if (Model != null && Model.id_sucursal != 0)
                                {
                                    @Html.HiddenFor(m => m.id_sucursal)
                                }
                                <label class="control-label pull-left label-see">Cliente</label>
                                <div class="input-group col-sm-5" style="width:440px">
                                    @Html.DropDownListFor(m => m.id_cliente, ViewBag.Clientes as IEnumerable<SelectListItem>, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Sucursal</label>
                                <div class="input-group col-sm-5" style="width:440px">
                                    @Html.TextBoxFor(m => m.sucursal, new { @class = "form-control pull-right" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.sucursal)</label>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Descripción</label>
                                <div class="input-group col-sm-5" style="width:440px">
                                    @Html.TextBoxFor(m => m.descripcion, new { @class = "form-control pull-right" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.descripcion)</label>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">País</label>
                                <div class="input-group col-sm-5" style="width:440px">
                                    @Html.DropDownListFor(m => m.id_pais, ViewBag.Paises as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Región</label>
                                <div class="input-group col-sm-5" style="width:440px">
                                    @Html.DropDownListFor(m => m.id_region, ViewBag.Regiones as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Ciudad</label>
                                <div class="input-group col-sm-5" style="width:440px">
                                    @Html.DropDownListFor(m => m.id_ciudad, ViewBag.Ciudades as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label class="control-label pull-left label-see">Comunas</label>
                                <div class="input-group col-sm-5" style="width:440px" >
                                    @Html.DropDownListFor(m => m.id_comuna, ViewBag.Comunas as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label class="control-label pull-left label-see">Dirección</label>
                                <div class="input-group col-sm-5" style="width:440px" >
                                    @Html.DropDownList("tipo", null, new { @class = "form-control pull-left", @style = "width: 100px;" })  
                                    @Html.TextBox("direccion", null, new { @class = "form-control pull-left", @style = "width: 190px;", @placeholder = "Santa Rosa" })
                                    @Html.TextBox("numero_direccion", null, new { @class = "form-control pull-right", @maxlength = "6", @style = "width: 120px;", @placeholder = "1234" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessage("direccion")</label>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label class="control-label pull-left label-see">Zona</label>
                                <div class="input-group col-sm-5" style="width:440px">
                                    @Html.DropDownList("zonas", null, new { @class = "form-control pull-left" })
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Periodo de Cobro</label>
                                <div class="input-group col-sm-2">
                                    @Html.DropDownList("desde", null, new { @class = "form-control pull-right" }) 
                                </div>
                                <div class="input-group col-sm-2">
                                    @Html.DropDownList("hasta", null, new { @class = "form-control pull-right" }) 
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Estado</label>
                                <div class="input-group col-sm-5" style="width:440px">
                                    @Html.DropDownList("estado", null, new { @class = "form-control pull-left" }) 
                                </div>
                            </div>
                            <div class="clearfix"></div>

                           @* <div class="form-group">
                                <label class="control-label pull-left label-see">Rubro</label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownListFor(m => m.id_rubro, ViewBag.Rubros as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>*@

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
                            </div>
                        </fieldset>
                    }

                </div>
            </div>
        </div>
        <input type="hidden" value="@ViewBag.Error" id="idError" />
    </div>


</div>
