﻿@{
    Layout = null;
    Response.AddHeader("Content-type", "application/vnd.ms-excel");
    Response.AddHeader("Content-Disposition", "attachment; filename=sucursales.xls");
}

<table border="1">
    <tr>
        <th style="width:auto" class="sorting_asc">ID</th>
        <th style="width:auto" class="sorting">Sucursal</th>
        <th style="width:auto" class="sorting">Direccion</th>
        <th style="width:auto" class="sorting">Cliente</th>
        @*<th style="width:15%" class="sorting">Acciones</th>*@
    </tr>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.id_sucursal</td>
                <td>@m.sucursal</td>
                <td>@m.direccion</td>
                <td>@m.razon_social</td>
            </tr>

        }
    </tbody>
</table>