﻿@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fx/pages/camiones.js")"></script>

}

<div id="content" class="col-lg-12 col-sm-11  ">
   
    <div class="row">
        <div class="col-lg-12 col-md-9">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Sucursales",Url.RouteUrl(new {Controller="Sucursales",Action="Index"})}
                            })
            <div class="box">
                <div class="box-header" data-original-title>
                    <h2><i class="icon-truck"></i><span class="break"></span>Modulo Sucursales</h2>
                   
                    <a class="btn btn-lg pull-right btn-success" href="@Url.RouteUrl(new { Controller = "Sucursales", action = "Excel" })">Excel</a>
                   
    <a href="@Url.RouteUrl(new {  Controller="Sucursales",Action="Create"})" class="btn btn-primary pull-right btn-lg">Agregar Sucursal</a>
                </div>

                <div class="box-content">
                    <table class="table table-striped table-bordered bootstrap-datatable datatable">
                        <thead role="row" class="tab-header">
                            <tr>
                                <th style="width:auto" class="sorting_asc">ID</th>
                                <th style="width:auto" class="sorting">Sucursal</th>
                                <th style="width:auto" class="sorting">Direccion</th>
                                <th style="width:auto" class="sorting">Cliente</th>
                                <th style="width:15%" class="sorting">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var m in Model)
                            {
                                <tr>
                                    <td>@m.id_sucursal</td>
                                    <td>@m.sucursal</td>
                                    <td>@m.direccion</td>
                                    <td>@m.razon_social</td>
                                    <td>
                                        <a class="btn btn-success" href="@Url.RouteUrl(new { Controller = "Sucursales", Action = "View", Id = m.id_sucursal })" rel="shadowbox" target="_blank" title="Ver Sucursal"><i class="icon-zoom-in "></i></a>
                                       <a class="btn btn-info" href="@Url.RouteUrl(new { Controller = "Sucursales", Action = "Edit", Id = m.id_sucursal })" title="Editar"><i class="icon-edit"></i></a>
                                       <a class="btn btn-danger" onclick="return confirm('Estas seguro(a) que deseas eliminar a @m.sucursal  ?');" href="@Url.RouteUrl(new { Controller = "Sucursales", Action = "Delete", Id = m.id_sucursal })" title="Eliminar"><i class="icon-trash "></i></a>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--/col-->

    </div><!--/row-->
 
</div>


