﻿@model SGS.Models.herramientas
@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

<div id="content" class="col-lg-10 col-sm-11 ">

    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Herramientas",Url.RouteUrl(new {Controller="Herramientas",Action="Index"})},
                            {"Agregar Herramienta",Url.RouteUrl(new {Controller="Herramientas",Action="Create"})}
                            })
            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="icon-plus-sign"></i><span class="break"></span>Agregar Nueva Herramienta</h2>
                    <a href="@Url.RouteUrl(new { Controller="Herramientas",Action="Index"})" class="btn btn-primary pull-right btn-lg">Volver al listado</a>
                </div>

                <div class="box-content">
                    @using (Html.BeginForm("Create","Herramientas")){
                        <fieldset class="col-sm-12">
                            <div class="form-group">
                                @if (Model != null && Model.id_herramienta != 0)
                                {
                                    @Html.HiddenFor(m => m.id_herramienta)
                                }
                                    <label class="control-label pull-left label-see">Herramienta</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.herramienta, new { @class = "form-control pull-right" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.herramienta)</label>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Camión Asignado</label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownListFor(m => m.id_camion, ViewBag.camiones as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
                            </div>
                        </fieldset>
                    }

                </div>
            </div>
        </div>

    </div>


</div>