﻿@model SGS.Models.modelo_cobro
@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

@section css{
    
    <link href="~/Content/fx/pages/modelo_cobros.css" rel="stylesheet" />
    }

<div id="content" class="col-lg-10 col-sm-11 ">
    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Modelos de cobro",Url.RouteUrl(new {Controller="ModeloCobros",Action="Index"})},
                            {"Agregar Modelo de Cobro",Url.RouteUrl(new {Controller="ModeloCobros",Action="Create"})}
                            })
            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="icon-plus-sign"></i><span class="break"></span>Agregar Nuevo Modelo de Cobro</h2>
                    <a href="@Url.RouteUrl(new { Controller = "ModeloCobros", Action = "Index" })" class="btn btn-primary pull-right btn-lg">Volver al listado</a>
                </div>
                <div class="box-content">

                    @using (Html.BeginForm("AddNewModel", "ModeloCobros", FormMethod.Post, new { @id = "formulario" }))
                    {
                        <fieldset class="col-sm-12">
                            <div class="form-group">
                                @if (Model != null && Model.id_modelo != 0)
                                {
                                    @Html.HiddenFor(m => m.id_modelo)
                                }
                                <label class="control-label pull-left label-see">Nombre del Modelo</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.modelo, new { @id = "modeloId", @class = "form-control pull-right", @readonly = "readonly" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.modelo)</label>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Modalidad</label>
                                <div class="input-group col-sm-5">

                                    @Html.DropDownListFor(m => m.id_tipo_modelo, ViewBag.tipo_modelo as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                            <label class="control-label pull-left label-see">Punto de servicio</label>
                            <div class="input-group col-sm-5">
                                @Html.DropDownListFor(m => m.id_punto_servicio, ViewBag.punto_servicio as IEnumerable<SelectListItem>, new { @class = "form-control select2" })
                                @Html.Hidden("punto_servicio_value",(object)ViewBag.punto_servicio_value)
                            </div>
                            <label class="control-label red"></label>
                    </div>
                        <div class="clearfix"></div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg submit">Guardar</button>
                        </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts{

    @*<script src="~/Scripts/fx/pages/common/funcionesHDR.js"></script>*@
   @*<script src="~/Scripts/fx/pages/modelo_cobros.js"></script>*@

}
