﻿@model SGS.Models.modelo_cobro
@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

@section css{
    
<link href="~/Content/fx/pages/modelo_cobros.css" rel="stylesheet" />

}

<script src="/Scripts/jquery.2.1.js"></script>
<script src="/Scripts/jquery-ui.min.js"></script>
<script src="/Scripts/jquery.cookie.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $.each($('input'), function (i, val) {
            if ($(this).attr("type") == "hidden") {
                var valueOfHidFiled = $(this).val().toString();
                if (valueOfHidFiled == '-777') {
                    $('BtnAddDeta').prop('disabled', true);
                    alert("Error. Ingreso de Modelo de Cobro");
                    alert("Error. El de Modelo de Cobro existe previamente");
                    return false;
                };
            };
        });

        $.each($('input'), function (i, val) {
            if ($(this).attr("type") == "hidden") {
                var valueOfHidFiled = $(this).val().toString();
                if (valueOfHidFiled == '15834') {
                    alert("El Modelo de Cobro ha sido ingresado");
                    return false;
                };
            };
        });

        $("#tipo_modalidad").change(function () {
            var mesis = $("#tipo_modalidad").val();
            $("#TipoModa").val(mesis);
        });

        $.each($('input'), function (i, val) {
            if ($(this).attr("type") == "hidden") {
                var valueOfHidFiled = $(this).val().toString();
                if (valueOfHidFiled == '-987') {
                    alert("Debe seleccionar el Tipo de Modalidad");
                    return false;
                };
            };
        });

    });
</script>

<div id="content" class="col-lg-10 col-sm-11 ">
    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Modelos de cobro",Url.RouteUrl(new {Controller="ModeloCobros",Action="Index"})},
                            {"Agregar Modelo de Cobro",Url.RouteUrl(new {Controller="ModeloCobros",Action="Create"})}
                            })
            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="icon-plus-sign"></i><span class="break"></span>Agregar Nuevo Modelo de Cobro   a  </h2>
                    <a href="@Url.RouteUrl(new { Controller = "ModeloCobros", Action = "Index" })" class="btn btn-primary pull-right btn-lg">Volver al listado</a>
                </div>
                <div class="box-content">
                    @using (Html.BeginForm("AddNewModel", "ModeloCobros", FormMethod.Post, new { @id = "HeadModel" }))
                    {
                    <fieldset class="col-sm-12">
                        <div class="form-group">
                            @if (Model != null && Model.id_modelo != 0)
                                {
                                @Html.HiddenFor(m => m.id_modelo)
                                <input type="hidden" value="" id="data" />
                                }
                            <label class="control-label pull-left label-see">Nombre del Modelo</label>
                            <div class="input-group col-sm-5">
                                @Html.TextBox("xxx", " " + (string)@ViewBag.data, new { @readonly = "readonly", @class = "form-control pull-right"})
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group">
                            <label class="control-label pull-left label-see">Modalidad</label>
                            <div class="input-group col-sm-5">
                                @Html.DropDownListFor(m => m.id_tipo_modelo, ViewBag.tipo_modelo as IEnumerable<SelectListItem>, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group">
                            <label class="control-label pull-left label-see">Punto de servicio</label>
                            <div class="input-group col-sm-5">
                                @Html.DropDownListFor(m => m.id_punto_servicio, ViewBag.punto_servicio as IEnumerable<SelectListItem>, new { @class = "form-control select2" })
                                @Html.Hidden("punto_servicio_value",(object)ViewBag.punto_servicio_value)
                            </div>
                            <label class="control-label red"></label>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary pull-left btn-lg submit" style="margin-right:5px">Guardar</button>
                        </div>
                    </fieldset>
                    }
                </div>
            </div>
        </div>
        <input type="hidden" value="@ViewBag.hdnFlag" id="hdnFlag" />
        <input type="hidden" value="" id="ModeloIdJob" />
   </div>
   <div class="col-lg-12">
       <div class="row">
           @if (@ViewBag.id_modelo_cobro != null)
           {
               <div class="box">
                   <div class="box-header" data-original-title="">
                       <h2><i class="icon-plus-sign"></i><span class="break"></span>Detalle Modelo de Cobro</h2>
                   </div>
                   <div class="box-content">
                       @using (Html.BeginForm("DetailsModel", "ModeloCobros", FormMethod.Post, new { id = "DetaForm" }))
                       {
                           <fieldset class="col-sm-12">
                               @Html.Hidden("idModCob", ViewBag.id_modelo_cobro as object)
                               @Html.Hidden("TipoModa")&nbsp;
                               @Html.Hidden("Error")&nbsp;
                               @Html.Hidden("nombrepto")&nbsp;
                               @Html.Hidden("idpto")&nbsp;
                               <div class="form-group">
                                   <label class="control-label">modalidad</label>
                                   <div class="controls row">
                                       <div class="input-group col-sm-5">
                                           @Html.DropDownList("tipo_modalidad")&nbsp;
                                       </div>
                                   </div>
                               </div>

                               <div class="form-group">
                                   <label class="control-label">Valor</label>
                                   <div class="controls row">
                                       <div class="input-group col-sm-3">
                                           @Html.TextBox("valor")&nbsp;
                                       </div>
                                   </div>
                               </div>
                               <div class="controls row">
                                   <div class="input-group col-sm-5">
                                       @Html.DropDownList("id_moneda", ViewBag.tipo_moneda as IEnumerable<SelectListItem>, new { @class = "form-control", @Id = "value" })
                                       @*<label>@Html.CheckBox("uf", new { @id = "chkUF" }) UF </label>*@
                                   </div>
                               </div>
                               <div class="form-group">
                                   <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
                               </div>
                           </fieldset>
                       }
                       <div class="box-header" data-original-title="">
                           <h2><i class="icon-plus-sign"></i><span class="break"></span>Modelos Asignados</h2>
                       </div>
                       @if (ViewBag.mcobrosdetalles.Count > 0)
                       {
                           <table class="table table-bordered table-hover table-striped">
                               <tr style="background: #1B82C1;font-weight: bold;">
                                   <td>Tipo Modalidad</td>
                                   <td>Valor</td>
                                   <td>Eliminar</td>
                               </tr>
                               @foreach (var mc in ViewBag.mcobrosdetalles)
                               {
                                   <tr>
                                       <td>@mc.tipo_modalidad1</td>
                                       <td>@mc.valor</td>
                                       <td><a class="btn btn-danger" href="@Url.RouteUrl(new { Controller = "ModeloCobros", Action = "DeleteModeloTipoId", Id = mc.id_modelo_cobro_detalle, id2 = mc.id_modelo_cobro })" title=" borrar detalle modelo de cobro"><span class="label label-important">Eliminar </span></a></td>
                                   </tr>
                               }
                           </table>
                       }
                       else
                       {
                       }
                   </div>
               </div>
           }
       </div>

   </div>
</div>

@section scripts{
    @*<script src="~/Scripts/fx/pages/common/funcionesHDR.js"></script>*@
    @*<script src="~/Scripts/fx/pages/modelo_cobros.js"></script>*@
}
