﻿@{
    Layout = null;
    Response.AddHeader("Content-type", "application/vnd.ms-excel");
    Response.AddHeader("Content-Disposition", "attachment; filename=modelocobro.xls");
}

<table border="1">
    <tr>
        <th style="width:auto" class="sorting_asc" role="columnheader">Cliente</th>
        <th style="width:auto" class="sorting">Punto servicio</th>
        <th style="width:auto" class="sorting">Modelo</th>
        <th style="width:auto" class="sorting">Tipo modelo</th>
        <th style="width:auto" class="sorting">Tipo de servicio</th>
        <th style="width:auto" class="sorting">Tipo Modalidad </th>
        <th style="width:auto" class="sorting">Valor </th>
        <th style="width:auto" class="sorting"> Tipo Moneda </th>


    </tr>
    <tbody>
        @foreach (var m in Model.tabla)
        {
            <tr>
                <td>@m.cliente </td>
                <td>@m.nombrePuntoServicio</td>
                <td>@m.nombreModelo</td>
                <td>@m.tipoModelo</td>
                <td>@m.tiposervicio</td>
                <td>@m.tipoModalidad</td>
                <td>@m.valor</td>
                <td>@m.tipopago</td>


            </tr>

        }
    </tbody>
</table>