﻿@*
    Empresa: valentys
    Fecha : 08-07-2015
    Descripción: lista con el historial de reajustes.
*@
@model List<SGS.Models.TB_HIS_MODELO_COBRO_DETALLE>

@if (Model.Count > 0)
{
    <div style="margin-left:10px;margin-right:10px;">
        <h3 style="font-weight: bold;">Historial de Reajustes.</h3>

        <table class="table table-striped table-bordered bootstrap-datatable datatable">
            <thead role="row" class="tab-header">
                <tr>
                    <th style="width:auto" class="sorting_asc" role="columnheader">Fecha Realización</th>
                    <th style="width:auto" class="sorting">Factor</th>
                    <th style="width:auto" class="sorting">Valor Antes de Reajustar</th>
                    <th style="width:auto" class="sorting">Mes Reajuste</th>
                    <th style="width:auto" class="sorting">Año Reajuste</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model)
                {
                    <tr>
                        <td>@m.HMCD_FECHA</td>
                        <td>@m.HMCD_REAJUSTE</td>
                        <td>@m.HMCD_VALOR.ToString("N0")</td>
                        <td><span style="text-transform: capitalize">@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(Convert.ToInt32(m.HMCD_MES))</span></td>
                        <td>@m.HMCD_ANIO</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <text>No se encontraron resultados</text>
}