﻿@*
    Empresa: valentys
    Fecha : 09-07-2015
    Descripción: contenedor principal del historico de reajuste.
*@
@model List<SGS.Models.SP_SEL_HistorialReajuste_Result>
@{
    string token = Guid.NewGuid().ToString();
}
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script type="text/javascript">
        $(function () {
            var vista = $("#@token");

            var paginar = (function () {
                vista.find('.datatable').dataTable({
                    "sDom": "<'row'<'col-lg-6'l><'col-lg-6'f>r>t<'row'<'col-lg-12'i><'col-lg-12 center'p>>",
                    "sPaginationType": "bootstrap",
                    "oLanguage": {
                        "sLengthMenu": "_MENU_ Registros por pagina"
                    }
                });
            });

            paginar();

            vista.find('button[data-action="Buscar"]:first').click(function () {
                var option = vista.find('select[data-name="period"] option:selected');
                $page.ajax({
                    url: "@Url.Action("buscar", "ReporteHistoricoReajuste")" + "?mes=" + option.data("mes") + "&anio=" + option.data("anio"),
                    datatype: 'html',
                    success: function (data) {
                        vista.find('div.box-content').html(data);
                        paginar();
                        if (option.data("mes") > 0) {
                            var formatter = new Intl.DateTimeFormat("es-CL", { month: "long" });
                            month = formatter.format(new Date("2015-" + option.data("mes") + "-01"));
                            spanMonth = vista.find('span[data-name="month"]:first');
                            spanMonth.html(month);
                            spanMonth.data("numbermonth", option.data("mes"));
                            spanYear = vista.find('span[data-name="year"]:first')
                            spanYear.html(option.data("anio"));
                            spanYear.data("numberyear", option.data("anio"));
                            vista.find('button[data-action="reversar"]:first').show();
                        } else {
                            vista.find('button[data-action="reversar"]:first').hide();
                        }                        
                        if (option.data("mes") == -1 && option.data("anio") == -1) {
                            vista.find('button[data-action="reversar"]:first').hide();
                        } else {
                            vista.find('button[data-action="reversar"]:first').show();
                        }
                    }
                });
            });

            //reversa un reajuste
            vista.find('button[data-action="reversar"]:first').click(function () {
                debugger;
                spanMonth = vista.find('span[data-name="month"]:first');
                spanYear = vista.find('span[data-name="year"]:first')
                var formatter = new Intl.DateTimeFormat("es-CL", { month: "long" });
                month = formatter.format(new Date("2015-" + spanMonth.data("numbermonth") + "-01"));
                var mensaje = "Este proceso eliminará la historia de reajustes desde " + month + " del " + spanYear.data("numberyear") + " hacia adelante, ¿Esta seguro que desea continua?";
                $page.ajax({
                    url: "@Url.Action("confirm", "ReporteHistoricoReajuste")" + "?mensaje=" + mensaje,
                    datatype: 'html',
                    success: function (data) {
                        Shadowbox.open({
                            content: data,
                            player: "html",
                            title: "insertar",
                            height: 200,
                            width: 550,
                        });
                    }
                });
            });

            //boton procesar del modal de confirmación.
            var body = vista.closest('body');
            body.off('click', 'button[data-action="process"]:first');
            body.on('click', 'button[data-action="process"]:first', function () {
                spanMonth = vista.find('span[data-name="month"]:first');
                spanYear = vista.find('span[data-name="year"]:first')
                $page.loading_all.show("Reversando...");
                $page.ajax({
                    url: "@Url.Action("reversar", "ReporteHistoricoReajuste")" + "?mes=" + spanMonth.data("numbermonth") + "&anio=" + spanYear.data("numberyear"),
                    data: $(this).closest('form').serialize(),
                    datatype: "json",
                    success: function (result) {
                        if (result == -1) {
                            window.location.href = "@Url.Action("index", "ReporteHistoricoReajuste")";
                        }
                        $page.loading_all.hide();
                    }
                });

            });

            //evento click en el historial
            vista.find('div.box-content').on('click', 'a[data-action="historial"]', function () {
                var tr = $(this).closest('tr');
                var codigo = tr.data("codigo");
                $page.ajax({
                    url: "@Url.Action("historial", "Reajuste")" + "?codigo=" + codigo,
                    datatype: 'html',
                    success: function (data) {
                        Shadowbox.open({
                            content: data,
                            player: "html",
                            title: "insertar",
                            height: 500,
                            width: 550,
                        });
                    }
                });
            });

        });
    </script>

}

<div id="content" class="col-lg-12 col-sm-11  ">
    <div id="@token">
        @*@if (User.IsInRole("conCon"))
        {*@
            <div class="row">
                <div class="col-lg-12 col-md-9">
                    @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Historico Reajuste",Url.RouteUrl(new {Controller="ReporteHistoricoReajuste",Action="index"})}
                            })
                    <div style="margin-bottom: 13px;">
                        <label>Seleccione Reajuste: </label>
                        <select data-name="period">
                            <option data-mes="-1" data-anio="-1">
                                Todos
                            </option>
                            @{
            Int32 count = 0;
            foreach (SGS.Models.SP_SEL_HistorialPeriodo_Result item in (List<SGS.Models.SP_SEL_HistorialPeriodo_Result>)ViewBag.period)
            {
                <option data-mes="@item.HMCD_MES" data-anio="@item.HMCD_ANIO" @if (count == 0) { <text> selected </text>      }>
                    @System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(item.HMCD_MES) - @item.HMCD_ANIO
                </option>
                                @(count = 1)
            }
                            }
                        </select>
                        <button type="button" class="btn btn-success btn-lg" data-action="Buscar">Buscar</button>
                    </div>

                    <div class="box">
                        <div class="box-header" data-original-title>
                            <h2><i class="icon-folder-close"></i><span class="break"></span>Historico de Reajuste</h2>
                            @if (User.IsInRole("ResporteReajusteHistoricoReversar"))
                            {
                                <button type="button" class="btn btn-danger pull-right btn-lg" data-action="reversar">
                                    Reversar a
                                    @{
                                List<SGS.Models.SP_SEL_HistorialPeriodo_Result> lstPeriod = (List<SGS.Models.SP_SEL_HistorialPeriodo_Result>)ViewBag.period;
                                if (lstPeriod.Count() > 0)
                                {
                                    <span data-name="month" data-numbermonth="@lstPeriod[0].HMCD_MES" style="text-transform: capitalize">@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(lstPeriod[0].HMCD_MES)</span> <text> del </text>
                                        <span data-name="year" data-numberyear="@lstPeriod[0].HMCD_ANIO" style="text-transform: capitalize"> @lstPeriod[0].HMCD_ANIO </span>
                                }
                                    }
                                </button>
                            }
                        </div>
                        <div class="box-content">
                            @Html.Partial("listHistorico", Model)
                        </div>
                    </div>
                </div><!--/col-->

            </div><!--/row-->
          @*}*@
    </div>
</div>
