﻿
<div class="box">
    <div class="box-header" data-original-title>
        <h2>
            <i class="icon-user"></i><span class="break"></span>Modulo Reporte Unificado
        </h2>
    </div>
    <div class="box-content">
        <div class="form-group">
            <label class="control-label pull-left label-see">Cliente</label>
            <div class="input-group col-sm-5">
                @Html.DropDownList("Clientes", ViewBag.clientes as IEnumerable<SelectListItem>, "---Seleccione Cliente---", new { @class = "form-control" })
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
