﻿@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_main_layout.cshtml";
    String token = Guid.NewGuid().ToString();
}

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
}

<script type="text/javascript">
    $(function () {
        Shadowbox.init({
            skipSetup: true,
            enableKeys: false,
            onFinish: function() {
                return false;
            }
        });
        var vista = $("#@token");

        var clientes = vista.find("#Clientes");

        var showModal = (function (id) {
            $.ajax({
                url: "/ServiciosReporte/Create",
                data: {
                    id: id
                },
                type: "POST",
                cache: false,
                success: function (data) {
                    Shadowbox.open({
                        content: data,
                        player: "html",
                        title: "insertar",
                        width: 850,
                        height: 330,
                        enableKeys: false,
                        options: {
                            modal: true,
                            onClose: function () {
                            }
                        },
                        onFinish: function() {
                        return false;
                    }
                    });
                    setTimeout(function () {
                        $('#btnSave').click(function () {
                            var orden = $('#ordenItem');
                            if (orden.val() == null || orden.val() === "") {
                                orden.focus();
                                return false;
                            }

                            var nombre = $('#nombreItem');
                            if (nombre.val() == null || nombre.val() === "") {
                                nombre.focus();
                                return false;
                            }

                            var idUmb = $('#umbList').find("option:selected").val();
                            var idCliente = vista.find("#Clientes").find("option:selected").val();
                            var varShowsManejoDris = $('#chkShowsManejoDris').is(":checked");                         

                            $.ajax({
                                url: "/ServiciosReporte/SaveCurrentReportItem",
                                data: {
                                    idCliente: idCliente,
                                    idReportItem: id,
                                    orden: orden.val(),
                                    nombre: nombre.val(),
                                    idUmb: idUmb,
                                    varShowsManejoDris: varShowsManejoDris
                                },
                                type: "POST",
                                cache: false,
                                success: function () {
                                    Shadowbox.close();
                                    getReportItemList(idCliente);
                                    getPointOfServiceList(idCliente);
                                },
                                beforeSend: function () {
                                    console.log("beforeSend");
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    console.log(jqXHR);
                                    console.log(textStatus);
                                    console.log(errorThrown);
                                },
                                complete: function () {
                                    console.log("complete");
                                }
                            });
                        });
                    }, 1200);
                },
                beforeSend: function () {
                    console.log("beforeSend");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                    console.log(textStatus);
                    console.log(errorThrown);
                },
                complete: function () {
                    console.log("complete");
                }
            });
        });

        clientes.change(function () {
            var idCliente = $(this).find("option:selected").val();
            getReportItemList(idCliente);
            getPointOfServiceList(idCliente);
        });

        function getReportItemList(idCliente) {
            $.ajax({
                url: "/ServiciosReporte/ReportItem",
                data: {
                    idCliente: idCliente
                },
                type: "POST",
                cache: false,
                success: function (data) {
                    vista.find("#dvItem").html(data);
                },
                beforeSend: function () {
                    console.log("beforeSend");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                    console.log(textStatus);
                    console.log(errorThrown);
                },
                complete: function () {
                    console.log("complete");
                }
            });
        }

        function getPointOfServiceList(idCliente) {
            $.ajax({
                url: "/ServiciosReporte/PointServices",
                data: {
                    idCliente: idCliente
                },
                type: "POST",
                cache: false,
                success: function (data) {
                    vista.find("#dvPuntoServicio").html(data);
                },
                beforeSend: function () {
                    console.log("beforeSend");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                    console.log(textStatus);
                    console.log(errorThrown);
                },
                complete: function () {
                    console.log("complete");
                }
            });
        }

        vista.on("click", 'a[data-name="delete"]', function () {
            var id = $(this).data("id");

            $.ajax({
                url: "/ServiciosReporte/DeleteCurrentReportItem",
                data: {
                    IdItemPeriodo: id
                },
                type: "POST",
                cache: false,
                success: function () {
                    var idCliente = vista.find("#Clientes").find("option:selected").val();
                    getReportItemList(idCliente);
                    getPointOfServiceList(idCliente);
                },
                beforeSend: function () {
                    console.log("beforeSend");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                    console.log(textStatus);
                    console.log(errorThrown);
                },
                complete: function () {
                    console.log("complete");
                }
            });

        });

        vista.on("click", 'a[data-name="addAsReportItem"]', function () {
            var id = $(this).data("id");
            var idCliente = vista.find("#Clientes").find("option:selected").val();

            $.ajax({
                url: "/ServiciosReporte/AddCurrentReportItem",
                data: {
                    idpuntoservicio: id,
                    idCliente: idCliente
                },
                type: "POST",
                cache: false,
                success: function () {
                    getReportItemList(idCliente);
                    getPointOfServiceList(idCliente);
                },
                beforeSend: function () {
                    console.log("beforeSend");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                    console.log(textStatus);
                    console.log(errorThrown);
                },
                complete: function () {
                    console.log("complete");
                }
            });

        });

        vista.find('#dvPuntoServicio').on('change', 'select', function () {
            var idpuntoServicio = $(this).closest("tr").find("a[data-name='addAsReportItem']:first").attr("data-id");
            var idItem = $(this).find("option:selected").val();
            var idCliente = vista.find("#Clientes").find("option:selected").val();

            $.ajax({
                url: "/ServiciosReporte/ChangeCurrentReportItem",
                data: {
                    idpuntoServicio: idpuntoServicio,
                    idItem: idItem
                },
                type: "POST",
                cache: false,
                success: function () {
                    getPointOfServiceList(idCliente);
                    if (idItem === "") {
                        $($(this).closest("tr")).find("a[data-name='addAsReportItem']:first").removeClass("hide");
                    } else {
                        $($(this).closest("tr")).find("td a[data-name='addAsReportItem']:first").addClass("hide");
                    }
                },
                beforeSend: function () {
                    console.log("beforeSend");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                    console.log(textStatus);
                    console.log(errorThrown);
                },
                complete: function () {
                    console.log("complete");
                }
            });
        });

        vista.on("click", 'a[data-name="newItem"]', function () {
            showModal(0);
        });

        vista.on("click", 'a[data-name="edit"]', function () {
            showModal($(this).data("id"));
        });
    });
</script>
<div id="@token">
    <div id="content" class="col-lg-12 col-sm-11  ">
        <div class="row">
            <div class="col-lg-12 col-md-9">
                @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                    new Dictionary<string, string>()
                    {
                        {"ServiciosReporte", Url.RouteUrl(new {Controller = "ServiciosReporte", Action = "Index"})}
                    })

                @Html.Action("Filter", "ServiciosReporte")
                <div id="dvItem"></div>
                <div id="dvPuntoServicio"></div>
            </div>
        </div>
    </div>
</div>


