﻿@using SGS.Models.modelViews
@{
    SGS.Models.Forms.ItemReporteForm m = (SGS.Models.Forms.ItemReporteForm)ViewBag.itemReporte;
}


<div id="modalContent" class="col-lg-12 col-sm-11  ">
    <div class="row">
        <div class="col-lg-12 col-md-9 mTop10">
            <div class="box">
                <div class="box-header" data-original-title>
                    <h2>
                        <i class="icon-user"></i><span class="break"></span>Item Reporte
                    </h2>
                </div>
                <div class="box-content">
                    <fieldset class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label pull-left label-see">Orden</label>
                            <div class="input-group col-sm-5">
                                <input id="ordenItem" class="form-control pull-left" placeholder="1" value="@(m != null ? m.OrdenItem.ToString() : "")"/>
                            </div>
                            <div class="clearfix"></div>

                            <label class="control-label pull-left label-see">Nombre</label>
                            <div class="input-group col-sm-5">
                                <input id="nombreItem" class="form-control pull-left" placeholder="Recolección de residuos y sub productos" value="@(m != null ? m.NombreItem : "")"/>
                            </div>

                            <div class="clearfix"></div>

                            <label class="control-label pull-left label-see">UMB</label>
                            <div class="input-group col-sm-5">
                                <select class="form-control" id="umbList">
                                    @foreach (var item in (List<UmbView>) ViewBag.listaUmb)
                                    {
                                        <option value="@item.IdUmb" @(m != null ? m.IdUmb == item.IdUmb ? "Selected" : "" : "")>@item.NombreUmb</option>
                                    }
                                </select>
                            </div>
                            <div class="clearfix"></div>
                            
                            <label class="control-label pull-left label-see">Muestra Total Manejo Dris </label>
                            <div class="input-group col-sm-5">
                                <input id="chkShowsManejoDris" type="checkbox" @(m != null ? m.MuestraManejoDris ? "checked" : "" : "")>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <button id="btnSave" type="button" class="btn btn-primary btn-lg submit">Guardar</button>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
