﻿
<div class="box">
    <div class="box-header" data-original-title>
        <h2><i class="icon-user"></i><span class="break"></span>Puntos de servicio</h2>
    </div>
    <div class="box-content">
        <table class="table table-striped table-bordered bootstrap-datatable datatable" data-name="tablepuntoservicio">
            <thead role="row" class="tab-header">
                <tr>
                    <th style="width:auto" class="sorting_asc" role="columnheader">ID</th>
                    <th style="width:auto" class="sorting">Nombre</th>
                    <th style="width:auto" class="sorting">Asociar con Item Periodo</th>
                    <th style="width:auto" class="sorting">Crear como Item Periodo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model)
                {
                    <tr class="odd">
                        <td>@m.IdPuntoServicio</td>
                        <td>@m.NombrePuntoServicio</td>
                        <td>
                            <select class="form-control">
                                <option value="">Seleccione...</option>
                                @foreach (var item in (List<SGS.Models.modelViews.ItemReporteUnificadoView>)ViewBag.itemReporteList)
                                {
                                    <option value="@item.IdItemPeriodo" @(m.IdItemPeriodo == item.IdItemPeriodo ? "selected" : "")>@item.NombreItem</option>
                                }
                            </select>
                        </td>
                        <td>
                            <a class="btn btn-success @(m.IdItemPeriodo == 0 || m.IdItemPeriodo == null ? "":"hide")" data-name="addAsReportItem" data-id="@m.IdPuntoServicio" title="Crear Item"><i class="icon-plus-sign"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
