﻿<div class="box">
    <div class="box-header" data-original-title>
        <h2><i class="icon-user"></i><span class="break"></span>Item de periodo</h2>
        <a data-name="newItem" class="btn btn-primary pull-right btn-lg">Nuevo Item Periodo</a>
    </div>
    <div class="box-content">
        <div class="clearfix"></div>
        <table class="table table-striped table-bordered bootstrap-datatable datatable" data-name="tableReporteItem">
            <thead role="row" class="tab-header">
                <tr>
                    <th style="width: auto" class="sorting_asc" role="columnheader">Orden</th>
                    <th style="width: auto" class="sorting">Nombre de Item</th>
                    <th style="width: auto" class="sorting">UMB</th>
                    <th style="width: auto" class="sorting">Manejo Dris</th>
                    <th style="width: auto" class="sorting"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model)
                {
                    <tr class="odd">
                        <td>@m.OrdenItem</td>
                        <td>@m.NombreItem</td>
                        <td>@m.NombreUmb</td>
                        <td>
                            <div class="checkbox">
                                <input id="ShowsManejoDris" type="checkbox" disabled="" checked="@m.MuestraManejoDris">
                            </div>
                        </td>
                        <td>
                            <a class="btn btn-warning" data-name="edit" data-id="@m.IdItemPeriodo" title="Editar Item"><i class="icon-edit-sign"></i></a>
                            <a class="btn btn-danger" data-name="delete" data-id="@m.IdItemPeriodo" title="Borrar Item"><i class="icon-eraser"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
