﻿@*
    Empresa: valentys
    Fecha : 09-07-2015
    Descripción: lista con el historial de reajustes.
*@
@model List<SGS.Models.SP_SEL_HistorialReajuste_Result>

@if (Model.Count > 0)
{
    <table class="table table-striped table-bordered bootstrap-datatable datatable">
        <thead role="row" class="tab-header">
            <tr>
                <th style="width:auto" class="sorting_asc" role="columnheader">Fecha Realización</th>
                <th style="width:auto" class="sorting">Tipo Modelo</th>
                <th style="width:auto" class="sorting">Tipo Modalidad</th>
                <th style="width:auto" class="sorting">Razón social</th>
                <th style="width:auto" class="sorting">Sucursal</th>
                <th style="width:auto" class="sorting">Factor</th>
                <th style="width:auto" class="sorting">Valor Antes de Reajustar</th>
                <th style="width:auto" class="sorting">Mes Reajuste</th>
                <th style="width:auto" class="sorting">Año Reajuste</th>
                <th style="width:auto">Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (SGS.Models.SP_SEL_HistorialReajuste_Result m in Model)
            {
                <tr data-codigo="@m.id_detalle_modelo_cobro">
                    <td>@m.HMCD_FECHA</td>
                    <td>@m.tipo_modelo</td>
                    <td>@m.tipo_modalidad</td>
                    <td>@m.razon_social</td>
                    <td>@m.descripcion</td>
                    <td>@m.HMCD_REAJUSTE</td>
                    <td>@m.HMCD_VALOR.ToString("N0")</td>
                    <td><span style="text-transform: capitalize">@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(Convert.ToInt32(m.HMCD_MES))</span></td>
                    <td>@m.HMCD_ANIO</td>
                    <td>
                        <a class="btn btn-info" title="Ver reajustes Anteriores" data-action="historial"><i class="icon-search"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <text>No se encontraron resultados</text>
}