﻿@model SGS.Models.modelViews.crearConceptoDescuentoView
@{
    ViewBag.Title = "crear";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

@section scripts
{
    <script src="@Url.Content("~/Scripts/jquery.price_format.2.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/toastr.min.js")"></script>
    <script>
    $(document).ready(function () {

        $('#guardar').click(function () {
            if ($('#concepto').val() == null || $('#concepto').val() == '') {
                if ($('#concepto').val() == null || $('#concepto').val() == '') alertify.error('Debe ingresar un valor');
                return false;
            }
        })
    })
    </script>

}
<div id="content" class="col-lg-10 col-sm-11 ">
    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Mantenedor conceptos",Url.RouteUrl(new {Controller="MantenedorConceptosDescuentos",Action="Index"})},
                            {"Agregar concepto",Url.RouteUrl(new {Controller="MantenedorConceptosDescuentos",Action="crear"})}
                            })

            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="icon-plus-sign"></i><span class="break"></span>Agregar Concepto de descuento</h2>
                    <a href="@Url.RouteUrl(new {Controller="MantenedorUF",action="Index" })" class="btn btn-primary pull-right btn-lg">Volver al listado</a>
                </div>

                <div class="box-content">
                    @using (Html.BeginForm("crear", "MantenedorConceptosDescuentos"))
                    {
                        if (Model != null && Model.id != 0)
                        {
                            @Html.HiddenFor(m => m.id)
                        }
                        <fieldset class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label pull-left label-see">Nombre de concepto</label>
                                <div>
                                    <div class="input-group col-sm-5">
                                        @Html.TextBoxFor(m => m.concepto, new { @class = "form-control pull-right", @id = "concepto" })
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <button type="submit" id="guardar" class="btn btn-primary btn-lg">Guardar</button>
                            </div>
                        </fieldset>
                    }

                </div>
            </div>
        </div>

    </div>


</div>
