﻿ @model SGS.Models.clientes

@{
    int unidad = SGS.Models.repository.UsuariosRepository.getUnidadSeleccionada();
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

<script src="/Scripts/jquery.2.1.js"></script>
<script src="/Scripts/jquery-ui.min.js"></script>
<script src="/Scripts/jquery.cookie.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        $.each($('input'), function (i, val) {
            if ($(this).attr("type") == "hidden") {
                var valueOfHidFiled = $(this).val().toString();
                if (valueOfHidFiled == 'EXISTE') {
                    alert("Error. El Cliente ha sido ingresado previamente");
                    return false;
                };
            };
        });

    });

</script>

<div id="content" class="col-lg-10 col-sm-11 ">
    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Clientes",Url.RouteUrl(new {Controller="Clientes",Action="Index"})},
                            {"Agregar Cliente",Url.RouteUrl(new {Controller="Clientes",Action="Create"})}
                            })

            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="icon-plus-sign"></i><span class="break"></span>Agregar Nuevo Cliente</h2>
                    <a href="@Url.RouteUrl(new {Controller="Clientes",action="Index" })" class="btn btn-primary pull-right btn-lg">Volver al listado</a>
                </div>

                <div class="box-content">
                    @using (Html.BeginForm("Create","Clientes")){
                    <fieldset class="col-sm-12">
                        <div class="form-group">
                            @if (Model != null && Model.id_cliente != 0)
                            {
                                @Html.HiddenFor(m => m.id_cliente)
                            }
                            <label class="control-label pull-left label-see">Rut</label>
                            <div class="input-group col-sm-5" style="width:440px">
                                @Html.TextBoxFor(m => m.rut_cliente, new { @class = "form-control pull-right" })
                            </div>
                            <label class="control-label red">@Html.ValidationMessageFor(m => m.rut_cliente)</label>
                        </div>
                        <div class="clearfix"></div>
                        @Html.HiddenFor(m => m.id_unidad, new { @Value = unidad })
                        <div class="form-group">
                            <label class="control-label pull-left label-see">Razón Social</label>
                            <div class="input-group col-sm-5" style="width:440px">
                                @Html.TextBoxFor(m => m.razon_social, new { @class = "form-control pull-right" })
                            </div>
                            <label class="control-label red">@Html.ValidationMessageFor(m => m.razon_social)</label>
                        </div>
                        <div class="clearfix"></div>


                        <div class="form-group">
                            <label class="control-label pull-left label-see">Dirección</label>
                            <div class="input-group col-sm-5" style="width:440px">
                                @Html.DropDownList("tipo", null, new { @class = "form-control pull-left", @style = "width: 100px;" })
                                @Html.TextBox("direccion", null, new { @class = "form-control pull-left", @style = "width: 190px;", @placeholder = "Santa Rosa" })
                                @Html.TextBox("numero_direccion", null, new { @class = "form-control pull-right", @maxlength = "6", @style = "width: 120px;", @placeholder = "1234" })
                            </div>
                            <label class="control-label red">@Html.ValidationMessage("direccion")</label>
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group">
                            <label class="control-label pull-left label-see">País</label>
                            <div class="input-group col-sm-5" style="width:440px">
                                @Html.DropDownListFor(m => m.id_pais, ViewBag.Paises as IEnumerable<SelectListItem>, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group">
                            <label class="control-label pull-left label-see">Región</label>
                            <div class="input-group col-sm-5" style="width:440px">
                                @Html.DropDownListFor(m => m.id_region, ViewBag.Regiones as IEnumerable<SelectListItem>, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group">
                            <label class="control-label pull-left label-see">Ciudad</label>
                            <div class="input-group col-sm-5" style="width:440px">
                                @Html.DropDownListFor(m => m.id_ciudad, ViewBag.Ciudades as IEnumerable<SelectListItem>, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group">
                            <label class="control-label pull-left label-see">Comuna</label>
                            <div class="input-group col-sm-5" style="width:440px">
                                @Html.DropDownListFor(m => m.id_comuna, ViewBag.Comunas as IEnumerable<SelectListItem>, new { @class = "form-control" })
                            </div>

                        </div>
                        <div class="clearfix"></div>



                        <div class="form-group">
                            <label class="control-label pull-left label-see">Rubro</label>
                            <div class="input-group col-sm-5" style="width:440px">
                                @Html.DropDownListFor(m => m.id_rubro, ViewBag.Rubros as IEnumerable<SelectListItem>, new { @class = "form-control" })
                            </div>

                        </div>
                        <div class="clearfix"></div>


                        <div class="form-group">
                            <label class="control-label pull-left label-see">Teléfono Comercial</label>
                            <div class="input-group col-sm-5" style="width:440px">
                                @Html.TextBoxFor(m => m.fono_comercial, new { @class = "form-control pull-right" })
                            </div>
                            <label class="control-label red">@Html.ValidationMessageFor(m => m.fono_comercial)</label>
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group">
                            <label class="control-label pull-left label-see">Giro Comercial</label>
                            <div class="input-group col-sm-5" style="width:440px">
                                @Html.TextBoxFor(m => m.giro_comercial, new { @class = "form-control pull-right" })
                            </div>
                            <label class="control-label red">@Html.ValidationMessageFor(m => m.giro_comercial)</label>
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group">
                            <label class="control-label pull-left label-see">Categoria</label>
                            <div class="input-group col-sm-5" style="width:440px">
                                @Html.DropDownListFor(m => m.id_categoria, ViewBag.categoria as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                @* Html.DropDownList("categoria", null, new { @class = "form-control pull-right" })*@
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <h2 style="background: #005580;padding: 10px 0 10px 2px;color: #fff;font-weight: bold;">Datos de Contacto</h2>

                        <div class="form-group">
                            <label class="control-label pull-left label-see">Nombre Contacto</label>
                            <div class="input-group col-sm-5" style="width:440px">
                                @Html.TextBoxFor(m => m.nombre_contacto, new { @class = "form-control pull-right" })
                            </div>
                            <label class="control-label red">@Html.ValidationMessageFor(m => m.nombre_contacto)</label>
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group">
                            <label class="control-label pull-left label-see">Email Contacto</label>
                            <div class="input-group col-sm-5" style="width:440px">
                                @Html.TextBoxFor(m => m.email_contacto, new { @class = "form-control pull-right" })
                            </div>
                            <label class="control-label red">@Html.ValidationMessageFor(m => m.email_contacto)</label>
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group">
                            <label class="control-label pull-left label-see">Fono Contacto</label>
                            <div class="input-group col-sm-5" style="width:440px">
                                @Html.TextBoxFor(m => m.fono_contacto, new { @class = "form-control pull-right" })
                            </div>
                            <label class="control-label red">@Html.ValidationMessageFor(m => m.fono_contacto)</label>
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group">
                            <label class="control-label pull-left label-see">Celular Contacto</label>
                            <div class="input-group col-sm-5" style="width:440px">
                                @Html.TextBoxFor(m => m.celular_contacto, new { @class = "form-control pull-right" })
                            </div>
                            <label class="control-label red">@Html.ValidationMessageFor(m => m.celular_contacto)</label>
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
                        </div>

                    </fieldset>
                    }

                </div>
            </div>
        </div>
        <input type="hidden" value="@ViewBag.Error" id="idError" />
    </div>


</div>
