﻿@{
    Layout = null;
    Response.AddHeader("Content-type", "application/vnd.ms-excel");
    Response.AddHeader("Content-Disposition", "attachment; filename=camiones.xls");
}

<table border="1">
    <tr>
        <th>Id</th>
        <th>Camion </th>
        <th>Patente</th>
        <th>Tipo Camion</th>
        <th>Modelo Camion</th>
        <th>Capacidad Camion</th>
        <th>Estado</th>
        <th>Observacion</th>
        <th>Marca</th>
        <th>Tipo Servicio</th>
        <th>Nombre Conductor</th>
        <th>Rut Conductor</th>
        <th>Fecha Ingreso Con.</th>
    </tr>
    <tbody>
        @foreach (var m in Model) { 
        
        <tr>
            <td>@m.id_camion</td>
            <td>@m.camion</td>
            <td>@m.patente</td>
            <td>@m.tipo_camion</td>
            <td>@m.modelo_camion</td>
            <td>@m.capacidad_camion</td>
            <td>@m.estado</td>
            <td>@m.observacion</td>
            <td>@m.marca</td>
            <td>@m.tipo_servicio1</td>
            <td>@m.nombre_conductor</td>
            <td>@m.rut_conductor</td>
            <td>@m.fecha_ingreso</td>
        </tr>
        
        }
    </tbody>
</table>