﻿@model SGS.Models.ruta_modelo
@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}


@section css{ 

    <link href="~/Content/fx/pages/rutas_modelo.css" rel="stylesheet" type="text/css" media="screen" />
}

<div id="content" class="col-lg-10 col-sm-11 ">

    <div class="row">
        <div class="col-lg-12">

            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"RutasModelo",Url.RouteUrl(new {Controller="RutasModelo",Action="Index"})},
                            {"Agregar Ruta Modelo",Url.RouteUrl(new {Controller="RutasModelo",Action="Create"})}
                            })


            <div class="col-lg-9">
                <div class="box">
                    <div class="box-header" data-original-title="">
                        <h2><i class="icon-list"></i></h2>
                        <div class="controls row " style="margin-top:2px; ">
                            <div class="input-group col-sm-2">
                                @Html.DropDownList("dias", null, new { @class = "form-control", @id = "dia" })
                            </div>
                            <div class="input-group date col-sm-4">
                                @Html.DropDownList("servicios", null, new { @class = "form-control", @id = "servicio" })
                            </div>

                            <div class="input-group date col-sm-4 pull-right " style="margin-top:-2px;">
                                <a class="btn btn-primary pull-right btn-lg savecancel" id="save" style="display:none">Grabar</a>
                                <a class="btn btn-danger pull-right btn-lg savecancel" id="cancel" style="display:none">Cancelar</a>
                                <a class="btn btn-success pull-right btn-lg" id="add">Agregar Ruta</a>
                            </div>

                        </div>
                    </div>

                    <div class="box-content">
                        <table class=" table table-bordered table-striped">
                            <thead style="color:darkgray">
                                <tr>
                                    <th style="width: 25%; color: #34383c">Nombre</th>
                                    <th style="width:5%">7</th>
                                    <th style="width:5%">8</th>
                                    <th style="width:5%">9</th>
                                    <th style="width:5%">10</th>
                                    <th style="width:5%">11</th>
                                    <th style="width:5%">12</th>
                                    <th style="width:5%">13</th>
                                    <th style="width:5%">14</th>
                                    <th style="width:5%">15</th>
                                    <th style="width:5%">16</th>
                                    <th style="width:5%">17</th>
                                    <th style="width:5%">18</th>
                                </tr>
                            </thead>

                            <tbody>

                                <!--Aqui se pondra la data-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="box">
                    <div class="box-header">
                        <h2><i class="icon-list"></i>Puntos de servicio</h2>
                        <div class="box-icon">
                            <a class="btn-minimize" href="widgets.html#"><i class="icon-chevron-up"></i></a>
                            <a class="btn-close" href="widgets.html#"><i class="icon-remove"></i></a>
                        </div>
                    </div>
                    <div class="box-content" >
                        <div class="todo" id="lister">
                            <div id="puntos_servicios_search">
                                @Html.TextBox("search_ps", null, new { @class = "form-control search", @placeholder = "Buscar",@style="width:80%;display:inline" })
                                <span  class="sort btn btn-info"   data-sort="nombre_ps" style="padding:6px"><i class="icon-list"></i></span>
                            </div>
                            <br />
                            <div id="wrapper_puntos_servicios">
                                <!--contenido dinamico-->
                            </div>
                        </div>
                        </div>
                    <div id="wrapper-ajax-details" class="col-lg-11" style="display:none;width:400px;">

                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

<div id="layout_rows" style="display:none">
    <table>
        <tr class="temp">
            <td><input type="text" id="nombre_ruta" class="form-control" /></td>
            <td class="drop edit"></td>
            <td class="drop edit"></td>
            <td class="drop edit"></td>
            <td class="drop edit"></td>
            <td class="drop edit"></td>
            <td class="drop edit"></td>
            <td class="drop edit"></td>
            <td class="drop edit"></td>
            <td class="drop edit"></td>
            <td class="drop edit"></td>
            <td class="drop edit"></td>
            <td class="drop edit"></td>
        </tr>
    </table>
</div>





<div style="display:none" id="wrapper-success"><a class="btn btn-success drag"><i class="icon-check"></i></a></div>

@section scripts{

   
    <script src="~/Scripts/fx/pages/common/funcionesHDR.js"></script>
    <script src="~/Scripts/fx/pages/rutas_modelo/controller.js"></script>

}
