﻿<!--////////////////////////////////////////////////////////////////////////////////////-->
<!--El siguiente fragmento de codigo debe ser quitado si lo que se NECESITA es una llamada en AJAX para un formulario-->
@{
    ViewBag.Title = "dummy";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

<!--////////////////////////////////////////////////////////////////////////////////-->


<div id="content" class="col-lg-10 col-sm-11 ">
    <div class="row">
        <div class="col-lg-6">

            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="icon-plus-sign"></i><span class="break"></span>Formulario</h2>
                </div>
                <div class="box-content">

                    <!--/////////////////////////////////////////////////////////////////////////////////-->
                    <!--/////////////////////////////////////////////////////////////////////////////////-->
                    <!--/////////////////////////////////////////////////////////////////////////////////-->
                    <!--Esta SECCION Hasta el siguiente comentario es el formulario-->
                    

                    <table class=" table table-bordered table-striped">
                        <thead style="color:darkgray">
                            <tr>
                                <th>&nbsp;</th>
                                <th>Volteos</th>
                                <th>Peso</th>
                                <th>Estados</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Punto 17</td>
                                <td>12</td>
                                <td>1500</td>
                                <td>
                                    <select class="form-control">
                                        <option>Realizado</option>
                                        <option>Pendiente</option>
                                        <option>Rebotado</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Punto 23</td>
                                <td>90</td>
                                <td>1500</td>
                                <td>
                                    <select class="form-control">
                                        <option>Realizado</option>
                                        <option>Pendiente</option>
                                        <option>Rebotado</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Punto 45</td>
                                <td>34</td>
                                <td>1500</td>
                                <td>
                                    <select class="form-control">
                                        <option>Realizado</option>
                                        <option>Pendiente</option>
                                        <option>Rebotado</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Punto 56</td>
                                <td>67</td>
                                <td>1500</td>
                                <td>
                                    <select class="form-control">
                                        <option>Realizado</option>
                                        <option>Pendiente</option>
                                        <option>Rebotado</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>




                    <!--FIN DEL FORMULARIO-->
                    <!--/////////////////////////////////////////////////////////////////////////////////-->
                    <!--/////////////////////////////////////////////////////////////////////////////////-->
                    <!--/////////////////////////////////////////////////////////////////////////////////-->




                </div>
            </div>
        </div>
    </div>
</div>
