﻿
@foreach (var m in Model)
{

    <tr class="bd " id="@m.id_ruta">
        <td class="nombre"><a class="btn ruta_edit">@m.nombre_ruta</a></td>
        @for (int i = 0; i <= 11; i++)
        {
            var _horas = m.horas;
            var _cont = 0;
            string id = "";

            foreach (var j in _horas)
            {

                if (j.h > Int32.Parse(String.Format("{0}{1}", (i + 1), "000")) && j.h < Int32.Parse(String.Format("{0}{1}", (i + 2), "000")))
                {
                    _cont++;
                    id += Convert.ToString(j.punto_servicio) + "|";
                }

            }

            if (id != string.Empty)
            {
                id = id.Substring(0, id.Length - 1);
            }

            if (_cont > 0)
            {
                string clase = null;

                switch (_cont)
                {

                    case 1:
                        clase = "btn-success";
                        break;
                    case 2:
                        clase = "btn-warning";
                        break;
                    case 3:
                        clase = "btn-info";
                        break;
                }

                <td class="drop" id="@i"><a class="btn @clase"><i id="@id" class="icon-check"></i></a></td>

            }
            else
            {
                <td class="drop" id="@i"></td>
            }

        }
    </tr>
}
