﻿@model SGS.Models.camiones
@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}


<div id="content" class="col-lg-10 col-sm-11 ">
    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Camiones",Url.RouteUrl(new {Controller="Camiones",Action="Index"})},
                            {"Agregar Camion",Url.RouteUrl(new {Controller="Camiones",Action="Create"})}
                            })

            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="icon-plus-sign"></i><span class="break"></span>Agregar Nuevo Camión</h2>
                    <a href="@Url.RouteUrl(new {Controller="camiones",action="Index" })" class="btn btn-primary pull-right btn-lg">Volver al listado</a>
                </div>

                <div class="box-content">
                        @using (Html.BeginForm("Create","Camiones")){
                        <fieldset class="col-sm-12">
                            <div class="form-group">
                               
                                @if (Model != null && Model.id_camion != 0) { 
                                @Html.HiddenFor(m=>m.id_camion)
                                }


                              
                                
                                <label class="control-label pull-left label-see">Descripción Camión</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.camion, new { @class = "form-control pull-right" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.camion)</label>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Patente</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.patente, new { @class = "form-control pull-right" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.patente)</label>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Tipo Camión</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.tipo_camion, new { @class = "form-control pull-right"})
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.tipo_camion)</label>
                            </div>
                            <div class="clearfix"></div>


                            @********@
                            <div class="form-group">
                             <label class="control-label pull-left label-see">Propiedad Camion</label>
                                <div class="input-group col-sm-5">
                                    <label>@Html.RadioButtonFor(m =>m.prop_franquiciado,"Franquiciado",true) Franquiciado </label>
                                    <label>@Html.RadioButtonFor(m =>m.prop_resiter,"Resiter",true) Resiter  </label>
                                    <label>@Html.RadioButtonFor(m =>m.prop_otro,"Otro",true) Otro </label>
                                 
                                 </div>
                              
                            </div>
                            <div class="clearfix"></div>


                           @* *********@



                            <div class="form-group">
                                <label class="control-label pull-left label-see">Modelo</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.modelo_camion, new { @class = "form-control pull-right"})
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.modelo_camion)</label>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Capacidad de Carga</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.capacidad_camion, new { @class = "form-control pull-right" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.capacidad_camion)</label>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Marca</label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownListFor(m => m.id_camion_marca, ViewBag.Marcas as IEnumerable<SelectListItem>,new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Estado</label>
                                <div class="input-group col-sm-5">
                                @Html.DropDownList("estado", null, new { @class = "form-control " })  
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Obervación Estado</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.observacion, new { @class = "form-control pull-right" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.observacion)</label>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label class="control-label pull-left label-see">Conductor Asignado</label>
                                <div class="input-group col-sm-5">
                                    @Html.DropDownListFor(m=>m.id_conductor, ViewBag.Conductores as IEnumerable<SelectListItem>, new { @class = "form-control" }) 
                                </div>
                            </div>
                            <div class="clearfix"></div>

                              <div class="form-group">
                                <label class="control-label pull-left label-see">Fecha Vencimineto Lic. Conducir</label>
                                <div class="input-group col-sm-5">
                                    @Html.TextBoxFor(m => m.fecha_rvt, new { @class = "form-control pull-right",@type="date" })
                                </div>
                                <label class="control-label red">@Html.ValidationMessageFor(m => m.fecha_rvt)</label>
                            </div>
                            <div class="clearfix"></div>


                            <div class="form-group">
                                <label class="control-label pull-left label-see">Tipo Servicio</label>
                                <div class="input-group col-sm-5">
                                   @Html.DropDownListFor(m=>m.id_tipo_servicio, ViewBag.TiposServicios as IEnumerable<SelectListItem>, new { @class = "form-control" }) 
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
                            </div>
                        </fieldset>
                        }

                </div>
            </div>
        </div>

    </div>


</div>