﻿@*
    Empresa: valentys
    Fecha : 03-07-2015
    Descripción: contine los eventos de los indicadores.
*@

@model List<SGS.Models.TB_SGS_INDICADOR>
@{
    string token = Guid.NewGuid().ToString();
}
<script type="text/javascript">
    $(function () {
        var vista = $('#@token');
        //levanta el modal
        var loadModalInsert = (function (data) {
            Shadowbox.open({
                content: data,
                player: "html",
                title: "insertar",
                height: 200,
                width: 550,
                options: {
                    modal: true,
                    onClose: function () {
                        $page.ajax({
                            url: "@Url.Action("loadData", "MantenedorIndicadores")",
                            datatype: 'html',
                            success: function (data2) {
                                vista.find('div.box-content').html(data2);
                            }
                        });
                    }
                }
            });
        });
        //editar indicador
        vista.find('div.box-content').on('click', 'a[data-action="editar"]', function () {
            var tr = $(this).closest('tr');
            var codigo = tr.find('td[data-name="codigo"]:first').html();
            var nombre = tr.find('td[data-name="nombre"]:first').html();
            var descripcion = tr.find('td[data-name="descripcion"]:first').html();
            $page.ajax({
                url: "@Url.Action("edit", "MantenedorIndicadores")" + "?codigo=" + codigo + "&nombre=" + nombre + "&descripcion=" + descripcion,
                datatype: 'html',
                success: function (data) {
                    loadModalInsert(data);
                }
            });
        });
        //crea un indicador
        vista.find('a[data-name="agregar"]').click(function () {
            $page.ajax({
                url: "@Url.Action("create", "MantenedorIndicadores")",
                datatype: 'html',
                success: function (data) {
                    loadModalInsert(data);
                }
            });
        });
        //Guardar indicador
        var body = vista.closest('body');
        body.off('click', 'button[data-action="guardar"]:first');
        body.on('click', 'button[data-action="guardar"]:first', function () {
            if ($("#nombre").val() != "") {
                $page.ajax({
                    url: "@Url.Action("guardar", "MantenedorIndicadores")",
                    data: $(this).closest('form').serialize(),
                    datatype: "json",
                    success: function (result) {
                        if (result > 0) {
                            Shadowbox.close();
                        }
                    }
                });
            }
        });
        //Detalle del indicador.
        vista.find('div.box-content').on('click', 'a[data-action="detalle"]', function () {
            var tr = $(this).closest('tr');
            var codigo = tr.find('td[data-name="codigo"]:first').html();
            $page.ajax({
                url: "@Url.Action("viewDetails", "MantenedorIndicadores")" + "?codigo=" + codigo,
                datatype: "html",
                success: function (result) {
                    vista.closest("div").html(result);
                }
            });
        });
    });
</script>

<div class="row" id="@token">
    <div class="col-lg-12">
        @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml", new Dictionary<string, string>()
                    {
                        {
                        "Indicadores",Url.RouteUrl(new {Controller="MantenedorIndicadores",Action="Index"})
                        }
                    }
                )
        <div class="box">
            <div class="box-header" data-original-title="">
                <h2><i class="icon-minus-sign"></i><span class="break"></span>Lista de Indicadores</h2>
                @*<a href="@Url.RouteUrl(new { Controller = "MantenedorIndicadores", action = "Excel" })" class="btn btn-lg pull-right btn-success">Excel</a>*@
                @*@if(Model.puedeAgregar == true)
                    {*@
                <a data-name="agregar" class="btn btn-primary pull-right btn-lg">Agregar Indicador</a>
                @*}
                    else
                    {
                        <a href="##" class="btn btn-danger pull-right btn-lg">Valores ya agregados</a>
                    }*@
                <div style="width:auto" class="sorting" class="controls row " style="margin-top:2px; ">
                </div>
            </div>

            <div class="box-content">
                @Html.Partial("list", Model)
            </div>

        </div>

    </div>
</div>
