﻿@*
    Empresa: valentys
    Fecha : 03-07-2015
    Descripción: contenedor principal de los indicadores.
*@
@model List<SGS.Models.TB_SGS_INDICADOR>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}
@section scripts{
    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fx/pages/camiones.js")"></script>
}
<div id="content" class="col-lg-10 col-sm-11 ">
    @Html.Partial("contentIndex", Model)
</div>