﻿@*
    Empresa: valentys
    Fecha : 03-07-2015
    Descripción: Tabla con los indicadores.
*@
@model SGS.Models.TB_SGS_INDICADOR
<table class="table table-striped table-bordered bootstrap-datatable datatable">
    <thead role="row" class="tab-header">
        <tr>
            <th style="width:auto">
                Año/Mes
            </th>
            @for (int i = 1; i <= 12; i++)
            {
                <th style="width:auto">
                    <label style="text-transform: capitalize">@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i)</label>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @{
            SGS.Models.TB_SGS_INDICADOR_VALOR nextYear = new SGS.Models.TB_SGS_INDICADOR_VALOR();
            nextYear.INDV_ANIO = DateTime.Today.AddYears(1).Year;
            nextYear.INDV_INDI_CODIGO = Model.INDI_CODIGO;
            SGS.Models.TB_SGS_INDICADOR_VALOR year = new SGS.Models.TB_SGS_INDICADOR_VALOR();
            year.INDV_ANIO = DateTime.Today.Year;
            year.INDV_INDI_CODIGO = Model.INDI_CODIGO;
            SGS.Models.TB_SGS_INDICADOR_VALOR previousYear = new SGS.Models.TB_SGS_INDICADOR_VALOR();
            previousYear.INDV_ANIO = DateTime.Today.AddYears(-1).Year;
            previousYear.INDV_INDI_CODIGO = Model.INDI_CODIGO;
            Model.TB_SGS_INDICADOR_VALOR.Add(nextYear);
            Model.TB_SGS_INDICADOR_VALOR.Add(year);
            Model.TB_SGS_INDICADOR_VALOR.Add(previousYear);
            List<SGS.Models.TB_SGS_INDICADOR_VALOR> lstValores = Model.TB_SGS_INDICADOR_VALOR.GroupBy(i => i.INDV_ANIO).Select(group => group.First()).OrderByDescending(o => o.INDV_ANIO).ToList();
        }
        @foreach (SGS.Models.TB_SGS_INDICADOR_VALOR item in lstValores)
        {
            Int32 count = 12;
            <tr>
                <td>
                    @item.INDV_ANIO
                </td>
                @foreach (var item2 in Model.TB_SGS_INDICADOR_VALOR)
                {
                    if (item2.INDV_ANIO == item.INDV_ANIO)
                    {
                        Boolean encontro = false;
                        for (int i = 1; i <= 12; i++)
                        {
                            if (item2.INDV_MES == i)
                            {
                                encontro = true;
                                count--;
                                <td style="cursor: pointer;" data-content="valor" data-id="@item.INDV_INDI_CODIGO" data-month="@i" data-year="@item.INDV_ANIO">@item2.INDV_VALOR</td>
                                break;
                            }
                        }
                        if (!encontro && count > 0)
                        {
                            count--;
                            <td style="cursor: pointer;" data-id="@item.INDV_INDI_CODIGO" data-content="valor" data-month="@(12 - count)" data-year="@item.INDV_ANIO">-</td>
                        }
                    }
                }
                @for (int i = 13 - count; i <= 12; i++)
                {
                    <td style="cursor: pointer;" data-id="@item.INDV_INDI_CODIGO" data-content="valor" data-month="@i" data-year="@item.INDV_ANIO">-</td>
                }
            </tr>
        }
    </tbody>
</table>
