﻿<meta charset="utf-8" />
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_main_layout.cshtml";
}

@section scripts {

    <script src="@Url.Content("~/Scripts/jquery.datatable1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fx/pages/camiones.js")"></script>

}

<script type="text/javascript" src="@Url.Content("~/Scripts/Chart.bundle.min.js")"></script>


<div id="content" class="col-lg-10 col-sm-11 ">

    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_breadcrumbs.cshtml",
                      new Dictionary<string, string>() {
                            {"Dashboard",Url.RouteUrl(new {Controller="Inicio",Action="Index"})}
                            })
            <canvas id="myChart" max-width="100" max-height="100" style="max-width: 500px;max-height: 250px;width: 500px;height: 250px;position: absolute;left: 532px;"></canvas>
            @*<canvas id="myChart2" max-width="100" max-height="100" style="max-width: 500px;max-height: 250px;width: 500px;height: 250px;position: absolute;left: 532px;top: 340px"></canvas>*@
            <script>

                @*var items = '@ViewBag.MisDatos';
                @*debugger;*@


                var myvalCant = [];
                var myvalNom = [];
                var categoria = [];
                var totalDeClientes=0;
                @foreach (var item in ViewBag.MisDatos )
                    {
                        @:myvalCant.push('@item.cant_categoria'); //
                        @:myvalNom.push('@item.categoria_nombre');
                        @:categoria.push('@item.id_categoria');

                }

                for (var i = 0; i < myvalCant.length; i++) {
                    totalDeClientes = totalDeClientes + parseInt(myvalCant[i]);
                }
                for (var i = 0; i < myvalCant.length; i++) {
                    myvalCant[i] = ((parseInt(myvalCant[i]) / totalDeClientes) * 100);
                    myvalCant[i]=Math.trunc(parseInt(myvalCant[i]));
                }
                //var prueba = Math.trunc(4.32323);
                var array = [];

                for (var i = 0; i < myvalCant.length; i++) {

                    if (myvalNom[i] == 'Peque&#241;o')
                    {
                        myvalNom[i] = 'Pequeno'
                    };
                    array[i] = myvalNom[i] + ' ' + myvalCant[i] + ' %'
                }
                multiTooltipTemplate: "<%= value + ' %' %>";
                var canvas = document.getElementById("myChart");
                var ctx = canvas.getContext("2d");
                var myChart = new Chart(ctx, {
                title: {
                text: "Contrato v/s Tipo Cliente"
                },
                type: 'pie',

                data: {
                    labels: array,
                    datasets: [{
                        data: this.values,
                        label: "# of Votes",
                        data: myvalCant,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)'

                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)'

                        ],

                        borderWidth: 1
                    }]
                    },


                    options: {


                            legend: {
                            position: 'left',
                                fullwidth: false,
                               // onClick: detalleCateg(),
                        },
                        tooltips: {
                            callbacks: {
                                enabled: true,
                                mode: 'single',
                                label: function (tooltipItem, data) {
                                    return data.labels[tooltipItem.index];
                                }
                            }
                        },
                        // events: ['click'],


                    }

                });

                //for (var i = 0; i < categoria.length; i++) {

                //    detalleCateg(categoria[i],1);

                //}
                canvas.onclick = function (evt) {
                    var activePoints = myChart.getElementsAtEvent(evt);
                    if (activePoints[0]) {
                        var chartData = activePoints[0]['_chart'].config.data;
                        var idx = activePoints[0]['_index'];

                        var label = chartData.labels[idx];
                        var value = chartData.datasets[0].data[idx];
                        var color = chartData.datasets[0].backgroundColor[idx];


                        for (var i = 0; i < categoria.length; i++)
                        {
                            if (idx == (categoria[i]-1))
                            {
                                detalleCateg(categoria[i]);
                            }
                        };
                        //var url = value;
                        //var x = document.getElementById("tablagraphic");

                    }

                }


                function detalleCateg(id) {
                    $('#tablaCategDiv').empty();
                    var tabla = $('#tablaCategFija').clone();
                    tabla.attr('id', 'tablaCateg');
                    $('#tablaCategDiv').append(tabla);
                    $.ajax({
                        url: '@Url.Action("getDetalleCateg")',
                        data: { Categoria: id },
                        type: 'POST',
                        dataType: 'json',

                        success: function (data) {

                              $('#tablaCateg').hide();
                              $('#tablaCateg').show();
                                $.each(data, function (indi, opt) {
                                    $('#tablaCateg').append('<tr><td>' + opt.razon_social + '</td><td>' + opt.numero_contratos + '</td><td>');
                              //      $(this).parents(".cl1").clone().appendTo("div#cl0")
                                });
                            //$('#tablaCateg').empty();


                            //$("#tablaCateg").click(function () {
                            //    $('#tablaCateg').remove();
                            //});


                        }

                    });
                }

            </script>

            <script type="text/javascript">
                function marcar(obj) {
                    chk = obj.parentNode.parentNode;
                    chk = chk.getElementsByTagName('input')[1];
                    chk.checked = (obj.value.length >= 0);
                    chk.disabled = !chk.checked;
                }
            </script>



            @*<script>


                multiTooltipTemplate: "<%= value + ' %' %>";
                var canvas = document.getElementById("myChart2");
                var ctx = canvas.getContext("2d");
                var myChart2 = new Chart(ctx, {
                title: {
                text: "Contrato v/s Tipo Cliente"
                },
                type: 'pie',
                data: {
                    labels: ['Sin asignar', 'Sin asignar','Sin asignar'],
                    datasets: [{
                        data: this.values,
                        label: "# of Votes",
                        data: [1,2,3],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)'

                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)'

                        ],

                        borderWidth: 1
                    }]
                    },


                    options: {


                            legend: {
                                position: 'left',
                                top: '314px',
                                fullwidth: false,
                               // onClick: detalleCateg(),
                        },
                        tooltips: {
                            callbacks: {
                                enabled: true,
                                mode: 'single',
                                label: function (tooltipItem, data) {
                                    return data.labels[tooltipItem.index];
                                }
                            }
                        },
                        // events: ['click'],


                    }

                });

            </script>*@

            <div class="box-content" style="
            max-width: 450px;
            max-height: 250px;
            overflow: scroll;">

                <div id="tabla2"></div>
                <table class="table table-bordered table-striped " style="max-width: 3000px; max-height: 190px; overflow-y: scroll">
                    <thead role="row" class="tab-header">
                        <tr>
                            <th style="width:auto" height="20px" class="sorting">Cliente</th>
                            <th style="width:auto" class="sorting">Sucursal</th>
                            <th style="width:auto" class="sorting">Dias por vencer</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var m in Model)
                        {
                            <tr>
                                <td>@m.razon_social</td>
                                <td>@m.sucursal</td>
                                <td>@m.dias_termino</td>
                            </tr>
                        }
                    </tbody>

                </table>

            </div>

            <div id="tablaCategDiv" style="
            max-width: 350px;
            max-height: 190px;
            overflow: scroll;">



            </div>
            <table id="tablaCategFija" style="display: none;" class="table table-bordered table-striped">

                <thead role="row" class="tab-header">
                    <tr>

                        <th style="width:auto" class="sorting">Clientes</th>
                        <th style="width:auto" class="sorting">Numero de contratos</th>

                    </tr>
                </thead>
            </table>

        </div>

    </div>
